@function ch-generate-variation ($variations, $defaults) {
  $prefix:       unquote('--');
  $outcome:      unquote('');
  $combinations: zip($variations, $defaults);

  @each $variation, $default in $combinations {
    @if $variation != $default {
      @if str-length($outcome) == 0 {
        $outcome: to-lower-case($variation);
      }
  
      @else {
        $first-letter: str-slice($variation, 1, 1);
        $tail:         str-slice($variation, 2);
  
        $outcome: $outcome + to-upper-case($first-letter) + to-lower-case($tail);
      }
    }
  }

  @return if($outcome == unquote(''), $outcome, $prefix + $outcome);
}
