// sass-lint:disable no-important

@import './function-calc-box-height';
@import './mixin-paddingless';
@import '../space';
@import '../typography';

@mixin ch-icon-only($size) {
  $size: ch-calc-box-height(ch-get-text-size(2), ch-get-space($size));

  @include ch-paddingless(true);

  position: relative;

  width: #{$size};
  min-width: #{$size};
  min-height: #{$size};

  > * {
    display: none;
  }

  > .ch-icon:first-child,
  > .ch-avatar,
  > .ch-more-icon {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
