// sass-lint:disable no-important

@mixin ch-icon-only($size) {
  $box-height: ch-calc-box-height(ch-get-text-size(2), ch-get-space($size));
  $size: calc(#{$box-height} + 2 * #{$ch-border-width});

  @include ch-paddingless(true);

  position: relative;

  width: #{$size};
  min-width: #{$size};
  min-height: #{$size};

  > *:not(.ch-icon):not(.ch-avatar) {
    display: none;
  }

  > .ch-icon:first-child,
  > .ch-avatar {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
