@import '../../abstracts/space';
@import '../../abstracts/typography';

.ch-dview {

  // 1. Base

  white-space: normal;

  // 1.1. Label
  
  &-label,
  & > dt {
    // @extend %ch-text-label;
    @include ch-text-label;

    text-transform: uppercase;
  }

  // 1.2. Value

  &-value,
  & > dd {
    @include ch-space-stack;
  }

  // 2. Right variation

  &--right {
    text-align: right;
  }
}
