header.ch-header
  .ch-breadcrumb
    .ch-breadcrumb-section
      a(href="#" title="Fluxos de Caixa") Fluxos de Caixa

    span.divider /

    .ch-breadcrumb-section
      a(href="#" title="Contas a Pagar") Contas a Pagar

    span.divider /

    .ch-breadcrumb-section.active
      a(href="#" title="Nova Despesa") Nova Despesa


  include ../headerNav.pug
