@import '../../abstracts/border';
@import '../../abstracts/helpers';
@import '../../abstracts/typography';
@import '../../abstracts/colors';
@import '../../abstracts/box-model';

.ch-button {
  // 1. Base

  display: inline-block;

  cursor: pointer;
  text-align: center;

  @include ch-box-model((
    text:          $ch-text-bold,
    border:        $ch-border-box,
    border-radius: 2,
    inset:         squish,
    background:    transparent
  ));

  // 1.1. Focus interaction

  &:hover:focus,
  &:hover,
  &:focus {
    @include ch-box-model((border: $ch-border-box-focus));
  }

  // 1.2. Active interaction

  &:active {
    @include ch-box-model((border: $ch-border-box-active));
  }

  // 1.3. Disabled interaction

  &:disabled,
  &.is-disabled {
    @include ch-disabled;
  }

  // 2. Primary variation

  &--primary {
    border-color: #{ch-get-color(primary)};
    background: #{ch-get-color(primary)};

    &,
    &:hover:focus,
    &:hover,
    &:focus,
    &:active {
  color: #{ch-get-color(text, 1, inverse)};
    }

    // 2.1. Focus interaction

    &:hover:focus,
    &:hover,
    &:focus {
  border-color: #{ch-get-color(primary, focus)};
  background: #{ch-get-color(primary, focus)};
    }

    // 2.2. Active interaction

    &:active {
  border-color: #{ch-get-color(primary, acitve)};
  background: #{ch-get-color(primary, active)};
    }
  }

  // 3. Secondary variation

  &--secondary {
    border-color: #{ch-get-color(primary, active)};
    color: #{ch-get-color(primary, active)};

    // 2.1. Focus interaction

    &:hover:focus,
    &:hover,
    &:focus {
  border-color: #{ch-get-color(primary, focus)};
  color: #{ch-get-color(primary, focus)};
    }

    // 2.2. Active interaction

    &:active {
  border-color: #{ch-get-color(primary, focus)};
  color: #{ch-get-color(primary, focus)};
    }
  }

  // 4. Negative variation

  &--negative {
    border-color: #{ch-get-color(negative)};
    color: #{ch-get-color(negative)};

    // 2.1. Focus interaction

    &:hover:focus,
    &:hover,
    &:focus {
  border-color: #{ch-get-color(negative, focus)};
  color: #{ch-get-color(negative, focus)};
    }

    // 2.2. Active interaction

    &:active {
  border-color: #{ch-get-color(negative, active)};
  color:  #{ch-get-color(negative, active)};
    }
  }

  // 5. Ghost variation

  &--ghost {
    &,
    &:hover:focus,
    &:hover,
    &:focus,
    &:active {
  border-color: transparent;
  background: transparent;
    }
  }

  // 6. Icon variation

  &--icon {
    @include ch-box-model((
  inset: (default, s)
    ));

    width: 36px;
  }

  // 7. Inverse variation

  &--inverse {
    color: #{ch-get-color(text, 1, inverse)};
  }

  // 8. Small variation

  &--small {
    @include ch-box-model((
  inset: (squish, s)
    ));

    &.ch-button--icon {
  @include ch-box-model((
    inset: (default, xxs)
  ));

  width: 24px;
    }
  }
}
