.ch-dropdown {
  display: none;
  position: absolute;
  top: 0;
  left: 84px;
  font-size: 11px;
  font-weight: 400;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  outline: 0;
  z-index:1;
  animation: fadeIn 0.3s;

  &:before {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background-color: #fff;
    position: absolute;
    top: 25px;
    left: -5px;
    transform: rotate(45deg);
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.15);
    z-index: -1;
  }

  ul, li {
    list-style: none;
  }


  &-container {
    position: relative;
  }

  &-header, &-menu-item a {
    display: block;
    padding: 10px 15px;
    font-size: inherit;
    text-transform: uppercase;
    white-space: nowrap;
    color: @fontColor;
  }

  &-header {
    font-weight: bold;
  }

  &-menu-item {
    a:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &.visible {
    display: block;
  }

  &.bottom {
    top: 100%;

    &:before {
      content: none;
    }

    &.right {
      left: auto;
      right: 0;
    }

    &.left {
      right: auto;
      left: 0;
    }
  }

  @media screen and (max-width: 768px) {
    position: fixed;
    width: 100%;
    top: auto;
    bottom: 50px;
    left: 0;
    background-color: @mainColorDark;
    border-radius: 0;

    &-header {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    &-header, &-menu-item a {
      color: #fff;
    }

    &:before {
      content: none;
    }

    &.collapse {
      position: static;
      box-shadow: none;
      z-index: 1;

      .ch-dropdown-header {
        display: none;
      }
    }
  }
}
