.ch-header {
  padding: 20px 8px 20px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background-color: #fff;

  .ch-dropdown {
    min-width: 200px;
  }
}

.ch-header-nav {
  display: flex;
  justify-content: center;
  align-items: center;

  &-buttons {
    display: block;
    padding: 5px;
    color: #666;

    &:hover, &.active {
      color: @fontColor;
      background-color: #f0f0f0;
      border-radius: 3px;
    }
  }
}

.ch-notification-label {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 4px;
    display: block;
    width: 7px;
    height: 7px;
    background-color: #bb0c0c;
    border-radius: 100%;
  }
}

.ch-content {

  &-hgroup {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;

    .ui.header {
      margin-right: 5px;
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 767px) {
    &-hgroup {
      .ui.button {
        width: 100%;
        margin: 10px 0 0;
      }
    }
  }
}
