.ch-notifications {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  &-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    animation: fadeIn .3s;
  }

  &-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    min-height: 100%;
    margin-left: auto;
    background-color: #fff;
    overflow-y: auto;
    transform: translate(100%);
    transition: all .3s;

    &.active {
      transform: translate(0);
      transition: all .3s;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 15px;
    padding-right: 5px;
    font-size: 20px;
    color: #4b4b4b;
    border-bottom: 1px solid #ddd;

    .icon {
      margin: 0;
    }
  }

  &-message {
    justify-content: center;
  }

  .ui.items {
    margin-top: 0;
  }

  .ui.items>.item {
    margin: 0;
    flex-direction: row;

    &.unread {
      background-color: #f0f0f0;
    }

    >.image  {
      padding: 10px 0 10px 20px;

      img {
        border-radius: 100%;
      }
    }

    >.content {
      padding: 10px 20px;

      .header, .description {
        color: inherit;
      }

      .header {
        font-size: 16px;
      }

      .description {
        margin: 5px 0;
      }

      .time {
        font-style: italic;
        color: lighten(@fontColor, 10%)
      }
    }
  }

  @media screen and (max-width: 767px) {
    &-content {
      width: 100%;
      animation: fadeIn .3s;
    }

    .ui.items:not(.unstackable)>.item>.image+.content {
      padding: 10px;
    }
  }
}

.btn-close-notifications {
  cursor: pointer;
}

.btn-show-all {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid #ddd;
  background-color: #fff;
  transform: translate(100%);
  transition: all .3s;

  &.active {
    transform: translate(0);
    transition: all .3s;
  }
}
