#users-chart, #pie-chart {
  height: 300px;
}

.ui.segment.borderless {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.ch-metric {

  &-label {
    color: #000;
    font-size: 16px;
  }

  &-value {
    display: flex;
    justify-content: flex-end;
    font-size: 26px;
    font-weight: 900;

    &.blue {
      color: #2987CD;
    }

    &.red {
      color: #D92B2F;
    }
  }

  &-date {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
  }
}
