@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: @fontColor;
  background-color: #f0f0f0;
}

.ch-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 65px;
  padding: 10px;
  color: #fff;
  background-color: @mainColorLight;

  &:hover, &:active {
    color: #fff;
  }

  img {
    margin: auto;
  }

  .text {
    font-size: 12px;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.mobile-only {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.computer-only {
  display: none;

  @media screen and (min-width: 767px) {
    display: block;
  }
}

.main-content {
  margin-left: @navigationSize;
  min-height: 100%;

  @media screen and (max-width: 767px) {
    margin-left: 0;
  }
}

.ch-content {
  display: flex;
  flex-direction: column;
  min-height: calc(~"100vh - 65px");

  &.padded {
    padding: 10px;
  }

  .row.white {
    background-color: #fff;
  }

  @media screen and (max-width: 767px) {
    padding-bottom: 50px;
  }
}

.grow {
  flex-grow: 1;
}

.ui.segment.grow {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.ui.modal.ch-modal>.close {
  top: 1rem;
  right: 0.5rem;
  color: @fontColor;
}

.ui.horizontal.label,
.ui.horizontal.labels .label {
  width: 8rem;
}

.ui.grid>.white.column,
.ui.grid>.white.row,
.ui.grid>.row>.white.column {
  background-color: #fff;
}

