/ Navegação breadcrumbs
%header.header
  %a.header-button-menu#menu{:href => "#menu"}
  %ul.header-breadcrumb
    %li.header-breadcrumb-list
      %a.header-breadcrumb-link{:href => "#"} Chameleon
      .breadcrumb-submenu
        %ul
          %li
            %a{:href => "#"} Entidade teste 1
          %li
            %a{:href => "#"} Entidade teste 30090
          %li
            %a{:href => "#"} Entidade teste 567
    %i.fa.fa-angle-right
    %li.header-breadcrumb-list
      %a.header-breadcrumb-link{:href => "#"} Framework
      .breadcrumb-submenu
        %ul
          %li
            %a{:href => "#"} Entidade teste 1
          %li
            %a{:href => "#"} Entidade teste 30090
          %li
            %a{:href => "#"} Entidade teste 567