@import '../../abstracts/breakpoints';
@import '../../abstracts/colors';
@import '../../abstracts/dimensions';
@import '../../abstracts/helpers';
@import '../../abstracts/layers';
@import '../../abstracts/space';
@import '../../abstracts/transition';

.ch-dropdown {

  // 1. Base

  @include ch-media(from, tablet) {
    position: relative;
  }

  display: inline-block;

  // 1.1. Overlay

  &-overlay {
    @include ch-media(from, tablet) {
      @include ch-paddingless;

      position: absolute;
      
      margin-top: #{ch-get-space(xs)};
      width: auto;
      min-width: #{ch-get-dimension(2)};
      height: auto;
    }

    @include ch-space-inset(default, xs);
    @include ch-transition(background visibility, $ch-transition-duration-fast);

    visibility: hidden;
    z-index: #{ch-get-z-index(5, 2)};
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: transparent;

    // 1.1.1. Overlay content

    > * {
      @include ch-media(from, tablet) {
        @include ch-shadow(2);

        transition-duration: #{$ch-transition-duration-very-fast};

        transform: none;
      }

      @include ch-shadow(5, top-bottom, #{$ch-color-black});
      @include ch-transition(transform opacity, $ch-transition-duration-fast);

      transform: translate(0, 10%);

      opacity: 0;
      max-height: 60vh;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  // 2. Active state

  &.is-active {

    // 2.1. Overlay

    .ch-dropdown-overlay {
      @include ch-media(from, tablet) {
        display: block;

        background: transparent;
      }

      visibility: visible;

      background: #{ch-get-color(overlay)};

      // 2.1.1. Overlay content

      > * {
        transform: translate(0, 0);

        opacity: 1;
      }
    }
  }

  // 3. Position variations
  
  @include ch-media(from, tablet) {
    @each $vertical in (bottom, top) {
      @each $horizontal in (right, left) {
        $sufix: ch-generate-variation(($vertical, $horizontal), (bottom, right));

        @at-root #{&}#{$sufix} .ch-dropdown-overlay {
          @if $vertical == bottom {
            top: 100%;

            margin-top: #{ch-get-space(xs)};
          }
          
          @else if $vertical == top {
            top: auto;
            bottom: 100%;

            margin-top: 0;
            margin-bottom: #{ch-get-space(xs)};
          }

          @if $horizontal == right {
            left: 0;
          }

          @else if $horizontal == left {
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
}
