.ch-dropdown {

  // 1. Base

  @include ch-media(from, desktop) {
    position: relative;
  }

  display: inline-block;

  // 2. Overlay

  > .ch-overlay {
    @include ch-media(to, tablet) {
      @include ch-space-inset(default, xs);

      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    @include ch-media(from, desktop) {
      @include ch-paddingless;

      position: absolute;

      margin-top: #{ch-get-space(xs)};
      width: auto;
      min-width: #{ch-get-dimension(2)};
      height: auto;
      background: transparent;
    }

    &:not(.is-visible) {
      @include ch-transition(
        unquote('visibility, opacity, width, height, min-width, min-height')
      );

      transition-timing-function:
        #{$ch-transition-timing-function},
        #{$ch-transition-timing-function},
        step-end,
        step-end,
        step-end,
        step-end;

      width: 0;
      height: 0;
      min-width: 0;
      min-height: 0;
    }

    // 2.1. Overlay content

    > .ch-card {
      @include ch-media(to, tablet) {
        border: 0;
      }
    }

    > * {
      @include ch-media(to, tablet) {
        transform: translate(0, 10%);

        width: 100%;
        max-width: calc(2 * #{ch-get-dimension(2)});
        max-height: 60vh;
      }

      @include ch-media(from, desktop) {
        @include ch-shadow(2);
        
        transition-duration: #{$ch-transition-duration-very-fast};
        
        width: auto;
      }

      @include ch-shadow(5, top-bottom, #{$ch-color-black});
      @include ch-transition(
        unquote('transform, opacity'), $ch-transition-duration-fast
      );

      opacity: 0;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }

    // 2.2. Visible state

    &.is-visible {
      @include ch-media(from, desktop) {
        display: block;

        background: transparent;
      }

      // 2.2.1. Overlay content

      > * {
        transform: translate(0, 0);

        opacity: 1;
      }
    }
  }
}
