@use '../../foundation/breakpoints' as breakpoints;
@use '../../foundation/spaces' as spaces;
@use '../../foundation/utils' as utils;
@use '../../foundation/thypography' as thypography;

.ch-dropdown {
  @include breakpoints.media(from, desktop) {
    @each $vertical in (bottom, top) {
      @each $horizontal in (right, left) {
        $sufix: utils.generate-variation(($vertical, $horizontal), (bottom, right));

        // 1. Base

        @at-root {
          #{&}#{$sufix}:not(#{&}--actions) > .ch-overlay {
            @if $vertical == bottom {
              top: 100%;

              margin-top: spaces.get-space(xs);
            }

            @else if $vertical == top {
              top: auto;
              bottom: 100%;

              margin-top: 0;
              margin-bottom: spaces.get-space(xs);
            }

            @if $horizontal == right {
              left: 0;
            }

            @else if $horizontal == left {
              left: auto;
              right: 0;
            }
          } // #{&}#{$sufix}:not(#{&}--actions) > .ch-overlay

          // 2. Actions variation

          #{&}#{$sufix}#{&}--actions > .ch-overlay > .ch-card > .ch-menu:not(:first-child) {
            @if $vertical == bottom {
              top: 100%;

              margin-top: spaces.get-space(xs);
            }

            @else if $vertical == top {
              top: auto;
              bottom: 100%;
    
              margin-top: 0;
              margin-bottom: spaces.get-space(xs);
            }

            @if $horizontal == right {
              left: 100%;
            }

            @else if $horizontal == left {
              $size: utils.calc-box-height(
                thypography.get-font-size(2),
                spaces.get-space(xxs),
                spaces.get-space(xxs)
              );

              left: auto;
              right: calc(-1 * #{$size});
            }
          } // #{&}#{$sufix}#{&}--actions > .ch-overlay > .ch-card > .ch-menu:not(:first-child)
        } // @at-root
      } // @each $horizontal in (right, left)
    } // @each $vertical in (bottom, top)
  } // @include ch-media(from, desktop)
}
