@mixin title($font-size: auto) {
  font-size: $font-size;
  font-weight: 400;
  text-transform: uppercase;
  color: lighten($fontColor, 10%);
}

@mixin position-sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}

%overflow-ellipsis {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin scale($scale) {
   @include transform(scale($scale));
}

@mixin translate($x, $y) {
   @include transform(translate($x, $y));
}

@mixin skew($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}