@mixin title($font-size: auto) {
  font-size: $font-size;
  font-weight: 400;
  text-transform: uppercase;
  color: lighten($fontColor, 10%);
}

@mixin position-sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}

%overflow-ellipsis {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin scale($scale) {
   @include transform(scale($scale));
}

@mixin translate($x, $y) {
   @include transform(translate($x, $y));
}

@mixin skew($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin border-radius($radius) {
  border-radius:         $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
}

@mixin animation($animation...) {
  -o-animation:      $animation;
  -moz-animation:    $animation;
  -webkit-animation: $animation;
  animation:         $animation;
}

@mixin animation-name($name...){
  -o-animation-name:      $name;
  -moz-animation-name:    $name;
  -webkit-animation-name: $name;
  animation-name:         $name;
}

@mixin animation-duration($duration...) {
  -o-animation-duration:      $duration;
  -moz-animation-duration:    $duration;
  -webkit-animation-duration: $duration;
  animation-duration:         $duration;
}

@mixin animation-fill-mode($fill...) {
  -o-animation-fill-mode:      $fill;
  -moz-animation-fill-mode:    $fill;
  -webkit-animation-fill-mode: $fill;
  animation-fill-mode:         $fill;
}

@mixin animation-direction($direction...) {
  -o-animation-direction:      $direction;
  -moz-animation-direction:    $direction;
  -webkit-animation-direction: $direction;
  animation-direction:         $direction;
}

@mixin keyframes($name) {
  @-o-keyframes #{$name}      { @content };
  @-moz-keyframes #{$name}    { @content };
  @-webkit-keyframes #{$name} { @content };
  @keyframes #{$name}         { @content };
}

