@mixin title($font-size: auto) {
  font-size: $font-size;
  font-weight: 400;
  text-transform: uppercase;
  color: lighten($fontColor, 10%);
}

%overflow-ellipsis {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
