.mobile-only {
  display: none !important;

  @media screen and (max-width: 768px) {
    display: block !important;
  }
}

.computer-only {
  display: none !important;

  @media screen and (min-width: 769px) {
    display: block !important;
  }
}

.grow {
  flex-grow: 1;
}

.row-link {
  &:hover {
    cursor: pointer;
  }
}

.ch-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.65);
  animation: fadeIn .3s;

  &.inside {
    top: 65px;
    background-color: rgba(#000, 0.05);

    .ch-sidebar-container {
      border-top: 1px solid #eee;
    }
  }

  @media screen and (max-width: 767px) {
    background-color: #fff;

    &.inside {
      top: 0;
    }
  }

}

.hidden {
  display: none !important;

  &.ui.divider {
    display: block !important;
  }
}

@media screen and (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

.close-dialog {
  cursor: pointer;
}

.ch-modal {
  .ui.header {
    @include title();
  }
}

.fa-1_5x {
  font-size: 1.5em;
}

.ch-expand-button {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: auto;
  align-self: flex-start;
  background-color: color(navy, tone-70);
  z-index: 1;

  > button {
    width: 100%;
    height: 50px;
    font-family: inherit;
    padding: .7em 0;
    padding-left: 60px;
    text-align: left;
    font-weight: 600;
    color: color(navy, tone-30);
    background-color: transparent;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    outline: 0;

    &:after {
      content: attr(data-minimize);
      opacity: .5;
      visibility: hidden;
      transition: all .1s ease-out;
    }

    > .icon {
      position: absolute;
      top: 50%;
      left: 20px;
      width: 20px;
      transform: translateY(-50%);
    }

    > .icon path {
      fill: #949FB2
    }

    > .icon.minimize {
      display: block;
    }

    > .icon.expand {
      display: none;
    }
  }

  > button:hover {
    &:after {
      opacity: 1;
      visibility: visible;
    }
  }

  button {
    .ch-nav.collapsed & {
      &:after {
        content: attr(data-expand)
      }

      > .icon.minimize {
        display: none;
      }

      > .icon.expand {
        display: block;
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.more button {
  outline: 0;
}

.btn-more-options {

  &.ch-header-nav-button {
    order: 1;
    padding-right: 0;
  }
}
