$colorsPalette: (
  navy: (
    tone-0:   #F9FBFF,
    tone-5:   #E6EAF2,
    tone-10:  #D0D8E5,
    tone-20:  #B3BCCC,
    tone-30:  #949FB2,
    tone-40:  #7A8699,
    tone-50:  #5F6B7F,
    tone-60:  #475266,
    tone-70:  #2D394C,
    tone-80:  #252C38,
    tone-90:  #0F1319,
    tone-100: #000000
  ),
  neutrals: (
    tone-0:   #FFFFFF,
    tone-5:   #EDEFF2,
    tone-10:  #E0E2E5,
    tone-20:  #C5C8CC,
    tone-30:  #A9ACB2,
    tone-40:  #919499,
    tone-50:  #777A7F,
    tone-60:  #5F6266,
    tone-70:  #47494C,
    tone-80:  #2E3033,
    tone-90:  #151719,
    tone-100: #000000
  )
);

$lightBgColor:  color(navy, tone-0);
$borderColor: color(neutrals, tone-5);
$headerElementsColor: color(neutrals, tone-30);

$activeColor: #00E2F6;

$fontColor: color(neutrals, tone-70);
$fontFamily: 'Roboto', sans-serif;

$navbarSize: 240px;
$navbarCollapsedSize: 60px;
