@import './mixin-space-stack';

@mixin ch-space-stack-group ($size: m) {
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    @include ch-space-stack($size);
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}
