@import './mixin-space-inline';

@mixin ch-space-inline-group ($type: left, $size: m) {
  $exception: '';

  display: flex;
  flex-wrap: wrap;

  @if ($type == left) {
    $exception: ':last-child';

    justify-content: flex-start;
  }

  @else if ($type == right) {
    $exception: ':first-child';

    justify-content: flex-end;
  }

  & > *:not(#{unquote($exception)}) {
    @include ch-space-inline($type, $size)
  }
}
