-
  var menuItems = [
    { name: "Painel", icon: "fa-chart-line", href: "dashboard.html", active: true },
    { name: "Formulários", icon: "fa-clipboard", href: "#" },
    { name: "Tabelas", icon: "fa-table", href: "#" },
    { name: "Wizard", icon: "fa-magic", href: "#" },
    { name: "Notificações", icon: "fa-comment", href: "#", tag: true },
    { name: "Desabilitado", icon: "fa-exclamation-circle", href: "#", disabled: true },
  ]

each item in menuItems
  li.ch-menu-item(class={active: item.active, disabled: item.disabled})
    a(href=item.href)
      i(class= "fal " + item.icon + " fa-icon")
      span(class="ch-menu-item-label")= item.name

      if item.tag
        span.ui.horizontal.tiny.label.ch-tag--new(data-label="Novo")

li.ch-menu-item.ch-dropdown
  a.ch-dropdown-button(href="#")
    i.fal.fa-puzzle-piece.fa-icon
    span.ch-menu-item-label Páginas
    .fal.fa-chevron-right.fa-icon.dropdown

  -
    var pages = [
      { name: "Colaboradores", href: "employees.html" },
      { name: "Relatórios", href: "reports.html" },
      { name: "Filtros", href: "filters.html" },
      { name: "Detalhe", href: "detail.html" },
      { name: "Configurações", href: "settings.html" },
      { name: "Mapa", href: "map.html" },
    ]

  .ch-dropdown-content
    ul.ch-dropdown-menu
      each page in pages
        li.ch-menu-item
          a(href=page.href)=page.name
