-
  var menuItems = [
    { name: "Visão consolidada", icon: "fa-chart-line", href: "#", active: true },
    { name: "Relatório Dinâmico", icon: "fa-history", href: "#" },
    { name: "Linha do Tempo", icon: "fa-table", href: "#" },
    { name: "Contas a Pagar", icon: "fa-upload", href: "#" },
    { name: "Contas a Receber", icon: "fa-download", href: "#" },
    { name: "Orçamentos", icon: "fa-calendar-check", href: "#" },
    { name: "Movimento Bancário", icon: "fa-university", href: "#" },
    { name: "Conciliação Bancária", icon: "fa-repeat", href: "#" },
    { name: "Cartões de Crédito", icon: "fa-credit-card-front", href: "#" },
  ]

each item in menuItems
  li.ch-menu-item(class={active: item.active, disabled: item.disabled})
    a(href=item.href)
      i(class= "fal " + item.icon + " fa-icon")
      span(class="ch-menu-item-label")= item.name

      if item.tag
        span.ui.horizontal.tiny.label.ch-tag--new(data-label="Novo")

li.ch-menu-item.ch-dropdown
  a.ch-dropdown-button(href="#")
    i.fal.fa-address-book.fa-icon
    span.ch-menu-item-label Cadastros
    .fal.fa-chevron-right.fa-icon.dropdown

  -
    var pages = [
      { name: "Clientes/Fornecedores", href: "#" },
      { name: "Categorias", href: "#" },
      { name: "Centros de Custo/Receita", href: "#" },
      { name: "Classificadores Personalizados", href: "#" },
      { name: "Relatórios Dinâmicos", href: "#" },
      { name: "Regras Automáticas", href: "#" },
      { name: "Contas de Recebíveis", href: "#" },
    ]

  .ch-dropdown-content
    ul.ch-dropdown-menu
      each page in pages
        li.ch-menu-item
          a(href=page.href)=page.name
