li.ch-menu-item(class="active")
  a(href="#")
    i(class= "fal fa-user fa-icon")
    span(class="ch-menu-item-label") Perfil

li.ch-menu-item.ch-dropdown
  a.ch-dropdown-button(href="#")
    i.fal.fa-lock-alt.fa-icon
    span.ch-menu-item-label Segurança
    .fal.fa-chevron-right.fa-icon.dropdown

  -
    var pages = [
      { name: "Alterar Senha", href: "#" },
      { name: "Autenticação em duas etapas", href: "#" },
    ]

  .ch-dropdown-content
    ul.ch-dropdown-menu
      each page in pages
        li.ch-menu-item
          a(href=page.href)=page.name

li.ch-menu-item(class)
  a(href="#")
    i(class= "fal fa-code fa-icon")
    span(class="ch-menu-item-label") Área do desenvolvedor
