@use '../../foundation/breakpoints' as breakpoints;
@use '../../foundation/colors' as colors;
@use '../../foundation/spaces' as spaces;
@use '../../foundation/thypography' as thypography;

.ch-breadcrumbs {
  // 1. Base

  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;

  // 2. Item

  &-item {
    position: relative;

    &:not(:last-child) {
      @include breakpoints.media(from, tablet) {
        display: block;
      }

      display: none;

      color: colors.get-color(text, 2);
      font-weight: thypography.get-font-weight(light);
      padding-right: spaces.get-space(m);

      &:hover:focus,
      &:hover,
      &:focus {
        color: colors.get-color(text, 1);
      }
    }

    &:not(:last-child):after {
      $separator: '/';

      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);

      width: spaces.get-space(m);
      content: $separator;
      text-align: center;
    }

    &:last-child {
      font-weight: thypography.get-font-weight(bold);
    }

    @include breakpoints.media(from, tablet) {
      @include thypography.truncate;
    }
  }
}
