.ch-breadcrumbs {

  // 1. Base

  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;

  // 2. Item

  &-item {
    position: relative;

    &:not(:last-child) {
      display: none;

      color: #{ch-get-color(text, 2)};
      font-weight: #{ch-get-text-weight(light)};
      padding-right: #{ch-get-space()};

      &:hover:focus,
      &:hover,
      &:focus {
        color: #{ch-get-color(text, 1)};
      }

      @include ch-media(from, tablet) {
        display: block;
      }
    }

    &:not(:last-child):after {
      $separator: '/';

      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);

      width: #{ch-get-space(m)};
      content: $separator;
      text-align: center;
    }

    &:last-child {
      font-weight: #{ch-get-text-weight(bold)};
    }

    @include ch-media(from, tablet) {
      @include ch-truncate;
    }
  }
}
