// sass-lint:disable no-important

@import '../../abstracts/colors';
@import '../../abstracts/typography';
@import '../../abstracts/menu';
@import '../../abstracts/icon';
@import '../../abstracts/box-model';
@import '../../abstracts/dimensions';

.ch-template-nav {

  // 1. Base

  > .ch-menu {

    // 1.1. Item

    .ch-menu-item {
      color: #{ch-get-color(text, 2, inverse)};

      // 1.1.1. Label

      &-label {
        font-weight: ch-get-text-weight(bold);
      }

      // 1.1.2. Focus interaction
  
      &:hover:focus,
      &:focus,
      &:hover {
        background: transparent;
  
        &,
        > .ch-icon {
          color: #{ch-get-color(text, 1, inverse)};
        }
      }

      // 1.1.3. Active state
  
      &.is-active {

        // 1.1.3.1. Label
        
        > .ch-menu-item-label {
          color: #{ch-get-color(text, 1, inverse)};
        }

        // 1.1.3.2. Icon

        > .ch-icon:first-child {
          color: #{ch-get-color(brand, 1)};
        }
      }
    }
  }

  // 2. Is not open state

  &:not(.is-open) > .ch-menu {

    // 2.1. Base

    @extend %ch-menu-horizontal;
    
    width: 80%;
    justify-content: space-around;
  
    // 2.2. Menu item

    > * {
      flex-basis: 100%;

      &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)) {
        display: none;
      }
    }

    > .ch-menu-item,
    > .ch-menu-submenu > .ch-menu-item {
      // TODO
      padding-left: 0 !important;
      padding-right: 0 !important;
      height: #{ch-get-dimension(1)};

      // 2.2.1. Icon

      &.has-icon > .ch-icon {
        left: 50%;
      }

      // 2.2.2. Arrow and label

      > .ch-menu-item-arrow,
      > .ch-menu-item-label {
        display: none;
      }
  
      // 2.2.3. Bottom bar

      &.is-active:before {
        width: ch-get-icon-size();
        height: #{ch-get-space(xxs)};
        top: auto;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  // 3. Open state

  &.is-open > .ch-menu {

    // 3.1. Base

    flex: 1;
    overflow-y: auto;

    // 3.2. Item

    .ch-menu-item {
      @include ch-box-model(l, squish);
    }

    .ch-menu-submenu > .ch-menu .ch-menu-item {
      padding-left: #{ch-get-dimension(1)};
    }
  }
}
