@import '../../abstracts/colors';
@import '../../abstracts/icon';
@import '../../abstracts/typography';

.ch-template {
  &-nav {
    display: flex;
    justify-content: space-between;
    background-color: ch-get-color(neutral, 1, inverse);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    &-brand {
      display: none;
    }

    &-toggle {
      width: 20%;
    }

    &-menu {
      width: 80%;
      justify-content: space-around;

      .ch-menu-item-label,
      .ch-icon {
        color: $ch-color-navy-10;
      }

      .ch-menu-item-label {
        font-weight: ch-get-text-weight(bold);
      }

      > .ch-menu-item,
      > .ch-menu-submenu > .ch-menu-item {
        &:hover {
          background: transparent;
        }
      }

      > .ch-menu-item,
      > .ch-menu-submenu > .ch-menu > .ch-menu-item {
        &.is-active > .ch-menu-item-label {
          color: ch-get-color(text, 1, inverse);
        }

        &.is-active > .ch-icon:first-child {
          color: ch-get-color(brand, 1);
        }
      }

      &.ch-menu--horizontal {
        > .ch-menu-item > .ch-menu-item-label,
        > .ch-menu-submenu > .ch-menu-item > .ch-menu-item-arrow,
        > .ch-menu-submenu > .ch-menu-item > .ch-menu-item-label {
          display: none;
        }

        > .ch-menu-item,
        > .ch-menu-submenu > .ch-menu-item {
          // sass-lint:disable no-important
          padding-left: ch-get-space(l) !important;
          padding-right: ch-get-space(l) !important;

          > .ch-icon:first-child {
            left: 50%;
          }
        }

        > .is-active,
        > .ch-menu-submenu > .is-active {
          &:before {
            width: ch-get-icon-size();
            height: var(--ch-space-xxs);
            top: auto;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }

  &-nav.is-open {
    height: 100%;
    flex-direction: column;

    > .ch-template-nav-toggle,
    > .ch-template-nav-menu {
      width: 100%;
    }
  }
}
