@import '../../abstracts/colors';
@import '../../abstracts/layers';

.ch-template-nav {

  // 1. Base

  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  
  width: 100%;
  background-color: #{ch-get-color(neutral, 1, inverse)};

  // 2. Open state

  &.is-open {
    z-index: #{ch-get-z-index(3)};
    flex-direction: column;

    height: 100%;
  }
}
