@import '../../abstracts/box-model';
@import '../../abstracts/dimensions';

.ch-template {
  &-nav.is-open {
    height: 100%;
    flex-direction: column;

    > .ch-template-nav-brand {
      display: block;
    }

    > .ch-template-nav-menu {
      flex: 1;
      overflow-y: auto;
    }

    > .ch-template-nav-toggle,
    > .ch-template-nav-menu {
      width: 100%;
    }

    > .ch-template-nav-toggle,
    > .ch-template-nav-brand {
      height: 60px;
    }

    .ch-menu-item {
      @include ch-box-model(l, squish);

    }

    .ch-menu-submenu > .ch-menu .ch-menu-item {
      padding-left: #{ch-get-dimension(1)};
    }
  }
}
