@import '../../abstracts/breakpoints';
@import '../../abstracts/colors';
@import '../../abstracts/icon';
@import '../../abstracts/dimensions';

.ch-template-nav {
  > .ch-more {
    @include ch-media(from, tablet) {
      display: none;
    }

    width: 20%;
    height: #{ch-get-dimension(1)};

    & + .ch-more {
      @include ch-media(from, tablet) {
        display: block;

        width: #{ch-get-dimension(1)};
      }

      display: none;
    }
  }

  &.is-open > .ch-more {
    margin-left: 80%;
  }
}
