.ch-template-content {
  @include ch-transition(margin-left);

  @include ch-media(only, mobile) {
    padding-top: #{ch-get-space(m)};
    padding-right: #{ch-get-space(s)};
    padding-bottom: #{ch-get-dimension(1)};
    padding-left: #{ch-get-space(s)};
  } 

  @include ch-media(from, tablet) {
    @include ch-space-inset(stretch, l);
  }
}
