// @import '../../abstracts/dimensions';
// @import '../../abstracts/transition';

.ch-template-content {
  @include ch-media (from, desktop) {
    @include ch-space-inset(stretch, l);
  }

  @include ch-transition(margin-left);

  padding-top: #{ch-get-space(m)};
  padding-right: #{ch-get-space(s)};
  padding-bottom: #{ch-get-dimension(1)};
  padding-left: #{ch-get-space(s)};
}
