@import '../../abstracts/breakpoints';
@import '../../abstracts/colors';
@import '../../abstracts/typography';
@import '../../abstracts/dimensions';
@import '../../abstracts/transition';

.ch-template-nav {
  &-brand {

    // 1. Base

    position: absolute;
    opacity: 0;
    visibility: hidden;

    height: #{ch-get-dimension(1)};
    padding-left: #{ch-get-dimension(1)};

    // 2. Icon

    &-icon {
      position: absolute;
      top: 50%;
      left: calc(#{ch-get-dimension(1)} / 2);
      transform: translate(-50%, -50%);

      width: calc(#{ch-get-dimension(1)} - 2 * #{ch-get-space(s)});
      height: calc(#{ch-get-dimension(1)} -  2 * #{ch-get-space(s)});
    }

    // 3. Name

    &-name {
      @include ch-transition(opacity, $ch-transition-duration-fast);

      color: #{ch-get-color(text, 1, inverse)};
      font-family: #{ch-get-text-font-family(brand)};
      font-size: #{ch-get-text-size(5)};
      line-height: #{ch-get-dimension(1)};
      opacity: 0;
    }
  }

  // 4. Open state

  &.is-open {
    > .ch-template-nav-brand {
      position: relative;
      opacity: 1;
      visibility: visible;

      > .ch-template-nav-brand-name {
        opacity: 1;
      }
    }
  }

  // 5. From tablet

  @include ch-media(from, tablet) {
    &-brand {
      position: relative;
      opacity: 1;
      visibility: visible;

      &-name {
        overflow: hidden;
        opacity: 1;
      }
    }

    &:not(:hover):not(.is-expanded) {
      .ch-template-nav-brand > .ch-template-nav-brand-name {
        opacity: 0;
      }
    }

    &:focus:hover,
    &:focus,
    &:hover {
      &:not(.is-expanded) {
        .ch-template-nav-brand > .ch-template-nav-brand-name {
          opacity: 1;
        }
      }
    }
  }
}
