.ch-template-nav {

  // 1. Base

  @include ch-transition(width height);

  display: flex;
  z-index: #{ch-get-z-index(2)};
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: #{ch-get-dimension(1)};
  background-color: #{ch-get-color(neutral, 1, inverse)};

  // 2. Open state

  &.is-open {
    z-index: #{ch-get-z-index(3)};
    flex-direction: column;

    height: 100%;
  }

  // 3. From tablet

  @include ch-media(from, tablet) {
    position: fixed;
    z-index: #{ch-get-z-index(3)};
    flex-direction: column;
    top: 0;
    left: 0;

    overflow: hidden;
    width: #{ch-get-dimension(1)};
    height: 100vh;

    &.is-expanded,
    &.is-hovered {
      z-index: #{ch-get-z-index(3)};

      width: #{ch-get-dimension(2)};
    }

    &.is-hovered {
      &:not(.is-expanded) {
        @include ch-shadow(3, right-left);
      }
    }

    + .ch-template-header,
    + .ch-template-header ~ .ch-template-content {
      margin-left: #{ch-get-dimension(1)};
    }

    &.is-expanded + .ch-template-header,
    &.is-expanded + .ch-template-header ~ .ch-template-content {
      margin-left: #{ch-get-dimension(2)};
    }

    + .ch-template-header > .ch-menu.is-expanded > .ch-menu-item.ch-toggle {
      left: #{ch-get-dimension(1)};
    }

    &.is-expanded + .ch-template-header > .ch-menu.is-expanded > .ch-menu-item.ch-toggle {
      left: #{ch-get-dimension(2)};
    }
  }
}
