@import '../../abstracts/colors';
@import '../../abstracts/icon';
@import '../../abstracts/dimensions';

.ch-template-nav {
  > .ch-more {
    width: 20%;
    height: #{ch-get-dimension(1)};
  }
  
  &.is-open > .ch-more {
    margin-left: 80%;
  }
}
