doctype html

html
	body
		.ch-content-message(class='ch-message-icon--success')
			i(class='fal fa-times ch-close-message')
			i(class='ch-message-icon fal fa-info-circle')
			p(class='ch-message--text') Autenticação em duas etapas habilitada com sucesso					