doctype html

html
	body
		.ui(class='grid')
			.row
				.eight(class='wide column right floated')
					.ch-content-message(class='notify-info')
						p just say info
			.row
				.eight(class='wide column right floated')
					.ch-content-message(class='notify-success')
						p just say success
			.row
				.eight(class='wide column right floated')
					.ch-content-message(class='notify-warning')
						p just say warning
			.row
				.eight(class='wide column right floated')
					.ch-content-message(class='notify-error')
						p just say error					