doctype html

html
	body
		.ch-content-message(class='ch-message-icon--success')
			i(class='ch-close-message fal fa-times',data-js='close')
			i(class='ch-message-icon fal fa-check-circle')
			p(class='ch-message--text') Autenticação em duas etapas habilitada com sucesso					