doctype html

html
  body
  .ch-message(data-type='flash_message')
    i(class='ch-message-icon ch-message-icon--success fal fa-check-circle')
    p(class='ch-message-text') Autenticação em duas etapas habilitada com sucesso
    button.ch-message-close(type="button" data-action='close')
      i(class='ch-message-close-icon fal fa-times')
