doctype html

html
  body
  .ch-message
    i(class='ch-message-icon ch-message-icon--success fal fa-check-circle')
    p(class='ch-message-text') Autenticação em duas etapas habilitada com sucesso
    button.ch-message-close(type="button")
      i(class='ch-message-close-icon fal fa-times',data-js='close')
