include ./message.pug

header.ch-header
  .ch-breadcrumb
    .ch-breadcrumb-section
      a(href="#" title="Fluxos de Caixa") Fluxos de Caixa

    i.right.chevron.tiny.icon.divider

    .ch-breadcrumb-section
      a(href="#" title="Contas a Pagar") Contas a Pagar

    i.right.chevron.tiny.icon.divider

    .ch-breadcrumb-section.active
      a(href="#" title="Nova Despesa") Nova Despesa

  .ch-header-nav
    .ch-header-nav-button(data-target="search")
      i.search.large.icon

    .ch-header-nav-button.ch-dropdown.computer-only(href="#")
      .ch-dropdown-toggle
        i.ch-notification-label.cog.large.icon

      .ch-dropdown-content.bottom.right(tabindex="-1").

    .ch-header-nav-button(data-target="modal" data-modal="notifications")
      i.ch-notification-label.bell.outline.large.icon

    .ch-header-nav-button.ch-dropdown.ch-account
      .ch-dropdown-toggle MyFreecomm
        i.icon.dropdown
      .ch-dropdown-content.bottom.right(tabindex="-1")
        .ch-account-container
          .ch-account-header Selecione sua conta
            .actions
              i.icon.close

          .ch-account-content
            nav.menu
              span.label Contas
              ul
                li.active
                  a(href="#") Grupo Nexaas
                  nav.submenu
                    span.label Entidades
                    ul
                      li
                        a(href="#") Myfreecomm
                      li.active
                        a(href="#") Empresa I
                      li
                        a(href="#") Empresa II
                      li
                        a(href="#") Empresa III
                      li
                        a(href="#") Empresa IV

                li
                  a(href="#") J Experts

                li
                  a(href="#") Acme Factoring


    .ch-header-nav-button.ch-dropdown.computer-only(href="#")
      .ch-avatar.ch-dropdown-toggle
        img.ui.avatar.image(src="http://i.pravatar.cc/50?img==1")

      .ch-dropdown-content.bottom.right(tabindex="-1")
        span.ch-dropdown-header Contas
        -
          var accounts = [
            { id: 1, name: "Chameleon", backgroundColor: "EF6C00", color: "fff", },
            { id: 2, name: "Conta Nexaas 2", backgroundColor: "3d8af7", color: "fff", },
            { id: 3, name: "Conta Nexaas 3", backgroundColor: "e93578", color: "fff", }
          ];
        ul.ch-dropdown-menu
          each account in accounts
            li.ch-dropdown-menu-item
              a(href="#")
                img.ui.avatar.image(src="http://i.pravatar.cc/50?img==" + account.id )
                span= account.name
                .ui.button.mini.basic Editar
