header.ch-header
  .ch-breadcrumb
    .ch-breadcrumb-section.ch-dropdown
      a.ch-dropdown-toggle(href="#") Nome da organização
      .ch-dropdown-content.bottom.left(tabindex="-1")
        ul.ch-dropdown-menu
          -
            var entities = ["Organização 1", "Organização 2", "Organização 3"]
          each entity in entities
            li.ch-dropdown-menu-item
              a(href="#")=entity

    i.right.chevron.icon.divider

    .ch-breadcrumb-section.ch-dropdown.active
      a.ch-dropdown-toggle(href="#") Painel Principal
      .ch-dropdown-content.bottom.left(tabindex="-1")
        ul.ch-dropdown-menu
          -
            var contexts = ["Painel de exemplo", "Painel Modelo 1", "Painel Modelo 2"]
          each context in contexts
            li.ch-dropdown-menu-item
              a(href="#")=context

  .ch-header-nav
    a.ch-header-nav-button(data-target="search")
      i.search.large.icon

    a.ch-header-nav-button(href="#" data-target="modal" data-modal="notifications")
      i.ch-notification-label.bell.outline.large.icon

    .ch-dropdown.computer-only
      a.ch-header-nav-button.ch-dropdown-toggle(href="#")
        span.avatar CH

      .ch-dropdown-content.bottom.right(tabindex="-1")
        span.ch-dropdown-header Contas
        ul.ch-dropdown-menu
          -
            var accounts = ["Conta Nexaas 1", "Conta Nexaas 2", "Conta Nexaas 3"]
          each account in accounts
            li(class="ch-dropdown-menu-item")
              a(href="#")= account
