.ui.ch-modal.long.modal
  i.close.icon
  .header.
    Novo colaborador

  form.ui.form
    .content
      .ui.basic.padded.segment
        .ch-avatar-upload
          .ch-avatar-container.big
            img.ch-avatar.rounded(src="http://via.placeholder.com/105x105")
          .info
            h3.ui.header.small Foto de perfil
            p Extensões de arquivo aceitas: .jpeg, .png, .gif, .tiff
            p Limite de tamanho de arquivo: 10MB
            .ch-input-file
              label.ui.mini.button.primary(for="file").
                  Adicionar foto
              input(type="file" id="file")

    .ui.divider.fitted

    .content
      .ui.basic.padded.segment
        h3.ui.header.small Informações Pessoais

        .ui.divider.hidden

        .fields
          .eight.wide.field.required
            label(for="") Nome Completo
            input(type="text" placeholder="Nome")

          .field.required
            label(for="") Nº de Registro
            input(type="text")

        .four.fields
          .field
            label(for="") Data de Nascimento
            .ui.left.icon.input
              input(type="text" placeholder="dd/mm/aaaa")
              i.calendar.icon

          .field
            label(for="") Nacionalidade
            input(type="text" placeholder="Nacionalidade")

          .field
            label(for="") Naturalidade
            input(type="text" placeholder="Naturalidade")

          .field
            label(for="") Sexo
            input(type="text" placeholder="")

        .two.fields
          .field
            label(for="") Estado Civil
            select.ui.dropdown(name="")
                each option in ["Opção 1", "Opção 2"]
                  option(value= option)= option
          .field
            label Escolaridade
            select.ui.dropdown(name="")
                each option in ["Opção 1", "Opção 2"]
                  option(value= option)= option

        .two.fields
          .field
            label(for="") Cargo
            input(type="text")

          .field
            label(for="") Salário
            .ui.right.labeled.input
              input(type="text" placeholder="0,00")
              .ui.dropdown.label
                .text BRL
                i.dropdown.icon
                .menu
                  .item BRL
                  .item EUR

    .ui.divider.fitted

    .content
      .ui.basic.padded.segment
        h3.ui.header.small Informações de Endereço

        .ui.divider.hidden

        .fields
          .four.wide.field.required
            label(for="") CEP
            input(type="text" placeholder="00.000-00")

          .ten.wide.field.required
            label(for="") Endereço
            input(type="text" placeholder="Endereço")

          .two.wide.field.required
            label(for="") Número
            input(type="text" placeholder="Número")

        .four.fields
          .field
            label(for="") Complemento
            input(type="text")

          .field
            label(for="") Bairro
            input(type="text")

          .field
            label(for="") Estado
            select.ui.dropdown(name="")
              option(value="") UF
              each option in ["Option 1", "Option 2", "Option 3", "Option 4"]
                option(value= option)= option

          .field
            label(for="") Cidade
            select.ui.dropdown(name="")
              option(value="") Selecione uma Cidade
              each option in ["Option 1", "Option 2", "Option 3", "Option 4"]
                option(value= option)= option

  .actions
    .ui.button.close Cancelar
    .ui.submit.positive.button Salvar
