mixin nav(activeUrl)
  nav.ch-nav
    .ch-logo
      .ch-logo-icon
        i.icon.dollar.black.inverted
      span.ch-logo-label MyFinance

    ul.ch-menu
      -
        var menuItems = [
          { name: "Painel", icon: "dashboard", href: "dashboard.html", active: true },
          { name: "Formulários", icon: "clipboard", href: "form.html" },
          { name: "Tabelas", icon: "table", href: "table.html" },
          { name: "Notificações", icon: "warning circle", href: "notifications.html" },
          { name: "Wizard", icon: "wizard", href: "wizard.html" },
        ]

      each item in menuItems
        li.ch-menu-item(class={active: item.active})
          a(href="#")
            i(class= item.icon + " icon")
            span(class="ch-menu-item-label")= item.name

    button.ch-collapse-button
      i.icon.caret.square.left.outline
      span.ch-collapse-button-label Minimizar
