mixin nav(activeUrl)
  nav.ch-nav
    .ch-logo
      .ch-logo-icon
      span.ch-logo-label MyFinance

    ul.ch-menu
      -
        var menuItems = [
          { name: "Painel", icon: "dashboard", href: "dashboard.html", active: true },
          { name: "Formulários", icon: "clipboard", href: "form.html" },
          { name: "Tabelas", icon: "table", href: "table.html" },
          { name: "Wizard", icon: "wizard", href: "wizard.html" },
          { name: "Desabilitado", icon: "warning circle", href: "notifications.html", disabled: true },
        ]

      each item in menuItems
        li.ch-menu-item(class={active: item.active, disabled: item.disabled})
          a(href="#")
            i(class= item.icon + " icon")
            span(class="ch-menu-item-label")= item.name

      li.ch-menu-item.ch-dropdown
        a.ch-dropdown-button(href="#")
          i.puzzle.icon
          span.ch-menu-item-label Páginas
          i.icon.dropdown

        -
          var pages = [
            { name: "Colaboradores", href: "employees.html" },
            { name: "Relatórios", href: "reports.html" },
            { name: "Filtros", href: "filters.html" },
            { name: "Detalhe", href: "detail.html" },
            { name: "Configurações", href: "settings.html" },
            { name: "Mapa", href: "map.html" },
          ]

        .ch-dropdown-content
          ul.ch-dropdown-menu
            each page in pages
              li.ch-menu-item
                a(href=page.href)=page.name

    button.ch-collapse-button
      i.icon.caret.square.left.outline
      span.ch-collapse-button-label


