mixin nav(activeUrl)
  nav.ch-nav

    a.ch-nav-logo(href="dashboard.html")
      img(src="../assets/images/chameleon_logo_white.png")
      span.text Chameleon

    ul.ch-nav-menu
      -
        var currentUrl = activeUrl
        var menuItems = [
          { name: "Painel", icon: "dashboard", href: "dashboard.html" },
          { name: "Formulários", icon: "clipboard", href: "form.html" },
          { name: "Tabelas", icon: "table", href: "table.html" },
          { name: "Notificações", icon: "warning circle", href: "notifications.html" },
          { name: "Wizard", icon: "wizard", href: "wizard.html" },
        ]

      each option in menuItems
        li.ch-nav-menu-item(class={active: currentUrl === option.href})
          a(href=option.href)
            i(class= option.icon + " large icon")
            span(class="ch-nav-menu-item-label")= option.name

      -
        var pages = [
          { name: "Colaboradores", href: "employees.html" },
          { name: "Relatórios", href: "reports.html" },
          { name: "Filtros", href: "filters.html" },
          { name: "Detalhe", href: "detail.html" },
          { name: "Configurações", href: "settings.html" },
          { name: "Mapa", href: "map.html" },
        ]

      li.ch-nav-menu-item.ch-dropdown(class={active: currentUrl === 'pages.html'})
        a.ch-dropdown-hover(href="dashboard.html")
          i.puzzle.large.icon
          span.ch-nav-menu-item-label Páginas
        .ch-dropdown-content
          ul.ch-dropdown-menu
            each page in pages
              li.ch-dropdown-menu-item
                a(href=page.href)=page.name

      li.ch-nav-menu-item.show-menu
        a(href="#")
          i.ellipsis.large.horizontal.icon

    .ch-nav-menu--secondary
      .ch-nav-menu-item.mobile-only.ch-dropdown
        a.ch-dropdown-hover(href="#")
          i.university.large.icon
          span.ch-nav-menu-item-label Trocar Conta

        .ch-dropdown-content
          ul.ch-dropdown-menu
            each account in ["Conta 1", "Conta 2", "Conta 3"]
              li.ch-dropdown-menu-item
                a(href="#")= account

      .ch-nav-menu-item
        a(href="#")
          i.large.help.circle.outline.icon
          span.ch-nav-menu-item-label Ajuda

    .close-menu
      i.large.close.icon
