.ch-dialog(data-modal="notifications" tabindex="0")
  .ch-overlay
    .ch-dialog-container
      .ch-dialog-header
        .content
          .title #[strong 4] Notificações
          a(href="#").mark-as-read Marcar todas como lidas
        .actions
          button.btn-close-dialog(type="button")
            i.fal.fa-times

      .ch-dialog-content
        .ui.divided.items

          .item.ch-dialog-message.new.unread
            .content
              a.header
                img.ui.avatar.image.symbol(src="http://i.pravatar.cc/50?img=2")
                span Joel Simmons
              .description
                p.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ullam iure, exercitationem omnis magni
              small.time 20 de agosto de 2017 às 21:30

          -
            var notifications = [
              { name: "Myfinance", backgroundColor: "00E2F6", color: "00E2F6", unread: true },
              { name: "Billimatic", backgroundColor: "D0021B", color: "D0021B", unread: true },
              { name: "Siinco", backgroundColor: "B1C5CF", color: "B1C5CF", unread: true },
              { name: "Siinco", backgroundColor: "B1C5CF", color: "B1C5CF" }
            ];

          each notification in notifications
            .item.ch-dialog-message(class={unread: notification.unread})
              .content
                a.header
                  img.ui.avatar.image.symbol(src="https://ui-avatars.com/api/?background=" + notification.backgroundColor + "&color=" + notification.color)
                  span= notification.name
                .description
                  p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, totam.
                small.time 20 de agosto de 2017 às 21:30
