.ch-dialog(data-modal="notifications" tabindex="0")
  .ch-overlay
    .ch-dialog-container
      .ch-dialog-header Notificações
        span.close-dialog
          i.close.icon

      .ch-dialog-content
        .ui.divided.items

          .item.ch-dialog-message.unread
            a.ui.image
              img(src="http://via.placeholder.com/30x30")
            .content
              a.header Lorem Ipsum
              .description
                p.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ullam iure, exercitationem omnis magni
              small.time 20 de agosto de 2017 às 21:30

          - for (var i=0; i<5; i++)
            .item.ch-dialog-message
              a.ui.image
                img(src="http://via.placeholder.com/30x30")

              .content
                a.header Lorem Ipsum
                .description
                  p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, totam.
                small.time 20 de agosto de 2017 às 21:30

  .action-dialog Ver tudo
