.ch-search(tabindex="0")
  .ch-overlay
    .ch-search-content
      .ch-search-input-group
        .ch-search-form(data-message="ESC para sair")
          input.ch-search-form-input(type="text" placeholder="Ex Nexaas")
          span.ch-search-form-icon.computer-only
            i.search.large.icon
          button.ch-search-form-icon.btn-close
            i.close.icon

      .ch-search-results
        span.ch-search-results-count 15 resultados encontrados em 4 categorias
