// sass-lint:disable no-important

@import '../space';
@import '../box-model';

@mixin ch-menu-horizontal {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;

  overflow-x: auto;

  > .ch-menu-item:not(.ch-menu-item--icon),
  > .ch-menu-submenu {
    width: auto;
  }

  > .ch-menu-item:not(.ch-menu-item--icon),
  > .ch-menu-submenu > .ch-menu-item:not(.ch-menu-item--icon) {
    @include ch-box-model(xs, stretch);
  }

  > .ch-menu-submenu {
    > .ch-menu,
    &.is-open > .ch-menu {
      display: none;
    }
  }

  > .is-active:before,
  > .ch-menu-submenu > .is-active:before {
    $empty: '';

    top: auto;
    bottom: ch-get-space(xxs);
    left: 50%;
    transform: translate(-50%, 0);

    content: $empty !important;
    width: calc(100% - 2 * #{ch-get-space(m)});
    min-width: #{ch-get-icon-size(m)};
    height: #{ch-get-space(xxs)};
  }
}