// sass-lint:disable no-important

@mixin ch-menu-horizontal {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;

  overflow-x: auto;

  > .ch-menu-item:not(.ch-menu-item--icon),
  > .ch-menu-submenu {
    width: auto;
  }

  > .ch-menu-item:not(.ch-menu-item--icon),
  > .ch-menu-submenu > .ch-menu-item:not(.ch-menu-item--icon) {
    // @include ch-box-model(xs, stretch);
    white-space: nowrap;
  }

  > .ch-menu-submenu {
    > .ch-menu,
    &.is-open > .ch-menu {
      display: none;
    }
  }

  > .ch-menu-item.is-active:before,
  > .ch-menu-submenu > .ch-menu-item.is-active:before {
    top: auto;
    bottom: ch-get-space(xxs);
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 1;

    width: calc(100% - 2 * #{ch-get-space(xs)});
    min-width: #{ch-get-icon-size(m)};
    height: #{ch-get-space(xxs)};
  }

  > .ch-menu-item.ch-menu-item--icon.is-active:before,
  > .ch-menu-submenu > .ch-menu-item.ch-menu-item--icon.is-active:before {
    width: #{ch-get-icon-size(m)};
  }
}
