// sass-lint:disable no-important

@import '../helpers';

%ch-menu-item-icon {
  $size: ch-calc-box-height();

  position: relative;

  padding: 0;
  width: #{$size};
  min-height: #{$size};

  > * {
    display: none;
  }

  > .ch-icon:first-child,
  > .ch-avatar,
  > .ch-more-icon {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
