.ch-segmentedControl {
  $support-colors: (brand, primary, negative);

  // 1. Base

  @include ch-border(box, ch-get-color(default));
  @include ch-border-radius;

  display: inline-block;

  // 2. Options

  &-option {
    cursor: pointer;

    &:not(:last-child) {
      @include ch-border(bottom, ch-get-color(default));
    }

    // 2.1. Input

    > input {
      position: absolute;
      visibility: hidden;
      z-index: -1;
    }

    // 2.2. Label

    > label {
      @include ch-space-inset(squish, s);

      display: block;

      color: ch-get-color(text, 2);
      font-weight: ch-get-text-weight(bold);
    
      &:hover:focus,
      &:hover,
      &:focus,
      &:active {
        color: ch-get-color(text, 1);
      }
    }

    // 2.3. Checked interaction

    > input:checked + label {
      color: ch-get-color(text, 1, inverse);
      background-color: ch-get-color(default);

      &:hover:focus,
      &:hover,
      &:focus {
        background-color: ch-get-color(default, focus);
      }

      &:active {
        background-color: ch-get-color(default, active);
      }
    }
  }

  // 2. Vertical variations

  @each $screen in $ch-breakpoint-screens {
    @include ch-media(from, $screen) {
      $suffix: ch-generate-variation((horizontal, $screen), (undefined, mobile));
      $path: #{&}#{&}#{$suffix};

      @at-root #{$path} {
        display: inline-flex;

        overflow-x: auto;
        max-width: 100%;

        // 2.1. Option

        > .ch-segmentedControl-option {
          flex: 1;

          white-space: nowrap;
          text-align: center;

          &:not(:last-child) {
            @include ch-border(right, ch-get-color(default));

            border-bottom: 0;
          }
        }

        // 2.1. Support variations

        @each $type in $support-colors {
          @at-root #{&}.ch-segmentedControl--#{$type} > .ch-segmentedControl-option {
            border-right-color: ch-get-color($type);
          }
        }
      } // @at-root #{$path}
    } // @include ch-media(from, $screen)
  } // @each $screen in $ch-breakpoint-screens

  // 3. Support variations

  @each $type in $support-colors {
    @at-root #{&}#{&}--#{$type} {
      &,
      & > .ch-segmentedControl-option {
        border-color: ch-get-color($type);
      }

      // 3.1. Option

      > .ch-segmentedControl-option {
        > input:not(:checked) + label {
          color: ch-get-color($type);

          &:hover:active,
          &:hover,
          &:focus {
            color: ch-get-color($type, focus);
          }

          &:active {
            color: ch-get-color($type, active);
          }
        }

        // 3.2. Checked interaction

        > input:checked + label {
          background-color: ch-get-color($type);

          &:hover:focus,
          &:hover,
          &:focus {
            background-color: ch-get-color($type, focus);
          }

          &:active {
            background-color: ch-get-color($type, active);
          }
        }
      } // > .ch-segmentedControl-option
    } // @at-root #{&}#{&}--#{$type}
  } // @each $type in $support-colors

  // 4. Small variation

  @at-root #{&}#{&}--small > #{&}-option > label {
    @include ch-space-inset(squish, xs);
  }
}
