header.ch-header
  .ch-breadcrumb
    .ch-breadcrumb-section
      a(href="#" title="NFSe") NFSe

    span.divider /

    .ch-breadcrumb-section.active
      a(href="#" title="Detalhamento de Nota at1-615") Detalhamento de Nota at1-615


  include ../headerNav.pug
