.ch-input,
.ch-textarea,
.ch-file {

  // 1. Base

  @include ch-input;

  // 2. Fluid variation

  &--fluid {
    width: 100%;
  }

  // 3. Small variation

  &--small {
    $inset-type: squish;
    $size: xs;
    $border-rule: box;
    $border-color: ch-get-color(border);

    @include ch-space-inset($inset-type, $size);
    @include ch-border($border-rule, $border-color);
  }

  // 4. Negative variation

  &--negative {
    border-color: #{ch-get-color(negative)};

    // 4.1. Focus interaction

    &:hover:focus,
    &:hover,
    &:focus {
      border-color: #{ch-get-color(negative, focus)};
    }

    // 4.2. Active interaction

    &:active {
      border-color: #{ch-get-color(negative, active)};
    }
  }
}
