@import '../../abstracts/input';

.ch-input, .ch-textarea {
  @extend %ch-input;

  &--fluid {
    width: 100%;
  }

  @each $type in (negative, positive) {
    &--#{$type} {
      border-color: #{ch-get-color($type)};

      &:active {
        border-color: #{ch-get-color($type, active)};
      }

      &:focus {
        border-color: #{ch-get-color($type, focus)};
      }
    }
  }
}
