@use '../../foundation/spaces' as spaces;
@use '../../foundation/depth' as depth;
@use '../../foundation/utils' as utils;
@use '../../foundation/thypography' as thypography;
@use '../../foundation/colors' as colors;
@use '../../foundation/borders' as borders;
@use '../icon' as icon;
@use 'mixins' as *;

input.ch-input,
input.ch-file,
textarea.ch-textarea {
  // 1. Base

  @include wrapper(s);

   // 2. Small variation

  &--small {
    @include wrapper(xs);
  }

  // 3. Negative variation

  &--negative {
    @include negative;
  }
}

.ch-input,
.ch-file {
  // 1. Base

  &:not(input) > input {
    @include wrapper(s);
  }

  // 2. Negative variation

  &--negative:not(input) > input {
    @include negative;
  }

  // 3. Icons variation

  &.has-leadingIcon,
  &.has-trailingIcon {
    @include spaces.paddingless($important: true);

    position: relative;

    > .ch-icon,
    > .ch-spinner {
      z-index: depth.get-z-index(1);
    }

    > .ch-icon {
      font-size: icon.get-icon-size(s);
    }
  }

  &.has-leadingIcon {
    > input {
      @include icon.has-icon(
        leading,
        utils.calc-box-height(
          thypography.get-font-size(2),
          spaces.get-space(xs),
          spaces.get-space(xs)
        )
      );
    }
  }

  &.has-trailingIcon {
    > input {
      @include icon.has-icon(
        trailing,
        utils.calc-box-height(
          thypography.get-font-size(2),
          spaces.get-space(xs),
          spaces.get-space(xs)
        )
      );
    }
  }

  // 4. Small variation

  &--small {
    &:not(input) > input {
      @include wrapper(xs);
    }

    // 4.1 Icons variation

    &.has-leadingIcon,
    &.has-trailingIcon {
      > .ch-icon {
        font-size: icon.get-icon-size(xs);
      }

      > .ch-spinner {
        width: icon.get-icon-size(s);
        height: icon.get-icon-size(s);
      }
    }
  }

  // 5. Disabled and readonly state

  @at-root {
    .is-disabled .ch-input,
    .is-readonly .ch-input {
      background-color: colors.get-color(neutral, 2);
    }
  }
}

.ch-file {
  line-height: calc(100% + 2 * #{borders.$border-width});
}
