@use '../../foundation/utils' as utils;
@use '../../foundation/thypography' as thypography;
@use '../../foundation/spaces' as spaces;
@use '../../foundation/borders' as borders;

.ch-search {
  display: inline-block;
  position: relative;

  > .ch-input {
    width: 100%;

    &:not(.ch-input--small) {
      $box-height: utils.calc-box-height(
        thypography.get-font-size(2),
        spaces.get-space(xs),
        spaces.get-space(xs)
      );

      $padding-right: calc(#{$box-height} + 2 * #{borders.$border-width});
  
      padding-right: $padding-right;
    }

    &.ch-input--small {
      $box-height: utils.calc-box-height(
        thypography.get-font-size(2),
        spaces.get-space(xxs),
        spaces.get-space(xxs)
      );

      $padding-right: calc(#{$box-height} + 2 * #{borders.$border-width});

      padding-right: $padding-right;
    }
  }

  > .ch-button--icon {
    position: absolute;
    top: 0;
    right: 0;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
