.ch-search {
  display: inline-block;
  position: relative;

  > .ch-input {
    width: 100%;

    &:not(.ch-input--small) {
      $box-height: ch-calc-box-height(ch-get-text-size(2), ch-get-space(xs));
      $padding-right: calc(#{$box-height} + 2 * #{$ch-border-width});
  
      padding-right: $padding-right;
    }

    &.ch-input--small {
      $box-height: ch-calc-box-height(ch-get-text-size(2), ch-get-space(xxs));
      $padding-right: calc(#{$box-height} + 2 * #{$ch-border-width});
  
      padding-right: $padding-right;
    }
  }

  > .ch-button--icon {
    position: absolute;
    top: 0;
    right: 0;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
