script(type="text/javascript" src="assets/js/jquery-3.2.1.min.js")
script(type="text/javascript" src="assets/js/semantic.min.js")
script(type="text/javascript" src="assets/plugins/calendar/calendar.min.js")
script(type="text/javascript" src="assets/plugins/nouislider/nouislider.min.js")
script(type="text/javascript" src="assets/js/app.js")
