script(type="text/javascript" src="assets/js/jquery-3.2.1.min.js")
script(type="text/javascript" src="assets/js/semantic.min.js")
script(type="text/javascript" src="https://code.highcharts.com/highcharts.js")
script(type="text/javascript" src="assets/js/app.js")
script(type="text/javascript" src="assets/js/init.js")
