header.ch-header
  .ch-breadcrumb
    .ch-breadcrumb-section
      a.dropdown-toggle(href="#") Nome da organização
      .ch-dropdown.bottom.left(tabindex="-1")
        ul.ch-dropdown-menu
          -
            var entities = ["Organização 1", "Organização 2", "Organização 3"]
          each entity in entities
            li.ch-dropdown-menu-item
              a(href="#")=entity

    i.right.chevron.icon.divider

    .ch-breadcrumb-section.active
      a.dropdown-toggle(href="#") Painel Principal
      .ch-dropdown.bottom.left(tabindex="-1")
        ul.ch-dropdown-menu
          -
            var contexts = ["Painel de exemplo", "Painel Modelo 1", "Painel Modelo 2"]
          each context in contexts
            li.ch-dropdown-menu-item
              a(href="#")=context

  .ch-header-nav
    a.ch-header-nav-buttons.btn-search(href="#")
      i.search.large.icon

    a.ch-header-nav-buttons.btn-modal(href="#" data-modal="notifications")
      i.ch-notification-label.bell.outline.large.icon

    .ch-dropdown-container.computer-only
      a.ch-header-nav-buttons.dropdown-toggle(href="#")
        span.avatar CH

      .ch-dropdown.bottom.right(tabindex="-1")
        span.ch-dropdown-header Contas
        ul.ch-dropdown-menu
          -
            var accounts = ["Conta Nexaas 1", "Conta Nexaas 2", "Conta Nexaas 3"]
          each account in accounts
            li(class="ch-dropdown-menu-item")
              a(href="#")= account
