mixin nav(activeUrl)
  nav.ch-nav

    a.ch-logo(href="index.html")
      img(src="assets/img/chameleon-logo.png")
      span.text Chameleon

    ul.ch-menu
      //- li.ch-menu-item(class={active: currentUrl === 'index.html'})
      //-   a.dropdown-hover(href="index.html")
      //-     i.dashboard.large.icon
      //-     span.ch-menu-label Painel
      //-   .ch-dropdown
      //-     ul.ch-dropdown-menu
      //-       li.ch-dropdown-menu-item
      //-         a(href="index.html") Painel Principal
      //-       each option in ["Painel de Exemplo", "Painel Modelo 1", "Painel Modelo 2"]
      //-         li.ch-dropdown-menu-item
      //-           a(href="index.html")=option
      -
        var currentUrl = activeUrl
        var menuItems = [
          { name: "Painel", icon: "dashboard", href: "index.html" },
          { name: "Formulários", icon: "clipboard", href: "form.html" },
          { name: "Colaboradores", icon: "user", href: "employees.html" },
          { name: "Relatórios", icon: "browser", href: "reports.html" },
          { name: "Mapas", icon: "marker", href: "map.html" },
        ]

      each option in menuItems
        li.ch-menu-item(class={active: currentUrl === option.href})
          a(href=option.href)
            i(class= option.icon + " large icon")
            span(class="ch-menu-label")= option.name

      li.ch-menu-item.btn-show-menu
        a(href="#")
          i.ellipsis.large.horizontal.icon

    .ch-menu--helpers
      .ch-menu-item.mobile-only
        a.dropdown-hover(href="#")
          i.university.large.icon
          span.ch-menu-label Trocar Conta

        .ch-dropdown
          ul.ch-dropdown-menu
            each account in ["Conta 1", "Conta 2", "Conta 3"]
              li.ch-dropdown-menu-item
                a(href="#")= account

      .ch-menu-item
        a(href="#")
          i.large.help.circle.outline.icon
          span.ch-menu-label Ajuda

    .btn-close-menu
      i.large.close.icon
