@use '../../foundation/breakpoints' as breakpoints;
@use '../../foundation/utils' as utils;
@use 'mixins' as *;
@use 'variables' as *;

.ch-grid {
  width: 100%;

  > * {
    @include grid-column(1);

    min-width: 0;
  }

  @each $screen in breakpoints.$screens {
    @include breakpoints.media (from, $screen) {
      $columns-number: map-get($columns-number, $screen);
      $gutter: map-get($columns-gutter, $screen);

      @at-root & {
        @include grid($columns-number, $gutter);
      }

      @for $i from 1 through $columns-number {
        $suffix: utils.generate-variation(($i, $screen), (undefined, mobile));
        $path: #{&}#{&}#{$suffix};

        @at-root #{$path} {
          @include grid($i, $gutter);
        }

        $column-suffix: utils.generate-variation(($i, $screen), (1, mobile));
        $start-suffix: utils.generate-variation((start#{$i}, $screen), (undefined, mobile));

        > #{&}-column#{$column-suffix} {
          @include grid-column($i);
        }

        > #{&}-column#{$start-suffix} {
          grid-column-start: $i;
        }
      } // @for $i from 1 through $columns-number
    } // @include breakpoints.media(from, $screen)
  } // @each $screen in $ch-breakpoint-screens
}
