@use '../../foundation/breakpoints' as breakpoints;
@use '../../foundation/helpers' as helpers;
@use 'mixins' as *;
@use 'variables' as *;

.ch-grid {
  width: 100%;

  > * {
    @include column(1);

    min-width: 0;
  }

  @each $screen in breakpoints.$screens {
    @include breakpoints.media(from, $screen) {
      $column: map-get($columns-number, $screen);
      $gutter: map-get($columns-gutter, $screen);

      @at-root & {
        @include wrapper($column, $gutter);
      }

      @for $i from 1 through $column {
        $suffix: helpers.generate-variation(($i, $screen), (undefined, mobile));
        $path: #{&}#{&}#{$suffix};

        @at-root #{$path} {
          @include wrapper($i, $gutter);
        }

        $column-suffix: helpers.generate-variation(($i, $screen), (1, mobile));
        $start-suffix: helpers.generate-variation((start#{$i}, $screen), (undefined, mobile));

        > #{&}-column#{$column-suffix} {
          @include column($i);
        }

        > #{&}-column#{$start-suffix} {
          grid-column-start: $i;
        }
      } // @for $i from 1 through $columns-number
    } // @include breakpoints.media(from, $screen)
  } // @each $screen in breakpoints.$screens
}
