@use '../../foundation/spaces' as spaces;

@mixin wrapper ($columns-number, $gutter: spaces.get-space(m)) {
  display: grid;
  grid-template-columns: repeat(#{$columns-number}, 1fr);
  grid-column-gap: $gutter;
  grid-row-gap: $gutter;
}

@mixin column ($columns-number, $start: 0) {
  @if $start == 0 {
    grid-column-end: span #{$columns-number};
  }

  @else {
    grid-column-start: $start;
    grid-column-end: span #{$columns-number};
  }
}
