@use '../../foundation/spaces' as spaces;

$columns-number: (mobile: 4, tablet: 8, desktop: 12);

$columns-gutter: (
  mobile: spaces.get-space(m),
  tablet: spaces.get-space(m),
  desktop: spaces.get-space(l)
);
