// VARIABLES


// Nav
$mm_maxWidth: 300px
$mm_width: 0.5
$mm_backgroundColor: #DEDEDE
$mm_textColor: #4A4A4A
$mm_pageShadow: 0 0 7px rgba(0,0,0,0.4)
$mm_fontSize: 13px
$mm_subpanelOffset: 0%
$mm_borderColor: rgba(0,0,0,0.1)
$mm_highlightedBackgroundColor: rgba(0,0,0,0.1)
$mm_emphasizedBackgroundColor: $mm_highlightedBackgroundColor 
$mm_dimmedTextColor: rgba(0,0,0,0.1)