@import './variables';

@mixin ch-transition (
  $property,
  $duration: $ch-transition-duration-normal,
  $delay: $ch-transition-delay) {
  
  transition: {
    property: $property;
    duration: $duration;
    timing-function: $ch-transition-timing-function;
    delay: $delay;
  }
}
