@import '../../abstracts/card';
@import '../../abstracts/colors';

.ch-alert {

  // 1.1. Side bar

  @extend %ch-card-bar-left;

  $supports: (info, warning, positive, negative);

  // 1.2. Header

  #{&}-header {
    @extend %ch-card-header;
  }

  // 1.3. Content

  #{&}-content {
    @extend %ch-card-content;
  }


  // 3. Support variations

  @each $variation in $supports {
    &--#{$variation} {

      // 3.1. Side bar

      &:after {
        @include ch-card-bar-background(left, $variation);
      }

      // 3.2. Icon

      .ch-alert-header .ch-title[class*=has-icon] > .ch-icon {
        color: #{ch-get-color($variation)};
      }
    }
  }

  // 4. Inverse

  &--inverse {
    @extend %ch-card-inverse;

    // 4.1. Support variations

    @each $variation in $supports {
      @at-root #{&}.ch-alert--#{$variation} {

        // 4.1.1. Side bar

        &:after {
          @include ch-card-bar-background(left, ($variation, inverse));
        }

        // 4.1.2. Icon

        .ch-alert-header .ch-title[class*=has-icon] > .ch-icon {
          color: #{ch-get-color($variation, inverse)};
        }
      }
    }
  }
}
