.ch-tag {
  $height: calc(#{ch-get-text-size()} * #{ch-get-text-line-height()});

  // 1. Base

  @include ch-text-caption;
  @include ch-truncate;
  @include ch-border-radius(circle);

  display: inline-block;
  position: relative;

  text-transform: uppercase;
  text-align: center;
  height: $height;
  line-height: calc(#{$height} + 1px);
  vertical-align: middle;
  padding-right: ch-get-space(s);
  padding-left: ch-get-space(s);
  background-color: ch-get-color(neutral, 2);

  // 2. Close button

  &.has-close {
    padding-right: calc(#{ch-get-space(xxs)} + #{$height});

    > .ch-tag-close {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  > .ch-tag-close {
    @include ch-mask-icon($ch-icon-times);
    @include ch-border-radius(circle);

    cursor: pointer;
    width: $height;
    height: $height;
    mask-size: calc(#{$height} / 3);
    background-color: ch-get-color(text, 2);

    &:hover:focus,
    &:hover,
    &:focus,
    &:active {
      background-color: ch-get-color(text, 1);
    }
  }

  &.has-border {
    box-shadow: 0 0 0px 1px currentColor;
  }

  // 4. Support variations

  @each $variation in (info, warning, positive, negative) {
    &--#{$variation} {
      color: ch-get-color($variation);
      background-image: linear-gradient(90deg, rgba(#fff, 0.85), rgba(#fff, 0.85));
      background-color: ch-get-color($variation);


      // 4.1. Close button

      > .ch-tag-close {
        background-color: ch-get-color($variation);

        &:hover:focus,
        &:hover,
        &:focus,
        &:active {
          background-color: ch-get-color($variation, focus);
        }
      }
    }
  }
}
