@use '../../foundation/thypography' as thypography;
@use '../../foundation/spaces' as spaces;
@use '../../foundation/borders' as borders;
@use '../../foundation/colors' as colors;
@use '../icon' as icon;

.ch-tag {
  $height: calc(#{thypography.get-font-size()} * #{thypography.get-line-height()});

  // 1. Base

  @include thypography.caption;
  @include thypography.truncate;

  display: inline-block;
  position: relative;

  text-transform: uppercase;
  text-align: center;
  height: $height;
  line-height: calc(#{$height} + 1px);
  vertical-align: middle;
  padding-right: spaces.get-space(s);
  padding-left: spaces.get-space(s);

  // 2. Close button

  &.has-close {
    padding-right: calc(#{spaces.get-space(xxs)} + #{$height});

    > .ch-tag-close {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  > .ch-tag-close {
    @include icon.mask-icon(icon.$icon-times);
    @include borders.border-radius(circle);

    cursor: pointer;
    width: $height;
    height: $height;
    mask-size: calc(#{$height} / 3);
    background-color: colors.get-color(text, 2);

    &:hover:focus,
    &:hover,
    &:focus,
    &:active {
      background-color: colors.get-color(text, 1);
    }
  }

  // 3. Background

  &,
  &:after {
    @include borders.border-radius(circle);
  }

  &:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    content: '';
    width: 100%;
    height: 100%;
    background: #{colors.get-color(neutral, 2)};
  }

  // 4. Support variations

  @each $variation in (info, warning, positive, negative) {
    &--#{$variation} {
      color: colors.get-color($variation);

      // 4.1. Close button

      > .ch-tag-close {
        background-color: colors.get-color($variation);
    
        &:hover:focus,
        &:hover,
        &:focus,
        &:active {
          background-color: colors.get-color($variation, focus);
        }
      }

      // 4.2. Background

      &:after {
        opacity: 0.15;
        background: #{colors.get-color($variation)};
      }
    }
  }
}
