/* ==========================================================================
   HEADER
   ========================================================================== */
  
.header
  font-family: 'Lato', sans-serif
  -webkit-font-smoothing: antialiased
  font-weight: 300
  color: #fff
  line-height: 40px
  -moz-box-sizing: border-box
  box-sizing: border-box
  width: 100%
  height: 65px
  background: $color-primary

  .header-button-menu
    background: center center no-repeat transparent
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAOCAYAAAAi2ky3AAAAAXNSR0IArs4c6QAAACFJREFUKBVjYKASYPwPBNQwi4kahgxzM0YDm44RPIwDGwA/Iwv+wQBipwAAAABJRU5ErkJggg==)


    display: inline-block
    width: 40px
    height: 40px
    position: relative
    top: 13px
    left: 10px

  &.fixed
    position: fixed
    top: 0
    left: 0

  .breadcrumb-submenu
    display: none
    position: absolute
    background: #F5F5F5
    padding: 0.5em 0.3em 0.5em 0.3em
    margin: 0
    top: 34px
    left: -22px
    border-radius: 5px
    z-index: 999 
    -webkit-box-shadow: 0px 2px 10px #B1B1B1
    -moz-box-shadow:    0px 2px 10px #B1B1B1
    box-shadow:         0px 2px 10px #B1B1B1

    &:after
      content: ""
      position: absolute
      top: -9px
      left: 80px
      @include triangle(18px, #F5F5F5, up)

    ul
      margin: 0
      list-style: none

    li
      display: block
      padding: 5px
      white-space: nowrap
      font-size: em(11)
      font-weight: 400
      @include transition(all 0.10s ease-in-out)

      &:hover  
        background: #DEDEDE
        @include border-top-radius(5px)
        @include border-right-radius(5px)
        @include border-bottom-radius(5px)
        @include border-left-radius(5px)

    a
      color: $color-midnight-blue


i.fa
  font-size: 18px
  font-weight: 700
  color: white

.header-breadcrumb 
  text-align: left
  padding-top: 13px
  display: inline-block
  width: 85%
  @include margin(null null 10px 15px)

  i.fa-search
    padding: 0 15px

  i.fa-angle-right
    padding: 0 12px
    vertical-align: bottom
    line-height: 41px

  .header-breadcrumb-link
    color: white
    
li.header-breadcrumb-list
  list-style: none
  display: inline-block
  font-size: em(23)
  position: relative
  font-weight: 500

  &:hover
    text-decoration: underline

// Mobile
@include mobile-portrait
  .header-breadcrumb
    width: 78% 

  li.header-breadcrumb-list
    font-size: em(20)    
