/* ==========================================================================
   GENERAL
   ========================================================================== */
body
  background-color: #F0F0F0

.container
  +outer-container
  +padding(1rem 1rem 1em 1em)
  +margin(1.5rem null null null)
  +box-shadow(0, 2px, 5px, rgba(0, 0, 0, 0.25))
  background: $color-white
  min-height: 300px

  +medium-screens
    margin: 1.5rem 1rem

  +mobile-portrait
    margin: 1.5rem 1rem

.header_actions
  background: #ffffff
  padding: 0
  +box-shadow(0, 2px, 5px, rgba(0, 0, 0, 0.25))

  &-content
    +outer-container
    line-height: 4rem

  &-title
    +span-columns(12)
    margin: 0
    font-weight: 400
    font-size: rem(20)
    color: #7F7F7F

    +medium-screens
      +span-columns(24)
      margin: 0 0.5rem

    +mobile-portrait
      +span-columns(24)
      margin: 0 0.5rem





