/* ==========================================================================
   GENERAL
   ========================================================================== */
body
  background-color: #F0F0F0

.container
  +outer-container
  +padding(0 1em null 1em)
  +margin(1.5em null null null)
  +box-shadow(0, 2px, 5px, rgba(0, 0, 0, 0.25))
  background: $color-white
  min-height: 300px