<!doctype html>
<html>
  <head>
    <title>Chameleon - Media</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Roboto+Mono:400,700|Roboto:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../dist/css/chameleon.css">
  </head>
  <body>

    <div class="ch-template">

      <!-- CONTENT BEGIN -->
      <div class="ch-template-content ch-spaceStackGroup">

        <div class="ch-media">
          <i class="ch-media-icon ch-icon ch-icon--xl fal fa-info-circle"></i>

          <h4 class="ch-media-content ch-title ch-title--4">
            Lorem ipsum dolor
            <div class="ch-title-sub">Phasellus vel erat ac</div>
          </h4>

          <div class="ch-media-actions">
            <button class="ch-button ch-button--ghost ch-button--icon">
              <i class="ch-icon fal fa-ellipsis-v-alt"></i>
            </button>
          </div>
        </div>

        <div class="ch-media ch-media--stacked">
          <h4 class="ch-media-content ch-title ch-title--4">
            Lorem ipsum dolor sit
            <div class="ch-title-sub">Phasellus gravida vel erat ac rhoncus</div>
          </h4>

          <div class="ch-media-actions">
            <input type="text" placeholder="Search..." class="ch-input" />
            <button class="ch-button ch-button--primary">Primary</button>
          </div>
        </div>

      </div>
      <!-- CONTENT END -->

    </div>
  </body>
</html>
