<!doctype html>
<html>
  <head>
    <title>Chameleon - Table responsive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../dist/css/chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content">

        <div class="ch-tableResponsive has-leading has-actions">
          <div class="ch-tableResponsive-scroll">

            <table class="ch-table">
              <thead>
                <tr>
                  <th class="ch-table-cell--leading">
                    <div class='ch-checkbox'><input type='checkbox'><label></label></div>
                  </th>
                  <th>Status</th>
                  <th>Signal name</th>
                  <th>Severity</th>
                  <th>Stage</th>
                  <th class="ch-text--right">Schedule</th>
                  <th>Lead</th>
                  <th class="ch-table-cell--actions"></th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td class="ch-table-cell--leading">
                    <div class='ch-checkbox'><input type='checkbox'><label></label></div>
                  </td>
                  <td>Online</td>
                  <td>Astrid: NE shered maneged-features</td>
                  <td class="ch-table-cell--compact"><span class="ch-tag ch-tag--warning">Medium</span></td>
                  <td>Triaged</td>
                  <td class="ch-text--right">0:33</td>
                  <td>Chase Nguyen</td>
                  <td class="ch-table-cell--actions">
                    <button type="button" class="ch-button ch-button--small ch-button--icon ch-button--ghost">
                      <i class="ch-icon fal fa-ellipsis-v-alt"></i>
                    </button>
                  </td>
                </tr>

                <tr>
                  <td class="ch-table-cell--leading">
                    <div class='ch-checkbox'><input type='checkbox'><label></label></div>
                  </td>
                  <td>Offline</td>
                  <td>Cosmo: prod shered ares-maneged</td>
                  <td class="ch-table-cell--compact"><span class="ch-tag ch-tag--negative">Huge</span></td>
                  <td>Triaged</td>
                  <td class="ch-text--right">0:39</td>
                  <td>Brie Furman</td>
                  <td class="ch-table-cell--actions">
                    <button type="button" class="ch-button ch-button--small ch-button--icon ch-button--ghost">
                      <i class="ch-icon fal fa-ellipsis-v-alt"></i>
                    </button>
                  </td>
                </tr>

                <tr>
                  <td class="ch-table-cell--leading">
                    <div class='ch-checkbox'><input type='checkbox'><label></label></div>
                  </td>
                  <td>Online</td>
                  <td>Phoenix: prod shered Lyra-maneged</td>
                  <td class="ch-table-cell--compact"><span class="ch-tag ch-tag--info">Minor</span></td>
                  <td>Not triaged</td>
                  <td class="ch-text--right">3:12</td>
                  <td>Jeremy Lake</td>
                  <td class="ch-table-cell--actions">
                    <button type="button" class="ch-button ch-button--small ch-button--icon ch-button--ghost">
                      <i class="ch-icon fal fa-ellipsis-v-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

      </main>
    </div>

  </body>
</html>
