<section class="header_actions">
  <div class="header_actions-content">
    <h1 class="header_actions-title">Botões</h1>
  </div>
</section>

<h1 class="title-float">Botões</h1>

<main class="container">
  <br>
  <button class="button">Padrão</button>
  <button class="button success">Sucesso</button>
  <button class="button secondary">Secundário</button>
  <button class="button alert">Alerta</button>
  <button class="button warning">Aviso</button>
  <button class="button disabled">Desabilitado</button>
  <br>
  <button class="button radius">Padrão</button>
  <button class="button success radius">Sucesso</button>
  <button class="button secondary radius">Secundário</button>
  <button class="button alert radius">Alerta</button>
  <button class="button warning radius">Aviso</button>
  <button class="button disabled radius">Desabilitado</button>
  <br>
  <button class="button rounded">Padrão</button>
  <button class="button success rounded">Sucesso</button>
  <button class="button secondary rounded">Secundário</button>
  <button class="button alert rounded">Alerta</button>
  <button class="button warning rounded">Aviso</button>
  <button class="button disabled rounded">Desabilitado</button>
  <br>
  <button class="button with-shadow">Padrão</button>
  <button class="button success with-shadow">Sucesso</button>
  <button class="button secondary with-shadow">Secundário</button>
  <button class="button alert with-shadow">Alerta</button>
  <button class="button warning with-shadow">Aviso</button>
  <button class="button disabled with-shadow">Desabilitado</button>
  <br>
  <button class="button hollow">Padrão</button>
  <button class="button success hollow">Sucesso</button>
  <button class="button secondary hollow">Secundário</button>
  <button class="button alert hollow">Alerta</button>
  <button class="button warning hollow">Aviso</button>
  <button class="button disabled hollow">Desabilitado</button>
  <br>
  <button class="button tiny">Minúsculo</button>
  <button class="button small">Pequeno</button>
  <button class="button">Normal</button>
  <button class="button large">Grande</button>
  <button class="button expanded">Expandido</button>
</main>d