<section class="header_actions">
  <div class="header_actions-content">
    <h1 class="header_actions-title">Componentes - Search</h1>
  </div>
</section>

<main class="container">
  <h2>Search</h2>
  <p>Modelos Search padrão</p>

  <input type="text" class="search" placeholder="search">
</main>