@import '../../abstracts/space';


// Progress Bars

@include ch-media(only, mobile) {

	// 1. Base
	.ch-progress-bars {
		background-color: ch-get-color(border);

		& > div {
			background-color: ch-get-color(primary);
			width: 50%;
			height: 2px;
		}
	}
}
