<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Nexaas - Chameleon</title>
    <link rel="stylesheet" href="../assets/stylesheets/css/semantic.min.css">
    <link rel="stylesheet" href="../assets/stylesheets/css/plugins/calendar/calendar.min.css">
    <link rel="stylesheet" href="../assets/stylesheets/css/plugins/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="../assets/stylesheets/css/chameleon.min.css">
  </head>
  <body>
    <div class="ch-login-container">
      <div class="ch-login-content">
        <div class="ch-login-header"><img class="logo-product" src="../assets/images/chameleon_logo.png"><img class="logo-nexaas" src="../assets/images/nexaas_logo.png"><span class="text">Chameleon</span></div>
        <div class="ch-login-form">
          <form class="ui form" action="layouts/dashboard.html">
            <div class="ui header medium">Acesse com seu Nexaas ID</div>
            <div class="field">
              <input type="text" placeholder="E-mail">
            </div>
            <div class="field">
              <input type="password" placeholder="Senha">
            </div>
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox">
                <label>Eu utilizo a verificação em duas etapas</label>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox">
                <label>Mantenha-me conectado</label>
              </div>
            </div>
            <div class="ui divider hidden"></div>
            <input class="ui fluid button" type="submit" value="Entrar">
          </form>
        </div>
        <div class="ch-login-footer"><a href="#">Esqueci minha senha</a></div>
      </div>
    </div>
  </body>
</html>