@use '../../foundation/spaces' as spaces;
@use '../../foundation/depth' as depth;
@use '../../foundation/colors' as colors;
@use 'mixins' as *;

$render: true !default;

@if $render {

.ch-card {
  // 1. Base

  @include wrapper;

  // 2. Header

  &-header {
    @include header;
  }

  // 3. Content

  &-content {
    @include content;
  }

  // 4. Paddingless composition

  &.ch-paddingless {
    > .ch-card-header,
    > .ch-card-content,
    > .ch-card-footer {
      padding-right: spaces.get-space(m);
      padding-left: spaces.get-space(m);

      &:only-child {
        padding-top: spaces.get-space(m);
        padding-bottom: spaces.get-space(m);
      }

      &:last-child {
        padding-bottom: spaces.get-space(m);
      }

      &:first-child {
        padding-top: spaces.get-space(m);
      }
    }

    > * + .ch-card-footer {
      padding-top: spaces.get-space(m);
    }
  }

  // 5. Interactive variation

  &--interactive {
    @include depth.shadow(2);

    cursor: pointer;

    &:focus:hover,
    &:hover,
    &:focus {
      @include depth.shadow(3);
    }
  }

  // 6. Active state

  &.is-active {
    border-color: colors.get-color(primary);
  }
}

}
