@import '../../abstracts/box-model';
@import '../../abstracts/colors';
@import '../../abstracts/border';
@import '../../abstracts/space';
@import '../../abstracts/layers';

.ch-card {
  @include ch-box-model(m, default, box, ch-get-color(border));
  @include ch-border-radius(2);

  &-header:not(:last-child) {
    @include ch-space-stack;
  }

  &-content {
    * + &:not(:last-child) {
      @include ch-space-stack;
    }
  }

  &.ch-paddingless {
    > .ch-card-header,
    > .ch-card-content,
    > .ch-card-footer {
      padding-right: ch-get-space(m);
      padding-left: ch-get-space(m);

      &:only-child {
        padding-top: ch-get-space(m);
        padding-bottom: ch-get-space(m);
      }

      &:last-child {
        padding-bottom: ch-get-space(m);
      }

      &:first-child {
        padding-top: ch-get-space(m);
      }
    }
  }

  &--interactive {
    @include ch-shadow;
    cursor: pointer;

    &:focus,
    &:hover,
    &:focus:hover {
      @include ch-shadow(3);
    }
  }

  &.is-active {
    border-color: ch-get-color(primary);
  }
}
