doctype html
html
  include includes/head.pug

  body
    +nav('employees.html')

    .main-content
      include includes/header.pug

      .ch-content
        .ch-content-hgroup
          h2.ui.medium.header Alterar Colaborador
            .sub.header Utilize o passa a passo para alterar as informações do colaborador

          ol.ch-horizontal-steps
            li.ch-step.active
              .ch-step-number 1
              .ch-step-label Informações Pessoais
            li.ch-step
              .ch-step-number 2
              .ch-step-label Informações de Endereço
            li.ch-step
              .ch-step-number 3
              .ch-step-label Foto de Perfil
            li.ch-step
              .ch-step-number 4
              .ch-step-label Final

        .ui.stackable.padded.grid.centered
          .row
            .sixteen.wide.column

    include includes/notifications.pug
    include includes/search.pug
    include includes/foot.pug
    script(type="text/javascript").
      $('.js-new-billet').on('click', function() {
        $('.long.modal').modal('show');
        $(this).removeClass('.active.selected');
      });
