-
  var items = [
    { title: 'Lorem Ipsum', content: "Lorem ipsum dolor sit amet, ex rebum scripta nonumes his, vix no nihil impetus philosophia. Voluptatum eloquentiam usu cu."},
    { title: 'Pri facilisis', content: "Pri facilisis dissentias ei, usu no quodsi nonumes, eos quaestio interesset ad. Mel at saperet expetenda necessitatibus."},
    { title: 'Quo an simul prompta', content: "Quo an simul prompta, per illud homero albucius no. Sed vocent vulputate ei. Quod laudem ne vim, quem inermis legendos ne sit."},
    { title: 'Tempor verear', content: "Mel cu malis tempor verear, soleat aliquip nostrum his ne. Ea mucius saperet principes usu, cu vix luptatum convenire, cu cum error tamquam."},
    { title: 'Sea quis nonumes', content: "Sea quis nonumes fastidii cu. No sea alii maluisset consectetuer, ut dicant causae duo. Te dicat equidem dolorem mea."},
  ];

doctype html
html
  include includes/head.pug

  body
    +nav('pages.html')

    .main-content
      include includes/header.pug

      .ch-content
        #map

        .ch-timeline-container
          .ui.header Atividades Recentes
          ul.ch-timeline
            li.date
              .ui.label.
                23 Jan 18
            each item in items
              li.event
                .content
                  .ui.header.tiny=item.title
                  p=item.content

            li.date
              .ui.label.
                24 Jan 18


    include includes/notifications.pug
    include includes/search.pug
    include includes/foot.pug
    script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlHYJLboGs7xpvK0it2w4S8SjqLMUvZWs&callback=initMap"
    async defer)
    script(type="text/javascript").
      function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -22.8048372, lng: -43.2458182},
          scrollwheel: false,
          zoom: 12,
          mapTypeControl: false,
        });
      }
