doctype html
html
  include includes/head.pug

  body
    +nav('reports.html')

    .main-content
      include includes/header.pug

      .ch-content
        .ch-content-hgroup.colored
          h2.ui.medium.header Relatórios
            .sub.header Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos.

        .ui.pointing.secondary.menu.ch-header-tabs
          a.item(data-tab="rs") Relatório Simples
          a.item(data-tab="rd") Relatório Dinâmico
          a.item.active(data-tab="mr") Modelos de Relatório
        br
        .ui.stackable.padded.grid
          .row
            .sixteen.wide.column
              .ui.tab(data-tab="rs").
                Relatório Simples
              .ui.bottom.tab(data-tab="rd")
                .ui.stackable.padded.grid
                  .row
                    .thirteen.wide.column
                      .ch-wizard-container
                        form.ui.form
                          ol.ch-vertical-wizard
                            li.ch-step.current
                              .step-header
                                h4.ui.medium.header Selecione o agrupador
                                  .sub.header Agrupadores servem para organizar a informação de uma forma mais eficiente.
                              .step-content
                                .inline.fields
                                  .field
                                    .ui.radio.checkbox.options
                                      input.hidden(type="radio" tabindex="0" name="agrupador" id="projects")
                                      label(for="projects") Projetos
                                  .field
                                    .ui.radio.checkbox.options
                                      input.hidden(type="radio" tabindex="0" name="agrupador" id="activities")
                                      label(for="activities") Atividades
                                  .field
                                    .ui.radio.checkbox.options
                                      input.hidden(type="radio" tabindex="0" name="agrupador" id="employees")
                                      label(for="employees") Colaboradores

                            li.ch-step
                              .step-header
                                h4.ui.medium.header Qual tipo ?
                                  .sub.header Defina o tipo do seu relatório.
                              .step-content
                                .inline.fields
                                  .field
                                    .ui.radio.checkbox.options
                                      input.hidden(type="radio" tabindex="0" name="tipo" id="synthetic")
                                      label(for="synthetic") Sintético
                                  .field
                                    .ui.radio.checkbox.options
                                      input.hidden(type="radio" tabindex="0" name="tipo" id="analytic")
                                      label(for="analytic") Analítico

                            li.ch-step
                              .step-header
                                h4.ui.medium.header Gostaria de mais opções ?
                                  .sub.header Quer um relatório mais completo? Adicione gráfico e estatísticas para uma apresentação incrível!
                              .step-content
                                .inline.fields
                                  .field
                                    .ui.checkbox.options
                                      input.hidden(type="checkbox" tabindex="0" name="add-graphs" id="add-graphs")
                                      label(for="add-graphs") Adicionar Gráfico
                                  .field
                                    .ui.checkbox.options
                                      input.hidden(type="checkbox" tabindex="0" name="add-stats" id="add-stats")
                                      label(for="add-stats") Adicionar Estatísticas

                            li.ch-step
                              .step-header
                                h4.ui.medium.header Gostaria de mais opções ?
                                  .sub.header Quer um relatório mais completo? Adicione gráfico e estatísticas para uma apresentação incrível!
                              .step-content
                                .inline.fields
                                  .field
                                    .ui.radio.checkbox.options
                                      input.hidden(type="radio" tabindex="0" name="filters" id="filter-yes")
                                      label Sim
                                  .field
                                    .ui.radio.checkbox.options
                                      input.hidden(type="radio" tabindex="0" name="filters" id="filter-no")
                                      label Não

                    .three.wide.column
                      .ch-rail.report-resume
                        .ui.segments
                          .ui.segment.attached.ch-segment-header.center.aligned
                            div.ui.header.small Pré-Visualização do relatório
                          .ui.segment.padded.attached.center.aligned
                            .preview-report
                              .header Relatório
                              .content
                            p.
                              Após concluir os passos, clique em "Gerar relatório" para visualizar a versão final.
                            input.ui.button.blue(type="submit" value="Criar Relatório")

              .ui.tab.active(data-tab="mr")
                .ui.segments
                  .ui.attached.segment.ch-segment-header
                    .ui.title Modelos de Relatório
                    a(href="#").ch-filters
                      i.filter.icon
                      span.text Filtros
                  .ui.attached.segment.paddingless
                    table.ui.very.basic.table
                      - for (var i=0; i<5; i++)
                        tr
                          td
                            h4.ui.header Relatório sintético agrupado por Projetos
                              .sub.header Com #[strong #[a(class="bind-popup" data-position="right center" href="#" data-html="<div class='ui small label'>Ocorrido em: 01/03/2017 á 10/04/2017</div><div class='ui small label'>Contém comentários</div><div class='ui small label'>Contém etiquetas</div>") 3] ]filtros selecionados

                          td.right.aligned Criado em: 27/12/2017 14:39:54
                          td.right.aligned.ch-table-buttons
                            button.ui.icon.button(data-tooltip="Editar" data-inverted)
                              i.edit.icon
                            button.ui.icon.button(data-tooltip="Gerar Relatório" data-inverted)
                              i.file.text.icon
                            button.ui.icon.button(data-tooltip="Excluir" data-inverted)
                              i.remove.icon

    include includes/notifications.pug
    include includes/search.pug
    include includes/foot.pug
