doctype html
html
  include includes/head.pug

  body
    +nav('pages.html')

    .main-content
      include includes/header.pug

      .ch-content
        .ch-content-hgroup
          h2.ui.medium.header Configurações

        .ui.stackable.padded.grid
          .row
            .sixteen.wide.column
              .ui.top.attached.tabular.menu
                a.item.active(data-tab="users") Usuários
                a.item(data-tab="plan") Assinatura

              .ui.bottom.attached.tab.segment.padded.active(data-tab="users").
                Usuários
              .ui.bottom.attached.tab.segment.padded(data-tab="plan").
                Assinatura

    include includes/filters.pug
    include includes/notifications.pug
    include includes/search.pug
    include includes/foot.pug
