li.ch-menu-item
  a(href="#")
    i(class= "fal fa-th-large fa-icon")
    span(class="ch-menu-item-label") Dashboard

li.ch-menu-item.ch-dropdown.active.open
  a.ch-dropdown-button(href="#")
    i.fal.fa-file-alt.fa-icon
    span.ch-menu-item-label Documentos
    .fal.fa-chevron-right.fa-icon.dropdown

  -
    var pages = [
      { name: "NF-e", href: "#" },
      { name: "NFSe", href: "#", active: true },
      { name: "NFC-e", href: "#" },
    ]

  .ch-dropdown-content
    ul.ch-dropdown-menu
      each page in pages
        li.ch-menu-item(class={active: page.active, disabled: page.disabled})
          a(href=page.href)=page.name

li.ch-menu-item.ch-dropdown
  a.ch-dropdown-button(href="#")
    i.fal.fa-clipboard-list.fa-icon
    span.ch-menu-item-label Cadastros
    .fal.fa-chevron-right.fa-icon.dropdown

  -
    var pages = [
      { name: "Organizações", href: "#" },
    ]

  .ch-dropdown-content
    ul.ch-dropdown-menu
      each page in pages
        li.ch-menu-item
          a(href=page.href)=page.name

li.ch-menu-item.ch-dropdown
  a.ch-dropdown-button(href="#")
    i.fal.fa-cogs.fa-icon
    span.ch-menu-item-label Configurações
    .fal.fa-chevron-right.fa-icon.dropdown

  -
    var pages = [
      { name: "Regras de tributação", href: "#" },
      { name: "Séries de notas fiscais", href: "#" },
    ]

  .ch-dropdown-content
    ul.ch-dropdown-menu
      each page in pages
        li.ch-menu-item
          a(href=page.href)=page.name

li.ch-menu-item
  a(href="#")
    i(class= "fal fa-users-cog fa-icon")
    span(class="ch-menu-item-label") Conta

