@import '../space';
@import './function-get-icon-size';

@function ch-get-icon-container-width ($icon-size: m, $with-space: true) {
  $vertical-padding: (2 * #{ch-get-space(m)});
  $icon-size: ch-get-icon-size($icon-size);
  $right-space: ch-get-space(xxs);

  @if $with-space {
    @return calc(#{$vertical-padding} + #{$icon-size} + #{$right-space});
  }

  @return calc(#{$vertical-padding} + #{$icon-size});
}
