// sass-lint:disable no-important

@mixin ch-has-icon ($type: left, $padding: ch-calc-box-height()) {
  position: relative;

  @if ($type == right) {
    padding-right: #{$padding} !important;

    > .ch-icon:last-child,
    > .ch-toggle-icon,
    > .ch-spinner:last-child {
      @include ch-is-trailing-icon;
    }
  }

  @else if ($type == left) {
    padding-left: #{$padding} !important;

    > .ch-icon:first-child,
    > .ch-toggle-icon,
    > .ch-spinner:first-child {
      @include ch-is-leading-icon;
    }
  }
}
