@mixin ch-mask-icon ($image, $option: 'complete') {
  mask-image: url(#{$image});
  -webkit-mask-image: url(#{$image});
  
  @if ($option != 'only-mask') {
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    background-color: #{ch-get-color(text, 2)};
  }
}
