.ui.menu {
  .item>i.fa-icon {
    float: none;
    margin: 0 .35714286em 0 0;
  }

  @media screen and (max-width: 480px) {
    &.pagination {
      .item {
        display: none;

        &:first-child, &:last-child {
          display: flex;
        }
      }
    }
  }
}
