.ui.segments {
  box-shadow: 0 3px 5px 0 rgba(#000,.1) !important;
  border-color: #dbdbdb !important;

  > .segment {
    border-color: #dbdbdb;
    border-radius: 0 !important;

    &:last-child {
      border-bottom: none;
    }

    &.borderless {
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
  }

  &.horizontal {
    display: flex;
    align-items: center;
    margin: 0;
    border-radius: 0;
  }
}

.ui.segment {
  border-radius: 0;
  box-shadow: 0 3px 5px 0 rgba(#000,.1);

  &.grow {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  &.borderless {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  &.paddingless {
    padding: 0;

    .ui.table td, .ui.table th {
      padding-top: 1.2em;
      padding-bottom: 1.2em;

      &:first-child {
        padding-left: 1.6em;
      }

      &:last-child {
        padding-right: 1.6em;
      }
    }
  }
}
