@import '../../abstracts/grid';

.ch-grid {
  @include ch-grid;

  @each $screen in $ch-breakpoint-screens {
    @include ch-media(from, $screen) {
      @for $i from 1 through $columns-number {
        $column-suffix: ch-generate-variation(($i, $screen), (1, mobile));
        $column-start-suffix: ch-generate-variation((start#{$i}, $screen), (undefined, mobile));

        > #{&}-column#{$column-suffix} {
          @include ch-grid-column($i);
        }

        > #{&}-column#{$column-start-suffix} {
          grid-column-start: $i;
        }
      }
    }
  }
}
