@import '../../abstracts/colors/';

:root {
  // 1. Brand

  --ch-color-brand-1:                  #{$ch-color-cyan-40};
  --ch-color-brand-1-focus:            #{ch-get-color-focus($ch-color-cyan-40)};
  --ch-color-brand-1-active:           #{ch-get-color-active($ch-color-cyan-40)};

  --ch-color-brand-2:                  #{$ch-color-grey-90};
  --ch-color-brand-2-focus:            #{ch-get-color-focus($ch-color-grey-90)};
  --ch-color-brand-2-active:           #{ch-get-color-active($ch-color-grey-90)};

  // 2. Neutral

  --ch-color-neutral-1:                #{$ch-color-grey-0};
  --ch-color-neutral-2:                #{lighten($ch-color-grey-10, 7%)};

  --ch-color-neutral-1-inverse:        #{$ch-color-navy-80};
  --ch-color-neutral-2-inverse:        #{lighten($ch-color-navy-80, 5%)};

  // 3. Support

  // 3.1. Primary

  --ch-color-primary:                  #{$ch-color-blue-50};
  --ch-color-primary-focus:            #{ch-get-color-focus($ch-color-blue-50)};
  --ch-color-primary-active:           #{ch-get-color-active($ch-color-blue-50)};

  --ch-color-primary-inverse:          #{$ch-color-blue-30};
  --ch-color-primary-focus-inverse:    #{ch-get-color-focus($ch-color-blue-30,  inverse)};
  --ch-color-primary-active-inverse:   #{ch-get-color-active($ch-color-blue-30, inverse)};

  // 3.2. Secondary

  --ch-color-secondary:                #{$ch-color-grey-50};
  --ch-color-secondary-focus:          #{ch-get-color-focus($ch-color-grey-50)};
  --ch-color-secondary-active:         #{ch-get-color-active($ch-color-grey-50)};

  --ch-color-secondary-inverse:        #{$ch-color-grey-30};
  --ch-color-secondary-focus-inverse:  #{ch-get-color-focus($ch-color-grey-30,  inverse)};
  --ch-color-secondary-active-inverse: #{ch-get-color-active($ch-color-grey-30, inverse)};

  // 3.3. Info

  --ch-color-info:                     #{$ch-color-cyan-50};
  --ch-color-info-focus:               #{ch-get-color-focus($ch-color-cyan-50)};
  --ch-color-info-active:              #{ch-get-color-active($ch-color-cyan-50)};

  --ch-color-info-inverse:             #{$ch-color-cyan-30};
  --ch-color-info-focus-inverse:       #{ch-get-color-focus($ch-color-cyan-30,  inverse)};
  --ch-color-info-active-inverse:      #{ch-get-color-active($ch-color-cyan-30, inverse)};

  // 3.4. Warning

  --ch-color-warning:                  #{$ch-color-yellow-50};
  --ch-color-warning-focus:            #{ch-get-color-focus($ch-color-yellow-50)};
  --ch-color-warning-active:           #{ch-get-color-active($ch-color-yellow-50)};

  --ch-color-warning-inverse:          #{$ch-color-yellow-30};
  --ch-color-warning-focus-inverse:    #{ch-get-color-focus($ch-color-yellow-30,  inverse)};
  --ch-color-warning-active-inverse:   #{ch-get-color-active($ch-color-yellow-30, inverse)};

  // 3.5. Negative

  --ch-color-negative:                 #{$ch-color-red-40};
  --ch-color-negative-focus:           #{ch-get-color-focus($ch-color-red-40)};
  --ch-color-negative-active:          #{ch-get-color-active($ch-color-red-40)};

  --ch-color-negative-inverse:         #{$ch-color-red-30};
  --ch-color-negative-focus-inverse:   #{ch-get-color-focus($ch-color-red-30,  inverse)};
  --ch-color-negative-active-inverse:  #{ch-get-color-active($ch-color-red-30, inverse)};

  // 3.5. Positive

  --ch-color-positive:                 #{$ch-color-green-50};
  --ch-color-positive-focus:           #{ch-get-color-focus($ch-color-green-50)};
  --ch-color-positive-active:          #{ch-get-color-active($ch-color-green-50)};

  --ch-color-positive-inverse:         #{$ch-color-green-40};
  --ch-color-positive-focus-inverse:   #{ch-get-color-focus($ch-color-green-40,  inverse)};
  --ch-color-positive-active-inverse:  #{ch-get-color-active($ch-color-green-40, inverse)};

  // 4. Text

  --ch-color-text-1:                   #{rgba($ch-color-grey-80, 0.9)};
  --ch-color-text-2:                   #{rgba($ch-color-grey-70, 0.8)};

  --ch-color-text-1-inverse:           #{$ch-color-grey-0};
  --ch-color-text-2-inverse:           #{rgba($ch-color-grey-0, 0.8)};

  // 4.1. Link

  --ch-color-text-link:                #{$ch-color-blue-30};
  --ch-color-text-link-focus:          #{ch-get-color-focus($ch-color-blue-30)};
  --ch-color-text-link-active:         #{ch-get-color-active($ch-color-blue-30)};

  --ch-color-text-link-inverse:        #{$ch-color-blue-30};
  --ch-color-text-link-focus-inverse:  #{ch-get-color-focus($ch-color-blue-30,  inverse)};
  --ch-color-text-link-active-inverse: #{ch-get-color-active($ch-color-blue-30, inverse)};

  // 5. Highlight

  --ch-color-highlight:                #{$ch-color-yellow-10};
  --ch-color-highlight-inverse:        #{$ch-color-yellow-60};

  // 6. Border

  --ch-color-border:                   #{$ch-color-grey-20};
  --ch-color-border-focus:             #{ch-get-color-focus($ch-color-grey-20)};
  --ch-color-border-active:            #{ch-get-color-active($ch-color-grey-20)};

  --ch-color-border-inverse:           #{$ch-color-grey-20};
  --ch-color-border-focus-inverse:     #{ch-get-color-focus($ch-color-grey-20,  inverse)};
  --ch-color-border-active-inverse:    #{ch-get-color-active($ch-color-grey-20, inverse)};
}
