:root {
  // 1. Brand

  --ch-color-brand:                    #{$ch-color-cyan};
  --ch-color-brand-focus:              #{$ch-color-cyan-dark};
  --ch-color-brand-active:             #{$ch-color-cyan-extra-dark};

  // 2. Neutral

  --ch-color-neutral-1:                #{$ch-color-white};
  --ch-color-neutral-2:                #{$ch-color-neutral-extra-light};

  // 3. Navy

  --ch-color-navy:                   #{$ch-color-navy-extra-dark};

  // 3. Support

  // 3.1. Default

  --ch-color-default:                  #{$ch-color-neutral};
  --ch-color-default-focus:            #{$ch-color-neutral-dark};
  --ch-color-default-active:           #{$ch-color-neutral-extra-dark};

  // 3.2. Primary

  --ch-color-primary:                  #{$ch-color-blue};
  --ch-color-primary-focus:            #{$ch-color-blue-dark};
  --ch-color-primary-active:           #{$ch-color-blue-extra-dark};

  // 3.4. Info

  --ch-color-info:                     #{$ch-color-cyan};
  --ch-color-info-focus:               #{$ch-color-cyan-dark};
  --ch-color-info-active:              #{$ch-color-cyan-extra-dark};

  // 3.5. Warning

  --ch-color-warning:                  #{$ch-color-yellow};
  --ch-color-warning-focus:            #{$ch-color-yellow-dark};
  --ch-color-warning-active:           #{$ch-color-yellow-extra-dark};

  // 3.6. Negative

  --ch-color-negative:                 #{$ch-color-red};
  --ch-color-negative-focus:           #{$ch-color-red-dark};
  --ch-color-negative-active:          #{$ch-color-red-extra-dark};

  // 3.7. Positive

  --ch-color-positive:                 #{$ch-color-green};
  --ch-color-positive-focus:           #{$ch-color-green-dark};
  --ch-color-positive-active:          #{$ch-color-green-extra-dark};

  // 4. Text

  --ch-color-text-1:                   #{$ch-color-neutral-extra-dark};
  --ch-color-text-2:                   #{$ch-color-neutral-dark};

  // 4.1. Link

  --ch-color-text-link:                #{$ch-color-blue};
  --ch-color-text-link-focus:          #{$ch-color-blue-light};
  --ch-color-text-link-active:         #{$ch-color-blue-light};

  // 5. Highlight

  --ch-color-highlight:                #{$ch-color-yellow-light};

  // 6. Border

  --ch-color-border:                   #{lighten($ch-color-neutral-light, 7%)};
  --ch-color-border-focus:             #{ch-get-color-focus($ch-color-neutral-light)};
  --ch-color-border-active:            #{ch-get-color-active($ch-color-neutral-light)};

  // 7. Menu

  --ch-color-menu-text-1:              #{$ch-color-navy-light};

  // 8. Overlay

  --ch-color-overlay:                  #{rgba($ch-color-black, 0.55)};
}
