@import '../../abstracts/colors/';

:root {
  // 1. Brand

  --ch-color-brand-1:                  #{$ch-color-cyan};
  --ch-color-brand-1-focus:            #{ch-get-color-focus($ch-color-cyan)};
  --ch-color-brand-1-active:           #{ch-get-color-active($ch-color-cyan)};

  --ch-color-brand-2:                  #{$ch-color-grey-extra-dark};
  --ch-color-brand-2-focus:            #{ch-get-color-focus($ch-color-grey-extra-dark)};
  --ch-color-brand-2-active:           #{ch-get-color-active($ch-color-grey-extra-dark)};

  // 2. Neutral

  --ch-color-neutral-1:                #{$ch-color-white};
  --ch-color-neutral-2:                #{lighten($ch-color-grey-extra-light, 7%)};

  --ch-color-neutral-1-inverse:        #{$ch-color-navy-extra-dark};
  --ch-color-neutral-2-inverse:        #{lighten($ch-color-navy-extra-dark, 5%)};

  // 3. Support

  // 3.1. Default

  --ch-color-default:                  #{$ch-color-grey};
  --ch-color-default-focus:            #{ch-get-color-focus($ch-color-grey)};
  --ch-color-default-active:           #{ch-get-color-active($ch-color-grey)};

  --ch-color-default-inverse:          #{$ch-color-grey-light};
  --ch-color-default-focus-inverse:    #{ch-get-color-focus($ch-color-grey-light,  inverse)};
  --ch-color-default-active-inverse:   #{ch-get-color-active($ch-color-grey-light, inverse)};

  // 3.2. Primary

  --ch-color-primary:                  #{$ch-color-blue};
  --ch-color-primary-focus:            #{ch-get-color-focus($ch-color-blue)};
  --ch-color-primary-active:           #{ch-get-color-active($ch-color-blue)};

  --ch-color-primary-inverse:          #{$ch-color-blue-light};
  --ch-color-primary-focus-inverse:    #{ch-get-color-focus($ch-color-blue-light,  inverse)};
  --ch-color-primary-active-inverse:   #{ch-get-color-active($ch-color-blue-light, inverse)};

  // 3.3. Secondary

  --ch-color-secondary:                #{$ch-color-grey};
  --ch-color-secondary-focus:          #{ch-get-color-focus($ch-color-grey)};
  --ch-color-secondary-active:         #{ch-get-color-active($ch-color-grey)};

  --ch-color-secondary-inverse:        #{$ch-color-grey-light};
  --ch-color-secondary-focus-inverse:  #{ch-get-color-focus($ch-color-grey-light,  inverse)};
  --ch-color-secondary-active-inverse: #{ch-get-color-active($ch-color-grey-light, inverse)};

  // 3.4. Info

  --ch-color-info:                     #{$ch-color-cyan};
  --ch-color-info-focus:               #{ch-get-color-focus($ch-color-cyan)};
  --ch-color-info-active:              #{ch-get-color-active($ch-color-cyan)};

  --ch-color-info-inverse:             #{$ch-color-cyan-light};
  --ch-color-info-focus-inverse:       #{ch-get-color-focus($ch-color-cyan-light,  inverse)};
  --ch-color-info-active-inverse:      #{ch-get-color-active($ch-color-cyan-light, inverse)};

  // 3.5. Warning

  --ch-color-warning:                  #{$ch-color-yellow};
  --ch-color-warning-focus:            #{ch-get-color-focus($ch-color-yellow)};
  --ch-color-warning-active:           #{ch-get-color-active($ch-color-yellow)};

  --ch-color-warning-inverse:          #{$ch-color-yellow-light};
  --ch-color-warning-focus-inverse:    #{ch-get-color-focus($ch-color-yellow-light,  inverse)};
  --ch-color-warning-active-inverse:   #{ch-get-color-active($ch-color-yellow-light, inverse)};

  // 3.6. Negative

  --ch-color-negative:                 #{$ch-color-red};
  --ch-color-negative-focus:           #{ch-get-color-focus($ch-color-red)};
  --ch-color-negative-active:          #{ch-get-color-active($ch-color-red)};

  --ch-color-negative-inverse:         #{$ch-color-red-light};
  --ch-color-negative-focus-inverse:   #{ch-get-color-focus($ch-color-red-light,  inverse)};
  --ch-color-negative-active-inverse:  #{ch-get-color-active($ch-color-red-light, inverse)};

  // 3.7. Positive

  --ch-color-positive:                 #{$ch-color-green};
  --ch-color-positive-focus:           #{ch-get-color-focus($ch-color-green)};
  --ch-color-positive-active:          #{ch-get-color-active($ch-color-green)};

  --ch-color-positive-inverse:         #{$ch-color-green-light};
  --ch-color-positive-focus-inverse:   #{ch-get-color-focus($ch-color-green-light,  inverse)};
  --ch-color-positive-active-inverse:  #{ch-get-color-active($ch-color-green-light, inverse)};

  // 4. Text

  --ch-color-text-1:                   #{$ch-color-grey-dark};
  --ch-color-text-2:                   #{$ch-color-grey};

  --ch-color-text-1-inverse:           #{$ch-color-white};
  --ch-color-text-2-inverse:           #{rgba($ch-color-white, 0.8)};

  // 4.1. Link

  --ch-color-text-link:                #{$ch-color-blue-light};
  --ch-color-text-link-focus:          #{ch-get-color-focus($ch-color-blue-light)};
  --ch-color-text-link-active:         #{ch-get-color-active($ch-color-blue-light)};

  --ch-color-text-link-inverse:        #{$ch-color-blue-light};
  --ch-color-text-link-focus-inverse:  #{ch-get-color-focus($ch-color-blue-light,  inverse)};
  --ch-color-text-link-active-inverse: #{ch-get-color-active($ch-color-blue-light, inverse)};

  // 5. Highlight

  --ch-color-highlight:                #{$ch-color-yellow-light};
  --ch-color-highlight-inverse:        #{$ch-color-yellow-dark};

  // 6. Border

  --ch-color-border:                   #{lighten($ch-color-navy-light, 5%)};
  --ch-color-border-focus:             #{ch-get-color-focus($ch-color-navy-light)};
  --ch-color-border-active:            #{ch-get-color-active($ch-color-navy-light)};

  --ch-color-border-inverse:           #{$ch-color-navy-light};
  --ch-color-border-focus-inverse:     #{ch-get-color-focus($ch-color-navy-light,  inverse)};
  --ch-color-border-active-inverse:    #{ch-get-color-active($ch-color-navy-light, inverse)};

  // 7. Menu

  --ch-color-menu-text-1:              #{$ch-color-navy-light}
}
