:root {
  // 1. Unit

  --em-space-unit:  1rem;                               //  16px

  // 2. Base

  --em-space-xxs:   calc(0.125 * var(--em-space-unit)); //   2px
  --em-space-xs:    calc(0.25  * var(--em-space-unit)); //   4px
  --em-space-s:     calc(0.5   * var(--em-space-unit)); //   8px  
  --em-space-m:     calc(1     * var(--em-space-unit)); //  16px
  --em-space-l:     calc(2     * var(--em-space-unit)); //  32px
  --em-space-xl:    calc(4     * var(--em-space-unit)); //  64px
  --em-space-xxl:   calc(8     * var(--em-space-unit)); // 128px

  // 3. Extended

  --em-space-xs-s:  calc(0.75  * var(--em-space-unit)); //  12px
  --em-space-s-m:   calc(1.5   * var(--em-space-unit)); //  24px
  --em-space-s-l:   calc(2.5   * var(--em-space-unit)); //  40px
  --em-space-m-xl:  calc(3     * var(--em-space-unit)); //  48px
  --em-space-l-xl:  calc(6     * var(--em-space-unit)); //  96px
  --em-space-l-xxl: calc(10    * var(--em-space-unit)); // 160px
}
