/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* Telefones em landscape e abaixo */
@mixin mobile-landscape
  @media (max-width: 480px)
    @content

/* Telefone em landscape a tablet em portrait */
@mixin mobile-portrait
  @media (max-width: 767px)
    @content

/* tablet em portrait a landscape e desktop */
@mixin medium-screens
  @media (min-width: 768px) and (max-width: 979px)
    @content

/* Desktop grande */
@mixin large-screens
  @media (min-width: 1200px)
    @content


/* ==========================================================================
   BOX SHADOWN
   ========================================================================== */ 
   
@mixin box-shadow($top, $left, $blur, $color, $inset:"")
  -webkit-box-shadow: $top $left $blur $color #{$inset}
  -moz-box-shadow: $top $left $blur $color #{$inset}
  box-shadow: $top $left $blur $color #{$inset}