/* ==========================================================================
   VARIABLES
   ========================================================================== */

// Navigation
$mm_maxWidth: 250px
$mm_width: 0.5
$mm_subpanelOffset: 50%