/* ==========================================================================
   LITERALS - "Variáveis" aplicadas direto no html
   ========================================================================== */



.clear
  clear: both

.superclear
  clear: both
  width: 100%
  height: 1px

.hidden-txt
  visibility: hidden !important

.left
  float: left !important

.right
  float: right !important

.hidden
  display: none !important

.text-right,
.money,
.amount
  text-align: right !important

.text-left
  text-align: left !important

.text-center
  text-align: center !important

// Para elementos que devem surgir somente na versão de impressão
.ownly-print
  display: none

.line-delete
  width: 100%
  
.ruler-t
  border-top: 1px dotted red
  padding-top: 10px

.ruler-b
  border-bottom: 1px dotted red
  margin-bottom: 10px
  padding-bottom: 10px

.border-t
  border-top: 1px solid #cfcfcf
  margin-top: 12px
  padding-top: 14px

.border-b
  border-bottom: 1px solid #cfcfcf
  margin-bottom: 12px
  padding-bottom: 14px
  
.border-s
  margin-top: 10px

// TODO REF - Truncate abrevia a descrição de acordo com a largura do campo na tabela
.truncate
  white-space: nowrap
  overflow: hidden
  -ms-overflow: hidden
  text-overflow: ellipsis
  -ms-text-overflow: ellipsis
  display: block
  float: left

.truncate-financial-account
  width: 120px

.truncate-financial-transaction
  width: 165px

.truncate-invoice
  width: 145px


// TODO REF
.positive
  white-space: nowrap
  color: #009900

.negative
  color: #999999

.alert-warning
  color: #c09853

.white
  background: white

.whiteGray
  background: #eeeeee

.lightGray
  background: red

.darkGray
  background: #666666

