@import '../../abstracts/space';
@import '../../abstracts/colors';
@import '../../abstracts/typography';

.ch-field {

  // 1. Base

  &:not(&--inline) {
    @include ch-space-stack-group(xxs);

    .ch-control {
      width: 100%;
    }
  }

  > *:not(#{&}-label) {
    display: block;
  }

  // 2. Label

  &-label {
    @include ch-text-label();

    display: inline-block;

    width: fit-content;

    // 2.1. Inline variation

    &--inline {
      @include ch-space-inline-group(left, s);
      
      align-items: center;

      > * {
        display: inline-block;
      }
    }
  }

  // 3. Message

  &-message {
    @include ch-text-caption();
  }

  // 4. Inline variation

  &--inline {
    @include ch-space-inline-group(left, s, center);

    > * {
      display: inline-block;
    }
  }
}
