@mixin ch-actions-bar ($actionsAlignment: flex-start) {
  display: flex;
  @include ch-space-inline-group(right);

  &:not(:last-child) {
    @include ch-space-stack(l);
  }

  &-content {
    flex-grow: 1;
  }

  &-actions {
    align-self: $actionsAlignment;
    min-width: fit-content;
  }
}
