.steps {
  .step {

    opacity: 0.3;

    &-header {
      display: flex;

      .ui.header {
        margin-top: 0;
      }

      .number {
        margin-right: 1em;
        align-self: flex-start;
      }
    }

    &-content {
      padding: 2em;
      margin: 0.5em 1.2em;
    }

    .options {
      padding: 0.8em;
      min-width: 120px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;

      &.checked {
        background-color: #e5e5e5;
        font-weight: 600;
      }
    }

    &.active {

      opacity: 1;

      .step-content {
        border-left: 2px dashed #999;
        visibility: visible;
      }
    }
  }
}

.ch-rail {
  .ui.sticky.fixed.top {
    top: calc(65px + 20px)
  }
}

.report-resume {
  .preview-report {
    margin-bottom: 10px;
    border: 1px solid #ccc;

    .header {
      padding: .5rem;
      text-align: left;
      background-color: #ebebeb;
    }

    .content {
      min-height: 300px;
      padding: .5rem;
      box-shadow: 0px 5px 5px #dcdcdc;
    }
  }
}

.ch-horizontal-steps {
  position: relative;
  display: flex;
  align-items: flex-start;

  .ch-step {
    position: relative;
    margin: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;

    &:after {
      content: "";
      position: absolute;
      top: 17px;
      left: 50%;
      width: calc(100% + 40px);
      height: 2px;
      background-color: #d6d6d6;
      z-index: -1;
    }

    &:last-child {
      &:after {
       content: none;
      }
    }

    &-number {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 800;
      color: #d6d6d6;
      background-color: #fff;
      border: 2px solid #d6d6d6;
      border-radius: 100%;
    }

    &-label {
      margin-top: 5px;
      font-weight: 700;
      font-size: 0.8em;
      line-height: normal;
      color: #d6d6d6;
    }

    &.active {
      .ch-step-number {
        color: #fff;
        background-color: #000;
        border-color: #000;
      }

      .ch-step-label {
        color: #000;
      }
    }
  }

  @media screen and (max-width: 1120px) {
    width: 100%;
    margin: 30px 0;
  }
}
