.ch-header-tabs {
  width: 100%;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    position: relative;
    height: 45px;
    overflow: hidden;

    .ui.menu {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      padding-bottom: 10px;
      overflow-x: scroll;
    }
  }

}

.ch-content-hgroup ~ .ch-header-tabs {
  .ui.menu {
    margin-top: 0;
    padding: 5px 5px 0;
    background-color: #fff;
  }
}
