.ch-table-buttons {
  .ui.icon.button {
    padding: 0.5em;
    background-color: transparent;
  }
}

.bind-popup + .ui.popup {
  max-width: 275px;

  .ui.label {
    margin: 0.25em;
    white-space: nowrap;
  }
}

.paddingless {
  .ui.table {
    border: none;
  }
}

.ui.table {
  thead th {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}
