<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Nexaas - Chameleon</title>
    <link rel="stylesheet" href="../assets/stylesheets/main.css">
  </head>
  <body>
      <nav class="ch-nav"><a class="ch-logo" href="dashboard.html"><img src="../assets/images/chameleon_logo_white.png"><span class="text">Chameleon</span></a>
        <ul class="ch-menu">
          <li class="ch-menu-item"><a href="dashboard.html"><i class="dashboard large icon"></i><span class="ch-menu-label">Painel</span></a></li>
          <li class="ch-menu-item"><a href="form.html"><i class="clipboard large icon"></i><span class="ch-menu-label">Formulários</span></a></li>
          <li class="ch-menu-item"><a href="table.html"><i class="table large icon"></i><span class="ch-menu-label">Tabelas</span></a></li>
          <li class="ch-menu-item"><a href="wizard.html"><i class="wizard large icon"></i><span class="ch-menu-label">Wizard</span></a></li>
          <li class="ch-menu-item"><a class="dropdown-hover" href="dashboard.html"><i class="puzzle large icon"></i><span class="ch-menu-label">Páginas</span></a>
            <div class="ch-dropdown">
              <ul class="ch-dropdown-menu">
                <li class="ch-dropdown-menu-item"><a href="employees.html">Colaboradores</a></li>
                <li class="ch-dropdown-menu-item"><a href="reports.html">Relatórios</a></li>
                <li class="ch-dropdown-menu-item"><a href="filters.html">Filtros</a></li>
                <li class="ch-dropdown-menu-item"><a href="detail.html">Detalhe</a></li>
                <li class="ch-dropdown-menu-item"><a href="settings.html">Configurações</a></li>
                <li class="ch-dropdown-menu-item"><a href="map.html">Mapa</a></li>
              </ul>
            </div>
          </li>
          <li class="ch-menu-item btn-show-menu"><a href="#"><i class="ellipsis large horizontal icon"></i></a></li>
        </ul>
        <div class="ch-menu--helpers">
          <div class="ch-menu-item mobile-only"><a class="dropdown-hover" href="#"><i class="university large icon"></i><span class="ch-menu-label">Trocar Conta</span></a>
            <div class="ch-dropdown">
              <ul class="ch-dropdown-menu">
                <li class="ch-dropdown-menu-item"><a href="#">Conta 1</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Conta 2</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Conta 3</a></li>
              </ul>
            </div>
          </div>
          <div class="ch-menu-item"><a href="#"><i class="large help circle outline icon"></i><span class="ch-menu-label">Ajuda</span></a></div>
        </div>
        <div class="btn-close-menu"><i class="large close icon"></i></div>
      </nav>
    <div class="main-content">
      <header class="ch-header">
        <div class="ch-breadcrumb">
          <div class="ch-breadcrumb-section"><a class="dropdown-toggle" href="#">Nome da organização</a>
            <div class="ch-dropdown bottom left" tabindex="-1">
              <ul class="ch-dropdown-menu">
                <li class="ch-dropdown-menu-item"><a href="#">Organização 1</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Organização 2</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Organização 3</a></li>
              </ul>
            </div>
          </div><i class="right chevron icon divider"></i>
          <div class="ch-breadcrumb-section active"><a class="dropdown-toggle" href="#">Painel Principal</a>
            <div class="ch-dropdown bottom left" tabindex="-1">
              <ul class="ch-dropdown-menu">
                <li class="ch-dropdown-menu-item"><a href="#">Painel de exemplo</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Painel Modelo 1</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Painel Modelo 2</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="ch-header-nav"><a class="ch-header-nav-buttons btn-search"><i class="search large icon"></i></a><a class="ch-header-nav-buttons btn-modal" href="#" data-modal="notifications"><i class="ch-notification-label bell outline large icon"></i></a>
          <div class="ch-dropdown-container computer-only"><a class="ch-header-nav-buttons dropdown-toggle" href="#"><span class="avatar">CH</span></a>
            <div class="ch-dropdown bottom right" tabindex="-1"><span class="ch-dropdown-header">Contas</span>
              <ul class="ch-dropdown-menu">
                <li class="ch-dropdown-menu-item"><a href="#">Conta Nexaas 1</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Conta Nexaas 2</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Conta Nexaas 3</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class="ch-content">
        <div class="ch-content-hgroup">
          <h2 class="ui medium header">Alterar Colaborador
            <div class="sub header">Utilize o passa a passo para alterar as informações do colaborador</div>
          </h2>
          <ol class="ch-horizontal-wizard">
            <li class="ch-step current">Informações Pessoais</li>
            <li class="ch-step">Informações de Endereço</li>
            <li class="ch-step">Foto de Perfil</li>
            <li class="ch-step">
              Final
              
            </li>
          </ol>
        </div>
        <div class="ui stackable padded grid centered">
          <div class="row">
            <div class="sixteen wide column">
              <form class="ui form">
                <div class="ui segments">
                  <div class="ui attached segment ch-segment-header">
                    <div class="ui title">Informações Pessoais</div>
                  </div>
                  <div class="ui attached segment padded">
                    <div class="fields">
                      <div class="eight wide field required">
                        <label for="">Nome Completo</label>
                        <input type="text" placeholder="Nome" value="Rachel Lilki">
                      </div>
                      <div class="field required">
                        <label for="">Nº de Registro</label>
                        <input type="text" value="32133">
                      </div>
                    </div>
                    <div class="four fields">
                      <div class="field">
                        <label for="">Data de Nascimento</label>
                        <div class="ui left icon input">
                          <input type="date" placeholder="dd/mm/aaaa" value="1985-05-20"><i class="calendar icon"></i>
                        </div>
                      </div>
                      <div class="field">
                        <label for="">Nacionalidade</label>
                        <input type="text" placeholder="Nacionalidade" value="Brasileira">
                      </div>
                      <div class="field">
                        <label for="">Naturalidade</label>
                        <input type="text" placeholder="Naturalidade" value="São Paulo, SP">
                      </div>
                      <div class="field">
                        <label for="">Sexo</label>
                        <input type="text" placeholder="" value="Feminino">
                      </div>
                    </div>
                    <div class="two fields">
                      <div class="field">
                        <label for="">Estado Civil</label>
                        <select class="ui dropdown" name="">
                          <option value="Opção 1">Opção 1</option>
                          <option value="Opção 2">Opção 2</option>
                        </select>
                      </div>
                      <div class="field">
                        <label>Escolaridade</label>
                        <select class="ui dropdown" name="">
                          <option value="Opção 1">Opção 1</option>
                          <option value="Opção 2">Opção 2</option>
                        </select>
                      </div>
                    </div>
                    <div class="two fields">
                      <div class="field">
                        <label for="">Cargo</label>
                        <input type="text" value="Aux. Administrativo">
                      </div>
                      <div class="field">
                        <label for="">Salário</label>
                        <div class="ui right labeled input">
                          <input type="text" placeholder="0,00" value="5.000,00">
                          <div class="ui dropdown label">
                            <div class="text">BRL</div><i class="dropdown icon"></i>
                            <div class="menu">
                              <div class="item">BRL</div>
                              <div class="item">EUR</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ch-buttons-container">
                  <div class="cancel-container"><a class="ui button basic" href="employee-detail.html">Cancelar</a></div>
                  <div class="submit-container">
                    <input class="ui button grey" type="submit" value="Salvar"><a class="ui positive button" href="employee-edit-page2.html">Salvar e continuar</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ch-sidebar" data-modal="notifications" tabindex="0">
      <div class="ch-overlay">
        <div class="ch-sidebar-container">
          <div class="ch-sidebar-header">Notificações<span class="btn-close"><i class="close icon"></i></span></div>
          <div class="ch-sidebar-content">
            <div class="ui items">
              <div class="item ch-sidebar-message unread"><a class="ui image"><img src="http://via.placeholder.com/40x40"></a>
                <div class="content"><a class="header">Lorem Ipsum</a>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ullam iure, exercitationem omnis magni, repellat quos tempore hic facere pariatur?</p>
                  </div><span class="time">20 de agosto de 2017 às 21:30</span>
                </div>
              </div>
              <div class="item ch-sidebar-message"><a class="ui image"><img src="http://via.placeholder.com/40x40"></a>
                <div class="content"><a class="header">Lorem Ipsum</a>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, totam.</p>
                  </div><span class="time">20 de agosto de 2017 às 21:30</span>
                </div>
              </div>
              <div class="item ch-sidebar-message"><a class="ui image"><img src="http://via.placeholder.com/40x40"></a>
                <div class="content"><a class="header">Lorem Ipsum</a>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, totam.</p>
                  </div><span class="time">20 de agosto de 2017 às 21:30</span>
                </div>
              </div>
              <div class="item ch-sidebar-message"><a class="ui image"><img src="http://via.placeholder.com/40x40"></a>
                <div class="content"><a class="header">Lorem Ipsum</a>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, totam.</p>
                  </div><span class="time">20 de agosto de 2017 às 21:30</span>
                </div>
              </div>
              <div class="item ch-sidebar-message"><a class="ui image"><img src="http://via.placeholder.com/40x40"></a>
                <div class="content"><a class="header">Lorem Ipsum</a>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, totam.</p>
                  </div><span class="time">20 de agosto de 2017 às 21:30</span>
                </div>
              </div>
              <div class="item ch-sidebar-message"><a class="ui image"><img src="http://via.placeholder.com/40x40"></a>
                <div class="content"><a class="header">Lorem Ipsum</a>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, totam.</p>
                  </div><span class="time">20 de agosto de 2017 às 21:30</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-action">Ver tudo</div>
    </div>
    <div class="ch-search" tabindex="0">
      <div class="ch-overlay">
        <div class="ch-search-content">
          <div class="ch-search-input-group">
            <div class="ch-search-context computer-only">Pesquisando em Cobranças<span class="btn-remove-context"><i class="close small icon"></i></span></div>
            <div class="ch-search-form">
              <input class="ch-search-form-input" type="text" placeholder="Ex Nexaas"><a class="ch-search-form-icon computer-only" href="#"><i class="search large icon"></i></a><a class="ch-search-form-icon btn-close mobile-only" href="#"><i class="close large icon"></i></a>
            </div>
          </div>
          <div class="ch-search-results"><span class="ch-search-results-count">5 Resultados encontrados</span><a class="ch-search-results-item" href="#">V7 Digital Photo Printing</a><a class="ch-search-results-item" href="#">Download Free Song For Ipod</a><a class="ch-search-results-item" href="#">How Plasma Tvs And Lcd Tvs Differ</a><a class="ch-search-results-item" href="#">Going Wireless With Your Headphones</a><a class="ch-search-results-item" href="#">Microsoft Patch Management For Home Users</a>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../assets/javascripts/main.js"></script>
    <script type="text/javascript" src="../assets/javascripts/init.js"></script>
    <script type="text/javascript">
      $('.js-new-billet').on('click', function() {
        $('.long.modal').modal('show');
        $(this).removeClass('.active.selected');
      });
    </script>
  </body>
</html>