<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Nexaas - Chameleon</title>
    <link rel="stylesheet" href="../assets/stylesheets/main.css">
  </head>
  <body>
      <nav class="ch-nav"><a class="ch-nav-logo" href="dashboard.html"><img src="../assets/images/chameleon_logo_white.png"><span class="text">Chameleon</span></a>
        <ul class="ch-nav-menu">
          <li class="ch-nav-menu-item"><a href="dashboard.html"><i class="dashboard large icon"></i><span class="ch-nav-menu-item-label">Painel</span></a></li>
          <li class="ch-nav-menu-item"><a href="form.html"><i class="clipboard large icon"></i><span class="ch-nav-menu-item-label">Formulários</span></a></li>
          <li class="ch-nav-menu-item"><a href="table.html"><i class="table large icon"></i><span class="ch-nav-menu-item-label">Tabelas</span></a></li>
          <li class="ch-nav-menu-item"><a href="wizard.html"><i class="wizard large icon"></i><span class="ch-nav-menu-item-label">Wizard</span></a></li>
          <li class="ch-nav-menu-item ch-dropdown active"><a class="ch-dropdown-hover" href="dashboard.html"><i class="puzzle large icon"></i><span class="ch-nav-menu-item-label">Páginas</span></a>
            <div class="ch-dropdown-content">
              <ul class="ch-dropdown-menu">
                <li class="ch-dropdown-menu-item"><a href="employees.html">Colaboradores</a></li>
                <li class="ch-dropdown-menu-item"><a href="reports.html">Relatórios</a></li>
                <li class="ch-dropdown-menu-item"><a href="filters.html">Filtros</a></li>
                <li class="ch-dropdown-menu-item"><a href="detail.html">Detalhe</a></li>
                <li class="ch-dropdown-menu-item"><a href="settings.html">Configurações</a></li>
                <li class="ch-dropdown-menu-item"><a href="map.html">Mapa</a></li>
              </ul>
            </div>
          </li>
          <li class="ch-nav-menu-item show-menu"><a href="#"><i class="ellipsis large horizontal icon"></i></a></li>
        </ul>
        <div class="ch-nav-menu--secondary">
          <div class="ch-nav-menu-item mobile-only ch-dropdown"><a class="ch-dropdown-hover" href="#"><i class="university large icon"></i><span class="ch-nav-menu-item-label">Trocar Conta</span></a>
            <div class="ch-dropdown-content">
              <ul class="ch-dropdown-menu">
                <li class="ch-dropdown-menu-item"><a href="#">Conta 1</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Conta 2</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Conta 3</a></li>
              </ul>
            </div>
          </div>
          <div class="ch-nav-menu-item"><a href="#"><i class="large help circle outline icon"></i><span class="ch-nav-menu-item-label">Ajuda</span></a></div>
        </div>
        <div class="close-menu"><i class="large close icon"></i></div>
      </nav>
    <div class="main-content">
      <header class="ch-header">
        <div class="ch-breadcrumb">
          <div class="ch-breadcrumb-section ch-dropdown"><a class="ch-dropdown-toggle" href="#">Nome da organização</a>
            <div class="ch-dropdown-content bottom left" tabindex="-1">
              <ul class="ch-dropdown-menu">
                <li class="ch-dropdown-menu-item"><a href="#">Organização 1</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Organização 2</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Organização 3</a></li>
              </ul>
            </div>
          </div><i class="right chevron icon divider"></i>
          <div class="ch-breadcrumb-section ch-dropdown active"><a class="ch-dropdown-toggle" href="#">Painel Principal</a>
            <div class="ch-dropdown-content bottom left" tabindex="-1">
              <ul class="ch-dropdown-menu">
                <li class="ch-dropdown-menu-item"><a href="#">Painel de exemplo</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Painel Modelo 1</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Painel Modelo 2</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="ch-header-nav"><a class="ch-header-nav-button" data-target="search"><i class="search large icon"></i></a><a class="ch-header-nav-button" href="#" data-target="modal" data-modal="notifications"><i class="ch-notification-label bell outline large icon"></i></a>
          <div class="ch-dropdown computer-only"><a class="ch-header-nav-button ch-dropdown-toggle" href="#"><span class="avatar">CH</span></a>
            <div class="ch-dropdown-content bottom right" tabindex="-1"><span class="ch-dropdown-header">Contas</span>
              <ul class="ch-dropdown-menu">
                <li class="ch-dropdown-menu-item"><a href="#">Conta Nexaas 1</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Conta Nexaas 2</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Conta Nexaas 3</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class="ch-content">
        <div class="ch-content-hgroup colored">
          <h2 class="ui medium header">Relatórios
            <div class="sub header">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos.</div>
          </h2>
        </div>
        <div class="ch-header-tabs">
          <div class="ui pointing secondary menu"><a class="item active" data-tab="rs">Relatório Simples</a><a class="item" data-tab="rd">Relatório Dinâmico</a><a class="item" data-tab="mr">Modelos de Relatório</a></div>
        </div>
        <div class="ui divider hidden"></div>
        <div class="ui stackable padded grid">
          <div class="row">
            <div class="sixteen wide column">
              <div class="ui tab active" data-tab="rs">
                <form class="ui form">
                  <div class="ui segments">
                    <div class="ui segment attached ch-segment-header"><span class="ch-segment-header-title">Relatório Simples</span></div>
                    <div class="ui segment attached">
                      <div class="fields">
                        <div class="four wide field">
                          <label for="">Agrupar por</label>
                          <select class="ui dropdown" name="">
                            <option value="Opção 1">Opção 1</option>
                            <option value="Opção 2">Opção 2</option>
                          </select>
                        </div>
                      </div>
                      <div class="four fields">
                        <div class="grouped fields field">
                          <label>Vencimento</label>
                          <div class="field">
                            <div class="ui checkbox">
                              <input type="checkbox" name="vencidas">
                              <label>Vencidas</label>
                            </div>
                          </div>
                          <div class="field">
                            <div class="ui checkbox">
                              <input type="checkbox" name="receber">
                              <label>À Receber</label>
                            </div>
                          </div>
                          <div class="field">
                            <div class="ui checkbox">
                              <input type="checkbox" name="recebidas">
                              <label>Recebidas</label>
                            </div>
                          </div>
                        </div>
                        <div class="grouped fields field">
                          <label>Tipo</label>
                          <div class="field">
                            <div class="ui checkbox">
                              <input type="checkbox" name="normais">
                              <label>Normais</label>
                            </div>
                          </div>
                          <div class="field">
                            <div class="ui checkbox">
                              <input type="checkbox" name="recorrentes">
                              <label>Recorrentes</label>
                            </div>
                          </div>
                          <div class="field">
                            <div class="ui checkbox">
                              <input type="checkbox" name="parceladas">
                              <label>Parceladas</label>
                            </div>
                          </div>
                        </div>
                        <div class="grouped fields field">
                          <label>Recibos</label>
                          <div class="field">
                            <div class="ui checkbox">
                              <input type="checkbox" name="com_recibos">
                              <label>Com recibos</label>
                            </div>
                          </div>
                          <div class="field">
                            <div class="ui checkbox">
                              <input type="checkbox" name="sem_recibos">
                              <label>Sem Recibos</label>
                            </div>
                          </div>
                        </div>
                        <div class="grouped fields field">
                          <label>Imposto de Renda</label>
                          <div class="field">
                            <div class="ui checkbox">
                              <input type="checkbox" name="relevantes_ir">
                              <label>Relevante para IR</label>
                            </div>
                          </div>
                          <div class="field">
                            <div class="ui checkbox">
                              <input type="checkbox" name="nao_relevante">
                              <label>Não revelante para IR</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="four fields">
                        <div class="grouped fields field">
                          <label>Conciliação</label>
                          <div class="field">
                            <div class="ui checkbox">
                              <input type="checkbox" name="conciliadas">
                              <label>Conciliadas</label>
                            </div>
                          </div>
                          <div class="field">
                            <div class="ui checkbox">
                              <input type="checkbox" name="nao_conciliadas">
                              <label>Não conciliadas</label>
                            </div>
                          </div>
                        </div>
                        <div class="grouped fields field">
                          <label>Anexos</label>
                          <div class="field">
                            <div class="ui checkbox">
                              <input type="checkbox" name="com_anexos">
                              <label>Com anexos</label>
                            </div>
                          </div>
                          <div class="field">
                            <div class="ui checkbox">
                              <input type="checkbox" name="sem_anexos">
                              <label>Sem anexos</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="fields">
                        <div class="six wide field">
                          <label>Criado em</label>
                          <div class="two fields">
                            <div class="field">
                              <div class="ui left icon input">
                                <input type="text" placeholder="De"><i class="calendar icon"></i>
                              </div>
                            </div>
                            <div class="field">
                              <div class="ui left icon input">
                                <input type="text" placeholder="Até"><i class="calendar icon"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ui segment attached right aligned">
                      <div class="ui button blue">Gerar Relatório</div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="ui bottom tab" data-tab="rd">
                <div class="ui stackable grid">
                  <div class="row">
                    <div class="thirteen wide column">
                      <div class="ch-wizard-container">
                        <form class="ui form">
                          <ol class="ch-vertical-wizard">
                            <li class="ch-step current">
                              <div class="step-header">
                                <h4 class="ui medium header">Selecione o agrupador
                                  <div class="sub header">Agrupadores servem para organizar a informação de uma forma mais eficiente.</div>
                                </h4>
                              </div>
                              <div class="step-content">
                                <div class="inline fields">
                                  <div class="field">
                                    <div class="ui radio checkbox options">
                                      <input class="hidden" type="radio" tabindex="0" name="agrupador" id="projects">
                                      <label for="projects">Projetos</label>
                                    </div>
                                  </div>
                                  <div class="field">
                                    <div class="ui radio checkbox options">
                                      <input class="hidden" type="radio" tabindex="0" name="agrupador" id="activities">
                                      <label for="activities">Atividades</label>
                                    </div>
                                  </div>
                                  <div class="field">
                                    <div class="ui radio checkbox options">
                                      <input class="hidden" type="radio" tabindex="0" name="agrupador" id="employees">
                                      <label for="employees">Colaboradores</label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li class="ch-step">
                              <div class="step-header">
                                <h4 class="ui medium header">Qual tipo ?
                                  <div class="sub header">Defina o tipo do seu relatório.</div>
                                </h4>
                              </div>
                              <div class="step-content">
                                <div class="inline fields">
                                  <div class="field">
                                    <div class="ui radio checkbox options">
                                      <input class="hidden" type="radio" tabindex="0" name="tipo" id="synthetic">
                                      <label for="synthetic">Sintético</label>
                                    </div>
                                  </div>
                                  <div class="field">
                                    <div class="ui radio checkbox options">
                                      <input class="hidden" type="radio" tabindex="0" name="tipo" id="analytic">
                                      <label for="analytic">Analítico</label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li class="ch-step">
                              <div class="step-header">
                                <h4 class="ui medium header">Gostaria de mais opções ?
                                  <div class="sub header">Quer um relatório mais completo? Adicione gráfico e estatísticas para uma apresentação incrível!</div>
                                </h4>
                              </div>
                              <div class="step-content">
                                <div class="inline fields">
                                  <div class="field">
                                    <div class="ui checkbox options">
                                      <input class="hidden" type="checkbox" tabindex="0" name="add-graphs" id="add-graphs">
                                      <label for="add-graphs">Adicionar Gráfico</label>
                                    </div>
                                  </div>
                                  <div class="field">
                                    <div class="ui checkbox options">
                                      <input class="hidden" type="checkbox" tabindex="0" name="add-stats" id="add-stats">
                                      <label for="add-stats">Adicionar Estatísticas</label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li class="ch-step">
                              <div class="step-header">
                                <h4 class="ui medium header">Gostaria de mais opções ?
                                  <div class="sub header">Quer um relatório mais completo? Adicione gráfico e estatísticas para uma apresentação incrível!</div>
                                </h4>
                              </div>
                              <div class="step-content">
                                <div class="inline fields">
                                  <div class="field">
                                    <div class="ui radio checkbox options">
                                      <input class="hidden" type="radio" tabindex="0" name="filters" id="filter-yes">
                                      <label>Sim</label>
                                    </div>
                                  </div>
                                  <div class="field">
                                    <div class="ui radio checkbox options">
                                      <input class="hidden" type="radio" tabindex="0" name="filters" id="filter-no">
                                      <label>Não</label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ol>
                        </form>
                      </div>
                    </div>
                    <div class="three wide column hidden-mobile">
                      <div class="ch-rail report-resume">
                        <div class="ui segments">
                          <div class="ui segment attached ch-segment-header center aligned">
                            <div class="ui header small">Pré-Visualização do relatório</div>
                          </div>
                          <div class="ui segment padded attached center aligned">
                            <div class="preview-report">
                              <div class="header">Relatório</div>
                              <div class="content"></div>
                            </div>
                            <p>
                              Após concluir os passos, clique em "Gerar relatório" para visualizar a versão final.
                              
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sixteen wide column">
                      <div class="ui divider"></div>
                      <input class="ui button blue" type="submit" value="Gerar Relatório">
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui tab" data-tab="mr">
                <div class="ui segments">
                  <div class="ui attached segment ch-segment-header"><span class="ch-segment-header-title">Modelos de Relatório</span></div>
                  <div class="ui attached segment paddingless">
                    <table class="ui very basic table">
                      <tr>
                        <td>
                          <h4 class="ui header">Relatório sintético agrupado por Projetos
                            <div class="sub header">Com <strong><a class="bind-popup" data-position="right center" href="#" data-html="&lt;div class='ui small label'&gt;Ocorrido em: 01/03/2017 á 10/04/2017&lt;/div&gt;&lt;div class='ui small label'&gt;Contém comentários&lt;/div&gt;&lt;div class='ui small label'&gt;Contém etiquetas&lt;/div&gt;">3</a> </strong>filtros selecionados</div>
                          </h4>
                        </td>
                        <td class="right aligned">Criado em: 27/12/2017 14:39:54</td>
                        <td class="right aligned ch-table-buttons">
                          <button class="ui icon button" data-tooltip="Editar" data-inverted><i class="edit icon"></i></button>
                          <button class="ui icon button" data-tooltip="Gerar Relatório" data-inverted><i class="file text icon"></i></button>
                          <button class="ui icon button" data-tooltip="Excluir" data-inverted><i class="remove icon"></i></button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="ui header">Relatório sintético agrupado por Projetos
                            <div class="sub header">Com <strong><a class="bind-popup" data-position="right center" href="#" data-html="&lt;div class='ui small label'&gt;Ocorrido em: 01/03/2017 á 10/04/2017&lt;/div&gt;&lt;div class='ui small label'&gt;Contém comentários&lt;/div&gt;&lt;div class='ui small label'&gt;Contém etiquetas&lt;/div&gt;">3</a> </strong>filtros selecionados</div>
                          </h4>
                        </td>
                        <td class="right aligned">Criado em: 27/12/2017 14:39:54</td>
                        <td class="right aligned ch-table-buttons">
                          <button class="ui icon button" data-tooltip="Editar" data-inverted><i class="edit icon"></i></button>
                          <button class="ui icon button" data-tooltip="Gerar Relatório" data-inverted><i class="file text icon"></i></button>
                          <button class="ui icon button" data-tooltip="Excluir" data-inverted><i class="remove icon"></i></button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="ui header">Relatório sintético agrupado por Projetos
                            <div class="sub header">Com <strong><a class="bind-popup" data-position="right center" href="#" data-html="&lt;div class='ui small label'&gt;Ocorrido em: 01/03/2017 á 10/04/2017&lt;/div&gt;&lt;div class='ui small label'&gt;Contém comentários&lt;/div&gt;&lt;div class='ui small label'&gt;Contém etiquetas&lt;/div&gt;">3</a> </strong>filtros selecionados</div>
                          </h4>
                        </td>
                        <td class="right aligned">Criado em: 27/12/2017 14:39:54</td>
                        <td class="right aligned ch-table-buttons">
                          <button class="ui icon button" data-tooltip="Editar" data-inverted><i class="edit icon"></i></button>
                          <button class="ui icon button" data-tooltip="Gerar Relatório" data-inverted><i class="file text icon"></i></button>
                          <button class="ui icon button" data-tooltip="Excluir" data-inverted><i class="remove icon"></i></button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="ui header">Relatório sintético agrupado por Projetos
                            <div class="sub header">Com <strong><a class="bind-popup" data-position="right center" href="#" data-html="&lt;div class='ui small label'&gt;Ocorrido em: 01/03/2017 á 10/04/2017&lt;/div&gt;&lt;div class='ui small label'&gt;Contém comentários&lt;/div&gt;&lt;div class='ui small label'&gt;Contém etiquetas&lt;/div&gt;">3</a> </strong>filtros selecionados</div>
                          </h4>
                        </td>
                        <td class="right aligned">Criado em: 27/12/2017 14:39:54</td>
                        <td class="right aligned ch-table-buttons">
                          <button class="ui icon button" data-tooltip="Editar" data-inverted><i class="edit icon"></i></button>
                          <button class="ui icon button" data-tooltip="Gerar Relatório" data-inverted><i class="file text icon"></i></button>
                          <button class="ui icon button" data-tooltip="Excluir" data-inverted><i class="remove icon"></i></button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="ui header">Relatório sintético agrupado por Projetos
                            <div class="sub header">Com <strong><a class="bind-popup" data-position="right center" href="#" data-html="&lt;div class='ui small label'&gt;Ocorrido em: 01/03/2017 á 10/04/2017&lt;/div&gt;&lt;div class='ui small label'&gt;Contém comentários&lt;/div&gt;&lt;div class='ui small label'&gt;Contém etiquetas&lt;/div&gt;">3</a> </strong>filtros selecionados</div>
                          </h4>
                        </td>
                        <td class="right aligned">Criado em: 27/12/2017 14:39:54</td>
                        <td class="right aligned ch-table-buttons">
                          <button class="ui icon button" data-tooltip="Editar" data-inverted><i class="edit icon"></i></button>
                          <button class="ui icon button" data-tooltip="Gerar Relatório" data-inverted><i class="file text icon"></i></button>
                          <button class="ui icon button" data-tooltip="Excluir" data-inverted><i class="remove icon"></i></button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ch-dialog" data-modal="notifications" tabindex="0">
      <div class="ch-overlay">
        <div class="ch-dialog-container">
          <div class="ch-dialog-header">Notificações<span class="close-dialog"><i class="close icon"></i></span></div>
          <div class="ch-dialog-content">
            <div class="ui items">
              <div class="item ch-dialog-message unread"><a class="ui image"><img src="http://via.placeholder.com/40x40"></a>
                <div class="content"><a class="header">Lorem Ipsum</a>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ullam iure, exercitationem omnis magni, repellat quos tempore hic facere pariatur?</p>
                  </div><span class="time">20 de agosto de 2017 às 21:30</span>
                </div>
              </div>
              <div class="item ch-dialog-message"><a class="ui image"><img src="http://via.placeholder.com/40x40"></a>
                <div class="content"><a class="header">Lorem Ipsum</a>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, totam.</p>
                  </div><span class="time">20 de agosto de 2017 às 21:30</span>
                </div>
              </div>
              <div class="item ch-dialog-message"><a class="ui image"><img src="http://via.placeholder.com/40x40"></a>
                <div class="content"><a class="header">Lorem Ipsum</a>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, totam.</p>
                  </div><span class="time">20 de agosto de 2017 às 21:30</span>
                </div>
              </div>
              <div class="item ch-dialog-message"><a class="ui image"><img src="http://via.placeholder.com/40x40"></a>
                <div class="content"><a class="header">Lorem Ipsum</a>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, totam.</p>
                  </div><span class="time">20 de agosto de 2017 às 21:30</span>
                </div>
              </div>
              <div class="item ch-dialog-message"><a class="ui image"><img src="http://via.placeholder.com/40x40"></a>
                <div class="content"><a class="header">Lorem Ipsum</a>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, totam.</p>
                  </div><span class="time">20 de agosto de 2017 às 21:30</span>
                </div>
              </div>
              <div class="item ch-dialog-message"><a class="ui image"><img src="http://via.placeholder.com/40x40"></a>
                <div class="content"><a class="header">Lorem Ipsum</a>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, totam.</p>
                  </div><span class="time">20 de agosto de 2017 às 21:30</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="action-dialog">Ver tudo</div>
    </div>
    <div class="ch-search" tabindex="0">
      <div class="ch-overlay">
        <div class="ch-search-content">
          <div class="ch-search-input-group">
            <div class="ch-search-context computer-only">Pesquisando em Cobranças<span class="btn-remove-context"><i class="close small icon"></i></span></div>
            <div class="ch-search-form">
              <input class="ch-search-form-input" type="text" placeholder="Ex Nexaas"><a class="ch-search-form-icon computer-only" href="#"><i class="search large icon"></i></a><a class="ch-search-form-icon btn-close mobile-only" href="#"><i class="close large icon"></i></a>
            </div>
          </div>
          <div class="ch-search-results"><span class="ch-search-results-count">5 Resultados encontrados</span><a class="ch-search-results-item" href="#">V7 Digital Photo Printing</a><a class="ch-search-results-item" href="#">Download Free Song For Ipod</a><a class="ch-search-results-item" href="#">How Plasma Tvs And Lcd Tvs Differ</a><a class="ch-search-results-item" href="#">Going Wireless With Your Headphones</a><a class="ch-search-results-item" href="#">Microsoft Patch Management For Home Users</a>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../assets/javascripts/main.js"></script>
    <script type="text/javascript" src="../assets/javascripts/init.js"></script>
  </body>
</html>