<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Nexaas - Chameleon</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../assets/stylesheets/main.css">
    <script type="text/javascript" src="../assets/javascripts/main.js"></script>
    <script type="text/javascript" src="../assets/javascripts/init.js"></script>
  </head>
  <body data-theme="default">
      <nav class="ch-nav">
        <div class="ch-logo">
          <div class="ch-logo-icon"><i class="icon dollar black inverted"></i></div><span class="ch-logo-label">MyFinance</span>
        </div>
        <ul class="ch-menu">
          <li class="ch-menu-item active"><a href="#"><i class="dashboard icon"></i><span class="ch-menu-item-label">Painel</span></a></li>
          <li class="ch-menu-item"><a href="#"><i class="clipboard icon"></i><span class="ch-menu-item-label">Formulários</span></a></li>
          <li class="ch-menu-item"><a href="#"><i class="table icon"></i><span class="ch-menu-item-label">Tabelas</span></a></li>
          <li class="ch-menu-item"><a href="#"><i class="warning circle icon"></i><span class="ch-menu-item-label">Notificações</span></a></li>
          <li class="ch-menu-item"><a href="#"><i class="wizard icon"></i><span class="ch-menu-item-label">Wizard</span></a></li>
        </ul>
        <button class="ch-collapse-button"><i class="icon caret square left outline"></i><span class="ch-collapse-button-label">Minimizar</span></button>
      </nav>
    <div class="main-content">
      <header class="ch-header">
        <div class="ch-breadcrumb">
          <div class="ch-breadcrumb-section ch-dropdown"><a class="ch-dropdown-toggle" href="#">Nome da organização</a>
            <div class="ch-dropdown-content bottom left" tabindex="-1">
              <ul class="ch-dropdown-menu">
                <li class="ch-dropdown-menu-item"><a href="#">Organização 1</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Organização 2</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Organização 3</a></li>
              </ul>
            </div>
          </div><i class="right chevron icon divider"></i>
          <div class="ch-breadcrumb-section ch-dropdown active"><a class="ch-dropdown-toggle" href="#">Painel Principal</a>
            <div class="ch-dropdown-content bottom left" tabindex="-1">
              <ul class="ch-dropdown-menu">
                <li class="ch-dropdown-menu-item"><a href="#">Painel de exemplo</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Painel Modelo 1</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Painel Modelo 2</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="ch-header-nav"><a class="ch-header-nav-button" data-target="search"><i class="search large icon"></i></a><a class="ch-header-nav-button" href="#" data-target="modal" data-modal="notifications"><i class="ch-notification-label bell outline large icon"></i></a>
          <div class="ch-dropdown computer-only"><a class="ch-header-nav-button ch-dropdown-toggle" href="#"><i class="ch-notification-label cog large icon"></i></a>
            <div class="ch-dropdown-content bottom right" tabindex="-1"><span class="ch-dropdown-header">Configurações</span>
              <ul class="ch-dropdown-menu">
                <li class="ch-dropdown-menu-item"><a href="#">Meu Plano</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Usuários</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Integrações</a></li>
                <li class="ch-dropdown-menu-item"><a href="#">Preferências</a></li>
              </ul>
            </div>
          </div>
          <div class="ch-dropdown computer-only"><a class="ch-header-nav-button ch-dropdown-toggle" href="#"><img class="ui avatar image" src="https://ui-avatars.com/api/?background=EF6C00&amp;color=fff&amp;name=Chameleon&amp;font-size=0.4"></a>
            <div class="ch-dropdown-content bottom right" tabindex="-1"><span class="ch-dropdown-header">Contas</span>
              <ul class="ch-dropdown-menu">
                <li class="ch-dropdown-menu-item"><a href="#"><img class="ui avatar image" src="https://ui-avatars.com/api/?background=EF6C00&amp;color=fff&amp;name=Chameleon"><span>Chameleon</span>
                    <div class="ui button mini basic">Editar</div></a></li>
                <li class="ch-dropdown-menu-item"><a href="#"><img class="ui avatar image" src="https://ui-avatars.com/api/?background=3d8af7&amp;color=fff&amp;name=Conta Nexaas 2"><span>Conta Nexaas 2</span>
                    <div class="ui button mini basic">Editar</div></a></li>
                <li class="ch-dropdown-menu-item"><a href="#"><img class="ui avatar image" src="https://ui-avatars.com/api/?background=e93578&amp;color=fff&amp;name=Conta Nexaas 3"><span>Conta Nexaas 3</span>
                    <div class="ui button mini basic">Editar</div></a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class="ch-content">
        <div class="ch-content-header">
          <h1 class="ui header">Wizard
            <div class="sub header">Exemplos de passa a passo na vertical e na horizontal</div>
          </h1>
        </div>
        <div class="ui stackable padded grid">
          <div class="row">
            <div class="sixteen wide column">
              <div class="ui medium dividing header">Horizontal</div>
              <div class="ui divider hidden"></div>
              <div class="ui grid">
                <div class="eight wide computer sixteen wide mobile column">
                  <div class="ch-wizard-container">
                    <ol class="ch-wizard ch-wizard--horizontal">
                      <li class="ch-wizard-step done"><a href="">Informações Pessoais</a></li>
                      <li class="ch-wizard-step current"><a href="">Informações de Endereço</a></li>
                      <li class="ch-wizard-step"><a href="">Foto de Perfil</a></li>
                      <li class="ch-wizard-step"><a href="">
                          Final
                          </a></li>
                    </ol>
                  </div>
                </div>
              </div>
              <div class="ui divider hidden"></div>
              <div class="ui medium dividing header">Vertical</div>
              <div class="ui divider hidden"></div>
              <div class="ch-wizard-container">
                <ol class="ch-wizard ch-wizard--vertical">
                  <li class="ch-wizard-step done"><a class="header" href="">
                      <h4 class="ui medium header">Selecione o agrupador
                        <div class="sub header">Agrupadores servem para organizar a informação de uma forma mais eficiente.</div>
                      </h4></a>
                    <div class="content"></div>
                  </li>
                  <li class="ch-wizard-step current"><a class="header" href="">
                      <h4 class="ui medium header">Qual tipo ?
                        <div class="sub header">Defina o tipo do seu relatório.</div>
                      </h4></a>
                    <div class="content"></div>
                  </li>
                  <li class="ch-wizard-step"><a class="header" href="">
                      <h4 class="ui medium header">Gostaria de mais opções ?
                        <div class="sub header">Quer um relatório mais completo? Adicione gráfico e estatísticas para uma apresentação incrível!</div>
                      </h4></a>
                    <div class="content"></div>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ch-dialog" data-modal="notifications" tabindex="0">
      <div class="ch-overlay">
        <div class="ch-dialog-container">
          <div class="ch-dialog-header">Notificações<span class="close-dialog"><i class="close icon"></i></span></div>
          <div class="ch-dialog-content">
            <div class="ui divided items">
              <div class="item ch-dialog-message unread"><a class="ui image"><img src="http://via.placeholder.com/30x30"></a>
                <div class="content"><a class="header">Lorem Ipsum</a>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ullam iure, exercitationem omnis magni</p>
                  </div><small class="time">20 de agosto de 2017 às 21:30</small>
                </div>
              </div>
              <div class="item ch-dialog-message"><a class="ui image"><img src="http://via.placeholder.com/30x30"></a>
                <div class="content"><a class="header">Lorem Ipsum</a>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, totam.</p>
                  </div><small class="time">20 de agosto de 2017 às 21:30</small>
                </div>
              </div>
              <div class="item ch-dialog-message"><a class="ui image"><img src="http://via.placeholder.com/30x30"></a>
                <div class="content"><a class="header">Lorem Ipsum</a>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, totam.</p>
                  </div><small class="time">20 de agosto de 2017 às 21:30</small>
                </div>
              </div>
              <div class="item ch-dialog-message"><a class="ui image"><img src="http://via.placeholder.com/30x30"></a>
                <div class="content"><a class="header">Lorem Ipsum</a>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, totam.</p>
                  </div><small class="time">20 de agosto de 2017 às 21:30</small>
                </div>
              </div>
              <div class="item ch-dialog-message"><a class="ui image"><img src="http://via.placeholder.com/30x30"></a>
                <div class="content"><a class="header">Lorem Ipsum</a>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, totam.</p>
                  </div><small class="time">20 de agosto de 2017 às 21:30</small>
                </div>
              </div>
              <div class="item ch-dialog-message"><a class="ui image"><img src="http://via.placeholder.com/30x30"></a>
                <div class="content"><a class="header">Lorem Ipsum</a>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, totam.</p>
                  </div><small class="time">20 de agosto de 2017 às 21:30</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="action-dialog">Ver tudo</div>
    </div>
    <div class="ch-search" tabindex="0">
      <div class="ch-overlay">
        <div class="ch-search-content">
          <div class="ch-search-input-group">
            <div class="ch-search-context computer-only">Pesquisando em Cobranças<span class="btn-remove-context"><i class="close small icon"></i></span></div>
            <div class="ch-search-form">
              <input class="ch-search-form-input" type="text" placeholder="Ex Nexaas"><a class="ch-search-form-icon computer-only" href="#"><i class="search large icon"></i></a><a class="ch-search-form-icon btn-close mobile-only" href="#"><i class="close large icon"></i></a>
            </div>
          </div>
          <div class="ch-search-results"><span class="ch-search-results-count">5 Resultados encontrados</span><a class="ch-search-results-item" href="#">V7 Digital Photo Printing</a><a class="ch-search-results-item" href="#">Download Free Song For Ipod</a><a class="ch-search-results-item" href="#">How Plasma Tvs And Lcd Tvs Differ</a><a class="ch-search-results-item" href="#">Going Wireless With Your Headphones</a><a class="ch-search-results-item" href="#">Microsoft Patch Management For Home Users</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>