@import '../colors';
@import '../box-model';

%ch-card-inverse {
  $inverse: $ch-border-box-inverse;

  @include ch-box-model(s, box, $inverse, neutral);

  &,
  .ch-title {
    color: #{ch-get-color(text, 1, inverse)};
  }

  .ch-title-sub {
    color: #{ch-get-color(text, 2, inverse)};
  }


}



