@import '../color';
@import '../border';
@import './mixin-card-bar-background.scss';

%ch-card-bar-top {
  position: relative;

  &:after {
    @include ch-border-radius(2);
    @include ch-card-bar-background(top);

    $border-width: #{$ch-border-width};
    $content: '';

    display: block;
    position: absolute;
    top: calc(-1  * $border-width);
    left: calc(-1 * $border-width);

    content: $content;
    width: calc(100% + 2 * $border-width);
    height: calc(2 * #{ch-get-border-radius(2)});
    background:    transparent;

  }
}
