@use 'function-get-var' as *;
@use 'function-get-prev' as *;
@use 'function-get-next' as *;

@mixin inset ($type: default, $size: m) {
  @if ($type == default) {
    $space: get-var($size);

    padding-top: $space;
    padding-right: $space;
    padding-bottom: $space;
    padding-left: $space;
  }

  @else {
    $vertical-space: get-var(m);
    $horizontal-space: get-var(m);

    @if ($type == squish) {
      $vertical-space: get-prev($size);
      $horizontal-space: get-var($size);
    }

    @else if ($type == stretch) {
      $vertical-space: get-next($size);
      $horizontal-space: get-var($size);
    }

    padding-top: $vertical-space;
    padding-right: $horizontal-space;
    padding-bottom: $vertical-space;
    padding-left: $horizontal-space;
  }
}
