@use 'function-get-var' as *;

@mixin inline ($type: left, $size: m) {
  $space: get-var($size);

  @if ($type == left) {
    margin-right: $space;
    margin-left: 0;
  }

  @else if ($type == right) {
    margin-right: 0;
    margin-left: $space;
  }
}
