@use '../variables' as *;
@use '../mixin-space-inset-group' as *;
@use '../../breakpoints' as *;
@use '../../helpers' as *;

.ch-spaceInsetGroup {
  $types: (default, squish, stretch);

  @each $size in $space-sizes {
    @each $type in $types {
      $invalid-squish:  $type == squish  and $size == xxs;
      $invalid-stretch: $type == stretch and $size == xxl;

      @if not $invalid-squish and not $invalid-stretch {
        @each $screen in $breakpoint-screens {
          $sufix: generate-variation(($size, $type, $screen), (m, default, mobile));

          @include media (from, $screen) {
            @at-root #{&}#{$sufix} {
              @include space-inset-group($type, $size);
            }
          } // @include ch-media
        } // @each $screen in $ch-breakpoint-screens
      } // @if not $invalid-squish and not $invalid-stretch
    } // @each $type in $types
  } // @each $size in $ch-space-sizes
}
