@import '../../abstracts/space';
@import '../../abstracts/border';
@import '../../abstracts/colors';
@import '../../abstracts/typography';

.ch-avatar {
  $avatar-width: ch-get-space(xl);

  // 1. Base

  @include ch-border-radius(circle);
  
  display: block;
  position: relative;

  width: #{$avatar-width};
  height: #{$avatar-width};
  text-align: center;
  background: #{ch-get-color(neutral, 2)};
  
  &,
  &:first-letter {
    line-height: #{$avatar-width};
  }

  // 2. Abbreviation
  
  &:before {
    content: #{attr(title)};
    font-size: 0;
  }

  &:first-letter {
    color: #{ch-get-color(text, 2)};
    font-size: #{ch-get-text-size(3)};
    line-height: #{$avatar-width};
  }

  // 3. Image

  > #{&}-image,
  > img {
    @include ch-border-radius(circle);

    display: block;
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-size: cover;
    object-fit: cover;
  }
}
