.main-content {
  margin-left: $navigationSize;
  min-height: 100%;

  @media screen and (max-width: 768px) {
    margin-left: 0;
  }
}

.ch-content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &.padded {
    padding: 10px;
  }

  .row.white {
    background-color: #fff;
  }

  @media screen and (max-width: 768px) {
    min-height: calc(100vh - 65px - 50px);
    padding-bottom: 50px;
  }
}

.ch-avatar-container {
  width: 35px;

  &.big {
    width: 105px;
  }
}

.ch-avatar {
  width: 35px;
  height: 35px;

  .big & {
    width: 105px;
    height: 105px;
  }

  &.rounded {
    border-radius: 100%;
  }
}

.ch-avatar-upload {
  display: flex;
  align-items: center;

  .info {
    margin: 0 1.5em;

    .ui.header {
      margin-bottom: 5px;
    }

    p {
      margin: 0;
    }

    .ui.button {
      margin: 10px 0 0;
    }
  }

  &.vertical {
    display: block;
    text-align: center;

    .ch-avatar-container {
      margin: 0 auto;
    }
  }
}

.ch-input-file {
  input[type="file"] {
    display: none;
  }
}

.ch-detail-header {
  .info {
    display: flex;
    vertical-align: middle;

    .ui.header {
      margin-top: 0;
      margin-left: 20px;
      align-self: center;
    }
  }
}
