.ch-toggle {

  // 1. Base

  @include ch-paddingless;

  position: relative;
  display: inline-block;

  &,
  &-icon {
    width: #{ch-get-icon-size()};
    height: #{ch-get-icon-size()};
  }

  &-toggle,
  &-icon {
    position: absolute;
  }

  // 2. Toggle

  &-toggle {
    top: 0;
    left: 0;
    z-index: #{ch-get-z-index(1, 1)};

    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  // 3. Icon

  &-icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #{ch-get-color(text, 2)};
    mask-image: url(#{$ch-icon-ellipsis});
    -webkit-mask-image: url(#{$ch-icon-ellipsis});
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;

    &:hover:focus,
    &:hover,
    &:focus {
      background-color: #{ch-get-color(text, 1)};
    }
  }

  &-toggle:checked + &-icon {
    mask-image: url(#{$ch-icon-ellipsis});
    -webkit-mask-image: url(#{$ch-icon-times});
  }

  // 4. Up variation

  &--up {
    .ch-toggle-icon {
      mask-image: url(#{$ch-icon-angle-double-up});
      -webkit-mask-image: url(#{$ch-icon-angle-double-up});
    }

    .ch-toggle-toggle:checked + .ch-toggle-icon {
      mask-image: url(#{$ch-icon-angle-double-down});
      -webkit-mask-image: url(#{$ch-icon-angle-double-down});
    }
  }

  // 5. Right variation

  &--right {
    .ch-toggle-icon {
      mask-image: url(#{$ch-icon-angle-double-right});
      -webkit-mask-image: url(#{$ch-icon-angle-double-right});
    }

    .ch-toggle-toggle:checked + .ch-toggle-icon {
      mask-image: url(#{$ch-icon-angle-double-left});
      -webkit-mask-image: url(#{$ch-icon-angle-double-left});
    }
  }

  // 6. Down variation

  &--down {
    .ch-toggle-icon {
      mask-image: url(#{$ch-icon-angle-double-right});
      -webkit-mask-image: url(#{$ch-icon-angle-double-down});
    }

    .ch-toggle-toggle:checked + .ch-toggle-icon {
      mask-image: url(#{$ch-icon-angle-double-up});
      -webkit-mask-image: url(#{$ch-icon-angle-double-up});
    }
  }

  // 7. Left variation

  &--left {
    .ch-toggle-icon {
      mask-image: url(#{$ch-icon-angle-double-left});
      -webkit-mask-image: url(#{$ch-icon-angle-double-left});
    }

    .ch-toggle-toggle:checked + .ch-toggle-icon {
      mask-image: url(#{$ch-icon-angle-double-right});
      -webkit-mask-image: url(#{$ch-icon-angle-double-right});
    }
  }

  // 8. Plus variation

  &--plus {
    .ch-toggle-icon {
      mask-image: url(#{$ch-icon-plus});
      -webkit-mask-image: url(#{$ch-icon-plus});
    }

    .ch-toggle-toggle:checked + .ch-toggle-icon {
      mask-image: url(#{$ch-icon-minus});
      -webkit-mask-image: url(#{$ch-icon-minus});
    }
  }

  // 8. Plus variation

  &--nav {
    .ch-toggle-icon {
      mask-image: url(#{$ch-icon-nav-retract});
      -webkit-mask-image: url(#{$ch-icon-nav-retract});
    }

    .ch-toggle-toggle:checked + .ch-toggle-icon {
      mask-image: url(#{$ch-icon-nav-expand});
      -webkit-mask-image: url(#{$ch-icon-nav-expand});
    }
  }
}
