.ch-header-nav-button.ch-dropdown.ch-account
  button.ch-dropdown-toggle(type="button") MyFreecomm
    i.fal.fa-chevron-down.fa-icon.dropdown
  .ch-dropdown-content.bottom.right.ch-account-container(tabindex="-1")
    .ch-account-header
      i.fal.fa-search
      input.ch-search-form-input(type="text" placeholder="Busque por conta ou entidade")
      .actions
        button.btn-close.mobile-only
          i.fal.fa-times

    .ch-account-content
      nav.menu
        span.ch-dropdown-header Contas
        ul.ch-dropdown-menu
          li.ch-dropdown-menu-item.active
            a(href="#") Grupo Nexaas
            nav.submenu
              span.ch-dropdown-header Entidades
              ul.ch-dropdown-menu
                li.ch-dropdown-menu-item.active
                  a(href="#") MyFreecomm
                li.ch-dropdown-menu-item
                  a(href="#") Empresa I
                li.ch-dropdown-menu-item
                  a(href="#") Empresa II
                li.ch-dropdown-menu-item
                  a(href="#") Empresa III
                li.ch-dropdown-menu-item
                  a(href="#") Empresa IV

          li.ch-dropdown-menu-item
            a(href="#") J Experts

          li.ch-dropdown-menu-item
            a(href="#") Acme Factoring
