.ch-header-nav-button.ch-dropdown.ch-account
  button.ch-dropdown-toggle(type="button") MyFreecomm
    i.fal.fa-chevron-down.fa-icon.dropdown
  .ch-dropdown-content.bottom.right.ch-account-container(tabindex="-1")
    .ch-account-header Selecione sua conta
      //- .actions
      //-   i.fal.fa-times.btn-close

    .ch-account-content
      nav.menu
        span.label Contas
        ul
          li.active
            a(href="#") Grupo Nexaas
            nav.submenu
              span.label Entidades
              ul
                li
                  a(href="#") Myfreecomm
                li.active
                  a(href="#") Empresa I
                li
                  a(href="#") Empresa II
                li
                  a(href="#") Empresa III
                li
                  a(href="#") Empresa IV

          li
            a(href="#") J Experts

          li
            a(href="#") Acme Factoring
