.ch-header-nav-button.ch-dropdown.computer-only.ch-user(href="#")
  button.ch-avatar.ch-dropdown-toggle(type="button")
    img.ui.avatar.image(src="http://i.pravatar.cc/50?img==4")

  .ch-dropdown-content.bottom.right(tabindex="-1")
    .ch-user-container
      .ch-user-header
        img.avatar(src="http://i.pravatar.cc/54?img==4")
        .info
          strong.name Lorem Ipsum
          .email lorem.ipsum@myfreecomm.com.br
      .ch-user-action
        a(href="#")
          i.fal.fa-user.fa-icon
          span.label Meu Perfil

      .ch-user-action
        a(href="#")
          i.fal.fa-sign-out.fa-icon
          span.label Sair do Chameleon
