@import '../colors';

@mixin ch-border (
  $rules: box,
  $color: border,
  $style: solid,
  $width: $ch-border-width
) {
  $color: ch-get-color($color...);

  @each $rule in $rules {
    @if $rule == box {
      border: $width $style $color;
    }

    @else if $rule == horizontal {
      border-left: $width $style $color;
      border-right: $width $style $color;
    }

    @else if $rule == vertical {
      border-top: $width $style $color;
      border-bottom: $width $style $color;
    }

    @else if $rule == top {
      border-top: $width $style $color;
    }

    @else if $rule == right {
      border-right: $width $style $color;
    }

    @else if $rule == bottom {
      border-bottom: $width $style $color;
    }

    @else if $rule == left {
      border-left: $width $style $color;
    }

    @else if $rule == none {
      border: 0;
    }

    @else if $rule == list {
      & > *:not(:first-child) {
        border-top: $width $style $color;
      }
    }
  }
}
