$ch-border-width: 1px;

$ch-border-top:                 (top,    $ch-border-width, solid, border);
$ch-border-bottom:              (bottom, $ch-border-width, solid, border);

$ch-border-box-transparent:     (box,    $ch-border-width, solid, transparent);

$ch-border-box:                 (box,    $ch-border-width, solid, border);
$ch-border-box-focus:           (box,    $ch-border-width, solid, (border focus));
$ch-border-box-active:          (box,    $ch-border-width, solid, (border active));

$ch-border-box-primary:         (box,    $ch-border-width, solid, primary);
$ch-border-box-primary-focus:   (box,    $ch-border-width, solid, (primary focus));
$ch-border-box-primary-active:  (box,    $ch-border-width, solid, (primary active));

$ch-border-box-negative:        (box,    $ch-border-width, solid, negative);
$ch-border-box-negative-focus:  (box,    $ch-border-width, solid, (negative focus));
$ch-border-box-negative-active: (box,    $ch-border-width, solid, (negative active));

$ch-border-box-inverse:         (box,    $ch-border-width, solid, (border inverse));
$ch-border-box-inverse-focus:   (box,    $ch-border-width, solid, (border inverse focus));
$ch-border-box-inverse-active:  (box,    $ch-border-width, solid, (border inverse active));
