@import './function-get-color-hover';

@mixin ch-ripple-effect ($color-type) {
  $type: if($color-type != 'secondary', $color-type, 'primary');

  transition: background 0.8s;
  background-color: if($color-type == 'primary', #{ch-get-color($color-type)}, transparent);
  background-position: center;

  &:hover:focus,
  &:hover,
  &:focus {
    background: #{ch-get-color-hover($type)};
  }

  &:active {
    background-color: #{ch-get-color($type, active)};
    background-size: 100%;
    transition: background 0s;
  }

}
