@mixin ch-ripple-effect ($color) {
  position: relative;
  overflow: hidden;

  &:after {
    $empty: '';

    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    content: $empty;
    border-radius: 50%;
    background: $color;
    animation: --ch-ripple-effect #{$ch-transition-duration-very-slow};
  }

  &:focus:not(:active):after {
    display: block;
  }

  @keyframes --ch-ripple-effect {
    #{0%} {
      width: #{ch-get-icon-size()};
      height: #{ch-get-icon-size()};
      opacity: 0.5;
    }

    #{100%} {
      width: calc(10 * #{ch-get-icon-size()});
      height: calc(10 * #{ch-get-icon-size()});
      opacity: 0;
    }
  }
}
