@use '../../foundation/borders' as borders;
@use '../../foundation/colors' as colors;
@use '../../foundation/helpers' as helpers;
@use '../../foundation/spaces' as spaces;
@use 'variables' as *;
@use 'functions' as *;

.ch-icon {
  // 1. Base

  text-align: center;

  // 2. Circle variation

  &--circle {
    @include borders.border-radius(circle);

    color: colors.get-color(text, 1, inverse);
    background-color: colors.get-color(default);
  }

  // 3. Size variations

  @each $size in $sizes {
    $posfix: helpers.generate-variation(($size), (m));
    $path: if($size != m, #{&}#{&}#{$posfix}, #{&});

    @at-root #{$path} {
      font-size: get-icon-size($size);
      width: get-icon-size($size);

      &.ch-icon--circle {
        $sqrt2: 1.41421356237;
        $size: calc(#{get-icon-size($size)} * #{$sqrt2} + #{spaces.get-space(xxs)});

        height: $size;
        width: $size;
        line-height: $size;
        vertical-align: middle;
      }
    }
  }
}
