@use '../../foundation/colors' as colors;
@use '../../foundation/spaces' as spaces;
@use '../../foundation/thypography' as thypography;

*:not(img).ch-brand {
  $brand-icon-size: calc(#{ch-get-dimension(1)} - 2 * #{spaces.get-space(s)}); // @todo

  // 1. Base

  @at-root img.ch-brand {
    display: inline-block;

    width: auto;
    height: $brand-icon-size;
  }

  position: relative;

  padding-left: calc(#{$brand-icon-size} + #{spaces.get-space(s)});

  // 2. Icon

  img,
  &-icon {
    position: absolute;
    top: 0;
    left: 0;

    width: $brand-icon-size;
    height: $brand-icon-size;
  }

  // 3. Name

  &-name {
    color: #{colors.get-color(text, 1)};
    font-family: #{thypography.get-font-family(brand)};
    font-size: #{thypography.get-font-size(5)};
    line-height: $brand-icon-size;
  }
}
