@import '../../abstracts/breakpoints';
@import '../../abstracts/colors';
@import '../../abstracts/typography';
@import '../../abstracts/dimensions';
@import '../../abstracts/transition';

.ch-brand {
  $brand-icon-width: calc(#{ch-get-dimension(1)} - 2 * #{ch-get-space(s)});

  // 1. Base

  position: relative;

  padding-left: calc(#{$brand-icon-width} + #{ch-get-space(s)});

  // 2. Icon

  img,
  &-icon {
    position: absolute;
    top: 0;
    left: 0;

    width: $brand-icon-width;
    height: $brand-icon-width;
  }

  // 3. Name

  &-name {
    color: #{ch-get-color(text, 1)};
    font-family: #{ch-get-text-font-family(brand)};
    font-size: #{ch-get-text-size(5)};
    line-height: $brand-icon-width;
  }
}
