@import '../../abstracts/grid/';

.ch-fieldGroup {
  > * {
    @include ch-grid-column(1);
  }

  @each $screen in $ch-breakpoint-screens {
    $columns-number: map-get($ch-columns-number, $screen) / 2;
    $gutter: map-get($ch-columns-gutter, $screen);

    @include ch-media(from, $screen) {
      @at-root & {
        @include ch-grid($columns-number, $gutter);
      }

      @for $i from 1 through $columns-number {
        $suffix: ch-generate-variation(($i, $screen), (undefined, mobile));
        $path: #{&}#{&}#{$suffix};

        @at-root #{$path} {
          @include ch-grid($i, $gutter);
        }

        $column-suffix: ch-generate-variation(($i, $screen), (1, mobile));
        $start-suffix: ch-generate-variation((start#{$i}, $screen), (undefined, mobile));

        > #{&}-column#{$column-suffix} {
          @include ch-grid-column($i);
        }

        > #{&}-column#{$start-suffix} {
          grid-column-start: $i;
        }
      } // @for $i from 1 through $columns-number
    } // @include ch-media(from, $screen)
  }
}
