.ch-modal {
  @include ch-card;
  @include ch-transition(unquote('visibility, opacity, transform'));
  @include ch-shadow(5, top-bottom, rgba(#000, 0.45));
  @include ch-paddingless;

  position: relative;
  display: flex;
  flex-direction: column;

  visibility: hidden;
  opacity: 0;
  max-width: 100%;
  max-height: 100%;
  border: 0;
  transform: scale(.75);

  &.is-open {
    @include ch-transition(unquote('visibility, opacity, transform'));

    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  > .ch-overlay {
    @include ch-border-radius(2);

    + .ch-modal-header,
    + .ch-modal-content,
    + .ch-modal-footer {
      padding-top: ch-get-space(l);
    }
  }

  & > &-header,
  & > &-content,
  & > &-footer {
    padding-right: ch-get-space(l);
    padding-left: ch-get-space(l);

    &:only-child {
      padding-top: ch-get-space(l);
      padding-bottom: ch-get-space(l);
    }

    &:last-child {
      padding-bottom: ch-get-space(l);
    }

    &:first-child {
      padding-top: ch-get-space(l);
    }
  }

  &-header {
    @include ch-space-stack(l);

    display: flex;

    &-actions {
      margin-left: auto;
      min-width: fit-content;
    }
  }

  &-content {
    flex-grow: 1;
    overflow-y: auto;

    * + &:not(:last-child) {
      @include ch-space-stack(l);
    }
  }

  &--aside {
    @include ch-shadow(5, right-left, rgba(#000, 0.45));

    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    transform: translateX(100%);

    &.is-open {
      transform: translateX(0);
    }
  }

  &:not(&--aside).is-open {
    position: relative;
  }

  @include ch-media(from, tablet) {
    &:not(&--aside) {
      height: auto;
    }

    // Modal size variations

    @each $size in $ch-modal-sizes {
      $posfix: ch-generate-variation(($size), (m));
      $path: if($size != m, #{&}#{&}#{$posfix}, #{&});

      @at-root #{$path} {
        width: ch-get-modal-size($size);
      }
    }

    // Modal aside max width on desktop

    .ch-template-nav:not(.is-expanded) + .ch-template-content & {
      &--aside {
        max-width: calc(100% - #{ch-get-dimension(1)});
      }
    }

    .ch-template-nav.is-expanded + .ch-template-content & {
      &--aside {
        max-width: calc(100% - #{ch-get-dimension(2)});
      }
    }
  }

  &--fullscreen {
    width: 100%;
    height: 100%;
  }

  &--fullWidth {
    width: 100%;
  }
}
