.ch-modal {
  @include ch-card;
  @include ch-transition(visibility opacity transform);
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: 0;
  visibility: hidden;
  opacity: 0;
  transform: scale(.75);

  &.is-active {
    @include ch-transition(visibility opacity transform);
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  &:not(&--aside).is-active {
    position: relative;
  }

  &-header {
    display: flex;

    &:not(:last-child) {
      @include ch-space-stack(l);
    }

    &-title {
      flex-grow: 1;
    }

    &-closeButton {
      @include ch-space-inline(right);
      align-self: flex-start;
      min-width: fit-content;
    }
  }

  &-content {
    flex-grow: 1;

    * + &:not(:last-child) {
      @include ch-space-stack(l);
    }
  }

  @include ch-media(from, tablet) {
    @include ch-border-radius(2);
    display: block;
    width: auto;
    height: auto;

    &--aside {
      display: flex;
      flex-direction: column;
      position: absolute;
      height: 100%;
      right: 0;
      bottom: 0;
      border-radius: 0;
      transform: translateX(100%);

      &.is-active {
        transform: translateX(0);
      }
    }
  }
}
