@use '../../foundation/spaces' as spaces;

.ch-blankslate {

  // 1. Base

  display: flex;
  width: 100%;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  // 2. Content

  &-content {
    @include spaces.stack-group(xs);

    text-align: center;
    align-items: center;

    // 2.1. Image

    &-image {
      width: ch-get-dimension(2);
    }
  }
}
