// sass-lint:disable no-important

@import '../../abstracts/helpers';
@import '../../abstracts/colors';

.ch-text {
  &--left {
    text-align: left !important;
  }

  &--right {
    text-align: right !important;
  }

  &--center {
    text-align: center !important;
  }

  &--truncate {
    @include ch-truncate;
  }

  @each $type in (info, warning, negative, positive) {
    &--#{$type} {
      color: #{ch-get-color(#{$type})} !important;
    }
  }
}
