.ch-errorPage {

  // 1. Base

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 100vh;
  text-align: center;
  background-color: #{ch-get-color(neutral, 2)};

  > *:not(#{&}-code):not(:last-child) {
    @include ch-space-stack(l);
  }

  // 2. Code

  &-code {
    position: relative;

    font-size: calc(#{ch-get-text-size()} * 8);
    line-height: 1em;
    margin-bottom: 0;

    .ch-icon {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(100%);
    }

    @include ch-media(from, tablet) {
      font-size: calc(#{ch-get-text-size()} * 12);
    }
  }

  // 3. Button

  > .ch-button {
    font-size: #{ch-get-text-size(3)};
  }

  // 4. Footer

  > .ch-footer {
    @include ch-border(top);

    display: flex;
    align-items: center;
    justify-content: center;

    height: #{ch-get-dimension(1)};
  }
}
