@import '../../abstracts/colors';
@import '../../abstracts/dimensions';
@import '../../abstracts/border';
@import '../../abstracts/typography';
@import '../../abstracts/layers';
@import '../../abstracts/space';

.ch-errorPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: calc(100vh - #{ch-get-dimension(1)});
  text-align: center;
  background-color: #{ch-get-color(neutral, 2)};

  &-code {
    position: relative;

    font-size: calc(#{ch-get-text-size()} * 8);
    line-height: 1em;

    .ch-icon {
      position: absolute;
      top: 0;
      right: calc(#{ch-get-icon-size(xl)} * -1);

      width: #{ch-get-icon-size(xl)};
      height: #{ch-get-icon-size(xl)};

      &:before,
      &:after  {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:before {
        z-index: #{ch-get-z-index(1, 2)};

        color: #{ch-get-color(text, 1, inverse)};
      }

      &:after {
        $empty: '';

        @include ch-border-radius(circle);

        z-index: #{ch-get-z-index(1, 1)};

        content: $empty;
        width: 100%;
        height: 100%;
        background-color: #{ch-get-color(brand, 1)};
      }
    }

    @include ch-media(from, tablet) {
      font-size: calc(#{ch-get-text-size()} * 12);
    }
  }

  &-message {
    @include ch-space-stack(l);
  }

  .ch-button {
    font-size: #{ch-get-text-size(3)};
  }

  .ch-footer {
    @include ch-border(top);

    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: #{ch-get-dimension(1)};
    background-color: #{ch-get-color(neutral, 2)};

    &-brand {
      width: auto;
      max-height: calc(#{ch-get-dimension(1)} / 2);
      opacity: 0.2;
    }
  }
}
