// @use '../../foundation/borders' as borders;
// @use '../../foundation/colors' as colors;
@use '../../foundation/breakpoints' as breakpoints;
@use '../../foundation/utils' as utils;
@use '../../foundation/spaces' as spaces;
@use '../../foundation/thypography' as thypography;

.ch-tableResponsive {
  position: relative;

  @include breakpoints.media(to, tablet) {
    $margin-left: calc(#{ch-get-icon-size()} + 2 * #{spaces.get-space(s)}); // @todo
    //$margin-right: ch-calc-box-height(); // @todo
    $margin-right: calc(#{thypography.get-font-size(2)} * #{thypography.get-font-height(1)} + 2 * #{spaces.get-space(xs)});
    // 1. Base

    position: relative;

    // 2. Has leading

    &.has-leading > &-scroll {
      margin-left: $margin-left;
    }

    // 3. Has actions

    &.has-actions > &-scroll {
      margin-right: $margin-right;
    }

    // 4. Scroll

    &-scroll {
      overflow-x: auto;
      overflow-y: visible;
    }

    // 5. Table cell

    td,
    th,
    .ch-table-cell {
      @include thypography.truncate;

      // @todo max-width: #{ch-get-dimension(2)};
    }

    // 6. Table cell leading and actions

    .ch-table-cell--leading,
    .ch-table-cell--actions {
      position: absolute;
      top: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      // height: #{utils.calc-box-height(thypography.get-font-size(2), spaces.get-space())};
    }

    .ch-table-cell--leading {
      left: 0;

      padding-left: 0;
      padding-right: 0;
    }

    .ch-table-cell--actions {
      right: 0;

      width: $margin-right;

      > * {
        right: 0;
      }
    }
  }
}
