script(type="text/javascript" src="assets/js/libs/jquery-3.2.1.min.js")
script(type="text/javascript" src="assets/js/libs/semantic.min.js")
script(type="text/javascript" src="assets/js/libs/calendar.min.js")
script(type="text/javascript" src="assets/js/libs/nouislider.min.js")
script(type="text/javascript" src="assets/js/main.js")
script(type="text/javascript" src="assets/js/init.js")
