css/include ./nav.pug

head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  title.
    Nexaas - Chameleon
  link(rel="stylesheet" href="assets/css/semantic.min.css")
  link(rel="stylesheet" href="assets/css/plugins/calendar/calendar.min.css")
  link(rel="stylesheet" href="assets/css/plugins/nouislider/nouislider.min.css")
  link(rel="stylesheet" href="assets/css/chameleon.min.css")
