@use '../../foundation/borders' as borders;
@use '../../foundation/colors' as colors;
@use '../../foundation/depth' as depth;
@use '../../foundation/thypography' as thypography;

.ch-highlight {
  position: relative;
  z-index: depth.get-z-index(1);

  font-weight: thypography.get-font-weight(bold);
  text-decoration: underline;

  &:after {
    @include borders.border-radius();

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    
    content: '';
    width: 100%;
    height: 100%;
    background: colors.get-color(highlight);
    box-shadow: 0 0 0 #{borders.get-border-radius()} colors.get-color(highlight);
  }
}
