doctype html
html
  include includes/head.pug

  body(data-theme="billimatic")
    .ch-nav
      +logo('billimatic_logo.png', 'Billimatic')

      ul.ch-menu

        include partials/menu/billimatic.pug

        li.ch-menu-item.more.mobile-only
          button(data-toogle="nav")
            i.fal.fa-ellipsis-h-alt.fa-icon

      include partials/expandButton.pug

    main.ch-content
      include includes/message.pug
      include partials/header/billimatic.pug

      .ui.padded.grid.stackable

        .row
          .six.wide.column
            .ch-tabs
              .ui.pointing.secondary.menu
                a.active.item(data-tab="first")
                  i.fal.fa-desktop.fa-icon
                  | Faturamentos
                a.item(data-tab="second")
                  i.fal.fa-cloud-download-alt.fa-icon
                  | Recebimentos
                a.item(data-tab="third")
                  i.fal.fa-print.fa-icon
                  | Pagamentos

          .ten.wide.column.right.aligned
            .dropdown-list
              select.ui.dropdown
                option Todos os canais de venda

              select.ui.dropdown
                option Todos os status

              select.ui.dropdown
                option Últimos 30 dias

    include includes/notifications.pug
    include includes/search.pug
