doctype html
html
  include includes/head.pug

  body
    .ch-nav
      +logo('chameleon_logo.png', 'Chameleon')

      ul.ch-menu

        include partials/menu/generic.pug

        li.ch-menu-item.more.mobile-only
          button(data-toogle="nav")
            i.fal.fa-ellipsis-h-alt.fa-icon

      include partials/expandButton.pug

    main.ch-content
      include includes/header.pug
      .ui.padded.grid.stackable
        .ch-blankslate
          .ui.segment.basic.center.aligned.paddingless
            i.fal.fa-frown.fa-9x
            h2.ui.header Ainda não há nada a ser mostrado
              .sub.header Comece a construir seu dashboard configurando sua conta e adicionando informações
            .ui.divider.hidden
            button.ui.button.primary(type="button") Iniciar configuração


    include includes/notifications.pug
    include includes/search.pug
