-
  var people = [
    { name: "Administrador", email: "admin@email.com", permissions: true },
    { name: "Lorem Ipsum", email: "lorem@email.com", permissions: false },
    { name: "Rachel Lilki", email: "rachel@email.com", permissions: false },
    { name: "Jamie Harington", email: "jamie@email.com", permissions: false },
    { name: "John Lewis", email: "john@email.com", permissions: false },
  ];

doctype html
html
  include includes/head.pug

  body
    +nav('pages.html')

    .main-content
      include includes/header.pug

      .ch-content
        .ch-content-header
          h2.ui.medium.header Conta Lorem Ipsum

          .ch-group-buttons
            button.ui.button.basic.
              #[i(class="ui icon exchange")] Trocar Conta
            a(href="#").ui.positive.button Editar

        .ui.stackable.padded.grid
          .row
            .thirteen.wide.column
              .ui.horizontal.segments
                .ui.segment.center.aligned
                  .ui.header 5
                    .sub.header Usuários

                .ui.segment.center.aligned
                  .ui.header 6
                    .sub.header Organizações

                .ui.segment.center.aligned
                  .ui.header 63
                    .sub.header Documentos

              .ui.segments
                .ui.attached.segment.ch-segment-header
                  .ch-segment-header-title Usuários
                  button.ui.button.grey.
                    #[i(class="ui icon add user")] Convidar Usuário
                .ui.segment.attached.paddingless
                  table.ui.basic.selectable.table
                    thead
                      tr
                        th Nome
                        th E-mail
                        th Permissões
                        th &nbsp;
                    tbody
                      each person in people
                        tr
                          td(data-info="Nome")= person.name
                          td(data-info="E-mail")= person.email
                          td
                            if person.permissions
                              span.ui.label Administrador
                            else
                              span &nbsp;
            .three.wide.column

              .ui.segment.basic
                .ui.header Token de Acesso à API
                .ui.action.input.mini.ch-copy-input
                  input(type="text" value="http://ww.short.url/c0opq")
                  button.ui.icon.button
                    i.icon.copy
                .ui.icon.message.tiny
                  i.ui.icon.info
                  .content.
                    O token permite que as aplicações se autentiquem na API do Emites. Informe este código nas aplicações a
                    serem integradas ao Emites.

    include includes/filters.pug
    include includes/notifications.pug
    include includes/search.pug
    include includes/foot.pug
