doctype html
html
  include includes/head.pug

  body(data-theme="chameleon")
    +nav('employees.html')

    .main-content
      include includes/header.pug

      .ch-content
        .ch-content-header.colored.padded
          .ch-detail-header
            .info
              .ch-avatar-container.big
                img.ch-avatar.rounded(src="http://i.pravatar.cc/105?img=1")
              .ui.large.header Rachel Lilki
                .sub.header rachel@email.com
          .ch-group-buttons
            button.ui.negative.button.basic Excluir
            a(href="employee-edit.html").ui.positive.button Editar
        br
        br
        .ui.stackable.padded.grid.centered
          .row
            .fourteen.wide.column
              .ui.segments
                .ui.attached.segment.ch-segment-header
                  .ch-segment-header-title Sobre o Colaborador
                .ui.attached.segment
                  .ui.grid
                    .four.wide.computer.sixteen.wide.mobile.column
                      span Nº de Registro
                      p
                        strong 32133
                    .four.wide.computer.sixteen.wide.mobile.column
                      span Cargo
                      p
                        strong Aux. Administrativo
                    .four.wide.computer.sixteen.wide.mobile.column
                      span Salário
                      p
                        strong R$ 5.000,00

              .ui.segments
                .ui.attached.segment.ch-segment-header
                  .ch-segment-header-title Dados Pessoais
                .ui.attached.segment
                  .ui.grid
                    .four.wide.computer.sixteen.wide.mobile.column
                      span CPF
                      p
                        strong 123.456.789-10
                    .four.wide.computer.sixteen.wide.mobile.column
                      span Data de Nascimento
                      p
                        strong 20/05/1985
                    .four.wide.computer.sixteen.wide.mobile.column
                      span Nacionalidade
                      p
                        strong Brasileira
                    .four.wide.computer.sixteen.wide.mobile.column
                      span Naturalidade
                      p
                        strong São Paulo, SP
                    .four.wide.computer.sixteen.wide.mobile.column
                      span Sexo
                      p
                        strong Feminino
                    .four.wide.computer.sixteen.wide.mobile.column
                      span Estado Civil
                      p
                        strong Casada
                    .four.wide.computer.sixteen.wide.mobile.column
                      span Escolaridade
                      p
                        strong Superior Completo
                    .four.wide.computer.sixteen.wide.mobile.column
                      span Endereço
                      p
                        strong Rua Lorem Ipsum, 00 - Flamengo, Rio de Janeiro - RJ

    include includes/notifications.pug
    include includes/search.pug
    include includes/foot.pug
    script(type="text/javascript").
      $('.js-new-billet').on('click', function() {
        $('.long.modal').modal('show');
        $(this).removeClass('.active.selected');
      });
