doctype html
html
  include includes/head.pug

  body
    +nav('pages.html')

    .main-content
      include includes/header.pug

      .ch-content
        .ch-content-header
          h2.ui.medium.header Alterar Colaborador
            .sub.header Utilize o passa a passo para alterar as informações do colaborador

          ol.ch-wizard.ch-wizard--horizontal
            li.ch-wizard-step.current.
              Informações Pessoais
            li.ch-wizard-step.
              Informações de Endereço
            li.ch-wizard-step.
              Foto de Perfil
            li.ch-wizard-step.
              Final

        .ui.stackable.padded.grid.centered
          .row
            .sixteen.wide.column
              form.ui.form
                .ui.segments
                  .ui.attached.segment.ch-segment-header
                    .ch-segment-header-title Informações Pessoais
                  .ui.attached.segment.padded
                    .fields
                      .eight.wide.field.required
                        label(for="") Nome Completo
                        input(type="text" placeholder="Nome" value="Rachel Lilki")

                      .field.required
                        label(for="") Nº de Registro
                        input(type="text" value="32133")

                    .four.fields
                      .field
                        label(for="") Data de Nascimento
                        .ui.left.icon.input
                          input(type="date" placeholder="dd/mm/aaaa" value="1985-05-20")
                          i.calendar.icon

                      .field
                        label(for="") Nacionalidade
                        input(type="text" placeholder="Nacionalidade" value="Brasileira")

                      .field
                        label(for="") Naturalidade
                        input(type="text" placeholder="Naturalidade" value="São Paulo, SP")

                      .field
                        label(for="") Sexo
                        input(type="text" placeholder="" value="Feminino")

                    .two.fields
                      .field
                        label(for="") Estado Civil
                        select.ui.dropdown(name="")
                            each option in ["Opção 1", "Opção 2"]
                              option(value= option)= option
                      .field
                        label Escolaridade
                        select.ui.dropdown(name="")
                            each option in ["Opção 1", "Opção 2"]
                              option(value= option)= option

                    .two.fields
                      .field
                        label(for="") Cargo
                        input(type="text" value="Aux. Administrativo")

                      .field
                        label(for="") Salário
                        .ui.right.labeled.input
                          input(type="text" placeholder="0,00" value="5.000,00")
                          .ui.dropdown.label
                            .text BRL
                            i.dropdown.icon
                            .menu
                              .item BRL
                              .item EUR

                  .ui.attached.segment
                    .ch-buttons-container
                      .cancel-container
                        a(href="employee-detail.html").ui.button.basic.small Cancelar
                      .submit-container
                        input(type="submit" value="Salvar").ui.button.grey.small
                        a(href="employee-edit-page2.html").ui.positive.button.small Salvar e continuar


    include includes/notifications.pug
    include includes/search.pug
    include includes/foot.pug
    script(type="text/javascript").
      $('.js-new-billet').on('click', function() {
        $('.long.modal').modal('show');
        $(this).removeClass('.active.selected');
      });
