doctype html
html
  include includes/head.pug

  body

    section.error
      h1.error-number
        | 404
        i.error-number-icon.fal.fa-unlink

      article
        header.error-header A página que tentou acessar não existe
        .error-message Você deve ter digitado algo errado ou a página deve ter sido alterada.
        a.error-cta(href="#") Voltar para o site
