doctype html
html
  include includes/head.pug

  body

    section.ch-error-page
      h1.ch-error-page-number
        | 404
        i.ch-error-page-number-icon.fal.fa-unlink

      article
        header.ch-error-page-header A página que tentou acessar não existe
        .ch-error-page-message Você deve ter digitado algo errado ou a página deve ter sido alterada.
        a.ch-error-page-cta(href="#") Voltar para o site

        footer.ch-error-page-footer
          img.ch-error-page-footer-logo(src="../assets/images/nexaas_logo_pb.png")
