-
  var workers = [
    { id: "32133", name: "Rachel Lilki", email: "rachel@email.com",  post: "Aux. Administrativo", avatar_src: "http://i.pravatar.cc/50?img=1", href: "employee-detail.html",
      cpf: "123.456.789-10", salary: "5.000,00", birthday: "25/03/1988", adress: "Rua Lorem Ipsum, 00 - Flamengo, Rio de Janeiro - RJ"
    },
    { id: "76914", name: "Jamie Harington", email: "jamie@email.com",  post: "Designer Jr.", avatar_src: "http://i.pravatar.cc/50?img=2", href: "#" ,
      cpf: "123.456.789-11", salary: "4.500,00", birthday: "25/03/1990", adress: "Rua Lorem Ipsum, 00 - Flamengo, Rio de Janeiro - RJ"
    },
    { id: "96610", name: "John Lewis", email: "john@email.com",  post: "UX Designer", avatar_src: "http://i.pravatar.cc/50?img=3", href: "#",
      cpf: "123.456.789-12", salary: "5.000,00", birthday: "25/03/1988", adress: "Rua Lorem Ipsum, 00 - Morumbi, São Paulo - SP"
    },
  ];

doctype html
html
  include includes/head.pug

  body
    +nav('form.html')

    .main-content
      include includes/header.pug

      .ch-content
        .ch-content-header
          h1.ui.header Formulários
            .sub.header Exemplos de formulários

        .ui.stackable.padded.grid
          .row
            .eight.wide.column
              form.ui.form
                .ui.segments
                  .ui.attached.segment.padded
                    .fields
                      .eight.wide.field.required
                        label(for="") Nome Completo
                        input(type="text" placeholder="Nome" value="Rachel Lilki")

                      .field.required
                        label(for="") Nº de Registro
                        input(type="text" value="32133" disabled)

                    .four.fields
                      .field
                        label(for="") Data de Nascimento
                        .ui.left.icon.input
                          input(type="date" placeholder="dd/mm/aaaa" value="1985-05-20")
                          i.calendar.icon

                      .field
                        label(for="") Nacionalidade
                        input(type="text" placeholder="Nacionalidade" value="Brasileira")

                      .field
                        label(for="") Naturalidade
                        input(type="text" placeholder="Naturalidade" value="São Paulo, SP")

                      .field
                        label(for="") Sexo
                        input(type="text" placeholder="" value="Feminino")

                    .two.fields
                      .field
                        label(for="") Estado Civil
                        select.ui.dropdown(name="")
                            each option in ["Opção 1", "Opção 2"]
                              option(value= option)= option
                      .field
                        label Escolaridade
                        select.ui.dropdown(name="")
                            each option in ["Opção 1", "Opção 2"]
                              option(value= option)= option

                    .two.fields
                      .field
                        label(for="") Cargo
                        input(type="text" value="" placeholder="Função")

                      .field
                        label(for="") Salário
                        .ui.right.labeled.input
                          input(type="text" placeholder="0,00" value="5.000,00")
                          .ui.dropdown.label
                            .text BRL
                            i.dropdown.icon
                            .menu
                              .item BRL
                              .item EUR
                  .ui.attached.segment.right.aligned
                    input(type="submit" value="Salvar").ui.button.positive.small

            .eight.wide.column
              form.ui.form
                .ui.segments
                  .ui.attached.segment.padded
                    .field
                      label Multiple Select
                      select.ui.dropdown(name="" multiple)
                          each option in ["Opção 1", "Opção 2", "Opção 3", "Opção 4", "Opção 5"]
                            option(value= option)= option
                    .field.error.required
                      label E-mail
                      input(type="text" placeholder="E-mail" value="email@email.com")
                    .inline.fields
                      label Boolean
                      .field
                        .ui.radio.checkbox
                          input(type="radio" name="boolean" value="yes")
                          label Sim
                      .field
                        .ui.radio.checkbox
                          input(type="radio" name="boolean" value="no")
                          label Não

                    .field
                      label Observações
                      textarea(rows="2" placeholder="Insira aqui suas observações")
                    .inline.field.required
                      .ui.checkbox
                        input(type="checkbox")
                        label Trabalha Remotamente
                  .ui.attached.segment.ch-segment-footer
                    .ch-segment-footer-buttons
                      .left.content
                        button.ui.button.basic.small Cancelar
                      .right.content
                        input(type="submit" value="Enviar").ui.button.positive.small

    include includes/notifications.pug
    include includes/search.pug
    include includes/foot.pug
