doctype html
html
  include includes/head.pug

  body
    .ch-login
      .ch-login-container
        .ch-login-header
          img.logo-nexaas(src="../assets/images/nexaas_logo.png")

        .ch-login-content
          .ch-login-form
            form.ui.form(action="dashboard.html")
              .field
                input(type="text" placeholder="E-mail")
              .field
                input(type="password" placeholder="Senha")
              .field
                .ui.checkbox
                  input(type="checkbox")
                  label Mantenha-me conectado

              .ui.divider.hidden
              input.ui.fluid.button(type="submit" value="Entrar")

            .ch-login-helpers
              span
                a(href="#") Esqueceu sua senha ?
              span Ainda não possui conta ? <a href="#">Crie Agora</a>

        .ch-login-footer
          ul
            li
              a(href="#") Termos de serviço

            li
              a(href="#") Documentação
