doctype html
html
  include includes/head.pug

  body
    .ch-nav
      +logo('nexaas_id_logo.png', 'ID')

      ul.ch-menu

        include partials/menu/nexaas-id.pug

        li.ch-menu-item.more.mobile-only
          button(data-toogle="nav")
            i.fal.fa-ellipsis-h-alt.fa-icon

      include partials/expandButton.pug

    main.ch-content
      include includes/message.pug
      include partials/header/nexaas-id.pug

      .ch-featured-content
        .ui.padded.grid.stackable
          .nine.wide.tablet.twelve.wide.computer.column
            h2.ui.header.medium Dados Pessoais
            .ui.grid.two.column.stackable
              .column
                .info
                  .description Nome
                  .value Maria Eduarda

              .column
                .info
                  .description Sobrenome
                  .value Ferreira

              .column
                .info
                  .description Gênero
                  .value Feminino

              .column
                .info
                  .description Idioma
                  .value Português

            .ui.divider.hidden

            h2.ui.header.medium Contatos
            .ui.grid.one.column
              .column
                .info
                  .description E-mails
                  ul.list
                    li.value
                      a(href="#") madu.ferreira@gmail.com
                    li.value
                      a(href="#") atendimento@stargames.com.br

              .column
                .info
                  .description Telefones
                  ul.list
                    li.value 21 3520-5101
                    li.value 21 98604-1013

            .ui.divider.hidden

            h2.ui.header.medium Serviços Externos
            .ui.grid.one.column
              .column
                .info
                  .description Skype
                  .value madu.ferreira
          .seven.wide.tablet.four.wide.computer.column.sidebar.reverse-order
            .ui.segment.basic.padded.center.aligned
              .ui.image.small.circular
                img(src="http://i.pravatar.cc/200?img==5")
              .ui.large.header Maria Eduarda
                .sub.header atendimento@stargames.com.br

              .ui.divider.hidden
              .ui.divider.hidden

              .ui.tiny.blue.progress.top.legend(data-percent="75")
                .bar
                .label 75% do perfil preenchido

              .ui.divider.hidden

              .ui.fluid.button.basic.secondary Editar Perfil

    include includes/notifications.pug
    include includes/search.pug

    script.
      $('.ui.progress').progress();





