-
  var workers = [
    { id: "32133", name: "Rachel Lilki", email: "rachel@email.com",  post: "Aux. Administrativo", avatar_src: "http://i.pravatar.cc/50?img=1", href: "employee-detail.html",
      cpf: "123.456.789-10", salary: "5.000,00", birthday: "25/03/1988", adress: "Rua Lorem Ipsum, 00 - Flamengo, Rio de Janeiro - RJ"
    },
    { id: "76914", name: "Jamie Harington", email: "jamie@email.com",  post: "Designer Jr.", avatar_src: "http://i.pravatar.cc/50?img=2", href: "#" ,
      cpf: "123.456.789-11", salary: "4.500,00", birthday: "25/03/1990", adress: "Rua Lorem Ipsum, 00 - Flamengo, Rio de Janeiro - RJ"
    },
    { id: "96610", name: "John Lewis", email: "john@email.com",  post: "UX Designer", avatar_src: "http://i.pravatar.cc/50?img=3", href: "#",
      cpf: "123.456.789-12", salary: "5.000,00", birthday: "25/03/1988", adress: "Rua Lorem Ipsum, 00 - Morumbi, São Paulo - SP"
    },
  ];

doctype html
html
  include includes/head.pug

  body(data-theme="chameleon")
    +nav('wizard.html')

    .main-content
      include includes/header.pug

      .ch-content
        .ch-content-header
          h1.ui.header Wizard
            .sub.header Exemplos de passa a passo na vertical e na horizontal

        .ui.stackable.padded.grid
          .row
            .sixteen.wide.column
              .ui.medium.dividing.header Horizontal

              .ui.divider.hidden

              .ui.grid
                .eight.wide.computer.sixteen.wide.mobile.column
                  .ch-wizard-container
                    ol.ch-wizard.ch-wizard--horizontal
                      li.ch-wizard-step.done.
                        Informações Pessoais
                      li.ch-wizard-step.current.
                        Informações de Endereço
                      li.ch-wizard-step.
                        Foto de Perfil
                      li.ch-wizard-step.
                        Final

              .ui.divider.hidden

              .ui.medium.dividing.header Vertical

              .ui.divider.hidden

              .ch-wizard-container
                ol.ch-wizard.ch-wizard--vertical
                  li.ch-wizard-step.done
                    .header
                      h4.ui.medium.header Selecione o agrupador
                        .sub.header Agrupadores servem para organizar a informação de uma forma mais eficiente.
                    .content

                  li.ch-wizard-step.current
                    .header
                      h4.ui.medium.header Qual tipo ?
                        .sub.header Defina o tipo do seu relatório.
                    .content

                  li.ch-wizard-step
                    .header
                      h4.ui.medium.header Gostaria de mais opções ?
                        .sub.header Quer um relatório mais completo? Adicione gráfico e estatísticas para uma apresentação incrível!
                    .content

    include includes/notifications.pug
    include includes/search.pug
    include includes/foot.pug
