.ch-checkbox,
.ch-radio {

  // 1. Base

  position: relative;
  display: inline-block;

  // 2. Checkbox

  > input[type="checkbox"],
  > input[type="radio"],
  > input[type="checkbox"] + label:before,
  > input[type="radio"] + label:before,
  > input[type="checkbox"] + label:after,
  > input[type="radio"] + label:after {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: ch-get-icon-size();
    height: ch-get-icon-size();
  }

  > input[type="checkbox"],
  > input[type="radio"] {
    z-index: ch-get-z-index(1, 1);

    opacity: 0;
    cursor: pointer;

    + label:before,
    + label:after {
      content: '';
    }

    // 2.1. Wrapper

    + label:before {
      @include ch-border;

      border-radius: ch-get-border-radius();
      background-color: ch-get-color(neutral, 1);
    }

    // 2.1.1. Focus interaction

    &:hover:focus + label:before,
    &:hover + label:before,
    &:focus + label:before {
      border-color: #{ch-get-color(primary, focus)};
    }

    // 2.1.1. Active interaction

    &:active + label:before {
      border-color: #{ch-get-color(primary, active)};
    }

    // 2.2. Tick

    & + label:after {
      $offset: calc(#{ch-get-border-radius()} + 1px);
      $size: calc(#{ch-get-icon-size()} - 2 * #{$offset});

      top: $offset;
      left: $offset;

      width: $size;
      height: $size;
    }
  }

  // 3. Checkbox

  @at-root .ch-checkbox > input[type="checkbox"] {
    &:checked:not([readonly]) + label:before {
      background-color: ch-get-color(primary);
      border-color: ch-get-color(primary);
    }

    &:checked + label:after {
      @include ch-mask-icon($ch-icon-check 'only-mask', $option: 'complete', $backgroundColor: ch-get-color(neutral, 1));
    }

    &[readonly] + label:after {
      background-color: ch-get-color(text, 1);
    }
  }

  // 4. Radio

  @at-root .ch-radio > input[type="radio"] {
    + label:before,
    &:checked + label:after {
      border-radius: ch-get-border-radius(circle);
    }

    &:checked + label:before {
      border-color: ch-get-color(primary, focus);
    }

    &:checked + label:after {
      background: ch-get-color(primary);
    }
  }

  // 5. Label

  > input[type="checkbox"] + label,
  > input[type="radio"] + label {
    display: inline-block;

    padding-left: calc(#{ch-get-icon-size()} + #{ch-get-space(s)});

    &:empty {
      padding: #{0};
      width: ch-get-icon-size();
      height: 0;
    }
  }

  // 6. Disabled and readonly states

  > input {
    &:disabled,
    &.is-disabled {
      & + label,
      & + label:before,
      & + label:after {
        @include ch-disabled;
      }
    }
  }

  > input {
    &:disabled,
    &.is-disabled,
    &[readonly] {
      &,
      & + label,
      & + label:before,
      & + label:after {
        pointer-events: none;
      }

      + label:before {
        background: ch-get-color(neutral, 2);
      }
    }
  }

  @at-root {
    .is-disabled .ch-checkbox > input + label,
    .is-disabled .ch-radio > input + label {
      &:before {
        background: ch-get-color(neutral, 2);
      }

      &,
      &:before,
      &:after {
        opacity: 1;
      }
    }
  }

  // 7. Negative variation

  &--negative {
    color: #{ch-get-color(negative)};

    > input[type="checkbox"],
    > input[type="radio"] {
      + label:before {
        border-color: ch-get-color(negative);
      }

      &:checked + label:after {
        background: #{ch-get-color(negative)};
      }

      &:hover:focus + label:before,
      &:hover + label:before,
      &:focus + label:before {
        border-color: #{ch-get-color(negative, focus)};
      }

      &:active + label:before {
        border-color: #{ch-get-color(negative, active)};
      }
    }
  }
}
