@use '../colors' as *;
@use 'function-get-text-font-family' as *;
@use 'function-get-text-size' as *;
@use 'function-get-text-weight' as *;
@use 'function-get-text-line-height' as *;

@mixin text-subtitle ($hierarchy: 3, $type: '') {
  $hierarchy-sizes: (4, 4, 3, 3, 2, 2);
  $size: nth($hierarchy-sizes, $hierarchy);

  color: #{get-color(text, 2, $type)};
  font-family: #{get-text-font-family()};
  font-size: #{get-text-size($size)};
  font-weight: #{get-text-weight()};
  line-height: #{get-text-line-height()};
}
