@use '../colors' as *;
@use 'function-get-text-font-family' as *;
@use 'function-get-text-size' as *;
@use 'function-get-text-weight' as *;
@use 'function-get-text-line-height' as *;

@mixin text-caption ($type: '') {
  color: #{get-color(text, 2, $type)};
  font-family: #{get-text-font-family()};
  font-size: #{get-text-size(1)};
  font-weight: #{get-text-weight()};
  line-height: #{get-text-line-height()};
}
