.ch-overlay {
  @include ch-transition(unquote('opacity'));

  // 1. Base

  position: fixed;
  top: 0;
  left: 0;
  z-index: ch-get-z-index(5, 1);

  width: 100%;
  height: 100%;
  background-color: ch-get-color(overlay);

  // 2. Visible state

  &:not(.is-visible) {
    visibility: hidden;
    opacity: 0;
  }

  &.is-visible {
    visibility: visible;
    opacity: 1;
  }

  // 3. Content

  &-content {
    @include ch-space-inset();

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
  }

  // 5. Inside variation

  &--inside {
    position: absolute;
  }
}
