<section class="header_actions">
  <div class="header_actions-content">
    <h1 class="header_actions-title">Formulários</h1>
  </div>
</section>

<main class="container">
  <h2>Checkbox</h2>
  <p>Modelos de checkbox padrão</p>

  <h3>Radio Button</h3>
  <input id="male1" type="radio" name="gender" value="male">
  <label for="male1">Radio option 1</label>

  <input id="female" type="radio" name="gender" value="female">
  <label for="female">Radio option 2</label>

  <br><br><br>

  <input id="male2" type="radio" name="gender" value="male">
  <label for="male2">Radio option 1</label>
  <br>
  <input id="female2" type="radio" name="gender" value="female">
  <label for="female2">Radio option 2</label>

  <h3>Checkbox</h3>
  <input id="check1" type="checkbox" name="check" value="check">
  <label for="check1">Checkbox No. 1</label>

  <input id="check2" type="checkbox" name="check" value="check">
  <label for="check2">Checkbox No. 1</label>

  <br><br><br>

  <input id="check3" type="checkbox" name="check" value="check">
  <label for="check3">Checkbox No. 1</label>

  <br>

  <input id="check4" type="checkbox" name="check" value="check">
  <label for="check4">Checkbox No. 2</label>
</main>