<section class="header_actions">
  <div class="header_actions-content">
    <h1 class="header_actions-title">Formulários</h1>
  </div>
</section>

<main class="container">
  <h2>Checkbox</h2>
  <p>Modelos de checkbox padrão</p>

  <div class="checkbox">
    <input id="checkbox-1" type="checkbox">
    <label for="checkbox-1">checkbox 1</label>
  </div>  
  <div class="checkbox">
    <input id="checkbox-2" type="checkbox">
    <label for="checkbox-2">checkbox 2</label>
  </div>

  <div class="checkbox">
    <input id="checkbox-3" type="checkbox">
    <label for="checkbox-3">checkbox 3</label>  
  </div>
</main>