<section class="header_actions">
  <div class="header_actions-content">
    <h1 class="header_actions-title">Formulários</h1>
  </div>
</section>

<main class="container">
  <h2>Input</h2>
  <p>Modelos de input padrão</p>

  
    <label for="">Label</label>
    <input type="text" placeholder="Placeholder">

    <label for="">Label</label>
    <input type="text" placeholder="Placeholder" class="error">
    <span class="error-mensage">Mensagem de erro</span>    
  
    <label for="">Label</label>
    <input type="text" placeholder="Placeholder" disabled>

    <h2>Textarea</h2>
    <p>Modelos de textarea padrão</p>

    <label for="">Label</label>
    <textarea name="" id="" cols="30" rows="5"></textarea>
  

    <label for="">Label</label>
    <textarea name="" id="" cols="30" rows="5" placeholder="Placeholder" disabled></textarea>
  

  
    <label for="">Label</label>
    <textarea name="" id="" cols="30" rows="5" placeholder="Placeholder" class="error"></textarea>
    <span class="error-mensage">Mensagem de erro</span>
  

  <h2>Checkbox</h2>
  <p>Modelos de checkbox padrão</p>

  <h3>Radio Button</h3>
  <div class="form-field">
    <input id="male1" type="radio" name="gender" value="male">
    <label for="male1">Radio option 1</label>

    <input id="female" type="radio" name="gender" value="female">
    <label for="female">Radio option 2</label>
  </div>
  
  <div class="form-field">
    <input id="male2" type="radio" name="gender" value="male">
    <label for="male2">Radio option 1</label>
    <br>
    <input id="female2" type="radio" name="gender" value="female">
    <label for="female2">Radio option 2</label>
  </div>

  <h3>Checkbox</h3>
  <div class="form-field">
    <input id="check1" type="checkbox" name="check" value="check">
    <label for="check1">Checkbox No. 1</label>

    <input id="check2" type="checkbox" name="check" value="check">
    <label for="check2">Checkbox No. 1</label>
  </div>
  
  <div class="form-field">
    <input id="check3" type="checkbox" name="check" value="check">
    <label for="check3">Checkbox No. 1</label>
    <br>
    <input id="check4" type="checkbox" name="check" value="check">
    <label for="check4">Checkbox No. 2</label>
  </div>

  <h2>Select</h2>
  <p>Modelos de select padrão</p>
  <div class="select_box">
    <select name="" id="">
      <option value="">valor 1</option>
      <option value="">valor 2</option>
      <option value="">valor 3</option>
      <option value="">valor 4</option>
    </select>
  </div>


  <h2>Fieldset</h2>
  <p>Modelos de fieldset padrão</p>
  
  <fieldset class="fieldset">
    <h3 class="fieldset-title">Fieldset</h3>  
    <label for="">Label</label>
    <input type="text" placeholder="Placeholder">

    <label for="">Label</label>
    <input type="text" placeholder="Placeholder">

    <label for="">Label</label>
    <input type="text" placeholder="Placeholder">

    <div class="form-field">
      <input id="check6" type="checkbox" name="check" value="check">
      <label for="check6">Checkbox No. 1</label>
      <input id="check7" type="checkbox" name="check" value="check">
      <label for="check7">Checkbox No. 2</label>
    </div>

    <div class="select_box">
      <select name="" id="">
        <option value="">valor 1</option>
        <option value="">valor 2</option>
        <option value="">valor 3</option>
        <option value="">valor 4</option>
      </select>
    </div>

    <label for="">Label</label>
    <textarea name="" id="" cols="30" rows="5"></textarea>

  </fieldset>
</main>