@use 'function-get-space' as *;
@use 'function-get-prev-space' as *;
@use 'function-get-next-space' as *;

@mixin space-inset ($type: default, $size: m) {
  @if ($type == default) {
    $space: get-space($size);

    padding-top:    $space;
    padding-right:  $space;
    padding-bottom: $space;
    padding-left:   $space;
  }

  @else {
    $vertical-space:   get-space(m);
    $horizontal-space: get-space(m);

    @if ($type == squish) {
      $vertical-space:   get-prev-space($size);
      $horizontal-space: get-space($size);
    }

    @else if ($type == stretch) {
      $vertical-space:   get-next-space($size);
      $horizontal-space: get-space($size);
    }

    padding-top:    $vertical-space;
    padding-right:  $horizontal-space;
    padding-bottom: $vertical-space;
    padding-left:   $horizontal-space;
  }
}
