/* ==========================================================================
   FOOTER
   ========================================================================== */



@import larger-images/*.png

.frame-footer
  background-color: $color-secundary-light-more
  background-image: linear-gradient(to bottom, #e9ebef 0px, #fafafa 15px, white 107px)
  background-image: -webkit-linear-gradient(to bottom, #e9ebef 0px, #fafafa 15px, white 107px)
  background-image: -moz-linear-gradient(to bottom, #e9ebef 0px, #fafafa 15px, white 107px)
  background-image: -o-linear-gradient(to bottom, #e9ebef 0px, #fafafa 15px, white 107px)
  background-image: -ms-linear-gradient(to bottom, #e9ebef 0px, #fafafa 15px, white 107px)
  border-top: 1px solid $color-secundary
  padding: 10px 0

.footer
  font-size: 1.4em
  padding-top: 5px
  height: 65px
  text-align: center
  a
    color: #777777
    text-decoration: none
    white-space: nowrap
    &:hover
      text-decoration: underline
  .data-enterprise
    font-size: 11px
    color: #777
  ul
    list-style-type: none
    display: inline-block
  li
    float: left
    font-size: 12px
    margin-right: 5px
    font-weight: bold
    font-weight: 600
    &:after
      content: '| '
      font-weight: normal
      color: #AAA8A8
      margin-left: 5px
    &:last-child:after
      content: none

.logo
  margin: 15px auto
  width: 170px
  height: 45px
  a
    width: 170px
    height: 45px
    text-indent: -9999px
    background-repeat: no-repeat
    background-position: 11px -2304px !important
  &.partner a img
    display: inline-block
  &.app a
    +larger-images-sprite(logo-app-myfinance)
    background-repeat: no-repeat
    display: block
  &.xp a
    +larger-images-sprite(logo-xp)
    background-repeat: no-repeat
    display: block

.logo-partner
  width: 150px
  height: 80px
  margin: 0 auto
  text-align: center

.terms
  width: 670px
  float: left
  li
    float: left
  .copyright
    font-size: 10px
    color: #777777
  

.copyright
  font-size: 10px
  color: #777777
  margin-top: 4px
