@import './variables.scss';
@import '../border';
@import '../typography';
@import '../transition';

@mixin ch-steps-item-counter {
  // 1. Base

  &:before {
    @include ch-border(box, ch-get-color(border), solid, $ch-steps-border-width);
    @include ch-text-label;
    @include ch-transition(border background);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;

    content: counter(steps);
    width: $ch-steps-item-width;
    height: $ch-steps-item-width;
    background: transparent;
    border-radius: #{ch-get-border-radius(circle)};

    text-align: center;
    vertical-align: middle;
  }

  // 2. Active and Visited state

  &.is-active,
  &.is-visited {
    &:before {
      color: ch-get-color(primary);
      border-color: ch-get-color(primary);
    }
  }

  // 3. Complete state

  &.is-completed {
    &:before {
      color: #{ch-get-color(text, 1, inverse)};
      border-color: #{ch-get-color(primary)};
      background: #{ch-get-color(primary)};
    }
  }

  // 4. Interactive

  @at-root a#{&} {

    // 4.1. Active and Visited interaction

    &.is-active,
    &.is-visited {
      // 4.1.1 Focus interaction

      &:hover:focus,
      &:hover,
      &:focus {
        &:before {
          color: ch-get-color(primary, focus);
          border-color: ch-get-color(primary, focus);
        }
      }

      // 4.1.2 Active interaction

      &:active {
        &:before {
          color: ch-get-color(primary, active);
          border-color: ch-get-color(primary, active);
        }
      }
    }

    // 4.2. Completed interaction

    &.is-completed {
      // 4.2.1. Focus interaction

      &:hover:focus,
      &:hover,
      &:focus {
        &:before {
          background: ch-get-color(primary, focus);
          border-color: ch-get-color(primary, focus);
        }
      }

      // 4.2.2. Active interaction

      &:active {
        &:before {
          background: ch-get-color(primary, active);
          border-color: ch-get-color(primary, active);
        }
      }
    }
  }
}
