<!doctype html>
<html>
  <head>
    <title>Chameleon - Alert</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../dist/css/chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content">

        <div class="ch-alert">
          <header class="ch-alert-header">
            <h4>Lorem ipsum dolor sit amet</h4>
          </header>

          <main class="ch-alert-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, maiores.</p>
          </main>

          <footer class="ch-alert-footer">
            <button type="button" class="ch-button ch-button--primary">Primary</button>
            <button type="button" class="ch-button ch-button--secondary">Secondary</button>
          </footer>
        </div>

        <div class="ch-alert ch-alert--info">
          <header class="ch-alert-header">
            <h4>Lorem ipsum dolor sit amet</h4>
          </header>

          <main class="ch-alert-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, maiores.</p>
          </main>
        </div>

        <div class="ch-alert ch-alert--warning">
          <header class="ch-alert-header">
            <h4>Lorem ipsum dolor sit amet</h4>
          </header>

          <main class="ch-alert-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, maiores.</p>
          </main>
        </div>

        <div class="ch-alert ch-alert--positive">
          <header class="ch-alert-header">
            <h4>Lorem ipsum dolor sit amet</h4>
          </header>

          <main class="ch-alert-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, maiores.</p>
          </main>
        </div>

        <div class="ch-alert ch-alert--negative">
          <header class="ch-alert-header">
            <h4>Lorem ipsum dolor sit amet</h4>
          </header>

          <main class="ch-alert-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, maiores.</p>
          </main>
        </div>
      </main>
    </div>

    <style>
      .ch-alert {
        margin-bottom: 1rem;
      }
    </style>
  </body>
</html>
