<!doctype html>
<html>
  <head>
    <title>Chameleon - Bg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Roboto+Mono:400,700|Roboto:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../dist/css/chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content">

        <span class="ch-bg"></span>
        <span class="ch-bg ch-bg--primary"></span>
        <span class="ch-bg ch-bg--info"></span>
        <span class="ch-bg ch-bg--positive"></span>
        <span class="ch-bg ch-bg--warning"></span>
        <span class="ch-bg ch-bg--negative"></span>
        <span class="ch-bg ch-bg--negative">
          <img src="https://placeimg.com/640/480/arch?t=1569510457933">
        </span>

      </main>
    </div>

    <style>
      span {
        display: inline-block;
        width: 200px;
        height: 200px;
      }
    </style>
  </body>
</html>
