<!doctype html>
<html>
  <head>
    <title>Chameleon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content ch-stackGroup">

        <div class="ch-blankslate">
          <div class="ch-blankslate-content">
            <i class="ch-icon fal fa-empty-set ch-icon--xl"></i>

            <h2 class="ch-title ch-title--2">Adicione filiais</h2>

            <p>
              Elas são indispensáveis para garantir que seus documentos fiscais
              <br>
              sejam autorizados com sucesso.
            </p>

            <button type="button" class="ch-button ch-button--primary ch-button--outline">
              Adicionar
            </button>
          </div>
        </div>

        <div class="ch-blankslate">
          <div class="ch-blankslate-content">
            <img src="https://placeimg.com/640/480/arch?t=1569510457933" class="ch-blankslate-content-image">

            <h2 class="ch-title ch-title--2">Adicione filiais</h2>

            <p>
              Elas são indispensáveis para garantir que seus documentos fiscais
              <br>
              sejam autorizados com sucesso.
            </p>

            <button type="button" class="ch-button ch-button--primary ch-button--outline">
              Adicionar
            </button>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
