<!doctype html>
<html>
  <head>
    <title>Chameleon - Button</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Roboto+Mono:400,700|Roboto:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../dist/css/chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content">

        <button type="button" class="ch-button">Action</button>
        <button type="button" class="ch-button ch-button--brand">Action</button>
        <button type="button" class="ch-button ch-button--primary">Action</button>
        <button type="button" class="ch-button ch-button--secondary">Action</button>
        <button type="button" class="ch-button ch-button--secondary has-icon">
          <i class="ch-icon fal fa-exclamation-triangle"></i>
          Action
        </button>
        <button type="button" class="ch-button ch-button--secondary has-iconRight">
          Action
          <i class="ch-icon fal fa-arrow-right"></i>
        </button>
        <button type="button" class="ch-button ch-button--secondary">Action</button>
        <button type="button" class="ch-button ch-button--negative">Action</button>
        <button type="button" class="ch-button ch-button--primary ch-button--ghost">Action</button>
        <button type="button" class="ch-button ch-button--primary ch-button--icon">
          <i class="ch-icon fal fa-file"></i>
        </button>
        <button type="button" class="ch-button ch-button--secondary ch-button--small">Action</button>

      </main>
    </div>
  </body>
</html>
