<!doctype html>
<html>
  <head>
    <title>Chameleon - Button</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content">

        <button type="button" class="ch-button">Action</button>
        <button type="button" class="ch-button ch-button--brand">Action</button>
        <button type="button" class="ch-button ch-button--primary">Action</button>
        <button type="button" class="ch-button ch-button--negative">Action</button>

        <br><br>

        <button type="button" class="ch-button ch-button--outline">Action</button>
        <button type="button" class="ch-button ch-button--brand ch-button--outline">Action</button>
        <button type="button" class="ch-button ch-button--primary ch-button--outline">Action</button>
        <button type="button" class="ch-button ch-button--negative ch-button--outline">Action</button>

        <br><br>

        <button type="button" class="ch-button ch-button--ghost">Action</button>
        <button type="button" class="ch-button ch-button--brand ch-button--ghost">Action</button>
        <button type="button" class="ch-button ch-button--primary ch-button--ghost">Action</button>
        <button type="button" class="ch-button ch-button--negative ch-button--ghost">Action</button>

        <br><br>

        <button type="button" class="ch-button ch-button--icon">
          <i class="ch-icon fal fa-file"></i>
        </button>
        <button type="button" class="ch-button ch-button--icon ch-button--brand">
          <i class="ch-icon fal fa-file"></i>
        </button>
        <button type="button" class="ch-button ch-button--icon ch-button--primary ch-button--outline">
          <i class="ch-icon fal fa-file"></i>
        </button>
        <button type="button" class="ch-button ch-button--icon ch-button--negative ch-button--ghost">
          <i class="ch-icon fal fa-file"></i>
        </button>

        <br><br>

        <a href="#" class="ch-button ch-button--small">Action</a>
        <a href="#" class="ch-button ch-button--small ch-button--brand">Action</a>
        <a href="#" class="ch-button ch-button--small ch-button--primary ch-button--outline">Action</a>
        <a href="#" class="ch-button ch-button--small ch-button--negative ch-button--ghost">Action</a>

        <br><br>

        <a href="#" class="ch-button has-leadingIcon">
          <i class="ch-icon fal fa-file"></i>
          Action
        </a>
        <a href="#" class="ch-button has-trailingIcon">
          Action
          <i class="ch-icon fal fa-file"></i>
        </a>
        <a href="#" class="ch-button has-leadingIcon has-trailingIcon">
          <i class="ch-icon fal fa-file"></i>
          Action
          <i class="ch-icon fal fa-file"></i>
        </a>

        <br><br>

        <a href="#" class="ch-button ch-button--small has-leadingIcon">
          <i class="ch-icon fal fa-file"></i>
          Action
        </a>
        <a href="#" class="ch-button ch-button--small has-trailingIcon">
          Action
          <i class="ch-icon fal fa-file"></i>
        </a>
        <a href="#" class="ch-button ch-button--small has-leadingIcon has-trailingIcon">
          <i class="ch-icon fal fa-file"></i>
          Action
          <i class="ch-icon fal fa-file"></i>
        </a>
      </main>
    </div>
  </body>
</html>
