<!doctype html>
<html>
  <head>
    <title>Chameleon - Dropdown</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Roboto+Mono:400,700|Roboto:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../dist/css/chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content">
          <div class="ch-dropdown is-active">
              <div class="ch-dropdown-toggle">
                <button class="ch-button ch-button--primary" type="button">Open</button>
              </div>
              <div class="ch-dropdown-overlay">
                  <div class="ch-card">
                    <ul class="ch-menu">
                      <li class="ch-menu-item has-icon">
                        <i class="ch-icon fal fa-chart-line"></i>
                        <span class="ch-menu-item-label">Item 1</span>
                      </li>

                      <li class="ch-menu-item has-icon">
                        <i class="ch-icon fal fa-table"></i>
                        <span class="ch-menu-item-label">Item 3</span>
                      </li>

                      <li class="ch-menu-item has-icon">
                        <i class="ch-icon fal fa-magic"></i>
                        <span class="ch-menu-item-label">Item 4</span>
                      </li>
                    </ul>
                  </div>
              </div>
          </div>
      </main>
    </div>
  </body>
</html>
