<!doctype html>
<html>
  <head>
    <title>Chameleon - Actions dropdown</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content">

        <div class="ch-dropdown ch-dropdown--actions has-secondaryActions">
          <div class="ch-overlay">
            <div class="ch-card">
              <nav class="ch-menu">
                <a class="ch-menu-item ch-menu-item--icon" href="#">
                  <i class="ch-icon fal fa-pencil"></i>
                  <span class="ch-menu-item-label">Edit</span>
                </a>

                <a class="ch-menu-item ch-menu-item--icon ch-text--negative" href="#">
                  <i class="ch-icon fal fa-trash-alt"></i>
                  <span class="ch-menu-item-label">Exclude</span>
                </a>
              </nav>

              <nav class="ch-menu">
                <a class="ch-menu-item" href="#">Lorem ipsum dolor</a>
                <a class="ch-menu-item" href="#">Suspendisse</a>
                <a class="ch-menu-item" href="#">Maecenas convallis</a>
              </nav>
            </div>
          </div>

          <div class="ch-dropdown-toggle">
            <button class="ch-button ch-button--icon ch-button--small ch-button--ghost">
              <i class="ch-icon fal fa-ellipsis-v-alt"></i>
            </button>
          </div>
        </div>

      </main>
    </div>

    <script>
      const dropdown = document.querySelector('.ch-dropdown')
      const toggle = document.querySelector('.ch-dropdown-toggle')
      const overlay = document.querySelector('.ch-overlay')

      toggle.addEventListener('click', () => {
        overlay.classList.add('is-visible')
      })

      overlay.addEventListener('click', e => {
        if (e.target === overlay) {
          overlay.classList.remove('is-visible')
        }
      })

      document.addEventListener('click', e => {
        if (!dropdown.contains(e.target)) {
          overlay.classList.remove('is-visible')
        }
      })
    </script>
  </body>
</html>
