<!doctype html>
<html>
  <head>
    <title>Chameleon - Dropdown</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content">

          <div class="ch-dropdown">
            <div class="ch-dropdown-toggle">
              <button class="ch-button" type="button">Options</button>
            </div>

            <div class="ch-overlay">
              <div class="ch-card ch-paddingless">
                <ul class="ch-menu">
                  <li class="ch-menu-item has-icon">
                    <i class="ch-icon fal fa-chart-line"></i>
                    <span class="ch-menu-item-label">Option 1</span>
                  </li>

                  <li class="ch-menu-item has-icon">
                    <i class="ch-icon fal fa-table"></i>
                    <span class="ch-menu-item-label">Option 2</span>
                  </li>

                  <li class="ch-menu-item has-icon">
                    <i class="ch-icon fal fa-magic"></i>
                    <span class="ch-menu-item-label">Option 3</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

      </main>
    </div>

    <script>
      const dropdown = document.querySelector('.ch-dropdown')
      const toggle = document.querySelector('.ch-dropdown-toggle')
      const overlay = document.querySelector('.ch-overlay')

      toggle.addEventListener('click', () => {
        overlay.classList.add('is-visible')
      })

      overlay.addEventListener('click', e => {
        if (e.target === overlay) {
          overlay.classList.remove('is-visible')
        }
      })

      document.addEventListener('click', e => {
        if (!dropdown.contains(e.target)) {
          overlay.classList.remove('is-visible')
        }
      })
    </script>
  </body>
</html>
