<!doctype html>
<html>
  <head>
    <title>Chameleon - Dview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content">

        <div class="ch-dview">
          <div class="ch-dview-label">First label</div>
          <div class="ch-dview-value">Consectetur adipisicing elit</div>

          <div class="ch-dview-label">Second label</div>
          <div class="ch-dview-value">Lorem ipsum dolor sit amet</div>

          <div class="ch-dview-label">Third label</div>
          <div class="ch-dview-value">Dolor, maiores</div>
        </div>

        <dl class="ch-dview">
          <dt>First label</dt>
          <dd>Lorem ipsum dolor sit amet</dd>

          <dt>Second label</dt>
          <dd>Dolor, maiores</dd>

          <dt>Third label</dt>
          <dd>Consectetur adipisicing elit</dd>
        </dl>

      </main>
    </div>

    <style>
      .ch-template-content {
        display: flex;
        align-items: flex-start;
      }

      .ch-dview {
        margin-right: 1rem;
        max-width: 320px;
        min-width: 200px;
      }
    </style>
  </body>
</html>
