<!doctype html>
<html>
  <head>
    <title>Chameleon - Field</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../dist/css/chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content ch-spaceStackGroup">

        <div class="ch-field">
          <label for="field-1" class="ch-field-label">Field</label>

          <div class="ch-field-control">
            <input type="text" id="field-1" class="ch-input">

            <div class="ch-checkbox">
              <input type="checkbox" id="checkbox">
              <label for="checkbox">Checkbox</label>
            </div>
          </div>

          <p class="ch-field-message">Lorem ipsum dolor sit amet consectetur</p>
        </div>

        <div class="ch-field">
          <label for="field-2" class="ch-field-label ch-text--negative">Field</label>

          <div class="ch-field-control">
            <input type="text" id="field-2" class="ch-input ch-input--negative">
          </div>

          <p class="ch-field-message ch-text--negative">Some error</p>
        </div>

        <div class="ch-field ch-field--inline">
          <label for="field-3" class="ch-field-label">Field</label>

          <div class="ch-field-control">
            <input type="text-3" id="field-3" class="ch-input">
            <input type="text" class="ch-input">
          </div>
        </div>

      </main>
    </div>
  </body>
</html>
