<!doctype html>
<html>
  <head>
    <title>Chameleon - Field</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Roboto+Mono:400,700|Roboto:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../dist/css/chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content ch-spaceStackGroup">

        <div class="ch-field">
          <label for="field" class="ch-field-label">Field</label>
          <input type="text" id="field" class="ch-input ch-field-control">
          <p class="ch-field-message">Lorem ipsum dolor sit amet consectetur</p>
        </div>

        <div class="ch-field">
          <label for="field" class="ch-field-label ch-text--negative">Field</label>
          <input type="text" id="field" class="ch-input ch-input--negative ch-field-control">
          <p class="ch-field-message ch-text--negative">Some error</p>
        </div>

        <div class="ch-field ch-field--inline">
          <label for="field" class="ch-field-label">Field</label>
          <input type="text" id="field" class="ch-input ch-field-control">
        </div>

      </main>
    </div>
  </body>
</html>
