<!doctype html>
<html>
  <head>
    <title>Chameleon - File</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content">

          <input type="file" class="ch-file">
          <input type="file" class="ch-file" readonly>
          <input type="file" class="ch-file" disabled />
          <input type="file" class="ch-file ch-input--negative">
          <input type="file" class="ch-file ch-input--negative" disabled>
          <input type="file" class="ch-file ch-input--small">
          <input type="file" class="ch-file ch-input--fluid">

      </main>
    </div>

    <style>
      .ch-template-content {
        display: flex;
        flex-direction: column;
        align-items: end;
      }

      .ch-file {
        margin-bottom: 1rem;
      }
    </style>
  </body>
</html>
