<!doctype html>
<html>
  <head>
    <title>Chameleon - File upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content ch-stackGroup">

          <label class="ch-fileUpload" for="fileUpload">
            <input class="ch-fileUpload-input" type="file" id="fileUpload" />

            <i class="fal fa-cloud-upload ch-fileUpload-icon"></i>

            <h5>
              Arraste e solte um arquivo aqui
              <div class="ch-title-sub">ou <strong>selecione</strong> do seu dispositivo.</div>
            </h5>
          </label>

          <label class="ch-fileUpload ch-fileUpload--negative" for="fileUpload">
            <input class="ch-fileUpload-input" type="file" id="fileUpload" />

            <i class="fal fa-cloud-upload ch-fileUpload-icon"></i>

            <div class="ch-title ch-title--5">
              Arraste e solte um arquivo aqui
              <div class="ch-title-sub">ou <strong>selecione</strong> do seu dispositivo.</div>
            </div>
          </label>
      </main>
    </div>
  </body>
</html>
