<!doctype html>
<html>
  <head>
    <title>Chameleon - Highlight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Roboto+Mono:400,700|Roboto:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content">

        <p>
          Lorem ipsum dolor sit amet, <span class="ch-highlight">consectetur adipiscing elit</span>.
          Curabitur vitae maximus ligula. Maecenas in commodo nisi. Quisque sodales magna purus, ac
          dapibus tellus aliquet lacinia. Aenean vel cursus arcu. <span class="ch-highlight">Proin et posuere</span>
          dui, id rhoncus arcu. Praesent quis neque sed tellus tristique accumsan.
          Integer at nunc tristique, rhoncus ante nec, tempor leo.
          Ut rhoncus ac libero id placerat.
        </p>

      </main>
    </div>
  </body>
</html>
