<!doctype html>
<html>
  <head>
    <title>Chameleon - Icon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content ch-spaceStackGroup">

        <div class="ch-spaceInlineGroup">
          <i class="ch-icon ch-icon--xs fal fa-file"></i>
          <i class="ch-icon ch-icon--s fal fa-file"></i>
          <i class="ch-icon ch-icon--m fal fa-file"></i>
          <i class="ch-icon ch-icon--l fal fa-file"></i>
          <i class="ch-icon ch-icon--xl fal fa-file"></i>
        </div>

        <div class="ch-spaceInlineGroup">
          <i class="ch-icon ch-icon--circle ch-bg--primary ch-icon--xs fal fa-file"></i>
          <i class="ch-icon ch-icon--circle ch-bg--info ch-icon--s fal fa-file"></i>
          <i class="ch-icon ch-icon--circle ch-bg--positive ch-icon--m fal fa-file"></i>
          <i class="ch-icon ch-icon--circle ch-bg--warning ch-icon--l fal fa-file"></i>
          <i class="ch-icon ch-icon--circle ch-bg--negative ch-icon--xl fal fa-file"></i>
        </div>

      </main>
    </div>

    <style>
      .ch-spaceInlineGroup {
        align-items: flex-end;
      }
    </style>
  </body>
</html>
