<!doctype html>
<html>
  <head>
    <title>Chameleon - Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Roboto+Mono:400,700|Roboto:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../dist/css/chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content ch-spaceInlineGroup">

        <nav class="ch-menu">
          <a class="ch-menu-item" href="#">Option 1</a>
          <a class="ch-menu-item is-active" href="#">Option 2</a>
          <a class="ch-menu-item" href="#">Option 3</a>
          <a class="ch-menu-item" href="#">Option 4</a>
        </nav>

        <nav class="ch-menu">
          <a class="ch-menu-item has-icon is-active" href="#">
            <i class="ch-icon fal fa-chart-line"></i>
            <span class="ch-menu-item-label">Option 1</span>
          </a>

          <a class="ch-menu-item has-icon" href="#">
            <i class="ch-icon fal fa-table"></i>
            <span class="ch-menu-item-label">Option 2</span>
          </a>

          <a class="ch-menu-item has-icon" href="#">
            <i class="ch-icon fal fa-magic"></i>
            <span class="ch-menu-item-label">Option 3</span>
          </a>
        </nav>

        <nav class="ch-menu">
          <a class="ch-menu-item" href="#">Option 1</a>

          <a class="ch-menu-item" href="#">Option 2</a>

          <div class="ch-menu-submenu is-open">
            <button type="button" class="ch-menu-item has-iconRight">
              <span class="ch-menu-item-label">Option 3</span>
              <i class="ch-icon ch-menu-item-arrow fal fa-angle-right"></i>
            </button>

            <nav class="ch-menu">
              <a class="ch-menu-item" href="#">Sub option 1</a>
              <a class="ch-menu-item is-active" href="#">Sub option 2</a>
              <a class="ch-menu-item" href="#">Sub option 3</a>
              <a class="ch-menu-item" href="#">Sub option 4</a>
            </nav>
          </div>
        </nav>

      </main>
    </div>

    <style>
      .ch-menu {
        min-width: 240px;
      }
    </style>
  </body>
</html>
