<!doctype html>
<html>
  <head>
    <title>Chameleon - Nested fields</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Roboto+Mono:400,700|Roboto:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../dist/css/chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content">

        <div class="ch-nestedFields ch-nestedFields--compactTablet">
          <div class="ch-media">
            <div class="ch-media-content ch-fieldGroup">
              <div class="ch-field ch-field--3Desktop">
                <label class="ch-field-label">Inscrição estadual</label>

                <div class="ch-field-control">
                  <input type="text" class="ch-input">
                </div>
              </div>

              <div class="ch-field">
                <label class="ch-field-label">UF</label>

                <div class="ch-field-control">
                  <input type="text" class="ch-input">
                </div>
              </div>
            </div>

            <div class="ch-media-actions">
              <button class="ch-button ch-button--negative ch-button--ghost ch-button--icon">
                <i class="ch-icon fal fa-trash-alt"></i>
              </button>
            </div>
          </div>

          <div class="ch-media">
            <div class="ch-media-content ch-fieldGroup">
              <div class="ch-field ch-field--3Desktop">
                <label class="ch-field-label">Inscrição estadual</label>

                <div class="ch-field-control">
                  <input type="text" class="ch-input">
                </div>
              </div>

              <div class="ch-field">
                <label class="ch-field-label">UF</label>

                <div class="ch-field-control">
                  <input type="text" class="ch-input">
                </div>
              </div>
            </div>

            <div class="ch-media-actions">
              <button class="ch-button ch-button--negative ch-button--ghost ch-button--icon">
                <i class="ch-icon fal fa-trash-alt"></i>
              </button>
            </div>
          </div>

          <button class="ch-button ch-button--outline has-icon">
            <i class="ch-icon fal fa-plus"></i>
            Novo
          </button>
        </div>

      </main>
    </div>
  </body>
</html>
