<!doctype html>
<html>
  <head>
    <title>Chameleon - Pagination</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content">
        <nav class="ch-pagination">
          <a href="#" class="ch-pagination-item ch-pagination-item--first">
            <i class="ch-icon"></i>
          </a>
          <a href="#" class="ch-pagination-item ch-pagination-item--previous">
            <i class="ch-icon fal fa-angle-left"></i>
          </a>
          <a href="#" class="ch-pagination-item is-active" title="3">
            <span class="ch-pagination-item-label">3</span>
          </a>
          <span class="ch-pagination-item ch-pagination-item--gap">
            <i class="ch-icon fal fa-ellipsis-h"></i>
          </span>
          <a href="#" class="ch-pagination-item" title="6">
            <span class="ch-pagination-item-label">6</span>
          </a>
          <a href="#" class="ch-pagination-item ch-pagination-item--next">
            <i class="ch-icon fal fa-angle-right"></i>
          </a>
          <a href="#" class="ch-pagination-item ch-pagination-item ch-pagination-item--last">
            <i class="ch-icon fal fa-angle-double-right"></i>
          </a>
          <select class="ch-select">
            <option>10 / Page</option>
            <option>20 / Page</option>
            <option>50 / Page</option>
            <option>100 / Page</option>
          </select>
        </nav>

        <br />
        <br />

        <nav class="ch-pagination">
          <a href="#" class="ch-pagination-item is-disabled">
            <span class="ch-pagination-item-label">Previous</span>
          </a>
          <a href="#" class="ch-pagination-item" title="1">
            <span class="ch-pagination-item-label">1</span>
          </a>
          <a href="#" class="ch-pagination-item is-active" title="2">
            <span class="ch-pagination-item-label">2</span>
          </a>
          <a href="#" class="ch-pagination-item" title="3">
            <span class="ch-pagination-item-label">3</span>
          </a>
          <a href="#" class="ch-pagination-item">
            <span class="ch-pagination-item-label">Next</span>
          </a>
        </nav>

        <br />
        <br />

        <nav class="ch-pagination ch-pagination--small">
          <a href="#" class="ch-pagination-item">
            <i class="ch-icon fal fa-angle-double-left"></i>
          </a>
          <a href="#" class="ch-pagination-item">
            <i class="ch-icon fal fa-angle-left"></i>
          </a>
          <a href="#" class="ch-pagination-item is-active" title="3">
            <span class="ch-pagination-item-label">3</span>
          </a>
          <span class="ch-pagination-item">
            <i class="ch-icon fal fa-ellipsis-h"></i>
          </span>
          <a href="#" class="ch-pagination-item" title="6">
            <span class="ch-pagination-item-label">6</span>
          </a>
          <a href="#" class="ch-pagination-item">
            <i class="ch-icon fal fa-angle-right"></i>
          </a>
          <a href="#" class="ch-pagination-item">
            <i class="ch-icon fal fa-angle-double-right"></i>
          </a>
        </nav>
      </main>
    </div>
  </body>
</html>
