<!doctype html>
<html>
  <head>
    <title>Chameleon - Pagination</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Roboto+Mono:400,700|Roboto:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../dist/css/chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content">
        <div class="ch-pagination">
          <a href="#" class="ch-pagination-item">
            <i class="ch-icon ch-icon--xs fal fa-chevron-double-left"></i>
          </a>
          <a href="#" class="ch-pagination-item">
            <i class="ch-icon ch-icon--xs fal fa-chevron-left"></i>
          </a>
          <a href="#" class="ch-pagination-item">1</a>
          <span class="ch-pagination-item is-active">2</span>
          <a href="#" class="ch-pagination-item">...</a>
          <a href="#" class="ch-pagination-item">11</a>
          <a href="#" class="ch-pagination-item">12</a>
          <a href="#" class="ch-pagination-item">
            <i class="ch-icon ch-icon--xs fal fa-chevron-right"></i>
          </a>
          <a href="#" class="ch-pagination-item">
            <i class="ch-icon ch-icon--xs fal fa-chevron-double-right"></i>
          </a>
        </div>

        <div class="ch-pagination ch-pagination--leftAligned">
          <a href="#" class="ch-pagination-item">
            <i class="ch-icon ch-icon--xs fal fa-chevron-double-left"></i>
          </a>
          <a href="#" class="ch-pagination-item">
            <i class="ch-icon ch-icon--xs fal fa-chevron-left"></i>
          </a>
          <a href="#" class="ch-pagination-item">1</a>
          <span class="ch-pagination-item is-active">2</span>
          <a href="#" class="ch-pagination-item">...</a>
          <a href="#" class="ch-pagination-item">11</a>
          <a href="#" class="ch-pagination-item">12</a>
          <a href="#" class="ch-pagination-item">
            <i class="ch-icon ch-icon--xs fal fa-chevron-right"></i>
          </a>
          <a href="#" class="ch-pagination-item">
            <i class="ch-icon ch-icon--xs fal fa-chevron-double-right"></i>
          </a>
        </div>

        <div class="ch-pagination ch-pagination--rightAligned">
          <a href="#" class="ch-pagination-item">
            <i class="ch-icon ch-icon--xs fal fa-chevron-double-left"></i>
          </a>
          <a href="#" class="ch-pagination-item">
            <i class="ch-icon ch-icon--xs fal fa-chevron-left"></i>
          </a>
          <a href="#" class="ch-pagination-item">1</a>
          <span class="ch-pagination-item is-active">2</span>
          <a href="#" class="ch-pagination-item">...</a>
          <a href="#" class="ch-pagination-item">11</a>
          <a href="#" class="ch-pagination-item">12</a>
          <a href="#" class="ch-pagination-item">
            <i class="ch-icon ch-icon--xs fal fa-chevron-right"></i>
          </a>
          <a href="#" class="ch-pagination-item">
            <i class="ch-icon ch-icon--xs fal fa-chevron-double-right"></i>
          </a>
        </div>
      </main>
    </div>
  </body>
</html>
