<!doctype html>
<html>
  <head>
    <title>Chameleon - Radio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../dist/css/chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content ch-spaceStackGroup">

        <div class="ch-spaceInlineGroup">
          <div class="ch-radio">
            <input type="radio" name="radio_1" id="field_1">
            <label for="field_1">Option 1</label>
          </div>

          <div class="ch-radio">
            <input type="radio" name="radio_1" id="field_2">
            <label for="field_2">Option 2</label>
          </div>
        </div>

        <div class="ch-spaceInlineGroup">
          <div class="ch-radio">
            <input type="radio" name="radio_2" id="field_3">
            <label for="field_3">Option 1</label>
          </div>

          <div class="ch-radio">
            <input type="radio" name="radio_2" id="field_4" readonly checked>
            <label for="field_4">Option 2</label>
          </div>

          <div class="ch-radio">
            <input type="radio" name="radio_2" id="field_5" disabled>
            <label for="field_5">Option 3</label>
          </div>

          <div class="ch-radio ch-checkbox--negative">
            <input type="radio" name="radio_2" id="field_6">
            <label for="field_6">Option 4</label>
          </div>

          <div class="ch-radio ch-checkbox--negative">
            <input type="radio" name="radio_2" id="field_7" disabled>
            <label for="field_7">Option 5</label>
          </div>
        </div>

      </main>
    </div>
  </body>
</html>
