<!doctype html>
<html>
  <head>
    <title>Chameleon - Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Roboto+Mono:400,700|Roboto:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content">

        <form class="ch-search">
          <input type="text" placeholder="Buscar..." class="ch-input">
          <button type="button" class="ch-button ch-button--ghost ch-button--icon">
            <i class="ch-icon fal fa-search"></i>
          </button>
        </form>

        <form class="ch-search">
          <input type="text" placeholder="Buscar..." class="ch-input ch-input--small">
          <button type="button" class="ch-button ch-button--small ch-button--ghost ch-button--icon">
            <i class="ch-icon fal fa-search"></i>
          </button>
        </form>

      </main>
    </div>
  </body>
</html>
