<!doctype html>
<html>
  <head>
    <title>Chameleon - Segmented control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Roboto+Mono:400,700|Roboto:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../dist/css/chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content">

        <ul class="ch-segmentedControl">
          <li class="ch-segmentedControl-option">
            <input type="radio" name="radio_1" id="field_1">
            <label for="field_1">Option 1</label>
          </li>

          <li class="ch-segmentedControl-option">
            <input type="radio" name="radio_1" id="field_2">
            <label for="field_2">Option 2</label>
          </li>

          <li class="ch-segmentedControl-option">
            <input type="radio" name="radio_1" id="field_3">
            <label for="field_3">Option 3</label>
          </li>

          <li class="ch-segmentedControl-option">
            <input type="radio" name="radio_1" id="field_4">
            <label for="field_4">Option 4</label>
          </li>

          <li class="ch-segmentedControl-option">
            <input type="radio" name="radio_1" id="field_5">
            <label for="field_5">Option 5</label>
          </li>
        </ul>

        <ul class="ch-segmentedControl ch-segmentedControl--primary ch-segmentedControl--horizontalTablet">
          <li class="ch-segmentedControl-option">
            <input type="radio" name="radio_2" id="field_6">
            <label for="field_6">Option 1</label>
          </li>

          <li class="ch-segmentedControl-option">
            <input type="radio" name="radio_2" id="field_7">
            <label for="field_7">Option 2</label>
          </li>

          <li class="ch-segmentedControl-option">
            <input type="radio" name="radio_2" id="field_8">
            <label for="field_8">Option 3</label>
          </li>
        </ul>

        <ul class="ch-segmentedControl ch-segmentedControl--primary ch-segmentedControl--horizontal ch-segmentedControl--small">
          <li class="ch-segmentedControl-option">
            <input type="checkbox" name="checkbox_1" id="field_9">
            <label for="field_9">Option 1</label>
          </li>

          <li class="ch-segmentedControl-option">
            <input type="checkbox" name="checkbox_1" id="field_10">
            <label for="field_10">Option 2</label>
          </li>

          <li class="ch-segmentedControl-option">
            <input type="checkbox" name="checkbox_1" id="field_11">
            <label for="field_11">Option 3</label>
          </li>
        </ul>

      </main>
    </div>
  </body>
</html>
