<!doctype html>
<html>
  <head>
    <title>Chameleon - Select</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Roboto+Mono:400,700|Roboto:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../dist/css/chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content" style="max-width: 600px; margin: 0 auto;">
        <select class="ch-select">
          <option value="1">Option example 1</option>
          <option value="2">Option example 2</option>
          <option value="3">Option example 3</option>
          <option value="4">Option example 4</option>
          <option value="5">Option example 5</option>
        </select>

        <br><br>

        <select class="ch-select ch-select--fluid" disabled>
          <option>Placeholder</option>
          <option value="2">Option example 2</option>
          <option value="3">Option example 3</option>
          <option value="4">Option example 4</option>
          <option value="5">Option example 5</option>
        </select>

        <br /><br />

        <select class="ch-select ch-select--fluid">
          <option value="1">Option example 1</option>
          <option value="2">Option example 2</option>
          <option value="3">Option example 3</option>
          <option value="4">Option example 4</option>
          <option value="5">Option example 5</option>
        </select>
      </main>
    </div>
  </body>
</html>
