<!doctype html>
<html>
  <head>
    <title>Chameleon - Steps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../dist/css/chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content">
        <nav class="ch-steps">
          <a class="ch-steps-item is-completed" href="#">
            <div class="ch-steps-item-label">
              <div class="ch-title ch-title--6">
                Step 1
                <div class="ch-title-sub">Cadastro do estabelecimento sede</div>
              </div>
            </div>
          </a>
          <a class="ch-steps-item is-active" href="#">
            <div class="ch-steps-item-label">
              <div class="ch-title ch-title--6">
                Step 2
                <div class="ch-title-sub">Importação do certificado digital tipo A1</div>
              </div>
            </div>
          </a>
          <a class="ch-steps-item" href="#">
            <div class="ch-steps-item-label">
              <div class="ch-title ch-title--6">
                Step 3
                <div class="ch-title-sub">Inclusão dos demais estabalecimentos</div>
              </div>
            </div>
          </a>
          <a class="ch-steps-item" href="#">
            <div class="ch-steps-item-label">
              <div class="ch-title ch-title--6">
                Step 4
                <div class="ch-title-sub">Inclusão dos demais estabalecimentos</div>
              </div>
            </div>
          </a>
          <a class="ch-steps-item" href="#">
            <div class="ch-steps-item-label">
              <div class="ch-title ch-title--6">
                Step 5
                <div class="ch-title-sub">Inclusão dos demais estabalecimentos</div>
              </div>
            </div>
          </a>
        </nav>

        <br><br>

        <nav class="ch-steps ch-steps--vertical">
          <a class="ch-steps-item is-completed" href="#">
            <div class="ch-steps-item-label">
              <div class="ch-title ch-title--6">
                Step 1
                <div class="ch-title-sub">Cadastro do estabelecimento sede</div>
              </div>
            </div>
          </a>
          <a class="ch-steps-item is-active" href="#">
            <div class="ch-steps-item-label">
              <div class="ch-title ch-title--6"> Step 2
                <div class="ch-title-sub">Importação do certificado digital tipo A1</div>
              </div>
            </div>
          </a>
          <a class="ch-steps-item" href="#">
            <div class="ch-steps-item-label">
              <div class="ch-title ch-title--6">
                Step 3
                <div class="ch-title-sub">Inclusão dos demais estabalecimentos</div>
              </div>
            </div>
          </a>
          <a class="ch-steps-item" href="#">
            <div class="ch-steps-item-label">
              <div class="ch-title ch-title--6">
                Step 4
                <div class="ch-title-sub">Inclusão dos demais estabalecimentos</div>
              </div>
            </div>
          </a>
          <a class="ch-steps-item" href="#">
            <div class="ch-steps-item-label">
              <div class="ch-title ch-title--6">
                Step 5
                <div class="ch-title-sub">Inclusão dos demais estabalecimentos</div>
              </div>
            </div>
          </a>
        </nav>
      </main>
    </div>
  </body>
</html>
