<!doctype html>
<html>
  <head>
    <title>Chameleon - Tag</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../dist/css/chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <div class="ch-template-content">
        <span class="ch-tag">tags</span>
        <span class="ch-tag ch-tag--info">tags</span>
        <span class="ch-tag ch-tag--warning">tags</span>
        <span class="ch-tag ch-tag--positive">tags</span>
        <span class="ch-tag ch-tag--negative">tags</span>
      </div>
    </div>
  </body>
</html>
