<!doctype html>
<html>
  <head>
    <title>Chameleon - Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Roboto+Mono:400,700|Roboto:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../dist/css/chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content ch-spaceStackGroup">

        <h1>This is a h1 title example</h1>
        <h2>This is a h2 title example</h2>
        <h3>This is a h3 title example</h3>
        <h4>This is a h4 title example</h4>
        <h5>This is a h5 title example</h5>
        <h6>This is a h6 title example</h6>

        <div class="ch-title--1">
          This is a title example
          <div class="ch-title-sub">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, maiores.
          </div>
        </div>

        <div class="ch-title--2">
          This is a title example
          <div class="ch-title-sub">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In, maxime.
          </div>
        </div>

        <div class="ch-title--3">
          This is a title example
          <div class="ch-title-sub">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, accusamus!
          </div>
        </div>

        <div class="ch-title--4">
          This is a title example
          <div class="ch-title-sub">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, numquam!
          </div>
        </div>

        <div class="ch-title--5">
          This is a title example
          <div class="ch-title-sub">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, accusantium.
          </div>
        </div>

        <div class="ch-title--6">
          This is a title example
          <div class="ch-title-sub">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, accusantium.
          </div>
        </div>

      </main>
    </div>
  </body>
</html>
