<!doctype html>
<html>
  <head>
    <title>Chameleon - Toggle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../chameleon.css">
  </head>
  <body>
    <div class="ch-template">
      <main class="ch-template-content">

        <button type="button" class="ch-toggle">
          <input type="checkbox" class="ch-toggle-toggle" />
          <i class="ch-toggle-icon"></i>
        </button>

        <button type="button" class="ch-toggle ch-toggle--up">
          <input type="checkbox" class="ch-toggle-toggle" />
          <i class="ch-toggle-icon"></i>
        </button>

        <button type="button" class="ch-toggle ch-toggle--right">
          <input type="checkbox" class="ch-toggle-toggle" />
          <i class="ch-toggle-icon"></i>
        </button>

        <button type="button" class="ch-toggle ch-toggle--down">
          <input type="checkbox" class="ch-toggle-toggle" />
          <i class="ch-toggle-icon"></i>
        </button>

        <button type="button" class="ch-toggle ch-toggle--left">
          <input type="checkbox" class="ch-toggle-toggle" />
          <i class="ch-toggle-icon"></i>
        </button>

        <button type="button" class="ch-toggle ch-toggle--plus">
          <input type="checkbox" class="ch-toggle-toggle" />
          <i class="ch-toggle-icon"></i>
        </button>

        <button type="button" class="ch-toggle ch-toggle--nav">
          <input type="checkbox" class="ch-toggle-toggle" />
          <i class="ch-toggle-icon"></i>
        </button>
      </main>
    </div>
  </body>
</html>
