=transition-effect($element)
  -webkit-transition: $element 100ms cubic-bezier(0.42, 0, 0.58, 1) !important
  -moz-transition: $element 100ms cubic-bezier(0.42, 0, 0.58, 1) !important
  -ms-transition: $element 100ms cubic-bezier(0.42, 0, 0.58, 1) !important
  -o-transition: $element 100ms cubic-bezier(0.42, 0, 0.58, 1) !important
  transition: $element 100ms cubic-bezier(0.42, 0, 0.58, 1) !important