/* ==========================================================================
   GRID SETTINGS
   ========================================================================== */

@import "neat-helpers"

// Change the grid settings
$column: 40px
$gutter: 10px
$grid-columns: 24
$max-width: 1200px