// @use '../../foundation/borders' as borders;
@use '../../foundation/breakpoints' as breakpoints;
// @use '../../foundation/colors' as colors;
// @use '../../foundation/depth' as depth;
@use '../../foundation/spaces' as spaces;
@use '../../foundation/thypography' as thypography;
@use '../../foundation/utils' as utils;
// @use '../icon' as icon;
// @use '../input' as input;

.ch-media {

  // 1. Base

  @include spaces.inline-group(left, s);

  align-items: center;
  flex-wrap: nowrap;

  width: 100%;

  // 2. Content

  &-content {
    flex: 1;
  }

  // 3. Actions

  &:not(&--stacked) &-actions {
    @include spaces.inline-group(right, xs);
  }

  // 4. Stacked variation

  &--stacked {
    @include breakpoints.media(only, mobile) {
      flex-wrap: wrap;

      .ch-media-content {
        margin-right: 0;

        &:after {
          $empty: '';

          display: block;

          content: $empty;
          margin-right: 1px;
        }
      }

      .ch-media-actions {
        @include spaces.stack-group(xs);

        margin-top: #{spaces.get-space(s)};

        &,
        > * {
          width: 100%;
        }

        > .ch-button.has-leadingIcon {
          padding-right: utils.calc-box-height(thypography.get-font-size(2), spaces.get-space(xs), spaces.get-space(xs));
        }

        > .ch-button.has-trailingIcon {
          padding-left: utils.calc-box-height(thypography.get-font-size(2), spaces.get-space(xs), spaces.get-space(xs));
        }
      }
    }

    .ch-media-actions {
      @include breakpoints.media(from, tablet) {
        @include spaces.inline-group(right, xs);
      }
    }
  }
}
