.ch-media {

  // 1. Base

  @include ch-space-inline-group(left, s);

  align-items: center;
  flex-wrap: nowrap;

  width: 100%;

  // 2. Content

  &-content {
    flex: 1;
  }

  // 3. Actions

  &:not(&--stacked) &-actions {
    @include ch-space-inline-group(right, xs);
  }

  // 4. Stacked variation

  &--stacked {
    @include ch-media(only, mobile) {
      flex-wrap: wrap;

      .ch-media-content {
        margin-right: 0;

        &:after {
          $empty: '';

          display: block;

          content: $empty;
          margin-right: 1px;
        }
      }

      .ch-media-actions {
        @include ch-space-stack-group(xs);

        margin-top: #{ch-get-space(s)};

        &,
        > * {
          width: 100%;
        }

        > .ch-button.has-leadingIcon {
          padding-right: ch-calc-box-height();
        }

        > .ch-button.has-trailingIcon {
          padding-left: ch-calc-box-height();
        }
      }
    }

    .ch-media-actions {
      @include ch-media(from, tablet) {
        @include ch-space-inline-group(right, xs);
      }
    }
  }
}
