.ch-account {
  &-container {
    position: relative;
    width: 370px;
    height: 250px;
    background-color: #fff;
    text-transform: none;
    box-shadow: 0 1px 1px rgba(#000, .14), 0 2px 1px -1px rgba(#000, .12), 0 1px 3px rgba(#000, .2);
    border-radius: 4px;

    @media screen and (max-width: 768px) {
      position: fixed;
      width: 100%;
      height: calc(100% - 60px);
      top: 0;
      left: 0;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    height: 50px;
    padding-right: 15px;
    padding-left: 20px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;

    > .actions {
      margin-left: auto;
    }
  }

  &-content {
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);
    bottom: 0;
    right: 0;
    font-size: 1.2em;

    .menu, .submenu {
      > .label {
        display: block;
        padding: 10px 25px;
        font-style: italic;
        color: color(navy, tone-30);
      }
    }

    .menu {
      width: 50%;
      height: 100%;

      ul {
        overflow-y: hidden;
        height: calc(100% - 40px);

        &:hover {
          overflow-y: auto;
        }
      }
    }

    .menu > ul {
      max-height: 100%;

      li > a {
        color: inherit;
        display: block;
        padding: 10px 25px;
      }

      li.active  > a {
        position: relative;
        font-weight: bold;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: auto;
          height: 20px;
          border-right: 5px solid $activeColor;
          transform: translateY(-50%);
        }
      }
    }

    > .menu .submenu {
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      left: 50%;

      li.active > a:before {
        content: none;
      }
    }
  }

  .ch-dropdown {
    &-toggle {
      white-space: nowrap;
    }

    &-content {
      top: -5px;
    }
  }
}
