.ch-account {
  &-container {
    width: 370px;
    height: 215px;

    &.has-search {
      height: 250px;
    }

    @media screen and (max-width: 768px) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0 !important;
      left: 0 !important;
      z-index: 2;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    height: 50px;
    padding-right: 15px;
    padding-left: 20px;
    font-size: 1em;
    border-bottom: 1px solid color(neutrals, tone-5);

    .ch-search-form-input {
      font-size: 1em;
      margin-left: 15px;
    }

    > .actions {
      margin-left: auto;

      .btn-close {
        margin-left: 15px;
      }
    }

    @media screen and (max-width: 768px) {
      height: 60px;

      > .actions {
        display: flex;
      }
    }
  }

  &-content {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;

    &-menu, &-submenu {
      width: 50%;
      height: 100%;
      overflow: hidden;
    }

    &-menu {
      .ch-dropdown-menu  {
        padding-right: 20px;
        width: 100%;
        height: calc(100% - 40px);
        overflow-y: hidden;
        box-sizing: content-box;

        &:hover {
          overflow-y: auto;
        }
      }
    }

    &-menu > .ch-dropdown-menu {
      max-height: 100%;

      .ch-dropdown-menu-item {
        position: initial;
      }

      .ch-dropdown-menu-item > .ch-dropdown-menu-item-label {
        display: block;
        padding: 10px 25px;
        font-weight: normal;
        text-align: left;
        text-transform: none;
        color: inherit;
      }

      .ch-dropdown-menu-item > .ch-dropdown-menu-item-label:hover {
        color: color(neutrals, tone-50);
      }

      > .ch-dropdown-menu-item.active > .ch-dropdown-menu-item-label {
        position: relative;
        font-weight: bold;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: auto;
          height: 20px;
          border-right: 5px solid $activeColor;
          @include transform(translateY(-50%));
        }
      }

      > .ch-dropdown-menu-item.open > .ch-dropdown-menu-item-label {
        font-weight: bold;
      }
    }

    &-submenu {
      position: absolute;
      top: 0;
      left: 50%;
      font-weight: normal;
      box-shadow: 10px 0px 10px -10px rgba(#000, 0.15) inset;

      .ch-dropdown-menu-item.open > .ch-dropdown-menu-item-label:before {
        content: none;
      }
    }

    @media screen and (max-width: 768px) {
      height: calc(100% - 60px);
    }
  }

  &-header + &-content {
    height: calc(100% - 50px);
  }

  .ch-dropdown {
    &-toggle {
      white-space: nowrap;
      display: flex;
      align-items: center;

      .fa-icon.dropdown {
        @include transition(all .3s);
      }
    }

    &-menu-item .ch-account-content-submenu {
      display: none;
    }

    &-menu-item.open .ch-account-content-submenu {
      display: block;
    }
  }

  &.active > .ch-dropdown-toggle {
    .fa-icon.dropdown {
      @include rotate(180);
    }
  }
}
