.ch-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background-color: #fff;

  &.sticky {
    @include position-sticky;
    top: 0;
    left: 0;
    background-color: rgba(#fff, .95);
    box-shadow: 0 -5px 20px rgba(#000, .15);
    z-index: 1;
  }
}

.ch-header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $headerElementsColor;

  &-button {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    color: currentColor;
    transition: all .3s;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;

    button {
      font-family: $fontFamily;
      border: none;
      background: transparent;
      outline: 0;
      cursor: pointer;
    }

    &:hover, &.active {
      color: $headerElementsColorActive;
      border-radius: 3px;
    }

    &:last-child {
      padding-right: 0;
    }

    &.ch-account {

      button {
        font-weight: bold;
        text-transform: uppercase;
        color: $fontColor;
      }

      .fa-icon.dropdown {
        margin-left: .25rem;
        font-size: .65em;
      }
    }

    &.ch-account.active {
      button {
        color: color(neutrals, tone-50);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .ch-header-nav {
    &.active {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 65px;
      padding: 20px;
      justify-content: space-between;
      background-color: color(neutrals, tone-0);
    }
  }

  .ch-header-nav-button {
    display: none;

    &:first-child,
    &:nth-child(2),
    &:nth-child(3) {
      display: block;
    }

    .ch-header-nav.active & {
      display: block;
    }
  }
}


