.ch-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background-color: #fff;

  .ch-dropdown-content {
    min-width: 250px;
  }
  @media screen and (min-width: 769px) {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 85px);
    box-shadow: 0px 1px 3px rgba(#aaa, 0.2);
    z-index: 2;
  }
}

.ch-header-nav {
  display: flex;
  justify-content: center;
  align-items: center;

  &-button {
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    color: $headerElementsColor;
    transition: all .3s;
    cursor: pointer;

    &:hover, &.active {
      color: darken($headerElementsColor, 10%);
      border-radius: 3px;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.ch-notification-label {
  position: relative;

  &.new {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 4px;
      display: block;
      width: 7px;
      height: 7px;
      background-color: #bb0c0c;
      border-radius: 100%;
    }
  }
}

.ch-group-buttons {

  .ui.button {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;

    .ui.button {
      margin-left: 0;
      margin-bottom: 0;
    }
  }
}
