.ch-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background-color: #fff;

  .ch-dropdown-content {
    min-width: 250px;
  }
}

.ch-header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $headerElementsColor;

  &-button {
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    color: currentColor;
    transition: all .3s;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;

    button {
      font-family: $fontFamily;
      border: none;
      background: transparent;
      outline: 0;
      cursor: pointer;
    }

    &:hover, &.active {
      color: darken($headerElementsColor, 10%);
      border-radius: 3px;
    }

    &:last-child {
      padding-right: 0;
    }

    &.ch-account {

      button {
        font-weight: bold;
        text-transform: uppercase;
        color: $fontColor;
      }

      .fa-icon.dropdown {
        margin-left: .25rem;
        font-size: .65em;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ch-header-nav-button {
    display: none;

    &:first-child,
    &:nth-child(2),
    &:nth-child(3) {
      display: block;
    }
  }
}



