.ch-login {
  position: relative;
  width: 100%;
  height: 100%;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:before {
    background: {
      image: url('../images/bg_app.jpg');
      size: cover;
      position: center bottom;
    }
    filter: grayscale(100%) contrast(1.2);
    z-index: -1;
  }

  &:after {
    background-color: var(--main-color-dark);
    opacity: 0.85;
    z-index: 0;
  }


  &-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    width: 50%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
  }

  &-header {
    text-align: center;

    .logo-product {
      width: 45px;
    }

    .logo-nexaas {
      display: block;
      margin: 5px auto;
    }

    .text {
      display: block;
      font-weight: 300;
      font-size: 1.3em;
    }
  }

  &-form {
    max-width: 330px;
    padding: 35px 0;
    margin-left: auto;
    margin-right: auto;

    .ui.header {
      font-weight: 300;
      font-size: 1.5em;
      text-align: center;
    }

    .button {
      color: #fff;
      background-color: var(--main-color);

      &:hover {
        color: #fff;
        background-color: var(--main-color-light);
      }
    }
  }

  &-helpers {
    padding: 35px 0;
    color: #999;

    span {
      display: block;
      margin-bottom: 15px;
      text-align: center;
    }

    a {
      display: inline-block;
      color: inherit;
      text-decoration: underline;
    }
  }

  &-footer {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    padding: 20px 60px;
    text-align: center;

    li {
      display: inline-block;
    }

    li a {
      color: #999;
      display: block;
      padding: 10px;
    }
  }

  @media screen and (max-width: 768px) {
    &-container {
      width: 100%;
      padding: 20px;
    }

    &-footer {
      padding: 20px;
    }
  }
}
