.ch-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: $navbarSize;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: color(navy, tone-70);
  z-index: 2;

  &.collapsed {
    width: $navbarCollapsedSize;
    transition: all .2s;

    + .ch-content {
      margin-left: $navbarCollapsedSize;
    }

    .ch-logo-label,
    .ch-menu-item-label,
    .ch-collapse-button-label,
    .ch-menu-item.ch-dropdown.open > .ch-dropdown-content {
      display: none;
    }
  }

  &.collapsed:hover {
    width: $navbarSize;
    box-shadow: 0 0 25px rgba(#000, .54);
    transition: all .2s;

    .ch-logo-label,
    .ch-menu-item-label,
    .ch-collapse-button-label,
    .ch-menu-item.ch-dropdown.open > .ch-dropdown-content {
      display: initial;
    }
  }

  @media screen and (max-width: 768px) {
    font-size: 1.2em;

    &:not(.active) {
      width: 100% !important;
      height: 60px;
      top: auto;
      bottom: 0;

      &.collapsed:hover {
        box-shadow: none;
        transition: none;

        .ch-logo-label,
        .ch-menu-item-label,
        .ch-collapse-button-label,
        .ch-menu-item.ch-dropdown.open > .ch-dropdown-content {
          display: none;
        }
      }
    }

    &.active {
      width: 100% !important;
    }

    &.collapsed + .ch-content {
      margin-left: 0;
    }
  }
}

.ch-logo {
  position: relative;
  height: 65px;
  padding-left: $navbarCollapsedSize;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &-label {
    white-space: nowrap;
  }

  &-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);

    > img {
      min-width: 36px;
      max-height: 36px;
    }
  }

  &.nexaas {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #fff;
  }

  @media screen and (max-width: 768px) {
    padding-left: 70px;

    &-icon {
      left: 18px;
    }

    .ch-nav:not(.active) & {
      display: none;
    }
  }
}

.ch-menu {
  overflow-y: auto;
  overflow-x: hidden;

  @media screen and (max-width: 768px) {
    .ch-nav:not(.active) & {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}

.ch-menu-item {
  > a,
  > button {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 40px;
    padding: .7em 0;
    padding-left: $navbarCollapsedSize;
    font-weight: 600;
    color: color(navy, tone-10);

    > .fa-icon:first-child {
      position: absolute;
      top: 50%;
      left: 20px;
      width: 20px;
      height: 20px;
      font-size: 1.15em;
      text-align: center;
      transform: translateY(-50%);
    }

    > .fa-icon:first-child, &-label {
      line-height: 20px;
    }
  }

  a:hover {
    color: #fff;
  }

  &.active {
    a {
      color: #fff;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: auto;
        height: 20px;
        border-right: 5px solid $activeColor;
        transform: translateY(-50%);
      }

      > .fa-icon:first-child {
        color: $activeColor;
      }
    }
  }

  &.disabled {
    a {
      color: #949FB2;
      pointer-events: none;
    }
  }

  &.ch-dropdown {
    > .ch-dropdown-content {
      display: none;
      position: relative;
      top: auto;
      left: auto;
      margin-bottom: 20px;
      font-size: inherit;
      background-color: transparent;
      box-shadow: none;

      &:before {
        content: none;
      }
    }

    > .ch-dropdown-button > .fa-icon.dropdown {
      position: absolute;
      margin-right: 1em;
      font-size: .65em;
      top: 50%;
      right: 0;
      height: auto;
      transform: translateY(-50%);
      transition: transform .3s;

      &:before {
        content: "\f054";
      }
    }

    &.open {
      > .ch-dropdown-content {
        display: block;
      }

      > .ch-dropdown-button > .fa-icon.dropdown {
        transform: translateY(-50%) rotate(90deg);
      }
    }
  }

  @media screen and (max-width: 768px) {
    .ch-nav & {
      > a,
      > button {
        padding-top: 1.15em;
        padding-bottom: 1.15em;
        padding-left: 70px;


        > .fa-icon:first-child{
          font-size: 1.25em;
        }
      }
    }


    .ch-nav:not(.active) & {

      display: none;
      height: 100%;

      &:first-child,
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &.more
      {
        display: block;
      }

      &-label {
        display: none;
      }

      > a,
      > button {
        height: 100%;
        padding: 10px;
        justify-content: center;

        > .fa-icon:first-child {
          position: static;
          transform: translateY(0);
        }
      }

      &.active {
        a:before {
          width: 20px;
          height: auto;
          top: auto;
          bottom: 0;
          left: auto;
          right: 50%;
          border-right: none;
          border-bottom: 5px solid $activeColor;
          transform: translate(50%, 0);
        }
      }
    }

    .ch-nav.active & {

      > a,
      > button {
        > .fa-icon:first-child{
          left: 25px;
        }
      }

      &.more {
        position: fixed;
        bottom: 0;
        right: 0;
        padding-left: 10px;
        padding-right: 10px;
        background-color: color(navy, tone-70);
        z-index: 2;

        > button {
          width: 60px;
          height: 60px;
          padding: 0;
        }

        > button > .fa-icon {
          font-size: 1.5em;
        }
      }
    }
  }
}

.ch-expand-button {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: auto;
  align-self: flex-start;
  background-color: color(navy, tone-70);
  z-index: 1;

  > button {
    width: 100%;
    height: 50px;
    font-family: inherit;
    padding: .7em 0;
    padding-left: 60px;
    text-align: left;
    font-weight: 600;
    color: color(navy, tone-30);
    background-color: transparent;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    outline: 0;

    &:after {
      content: attr(data-minimize);
      opacity: .5;
      visibility: hidden;
      transition: all .1s ease-out;
    }

    > .icon {
      position: absolute;
      top: 50%;
      left: 20px;
      width: 20px;
      transform: translateY(-50%);
    }

    > .icon path {
      fill: #949FB2
    }

    > .icon.minimize {
      display: block;
    }

    > .icon.expand {
      display: none;
    }
  }

  > button:hover {
    &:after {
      opacity: 1;
      visibility: visible;
    }
  }

  button {
    .ch-nav.collapsed & {
      &:after {
        content: attr(data-expand)
      }

      > .icon.minimize {
        display: none;
      }

      > .icon.expand {
        display: block;
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.ch-content {
  margin-left: $navbarSize;
  transition: all .3s;

  .ch-header {
    position: static;
    width: 100%;
    background: none;
    box-shadow: none;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 0;
  }
}

.ch-tag {
  &--new {
    &.ui.label {
      margin-left: 5px;
      padding: .3em .55em;
      color: color(navy, tone-70);
      background-color: #FFA719;
      border: 2px solid color(navy, tone-70);
      border-radius: 500em;
      text-transform: uppercase;
    }

    &:before {
      content: attr(data-label);
    }
  }

  .ch-nav.collapsed:not(:hover) & {
    &--new {
      &.ui.label {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        font-size: 0;
        border-radius: 100%;
        transform: translate(0, -75%);

        &:before {
          content: '';
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .ch-nav:not(.active) & {
      &--new {
        &.ui.label {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 12px;
          height: 12px;
          font-size: 0;
          border-radius: 100%;
          transform: translate(0, -75%);

          &:before {
            content: '';
          }
        }
      }
    }
  }
}
