$navbar-size: 240px;
$navbar-collapsed-size: 60px;

.ch-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: $navbar-size;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #2D394C;
  z-index: 3;

  &.collapsed {
    width: $navbar-collapsed-size;
    transition: all .2s;

    + .ch-content {
      margin-left: $navbar-collapsed-size;
    }

    .ch-logo-label,
    .ch-menu-item-label,
    .ch-collapse-button-label,
    .ch-menu-item.ch-dropdown.open > .ch-dropdown-content {
      display: none;
    }
  }

  &.collapsed:hover {
    width: $navbar-size;
    box-shadow: 0 0 25px rgba(#000, .54);
    transition: all .2s;

    .ch-logo-label,
    .ch-menu-item-label,
    .ch-collapse-button-label,
    .ch-menu-item.ch-dropdown.open > .ch-dropdown-content {
      display: initial;
    }
  }
}

.ch-logo {
  position: relative;
  min-height: 40px;
  margin-bottom: 25px;
  padding-left: $navbar-collapsed-size;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  color: #fff;

  &-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00E2F6;
    border: 4px solid #00E2F6;
    border-radius: 100%;
    transform: translateY(-50%);
  }
}

.ch-menu {
  overflow-y: auto;
  overflow-x: hidden;
}

.ch-menu-item {
  a {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 40px;
    padding: .7em 0;
    padding-left: $navbar-collapsed-size;
    font-weight: 600;
    color: #C7D0DD;

    > .icon:first-child {
      position: absolute;
      top: 50%;
      left: 20px;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
    }

    > .icon:first-child, &-label {
      line-height: 20px;
    }
  }

  a:hover {
    color: #fff;
  }

  &.active {
    a {
      color: #fff;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: auto;
        height: 20px;
        border-right: 5px solid #00E2F6;
        transform: translateY(-50%);
      }

      > .icon:first-child {
        color: #00E2F6;
      }
    }
  }

  &.disabled {
    a {
      color: #949FB2;
      pointer-events: none;
    }
  }

  &.ch-dropdown {
    > .ch-dropdown-content {
      display: none;
      position: relative;
      top: auto;
      left: auto;
      margin-bottom: 20px;
      font-size: inherit;
      background-color: transparent;
      box-shadow: none;

      &:before {
        content: none;
      }
    }

    > .ch-dropdown-button > .icon.dropdown {
      position: absolute;
      font-size: .65em;
      top: 50%;
      right: 0;
      height: auto;
      transform: translateY(-50%);
      transition: transform .3s;

      &:before {
        content: "\f054";
      }
    }

    &.open {
      > .ch-dropdown-content {
        display: block;
      }

      > .ch-dropdown-button > .icon.dropdown {
        transform: translateY(-50%) rotate(90deg);
      }
    }
  }
}

.ch-collapse {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: auto;
  align-self: flex-start;
  font-family: inherit;
  background-color: #2D394C;
  z-index: 1;

  &-button {

    height: 40px;
    color: #8491A5;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    cursor: pointer;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 20px;
    transform: translateY(-50%);
  }
}

.ch-content {
  margin-left: $navbar-size;
  transition: all .3s;

  .ch-header {
    position: static;
    width: 100%;
    padding: 40px 20px;
    background: none;
    box-shadow: none;
  }
}
