.ch-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: $navbarSize;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: color(navy, tone-80);
  z-index: 3;
  overflow-x: hidden;

  &.collapsed {
    width: $navbarCollapsedSize;
    @include transition(all .2s);

    + .ch-content {
      margin-left: $navbarCollapsedSize;
    }

    .ch-logo-label,
    .ch-menu-item-label,
    .ch-collapse-button-label,
    .ch-menu-item.ch-dropdown.open > .ch-dropdown-content {
      display: none;
    }

    .ch-menu-item-label {
      white-space: nowrap;
    }
  }

  &.collapsed.hover {
    width: $navbarSize;
    box-shadow: 0 0 25px rgba(#000, .54);

    .ch-logo-label,
    .ch-menu-item-label,
    .ch-collapse-button-label,
    .ch-menu-item.ch-dropdown.open > .ch-dropdown-content {
      display: block;
    }

    .ch-logo-label,
    .ch-menu-item-label {
      white-space: normal;
      animation: fadeIn .75s;
    }

    .ch-logo-icon,
    .ch-menu-item > a > .fa-icon:first-child,
    .ch-menu-item.active > a:before {
      animation: fadeIn 1s;
    }
  }

  @include respond-to($tablet-portrait) {
    font-size: 1.2em;

    &:not(.active) {
      width: 100% !important;
      height: 60px;
      top: auto;
      bottom: 0;

      &.collapsed.hover {
        .ch-logo-label,
        .ch-menu-item-label,
        .ch-collapse-button-label,
        .ch-menu-item.ch-dropdown.open > .ch-dropdown-content {
          display: none;
        }
      }
    }

    &.active {
      width: 100% !important;
    }

    &.collapsed,
    &.collapsed.hover {
      box-shadow: none;
      @include transition(none);
    }

    &.collapsed + .ch-content {
      margin-left: 0;
    }
  }
}
