.ch-sidebar {

  &--fixed {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    min-height: 100%;
    margin-left: auto;
    padding: 25px;
    padding-top: calc(65px + 30px);
    background-color: #fff;
    border-left: 1px solid #ddd;
    overflow-y: auto;
    z-index: 0;
    @include transition(all .3s);

    &.inactive {
      @include transform(translateX(320px));
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      top: 50%;
      min-height: 50%;
      padding-top: 20px;
      border: none;
    }
  }

  &-button {
    position: fixed;
    top: 50%;
    right: 0;
    @include transform(translate(-312px, -50%));

    &.inactive {
      @include transform(translate(2px, -50%));
    }

    &.ui.button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: {
        top: 20px;
        right: 0;
        bottom: 20px;
        left: 5px;
      }
      background-color: #fff;
      border: none;
      border-radius: 5px 0 0 5px;
      box-shadow: -2px 0px 1px 0px rgba(#000, .05);
      @include transition(all .3s);
    }
  }

  &-title {
    @include title(16px);
    margin-bottom: 15px;
  }
}
