@import '../../abstracts/colors';
@import '../../abstracts/dimensions';
@import '../../abstracts/border';
@import '../../abstracts/typography';
@import '../../abstracts/layers';
@import '../../abstracts/space';

.ch-template-error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - #{ch-get-dimension(1)});
  text-align: center;
  background-color: #{ch-get-color(neutral, 2)};

  &-number {
    position: relative;
    font-size: calc(#{ch-get-text-size()} * 8);
    line-height: 1em;

    &-icon {
      position: absolute;
      top: 0;
      right: calc(#{ch-get-dimension(1)} * -0.5);
      width: calc(#{ch-get-dimension(1)} / 2);
      height: calc(#{ch-get-dimension(1)} / 2);

      &:before,
      &:after  {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:before {
        color: #{ch-get-color(text, 1, inverse)};
        z-index: #{ch-get-z-index(1, 2)};
      }

      &:after {
        @include ch-border-radius(circle);
        $empty: '';
        content: $empty;
        width: 100%;
        height: 100%;
        background-color: #{ch-get-color(brand, 1)};
        z-index: #{ch-get-z-index(1, 1)};
      }
    }

    @include ch-media(from, tablet) {
      font-size: calc(#{ch-get-text-size()} * 12);

      &-icon {
        right: calc(#{ch-get-dimension(1)} * -1);
        width: calc(#{ch-get-dimension(1)} / 1.5);
        height: calc(#{ch-get-dimension(1)} / 1.5);
      }
    }
  }

  &-message {
    @include ch-space-inset();
    @include ch-space-stack(l);
  }

  &-button {
    font-size: #{ch-get-text-size(3)};
  }

  &-footer {
    @include ch-border(top);
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: #{ch-get-dimension(1)};
    background-color: #{ch-get-color(neutral, 2)};

    &-brand {
      width: auto;
      max-height: calc(#{ch-get-dimension(1)} / 2);
      opacity: 0.2;
    }
  }
}
