.ch-inline-search {
  &.ui.input {
    > .ch-inline-search-input {
      border-radius: 500em;
      border: 1px solid #e6eaf2;
      border-right: none;
    }

    > .ui.icon.button.basic.ch-inline-search-button {
      border: 1px solid #e6eaf2;
      border-left: none;
      border-radius: 0 500em 500em 0;
      box-shadow: none;
    }

    > .ch-inline-search-input,
    > .ui.icon.button.basic.ch-inline-search-button {
      &:active {
        background: none !important;
      }
    }

    > .ch-inline-search-input:focus,
    > .ch-inline-search-input:focus + .ui.icon.button.basic {
      border-color: #85B7D9;
    }
  }
}
