@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

@include keyframes(bounceOutDown) {
  0% {
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(2000px);
  }
}

@include keyframes(bounceInUp) {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@include keyframes(progress-active) {
  0% {
    width: 0;
    opacity: .3;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: .1;
    width: 100%;
  }
}

@include keyframes(progress-overlay) {
  0% {
    opacity: .7;
    width: 0;
  }
  90% {
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}

