.ch-steps-item {
  @include ch-transition(opacity);

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  padding-left: #{ch-get-space(xl)};
  min-height: #{ch-get-space(xl)};

  counter-increment: steps;
  opacity: 0.6;

  // 1. Label

  &-label {
    @include ch-media(from, tablet) {
      display: block;
      padding-top: 0;
    }

    display: none;
    width: max-content;

    padding-left: #{ch-get-space(s)};
  }

  // 2. Active item

  &.is-active {
    flex: 1;

    .ch-steps-item-label {
      display: block;
    }
  }

  // 3. Active, visited or completed

  &.is-active,
  &.is-visited,
  &.is-completed {
    opacity: 1;

    > .ch-title {
      color: #{ch-get-color(primary)};
    }
  }

  &.is-active {
    @include ch-media(from, tablet) {
      flex-grow: 0;
    }
  }

  // 4. Interactive variation

  // 4.1. Focus interaction

  &:hover:focus,
  &:focus,
  &:hover {
    color: #{ch-get-color(primary, focus)};
    opacity: 1;
  }

  // 4.2. Active interaction

  &:active {
    color: #{ch-get-color(primary, active)};
    opacity: 1;
  }

  // 5. Vertical

  @at-root .ch-steps.ch-steps--vertical #{&}-label {
    display: block;
    width: auto;
  }
}
