@use '../../foundation/borders' as borders;
@use '../../foundation/colors' as colors;
@use '../../foundation/motion' as motion;
@use '../../foundation/spaces' as spaces;
@use '../../foundation/thypography' as thypography;

.ch-steps-item {
  // 1. Base

  &:before {
    @include borders.border(box, colors.get-color(border), solid, borders.$border-width);
    @include thypography.label;
    @include motion.transition(unquote('border, background')); // @todo implements

    $counter: counter(steps);

    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    position: absolute;

    content: $counter;
    width: spaces.get-space(xl);
    height: spaces.get-space(xl);
    background: transparent;
    border-radius: borders.get-border-radius(circle);

    text-align: center;
    vertical-align: middle;
  }

  // 2. Active and Visited state

  &.is-active,
  &.is-visited {
    &:before {
      color: colors.get-color(primary);
      border-color: colors.get-color(primary);
    }
  }

  // 3. Complete state

  &.is-completed {
    &:before {
      color: colors.get-color(text, 1, inverse);
      border-color: colors.get-color(primary);
      background: colors.get-color(primary);
    }
  }

  // 4. Interactive

  @at-root a#{&} {

    // 4.1. Active and Visited interaction

    &.is-active,
    &.is-visited {
      // 4.1.1 Focus interaction

      &:hover:focus,
      &:hover,
      &:focus {
        &:before {
          color: colors.get-color(primary, focus);
          border-color: colors.get-color(primary, focus);
        }
      }

      // 4.1.2 Active interaction

      &:active {
        &:before {
          color: colors.get-color(primary, active);
          border-color: colors.get-color(primary, active);
        }
      }
    }

    // 4.2. Completed interaction

    &.is-completed {
      // 4.2.1. Focus interaction

      &:hover:focus,
      &:hover,
      &:focus {
        &:before {
          background: colors.get-color(primary, focus);
          border-color: colors.get-color(primary, focus);
        }
      }

      // 4.2.2. Active interaction

      &:active {
        &:before {
          background: colors.get-color(primary, active);
          border-color: colors.get-color(primary, active);
        }
      }
    }
  }
}
