.ch-steps {
  display: flex;
  flex-direction: row;
  position: relative;
  
  counter-reset: steps;
  max-width: 100%;
  padding-bottom: #{ch-get-space(xs)};
  overflow-x: auto;

  &:not(#{&}--vertical) {
    @include ch-space-inline-group(left, s);

    flex-wrap: nowrap;
  }

  &--vertical {
    @include ch-space-stack-group(s);

    overflow-x: initial;
    padding-bottom: 0;
  }

  @include ch-media(from, tablet) {
    @include ch-space-inline-group;
  }
}
