@use '../../foundation/breakpoints' as breakpoints;
@use '../../foundation/spaces' as spaces;

.ch-steps {
  @include breakpoints.media(from, tablet) {
    @include spaces.inline-group;
  }

  display: flex;
  flex-direction: row;
  position: relative;
  
  counter-reset: steps;
  max-width: 100%;
  overflow-x: auto;

  &:not(#{&}--vertical) {
    @include spaces.inline-group(left, s);

    flex-wrap: nowrap;
  }

  &--vertical {
    @include spaces.stack-group(s);

    overflow-x: initial;
    padding-bottom: 0;
  }
}
