// 1. Base

.ch-steps {
  @include ch-space-inline-group(left, s);
  position: relative;

  counter-reset: steps;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: auto;

  @include ch-media(from, tablet) {
    @include ch-space-inline-group;
  }
}
