@use '../../foundation/breakpoints' as breakpoints;
@use '../../foundation/helpers' as helpers;
@use '../../foundation/spaces' as spaces;
@use '../../foundation/thypography' as thypography;

.ch-form {
  @include spaces.stack-group(l);

  &-actions {
    $box-height: helpers.calc-box-height(
      thypography.get-font-size(2),
      spaces.get-space(xs),
      spaces.get-space(xs)
    );

    @include breakpoints.media(only, mobile) {
      @include spaces.stack-group(xs);

      > .ch-button.has-leadingIcon {
        padding-right: $box-height;
      }

      > .ch-button.has-trailingIcon {
        padding-left: $box-height;
      }
    }

    @include breakpoints.media(from, tablet) {
      @include spaces.inline-group(right, xs);
    }

    padding-top: spaces.get-space(s);
  }
}
