@use '../../foundation/breakpoints' as breakpoints;
@use '../../foundation/spaces' as spaces;
@use '../../foundation/thypography' as thypography;
@use '../../foundation/utils' as utils;

.ch-form {
  @include spaces.stack-group(l);

  &-actions {
    @include breakpoints.media(only, mobile) {
      @include spaces.stack-group(xs);

      > .ch-button.has-leadingIcon {
        padding-right: utils.calc-box-height(thypography.get-font-size(2), spaces.get-space(xs), spaces.get-space(xs));
      }

      > .ch-button.has-trailingIcon {
        padding-left: utils.calc-box-height(thypography.get-font-size(2), spaces.get-space(xs), spaces.get-space(xs));
      }
    }

    @include breakpoints.media(from, tablet) {
      @include spaces.inline-group(right, xs);
    }

    padding-top: spaces.get-space(s);
  }

  // &--contained {
  //   max-width: calc(#{$ch-breakpoint-desktop} - #{ch-get-dimension(2)});
  // }
}
