/* ==========================================================================
  FORMS
   ========================================================================== */


// Checkboc e Radio

label
  display: inline-block
  cursor: pointer
  position: relative
  padding-left: 1.5em
  margin-right: 1em
  color: #6C6C6C

  &:before
    content: ""
    display: inline-block
    width: 1em
    height: 1em
    margin-right: 10px
    position: absolute
    left: 0
    bottom: 1px
    background-color: #FFFFFF
    border: 1px solid #00A7F1

input
  &[type=radio], &[type=checkbox]
    display: none

  &[type=radio]:checked + label:before
    content: "\2022"
    color: #00A7F1
    text-align: center
    line-height: 0.8em

  &[type=checkbox]:checked + label:before
    content: "\2713"
    color: #00A7F1
    text-align: center
    line-height: 1em 

  &[type=radio] + label
    margin-bottom: 0.3em
    
    &:before
      border-radius: 5em

  &[type=checkbox] + label
    margin-bottom: 0.3em

    &:before
      border-radius: 0.2em