/* ==========================================================================
   SEARCH
   ========================================================================== */

.search 
  @extend input[type=text]
  border-radius: 0
  padding-right: 0.5rem
  background-color: #ffffff
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAaVJREFUKBWVUj1LA0EUvD1yIEGCco1NOtFCENQmdjb5BaKNYmHrHYlKKpuAVndCyCWdWEWwsbRRgqSxEkmdIk3EYBMMCCGQC3Fm2T1OkYALu++9mXkfPFYYsZPP57fCMDwWQmwCTuF2J5PJg2VZF6VS6T0mla7gWywWZ3q9ng/hEUKJSVY9KNYH51ar1Zs4bjJQiQ5c6EQT98w0zQPEl6SROAdby+VyWdjoCDXqExAmBrZtn2KSUCsKhcLCcDi8R4ENYG/JZHLF87wv8uZ4PD6BZWLzdyIFvu9/YIo9uCPc9GAw2CXOw7Ez0jOMu3hHhUlTLpdbLM4AVutlMrdqYKwO7ZQjeehmtYaduwxQcVWDf1kkab6teSY/MgB5yOVoIm6x5W3ES8TQpEHLYyYSiXMAffg2twrhsmTUw0Qs9YohdC+VSqWuefkhHMfZB1BT4AgiLqejRpUdFfeJzWeDIHhlHP0mfgB0uAaWVsLIsCMKLQKYx40KRMlUuq6bgmgH4gwst9qG3+Co+Ezr+PccOSrwI5kFpp14ARRt/SuZhTHdGswt7vM3Svmug/ol/5sAAAAASUVORK5CYII=')
  background-size: 15px 15px
  background-position: right center
  background-origin: content-box
  background-repeat: no-repeat   