/* ==========================================================================
   SELECT
   ========================================================================== */

.select_box select 
  @extend input[type=text]
  border-radius: 0
  background-color: #ffffff
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAXNSR0IArs4c6QAAAGFJREFUCB1jNDExufv//38lBtzgGy8vrzgTIyNjKRD/wa2OofbAgQNfmJ89e3ZdWlr6KlBhMBAzoWkoPnv2bB9IjBlE4FAMVwRSgwJMTU2DjI2NfwFxEYoENo6DgwMPNnEAKmkgMYjJKqEAAAAASUVORK5CYII=')
  background-position: right center
  background-origin: content-box
  background-repeat: no-repeat