/* ==========================================================================
  TYPOGRAPHY
   ========================================================================== */

// Integrate Lato Font (By google fonts)
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900)

html
  font-family: 'Roboto', sans-serif

.title-float
  +outer-container
  +padding(null null null 0.5em)
  color: darken($color-secondary, 50%)
  font-size: em(18)
  font-weight: 400
  text-transform: uppercase  

