/* ==========================================================================
  TYPOGRAPHY
   ========================================================================== */

// Integrate Lato Font (By google fonts)
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900)

p
  font-size: inherit
  color: #5D5D5D
  line-height: 1.6
  margin-bottom: 1rem
  text-rendering: optimizeLegibility
