/* ==========================================================================
  TYPOGRAPHY
   ========================================================================== */

// Integrate Lato Font (By google fonts)
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900)

*
  font-size: 16px

html
  font-family: 'Lato', sans-serif

.title-float
  +outer-container
  +padding(null null null 0.5em)
  color: darken($color-secondary, 50%)
  font-size: em(18)
  font-weight: 400
  text-transform: uppercase  

