@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i");
.ch-breadcrumb-section {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis; }

.mobile-only {
  display: none; }
  @media screen and (max-width: 768px) {
    .mobile-only {
      display: block; } }

.computer-only {
  display: none; }
  @media screen and (min-width: 769px) {
    .computer-only {
      display: block; } }

.grow {
  flex-grow: 1; }

.row-link:hover {
  cursor: pointer; }

.ch-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  animation: fadeIn .3s; }
  .ch-overlay.inside {
    top: 65px;
    background-color: rgba(0, 0, 0, 0.05); }
    .ch-overlay.inside .ch-sidebar-container {
      border-top: 1px solid #eee; }
  @media screen and (max-width: 767px) {
    .ch-overlay {
      background-color: #fff; }
      .ch-overlay.inside {
        top: 0; } }

.hidden {
  display: none !important; }
  .hidden.ui.divider {
    display: block !important; }

@media screen and (max-width: 767px) {
  .hidden-mobile {
    display: none !important; } }

.close-dialog {
  cursor: pointer; }

.ch-modal .ui.header {
  font-size: auto;
  font-weight: 400;
  text-transform: uppercase;
  color: #5c6a84; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

:root [data-theme="default"] {
  --main-color: #00BBDA;
  --main-color-dark: #00a5c1;
  --main-color-light: #00c8e9; }

[data-theme="default"] .noUi-horizontal .noUi-handle {
  background-color: #00a5c1; }

[data-theme="default"] .noUi-connect {
  background: #00a5c1; }

[data-theme="default"] .noUi-handle:active {
  border: 8px solid rgba(0, 165, 193, 0.85); }

[data-theme="default"] .ch-login:after {
  background-color: #00a5c1; }

[data-theme="default"] .ch-login-form .button {
  background-color: #00BBDA; }

[data-theme="default"] .ch-login-form .button:hover {
  background-color: #00c8e9; }

[data-theme="default"] .ch-timeline li.event:before {
  border-color: #00BBDA; }

:root [data-theme="myfinance"] {
  --main-color: #224168;
  --main-color-dark: #1c3555;
  --main-color-light: #264874; }

[data-theme="myfinance"] .noUi-horizontal .noUi-handle {
  background-color: #1c3555; }

[data-theme="myfinance"] .noUi-connect {
  background: #1c3555; }

[data-theme="myfinance"] .noUi-handle:active {
  border: 8px solid rgba(28, 53, 85, 0.85); }

[data-theme="myfinance"] .ch-login:after {
  background-color: #1c3555; }

[data-theme="myfinance"] .ch-login-form .button {
  background-color: #224168; }

[data-theme="myfinance"] .ch-login-form .button:hover {
  background-color: #264874; }

[data-theme="myfinance"] .ch-timeline li.event:before {
  border-color: #224168; }

:root [data-theme="cobrato"] {
  --main-color: #D88414;
  --main-color-dark: #c17612;
  --main-color-light: #e68d15; }

[data-theme="cobrato"] .noUi-horizontal .noUi-handle {
  background-color: #c17612; }

[data-theme="cobrato"] .noUi-connect {
  background: #c17612; }

[data-theme="cobrato"] .noUi-handle:active {
  border: 8px solid rgba(193, 118, 18, 0.85); }

[data-theme="cobrato"] .ch-login:after {
  background-color: #c17612; }

[data-theme="cobrato"] .ch-login-form .button {
  background-color: #D88414; }

[data-theme="cobrato"] .ch-login-form .button:hover {
  background-color: #e68d15; }

[data-theme="cobrato"] .ch-timeline li.event:before {
  border-color: #D88414; }

:root [data-theme="billimatic"] {
  --main-color: #6B180F;
  --main-color-dark: #55130c;
  --main-color-light: #781b11; }

[data-theme="billimatic"] .noUi-horizontal .noUi-handle {
  background-color: #55130c; }

[data-theme="billimatic"] .noUi-connect {
  background: #55130c; }

[data-theme="billimatic"] .noUi-handle:active {
  border: 8px solid rgba(85, 19, 12, 0.85); }

[data-theme="billimatic"] .ch-login:after {
  background-color: #55130c; }

[data-theme="billimatic"] .ch-login-form .button {
  background-color: #6B180F; }

[data-theme="billimatic"] .ch-login-form .button:hover {
  background-color: #781b11; }

[data-theme="billimatic"] .ch-timeline li.event:before {
  border-color: #6B180F; }

:root [data-theme="contabilone"] {
  --main-color: #832664;
  --main-color-dark: #6f2055;
  --main-color-light: #8f296d; }

[data-theme="contabilone"] .noUi-horizontal .noUi-handle {
  background-color: #6f2055; }

[data-theme="contabilone"] .noUi-connect {
  background: #6f2055; }

[data-theme="contabilone"] .noUi-handle:active {
  border: 8px solid rgba(111, 32, 85, 0.85); }

[data-theme="contabilone"] .ch-login:after {
  background-color: #6f2055; }

[data-theme="contabilone"] .ch-login-form .button {
  background-color: #832664; }

[data-theme="contabilone"] .ch-login-form .button:hover {
  background-color: #8f296d; }

[data-theme="contabilone"] .ch-timeline li.event:before {
  border-color: #832664; }

:root [data-theme="emites"] {
  --main-color: #0C4E43;
  --main-color-dark: #093830;
  --main-color-light: #0e5b4e; }

[data-theme="emites"] .noUi-horizontal .noUi-handle {
  background-color: #093830; }

[data-theme="emites"] .noUi-connect {
  background: #093830; }

[data-theme="emites"] .noUi-handle:active {
  border: 8px solid rgba(9, 56, 48, 0.85); }

[data-theme="emites"] .ch-login:after {
  background-color: #093830; }

[data-theme="emites"] .ch-login-form .button {
  background-color: #0C4E43; }

[data-theme="emites"] .ch-login-form .button:hover {
  background-color: #0e5b4e; }

[data-theme="emites"] .ch-timeline li.event:before {
  border-color: #0C4E43; }

:root [data-theme="rexpense"] {
  --main-color: #3BB3A4;
  --main-color-dark: #35a092;
  --main-color-light: #3fbfaf; }

[data-theme="rexpense"] .noUi-horizontal .noUi-handle {
  background-color: #35a092; }

[data-theme="rexpense"] .noUi-connect {
  background: #35a092; }

[data-theme="rexpense"] .noUi-handle:active {
  border: 8px solid rgba(53, 160, 146, 0.85); }

[data-theme="rexpense"] .ch-login:after {
  background-color: #35a092; }

[data-theme="rexpense"] .ch-login-form .button {
  background-color: #3BB3A4; }

[data-theme="rexpense"] .ch-login-form .button:hover {
  background-color: #3fbfaf; }

[data-theme="rexpense"] .ch-timeline li.event:before {
  border-color: #3BB3A4; }

:root [data-theme="passaporteWeb"] {
  --main-color: #242633;
  --main-color-dark: #191b24;
  --main-color-light: #2a2d3c; }

[data-theme="passaporteWeb"] .noUi-horizontal .noUi-handle {
  background-color: #191b24; }

[data-theme="passaporteWeb"] .noUi-connect {
  background: #191b24; }

[data-theme="passaporteWeb"] .noUi-handle:active {
  border: 8px solid rgba(25, 27, 36, 0.85); }

[data-theme="passaporteWeb"] .ch-login:after {
  background-color: #191b24; }

[data-theme="passaporteWeb"] .ch-login-form .button {
  background-color: #242633; }

[data-theme="passaporteWeb"] .ch-login-form .button:hover {
  background-color: #2a2d3c; }

[data-theme="passaporteWeb"] .ch-timeline li.event:before {
  border-color: #242633; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #475266;
  font-family: "Roboto", sans-serif;
  background-color: #F9FBFF; }

a {
  text-decoration: none; }

ol, ul, li {
  list-style: none; }

@media only screen and (max-width: 767px) {
  .ui.form .fields .field {
    margin: 0 0 1em; } }

.ui.grid > .white.column,
.ui.grid > .white.row,
.ui.grid > .row > .white.column {
  background-color: #fff; }

.ui.grid.padded.grid:not(.vertically):not(.horizontally) {
  padding: 10px; }

@media screen and (max-width: 480px) {
  .ui.menu.pagination .item {
    display: none; }
    .ui.menu.pagination .item:first-child, .ui.menu.pagination .item:last-child {
      display: flex; } }

.ui.modal.ch-modal > .close {
  top: 1rem;
  right: 0.5rem;
  color: #475266; }

.ui.modal > .header:not(.ui) {
  font-size: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
  color: #5c6a84; }

.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.65); }

.ui.segments {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1) !important;
  border-color: #dbdbdb !important; }
  .ui.segments > .segment {
    border-color: #dbdbdb;
    border-radius: 0 !important; }
    .ui.segments > .segment:last-child {
      border-bottom: none; }
    .ui.segments > .segment.borderless {
      border: none;
      border-radius: 0;
      box-shadow: none; }
  .ui.segments.horizontal {
    display: flex;
    align-items: center;
    margin: 0;
    border-radius: 0; }

.ui.segment {
  border-radius: 0;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); }
  .ui.segment.grow {
    display: flex;
    flex-grow: 1;
    flex-direction: column; }
  .ui.segment.borderless {
    border: none;
    border-radius: 0;
    box-shadow: none; }
  .ui.segment.paddingless {
    padding: 0; }
    .ui.segment.paddingless .ui.table td, .ui.segment.paddingless .ui.table th {
      padding-top: 1.2em;
      padding-bottom: 1.2em; }
      .ui.segment.paddingless .ui.table td:first-child, .ui.segment.paddingless .ui.table th:first-child {
        padding-left: 1.6em; }
      .ui.segment.paddingless .ui.table td:last-child, .ui.segment.paddingless .ui.table th:last-child {
        padding-right: 1.6em; }

.ui.table thead th {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

.paddingless .ui.table {
  border: none; }

.ui.table.expandable {
  background-color: #fff; }

.ui.table.selectable tbody tr.invisible:hover {
  background-color: transparent !important; }

.ui.table.selectable tbody tr.invisible .ch-details-row-content {
  position: relative; }

.ui.table[class*='very basic']:not(.sortable):not(.striped) thead tr:first-child th {
  padding-top: 1.2em; }

.ui.table .checkbox-column {
  width: 20px; }

@media only screen and (max-width: 767px) {
  .ui.table:not(.unstackable) td:first-child,
  .ui.table:not(.unstackable) th:first-child {
    font-weight: normal; }
  .ui.table:not(.unstackable) thead {
    display: none; }
  .ui.table:not(.unstackable) tr {
    display: flex !important;
    flex-direction: column; }
    .ui.table:not(.unstackable) tr.ch-table-details.hidden {
      display: none !important; }
    .ui.table:not(.unstackable) tr.ch-table-details .column {
      display: flex;
      justify-content: space-between;
      padding: 0.7em; }
  .ui.table:not(.unstackable) tr > td {
    display: flex !important;
    justify-content: space-between;
    padding: 5px;
    text-align: right; }
    .ui.table:not(.unstackable) tr > td:before {
      content: attr(data-info);
      font-weight: 600;
      text-align: left; }
    .ui.table:not(.unstackable) tr > td.checkbox {
      justify-content: flex-start; }
    .ui.table:not(.unstackable) tr > td.ch-table-buttons {
      justify-content: center; }
    .ui.table:not(.unstackable) tr > td.ch-table-buttons:before {
      content: ''; }
  .ui.table.actions:not(.unstackable) tr > td,
  .ui.table.actions:not(.unstackable) tr > th {
    padding: 0.5em 1em !important;
    text-align: left; } }

.ch-breadcrumb {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: #475266;
  overflow-x: hidden; }
  .ch-breadcrumb-section {
    position: relative;
    padding: 5px;
    font-weight: 300;
    color: inherit;
    border-radius: 3px; }
    .ch-breadcrumb-section:hover {
      color: #475266;
      background-color: #F9FBFF; }
    .ch-breadcrumb-section a {
      color: currentColor; }
    .ch-breadcrumb-section.active {
      font-weight: 600; }
  .ch-breadcrumb .divider {
    margin: 0 5px;
    opacity: .5; }
  @media screen and (max-width: 768px) {
    .ch-breadcrumb-section, .ch-breadcrumb .divider {
      display: none;
      white-space: nowrap; }
    .ch-breadcrumb-section.active {
      display: block; }
    .ch-breadcrumb .dropdown-toggle {
      pointer-events: none; } }

.ch-dropdown {
  position: relative; }
  .ch-dropdown ul, .ch-dropdown li {
    list-style: none; }
  .ch-dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 84px;
    font-size: 11px;
    font-weight: 400;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    outline: 0;
    z-index: 1;
    animation: fadeIn 0.3s; }
    .ch-dropdown-content:before {
      content: "";
      width: 10px;
      height: 10px;
      display: block;
      background-color: #fff;
      position: absolute;
      top: 25px;
      left: -5px;
      transform: rotate(45deg);
      box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.15);
      z-index: -1; }
    .ch-dropdown-content.visible {
      display: block; }
    .ch-dropdown-content.bottom {
      top: 100%; }
      .ch-dropdown-content.bottom:before {
        content: none; }
      .ch-dropdown-content.bottom.right {
        left: auto;
        right: 0; }
      .ch-dropdown-content.bottom.left {
        right: auto;
        left: 0; }
  .ch-dropdown-header, .ch-dropdown-menu-item a {
    display: block;
    padding: 15px 25px;
    font-size: inherit;
    text-transform: uppercase;
    white-space: nowrap;
    color: #475266; }
  .ch-dropdown-header {
    font-weight: bold; }
  .ch-dropdown-menu-item {
    position: relative; }
    .ch-dropdown-menu-item:first-child {
      border-top: 0; }
    .ch-dropdown-menu-item a:hover, .ch-dropdown-menu-item.active {
      background-color: rgba(0, 0, 0, 0.02); }
    .ch-dropdown-menu-item:hover .ui.image.avatar ~ .ui.button {
      visibility: visible;
      opacity: 1; }
    .ch-dropdown-menu-item .ui.image.avatar {
      margin-right: 10px; }
    .ch-dropdown-menu-item .ui.image.avatar ~ .ui.button {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      margin-left: auto;
      visibility: hidden;
      opacity: 0;
      transition: all .2s; }
  @media screen and (max-width: 768px) {
    .ch-dropdown-content.collapse {
      position: static;
      box-shadow: none;
      z-index: 1; }
      .ch-dropdown-content.collapse .ch-dropdown-header {
        display: none; }
    .ch-dropdown-header {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); } }

.ch-dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2; }
  .ch-dialog-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    min-height: 100%;
    margin-left: auto;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
    transform: translate(100%);
    transition: all .3s; }
    .ch-dialog-container.active {
      transform: translate(0);
      transition: all .3s; }
  .ch-dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding-bottom: 15px;
    color: #5c6a84;
    border-bottom: 1px solid #EBEBEB; }
    .ch-dialog-header .icon {
      margin: 0; }
  .ch-dialog-content {
    padding-bottom: 50px;
    overflow: hidden; }
    .inside .ch-dialog-content {
      padding-bottom: 120px; }
  .ch-dialog-message {
    justify-content: center;
    opacity: .4; }
  .ch-dialog .ui.items {
    margin-top: 0; }
  .ch-dialog .ui.items > .item {
    margin: 0;
    flex-direction: row;
    border: none; }
    .ch-dialog .ui.items > .item:first-child {
      padding-top: 1em !important; }
    .ch-dialog .ui.items > .item.unread {
      opacity: 1; }
    .ch-dialog .ui.items > .item.new {
      position: relative; }
      .ch-dialog .ui.items > .item.new:after {
        content: "";
        position: absolute;
        top: 15px;
        right: 0;
        display: block;
        width: 10px;
        height: 10px;
        background-color: #00CAE5;
        visibility: visible;
        border-radius: 100%; }
    .ch-dialog .ui.items > .item > .image {
      padding: 10px 0 10px 20px; }
      .ch-dialog .ui.items > .item > .image img {
        border-radius: 100%; }
    .ch-dialog .ui.items > .item > .content .header, .ch-dialog .ui.items > .item > .content .description {
      color: inherit; }
    .ch-dialog .ui.items > .item > .content .header {
      font-size: 1em; }
    .ch-dialog .ui.items > .item > .content .header > .symbol {
      margin-right: 10px; }
    .ch-dialog .ui.items > .item > .content .description {
      margin: 5px 0; }
    .ch-dialog .ui.items > .item > .content .time {
      text-transform: uppercase;
      color: #5c6a84; }
  @media screen and (max-width: 768px) {
    .ch-dialog-container {
      width: 100%;
      animation: fadeIn .3s; }
    .ch-dialog .ui.items:not(.unstackable) > .item > .image + .content {
      padding: 10px; } }

.action-dialog {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  padding: 15px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #475266;
  border-top: 1px solid #EBEBEB;
  background-color: #fff;
  transform: translate(100%);
  transition: all .3s; }
  .action-dialog.active {
    transform: translate(0);
    transition: all .3s; }
  @media screen and (max-width: 768px) {
    .action-dialog {
      max-width: 100%; } }

.btn-close-dialog {
  color: inherit;
  background: none;
  border: none;
  outline: 0; }

.ch-search {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2; }
  .ch-search-content {
    margin-left: 240px;
    width: calc(100% - 240px);
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35); }
    .ch-nav.collapsed ~ .ch-search .ch-search-content {
      margin-left: 60px;
      width: calc(100% - 60px); }
  .ch-search-input-group {
    display: flex;
    align-items: center;
    height: 65px;
    background-color: #fff;
    animation: fadeIn .1s; }
  .ch-search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 15px 5px 15px 15px; }
    .ch-search-form-input {
      flex-grow: 1;
      font-family: inherit;
      font-size: 1.2em;
      color: #475266;
      background-color: #fff;
      border: 0; }
      .ch-search-form-input::placeholder {
        opacity: 0.5; }
      .ch-search-form-input:focus {
        outline: 0; }
    .ch-search-form-icon {
      margin-left: 5px;
      margin-right: 10px;
      color: #76849d;
      order: -1;
      border: none;
      background: none;
      outline: 0; }
      .ch-search-form-icon:hover, .ch-search-form-icon:active {
        color: #76849d; }
      .ch-search-form-icon.btn-close {
        order: 1; }
    .ch-search-form:before, .ch-search-form:after {
      color: #D0D8E5; }
    .ch-search-form:before {
      content: attr(data-message);
      order: 1; }
    .ch-search-form:after {
      content: 'ESC';
      margin: 0 5px;
      padding: 0 4px;
      font-weight: 600;
      background: #F9FBFF;
      border: 1px solid rgba(148, 159, 178, 0.5);
      border-radius: 3px; }
  @media screen and (max-width: 768px) {
    .ch-search-content {
      margin: 0 !important;
      width: 100% !important;
      height: 100%;
      flex-wrap: wrap;
      box-shadow: none; }
    .ch-search-context {
      display: none; }
    .ch-search-form:before, .ch-search-form:after {
      content: none; }
    .ch-search-input-group {
      border-bottom: 1px solid #e5e5e5; } }

.ch-search-results {
  display: none;
  overflow: auto;
  max-height: calc(100% - 65px);
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  border-radius: 0 0 3px 3px; }
  .ch-search-results-count, .ch-search-results-label {
    display: block;
    font-size: 1em;
    color: #949FB2; }
  .ch-search-results-count {
    padding: 24px;
    padding-bottom: 0; }
  .ch-search-results-show-more {
    color: #949FB2;
    font-weight: 600; }
  .ch-search-results-item {
    display: block;
    padding: 10px 15px;
    color: #475266;
    transition: all .3s; }
    .ch-search-results-item:hover {
      cursor: pointer;
      color: inherit;
      background-color: #eee; }

.ch-table-buttons .ui.icon.button {
  padding: 0.5em;
  background-color: transparent; }

.ch-table-label .ui.label {
  width: 100%;
  max-width: 175px;
  text-align: center; }

.ch-table-details-title {
  font-size: auto;
  font-weight: 400;
  text-transform: uppercase;
  color: #5c6a84; }

.bind-popup + .ui.popup {
  max-width: 275px; }
  .bind-popup + .ui.popup .ui.label {
    margin: 0.25em;
    white-space: nowrap; }

.ch-wizard--vertical > .ch-wizard-step > .header:before, .ch-wizard--horizontal > .ch-wizard-step a:before {
  counter-increment: steps;
  content: counter(steps);
  min-width: 35px;
  height: 35px;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: 800;
  color: #d6d6d6;
  background-color: #fff;
  border: 2px solid #d6d6d6;
  border-radius: 100%; }

.ch-wizard--vertical > .ch-wizard-step.done > .header:before, .ch-wizard--horizontal > .ch-wizard-step.done a:before {
  content: "\f00c";
  font-family: "Icons";
  color: #fff;
  background-color: #2b4;
  border-color: #2b4; }

.ch-wizard--vertical > .ch-wizard-step.current > .header:before, .ch-wizard--horizontal > .ch-wizard-step.current a:before {
  color: #fff;
  background-color: #838383;
  border-color: #838383; }

.ch-wizard {
  counter-reset: steps; }
  .ch-wizard-container {
    position: relative;
    z-index: 0; }
  .ch-wizard--vertical > .ch-wizard-step {
    opacity: .3; }
    .ch-wizard--vertical > .ch-wizard-step > .header {
      position: relative;
      display: flex; }
    .ch-wizard--vertical > .ch-wizard-step > .content {
      padding: 2em;
      margin: 0.5em 1.2em;
      visibility: hidden; }
    .ch-wizard--vertical > .ch-wizard-step.current, .ch-wizard--vertical > .ch-wizard-step.done {
      opacity: 1; }
      .ch-wizard--vertical > .ch-wizard-step.current > .content, .ch-wizard--vertical > .ch-wizard-step.done > .content {
        border-left: 2px dashed #d6d6d6;
        visibility: visible; }
    .ch-wizard--vertical > .ch-wizard-step.done {
      color: #2b4; }
  @media screen and (max-width: 768px) {
    .ch-wizard--vertical > .ch-wizard-step.done > .step-content,
    .ch-wizard--vertical > .ch-wizard-step.current > .step-content {
      border: none; } }
  .ch-wizard--horizontal {
    display: flex;
    align-items: flex-start; }
    .ch-wizard--horizontal > .ch-wizard-step {
      position: relative;
      margin: 5px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-basis: 0;
      flex-grow: 1;
      text-align: center;
      font-weight: 700;
      font-size: 12px;
      line-height: normal;
      opacity: .5; }
      .ch-wizard--horizontal > .ch-wizard-step a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: inherit; }
      .ch-wizard--horizontal > .ch-wizard-step a:before {
        margin-right: 0;
        margin-bottom: 5px; }
      .ch-wizard--horizontal > .ch-wizard-step:after {
        content: "";
        position: absolute;
        top: 17px;
        left: 50%;
        width: calc(100% + 25px);
        height: 2px;
        background-color: #d6d6d6;
        z-index: -1; }
      .ch-wizard--horizontal > .ch-wizard-step:last-child {
        margin-right: 0; }
        .ch-wizard--horizontal > .ch-wizard-step:last-child:after {
          content: none; }
      .ch-wizard--horizontal > .ch-wizard-step.current a {
        color: #475266; }
      .ch-wizard--horizontal > .ch-wizard-step.done a {
        color: #2b4; }
    @media screen and (max-width: 1120px) {
      .ch-wizard--horizontal {
        width: 100%;
        margin-top: 30px; } }
  .ch-wizard-step.current, .ch-wizard-step.done {
    opacity: 1; }
  .ch-wizard-step .options {
    min-width: 120px;
    padding: 0.6rem 1rem;
    background-color: #e8e8e8;
    border: 1px solid #ccc;
    border-radius: 5px; }
    .ch-wizard-step .options.checked {
      background-color: #fff;
      border-color: #ccc; }

.ch-segment-header {
  display: flex;
  justify-content: space-between; }
  .ch-segment-header.center.aligned {
    justify-content: center; }
  .ch-segment-header-title {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #5c6a84; }
  .ch-segment-header-button {
    color: #475266;
    font-size: 12px;
    text-transform: uppercase; }
    .ch-segment-header-button:hover {
      color: #74839f; }

.ch-segment-footer-buttons {
  display: flex;
  justify-content: space-between; }

.noUi-target, .noUi-target * {
  touch-action: none;
  user-select: none;
  box-sizing: border-box; }

.noUi-target {
  position: relative;
  direction: ltr; }

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0; }

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0; }

.noUi-handle {
  position: relative;
  z-index: 1;
  border: none;
  box-shadow: none; }
  .noUi-handle:before, .noUi-handle:after {
    content: none; }

.noUi-stacking .noUi-handle {
  z-index: 10; }

.noUi-state-tap .noUi-origin {
  transition: left 0.3s,top .3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

.noUi-base, .noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.noUi-horizontal {
  height: 4px; }

.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: -7px;
  top: -7px;
  background-color: var(--main-color-dark); }

.noUi-background {
  background: #D6D7D9; }

.noUi-connect {
  background: var(--main-color-dark);
  transition: background 450ms; }

.noUi-origin {
  border-radius: 2px; }

.noUi-target {
  background-color: #e4e4e4;
  border: none;
  border-radius: 2px;
  box-shadow: none; }

.noUi-draggable {
  cursor: w-resize; }

.noUi-vertical .noUi-draggable {
  cursor: n-resize; }

.noUi-handle {
  cursor: default;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important; }
  .noUi-handle:focus, .noUi-handle:active {
    outline: 0; }
  .noUi-handle:active {
    border: 8px solid var(--main-color-dark);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    left: -14px;
    top: -14px; }

[disabled].noUi-connect, [disabled] .noUi-connect {
  background: #B8B8B8; }

[disabled].noUi-origin, [disabled] .noUi-handle {
  cursor: not-allowed; }

.slider-container {
  margin: 0 5px; }

.ch-tabs {
  width: 100%;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .ch-tabs {
      position: relative;
      height: 40px;
      overflow: hidden; }
      .ch-tabs .ui.menu {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        padding-bottom: 10px;
        overflow-x: scroll; } }

.ch-content-header ~ .ch-tabs {
  margin-top: 0;
  background-color: #fff; }
  @media screen and (max-width: 768px) {
    .ch-content-header ~ .ch-tabs .ui.menu {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      padding-bottom: 10px;
      overflow-x: scroll; } }

.ch-timeline {
  padding-bottom: 20px;
  border-left: 3px solid #e5e5e5; }
  .ch-timeline li {
    position: relative;
    left: -9px;
    display: flex;
    padding: 15px 0;
    z-index: 1; }
    .ch-timeline li:before {
      content: '';
      display: block;
      margin-right: 15px;
      min-width: 15px;
      height: 15px;
      background: #fff;
      border: 3px solid #e5e5e5;
      border-radius: 100%; }
    .ch-timeline li.date {
      align-items: center; }
    .ch-timeline li.event .header {
      margin-bottom: 5px; }
    .ch-timeline li.event:before {
      border-color: var(--main-color); }

.ch-notification {
  display: flex;
  align-items: center;
  min-width: 350px;
  max-width: 450px;
  margin: 20px 0;
  padding: 25px;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15); }
  .ch-notification-container {
    position: fixed;
    z-index: 2; }
    .ch-notification-container.top {
      top: 85px; }
    .ch-notification-container.right {
      right: 25px; }
    .ch-notification-container.center {
      left: 50%;
      transform: translateX(-50%); }
    .ch-notification-container.left {
      left: calc(85px + 25px); }
    .ch-notification-container.bottom {
      bottom: 35px; }
    .ch-notification-container .ui.icon.message > .icon:not(.close) {
      font-size: 2em; }
    @media screen and (max-width: 768px) {
      .ch-notification-container {
        width: 90%;
        top: 65px !important;
        left: 50% !important;
        right: auto !important;
        bottom: auto !important;
        transform: translateX(-50%); }
        .ch-notification-container .ui.icon.message {
          min-width: 100%;
          max-width: 100%; } }
  .ch-notification-icon {
    margin-right: 20px; }
  .ch-notification-title {
    display: block;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #5c6a84;
    margin-bottom: 5px; }
  .ch-notification:first-child {
    margin-top: 0; }
  .ch-notification--default .ch-notification-title, .ch-notification--default .circular.icon {
    color: #666; }
  .ch-notification--default .circular.icon {
    box-shadow: 0 0 0 0.1em #666 inset; }
  .ch-notification--success .ch-notification-title, .ch-notification--success .circular.icon {
    color: #2b4; }
  .ch-notification--success .circular.icon {
    box-shadow: 0 0 0 0.1em #2b4 inset; }
  .ch-notification--danger .ch-notification-title, .ch-notification--danger .circular.icon {
    color: #db2828; }
  .ch-notification--danger .circular.icon {
    box-shadow: 0 0 0 0.1em #db2828 inset; }
  .ch-notification--info .ch-notification-title, .ch-notification--info .circular.icon {
    color: #2185d0; }
  .ch-notification--info .circular.icon {
    box-shadow: 0 0 0 0.1em #2185d0 inset; }
  .ch-notification--warning .ch-notification-title, .ch-notification--warning .circular.icon {
    color: #fbbd08; }
  .ch-notification--warning .circular.icon {
    box-shadow: 0 0 0 0.1em #fbbd08 inset; }
  .ch-notification-button--close {
    margin-left: auto;
    background: none;
    border: none;
    outline: 0;
    cursor: pointer; }
    .ch-notification-button--close .icon.close {
      color: #d6d6d6; }
  @media screen and (max-width: 768px) {
    .ch-notification {
      min-width: 100%;
      max-width: 100%;
      padding: 20px; } }

.ch-avatar-container {
  width: 35px; }
  .ch-avatar-container.big {
    width: 105px; }

.ch-avatar {
  display: flex;
  align-items: center;
  width: 36px;
  height: 36px; }
  .ch-avatar > .ui.image.avatar {
    width: 36px;
    height: 36px; }
  .big .ch-avatar {
    width: 105px;
    height: 105px; }
  .ch-avatar.rounded {
    border-radius: 100%; }

.ch-avatar-upload {
  display: flex;
  align-items: center; }
  .ch-avatar-upload .info {
    margin: 0 1.5em; }
    .ch-avatar-upload .info .ui.header {
      margin-bottom: 5px; }
    .ch-avatar-upload .info p {
      margin: 0; }
    .ch-avatar-upload .info .ui.button {
      margin: 10px 0 0; }
  .ch-avatar-upload.vertical {
    display: block;
    text-align: center; }
    .ch-avatar-upload.vertical .ch-avatar-container {
      margin: 0 auto; }

.ch-input-file input[type="file"] {
  display: none; }

.ch-detail-header .info {
  display: flex;
  vertical-align: middle; }
  .ch-detail-header .info .ui.header {
    margin-top: 0;
    margin-left: 20px;
    align-self: center; }

#users-chart, #pie-chart {
  height: 300px; }

.ch-metric-label {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #5c6a84; }

.ch-metric-value {
  display: flex;
  justify-content: flex-end;
  font-size: 26px;
  font-weight: 900; }
  .ch-metric-value.blue {
    color: #2987CD; }
  .ch-metric-value.red {
    color: #D92B2F; }

.ch-metric-date {
  font-size: 12px;
  font-weight: 300;
  font-style: italic; }

.ch-list .icon {
  color: #b1b9c8;
  transition: color .4s; }
  .ch-list .icon:hover {
    color: #667693; }

/*Find a better class name*/
.fixed-position {
  left: auto !important;
  right: 0 !important; }

@media only screen and (max-width: 768px) {
  .ui.unstackable.items > .item > .image,
  .ui.unstackable.items > .item > .image > img {
    width: auto !important; } }

.ch-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background-color: #fff; }
  .ch-header .ch-dropdown-content {
    min-width: 250px; }
  @media screen and (min-width: 769px) {
    .ch-header {
      position: fixed;
      top: 0;
      right: 0;
      width: calc(100% - 85px);
      box-shadow: 0px 1px 3px rgba(170, 170, 170, 0.2);
      z-index: 2; } }

.ch-header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #949FB2; }
  .ch-header-nav-button {
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    color: currentColor;
    transition: all .3s;
    cursor: pointer; }
    .ch-header-nav-button:hover, .ch-header-nav-button.active {
      color: #76849d;
      border-radius: 3px; }
    .ch-header-nav-button:last-child {
      padding-right: 0; }
    .ch-header-nav-button.ch-account {
      font-weight: bold;
      text-transform: uppercase;
      color: #475266; }
      .ch-header-nav-button.ch-account .icon.dropdown {
        margin-left: .25rem;
        opacity: .65;
        font-size: .75em; }
        .ch-header-nav-button.ch-account .icon.dropdown:before {
          content: "\f078"; }

.ch-notification-label {
  position: relative; }
  .ch-notification-label.new:after {
    content: "";
    position: absolute;
    top: 0;
    right: 4px;
    display: block;
    width: 7px;
    height: 7px;
    background-color: #bb0c0c;
    border-radius: 100%; }

.ch-group-buttons .ui.button {
  margin-left: 10px; }
  .ch-group-buttons .ui.button:first-child {
    margin-left: 0; }

@media screen and (max-width: 768px) {
  .ch-group-buttons {
    width: 100%; }
    .ch-group-buttons .ui.button {
      margin-left: 0;
      margin-bottom: 0; } }

.ch-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2D394C;
  z-index: 2; }
  .ch-nav.collapsed {
    width: 60px;
    transition: all .2s; }
    .ch-nav.collapsed + .ch-content {
      margin-left: 60px; }
    .ch-nav.collapsed .ch-logo-label,
    .ch-nav.collapsed .ch-menu-item-label,
    .ch-nav.collapsed .ch-collapse-button-label,
    .ch-nav.collapsed .ch-menu-item.ch-dropdown.open > .ch-dropdown-content {
      display: none; }
  .ch-nav.collapsed:hover {
    width: 240px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.54);
    transition: all .2s; }
    .ch-nav.collapsed:hover .ch-logo-label,
    .ch-nav.collapsed:hover .ch-menu-item-label,
    .ch-nav.collapsed:hover .ch-collapse-button-label,
    .ch-nav.collapsed:hover .ch-menu-item.ch-dropdown.open > .ch-dropdown-content {
      display: initial; }
  @media screen and (max-width: 768px) {
    .ch-nav {
      width: 100% !important;
      height: 60px;
      top: auto;
      bottom: 0; }
      .ch-nav.collapsed + .ch-content {
        margin-left: 0; } }

.ch-logo {
  position: relative;
  height: 65px;
  padding-left: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .ch-logo-label {
    white-space: nowrap; }
  .ch-logo-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%); }
  .ch-logo.nexaas {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #fff; }
    .ch-logo.nexaas .ch-logo-icon {
      background: #00E2F6;
      border: 4px solid #00E2F6;
      border-radius: 100%; }
  @media screen and (max-width: 768px) {
    .ch-logo {
      display: none; } }

.ch-menu {
  overflow-y: auto;
  overflow-x: hidden; }
  @media screen and (max-width: 768px) {
    .ch-menu {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around; } }

.ch-menu-item a {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 40px;
  padding: .7em 0;
  padding-left: 60px;
  font-weight: 600;
  color: #C7D0DD; }
  .ch-menu-item a > .icon:first-child {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%); }
  .ch-menu-item a > .icon:first-child, .ch-menu-item a-label {
    line-height: 20px; }

.ch-menu-item a:hover {
  color: #fff; }

.ch-menu-item.active a {
  color: #fff; }
  .ch-menu-item.active a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: auto;
    height: 20px;
    border-right: 5px solid #00E2F6;
    transform: translateY(-50%); }
  .ch-menu-item.active a > .icon:first-child {
    color: #00E2F6; }

.ch-menu-item.disabled a {
  color: #949FB2;
  pointer-events: none; }

.ch-menu-item.ch-dropdown > .ch-dropdown-content {
  display: none;
  position: relative;
  top: auto;
  left: auto;
  margin-bottom: 20px;
  font-size: inherit;
  background-color: transparent;
  box-shadow: none; }
  .ch-menu-item.ch-dropdown > .ch-dropdown-content:before {
    content: none; }

.ch-menu-item.ch-dropdown > .ch-dropdown-button > .icon.dropdown {
  position: absolute;
  font-size: .65em;
  top: 50%;
  right: 0;
  height: auto;
  transform: translateY(-50%);
  transition: transform .3s; }
  .ch-menu-item.ch-dropdown > .ch-dropdown-button > .icon.dropdown:before {
    content: "\f054"; }

.ch-menu-item.ch-dropdown.open > .ch-dropdown-content {
  display: block; }

.ch-menu-item.ch-dropdown.open > .ch-dropdown-button > .icon.dropdown {
  transform: translateY(-50%) rotate(90deg); }

@media screen and (max-width: 768px) {
  .ch-menu-item {
    display: none;
    height: 100%; }
    .ch-menu-item:first-child, .ch-menu-item:nth-child(2), .ch-menu-item:nth-child(3), .ch-menu-item:nth-child(4), .ch-menu-item.more {
      display: block; }
    .ch-menu-item-label {
      display: none; }
    .ch-menu-item a {
      height: 100%;
      padding: 10px;
      align-items: flex-end;
      justify-content: center; }
      .ch-menu-item a > .icon:first-child {
        position: static;
        font-size: 1.5em; }
    .ch-menu-item.active a:before {
      width: 20px;
      height: auto;
      top: auto;
      bottom: 0;
      left: auto;
      right: 50%;
      border-right: none;
      border-bottom: 5px solid #00E2F6;
      transform: translate(50%, 0); } }

.ch-collapse {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: auto;
  align-self: flex-start;
  background-color: #2D394C;
  z-index: 1; }
  .ch-collapse-button {
    width: 100%;
    height: 50px;
    font-family: inherit;
    padding: .7em 0;
    padding-left: 60px;
    text-align: left;
    font-weight: 600;
    color: #8491A5;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    outline: 0; }
    .ch-collapse-button:after {
      content: attr(data-minimize);
      opacity: .5;
      visibility: hidden;
      transition: all .1s ease-out; }
    .ch-collapse-button > .icon {
      position: absolute;
      top: 50%;
      left: 20px;
      width: 20px;
      transform: translateY(-50%); }
    .ch-collapse-button > .icon path {
      fill: #949FB2; }
    .ch-collapse-button > .icon.minimize {
      display: block; }
    .ch-collapse-button > .icon.expand {
      display: none; }
  .ch-collapse-button:hover:after {
    opacity: 1;
    visibility: visible; }
  .ch-nav.collapsed .ch-collapse-button:after {
    content: attr(data-expand); }
  .ch-nav.collapsed .ch-collapse-button > .icon.minimize {
    display: none; }
  .ch-nav.collapsed .ch-collapse-button > .icon.expand {
    display: block; }
  @media screen and (max-width: 768px) {
    .ch-collapse {
      display: none; } }

.ch-content {
  margin-left: 240px;
  transition: all .3s; }
  .ch-content .ch-header {
    position: static;
    width: 100%;
    background: none;
    box-shadow: none; }
  @media screen and (max-width: 768px) {
    .ch-content {
      width: 100%;
      margin: 0; } }

.ch-tag--new.ui.label {
  margin-left: 5px;
  padding: .3em .55em;
  color: #2D394C;
  background-color: #FFA719;
  border: 2px solid #2D394C;
  text-transform: uppercase; }

.ch-tag--new:before {
  content: attr(data-label); }

.ch-nav.collapsed:not(:hover) .ch-tag--new.ui.label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  font-size: 0;
  border-radius: 100%;
  transform: translate(0, -75%); }
  .ch-nav.collapsed:not(:hover) .ch-tag--new.ui.label:before {
    content: ''; }

@media screen and (max-width: 768px) {
  .ch-tag--new.ui.label {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    font-size: 0;
    border-radius: 100%;
    transform: translate(0, -75%); }
    .ch-tag--new.ui.label:before {
      content: ''; } }

.ch-copy-input {
  width: 100%; }
  .ch-copy-input.ui.input {
    font-size: 0.8rem; }

#map {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ch-login {
  position: relative;
  width: 100%;
  height: 100%; }
  .ch-login:before, .ch-login:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .ch-login:before {
    background-image: url("../../images/bg_app.jpg");
    background-size: cover;
    background-position: center bottom;
    filter: grayscale(100%) contrast(1.2);
    z-index: -1; }
  .ch-login:after {
    background-color: var(--main-color-dark);
    opacity: 0.85;
    z-index: 0; }
  .ch-login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    width: 50%;
    height: 100%;
    background-color: #fff;
    z-index: 1; }
  .ch-login-header {
    text-align: center; }
    .ch-login-header .logo-product {
      width: 45px; }
    .ch-login-header .logo-nexaas {
      display: block;
      margin: 5px auto; }
    .ch-login-header .text {
      display: block;
      font-weight: 300;
      font-size: 1.3em; }
  .ch-login-form {
    max-width: 330px;
    padding: 35px 0;
    margin-left: auto;
    margin-right: auto; }
    .ch-login-form .ui.header {
      font-weight: 300;
      font-size: 1.5em;
      text-align: center; }
    .ch-login-form .button {
      color: #fff;
      background-color: var(--main-color); }
      .ch-login-form .button:hover {
        color: #fff;
        background-color: var(--main-color-light); }
  .ch-login-helpers {
    padding: 35px 0;
    color: #999; }
    .ch-login-helpers span {
      display: block;
      margin-bottom: 15px;
      text-align: center; }
    .ch-login-helpers a {
      display: inline-block;
      color: inherit;
      text-decoration: underline; }
  .ch-login-footer {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    padding: 20px 60px;
    text-align: center; }
    .ch-login-footer li {
      display: inline-block; }
    .ch-login-footer li a {
      color: #999;
      display: block;
      padding: 10px; }
  @media screen and (max-width: 768px) {
    .ch-login-container {
      width: 100%;
      padding: 20px; }
    .ch-login-footer {
      padding: 20px; } }

.ch-sidebar--fixed {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  min-height: 100%;
  margin-left: auto;
  padding: 25px;
  padding-top: calc(65px + 30px);
  background-color: #fff;
  border-left: 1px solid #ddd;
  overflow-y: auto;
  z-index: 0;
  transition: all .3s; }
  .ch-sidebar--fixed.inactive {
    transform: translateX(320px); }
  @media screen and (max-width: 768px) {
    .ch-sidebar--fixed {
      width: 100%;
      top: 50%;
      min-height: 50%;
      padding-top: 20px;
      border: none; } }

.ch-sidebar-button {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(-312px, -50%); }
  .ch-sidebar-button.inactive {
    transform: translate(2px, -50%); }
  .ch-sidebar-button.ui.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 5px;
    background-color: #fff;
    border: none;
    border-radius: 5px 0 0 5px;
    box-shadow: -2px 0px 1px 0px rgba(0, 0, 0, 0.05);
    transition: all .3s; }

.ch-sidebar-title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #5c6a84;
  margin-bottom: 15px; }

.ch-account-container {
  position: relative;
  width: 370px;
  height: 250px;
  background-color: #fff;
  text-transform: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px; }
  @media screen and (max-width: 768px) {
    .ch-account-container {
      position: fixed;
      width: 100%;
      height: calc(100% - 60px);
      top: 0;
      left: 0; } }

.ch-account-header {
  display: flex;
  align-items: center;
  height: 50px;
  padding-right: 15px;
  padding-left: 20px;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }
  .ch-account-header > .actions {
    margin-left: auto; }

.ch-account-content {
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
  bottom: 0;
  right: 0;
  font-size: 1.2em; }
  .ch-account-content .menu > .label, .ch-account-content .submenu > .label {
    display: block;
    padding: 10px 25px;
    font-style: italic;
    color: #919499; }
  .ch-account-content .menu {
    width: 50%;
    height: 100%; }
    .ch-account-content .menu ul {
      overflow-y: hidden;
      height: calc(100% - 40px); }
      .ch-account-content .menu ul:hover {
        overflow-y: auto; }
  .ch-account-content .menu > ul {
    max-height: 100%; }
    .ch-account-content .menu > ul li > a {
      color: inherit;
      display: block;
      padding: 10px 25px; }
    .ch-account-content .menu > ul li.active > a {
      position: relative;
      font-weight: bold; }
      .ch-account-content .menu > ul li.active > a:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: auto;
        height: 20px;
        border-right: 5px solid #00E2F6;
        transform: translateY(-50%); }
  .ch-account-content > .menu .submenu {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%; }
    .ch-account-content > .menu .submenu li.active > a:before {
      content: none; }

.ch-account .ch-dropdown-toggle {
  white-space: nowrap; }

.ch-account .ch-dropdown-content {
  top: -5px; }
