.ch-template-header {
  $button-box-height: ch-calc-box-height(ch-get-text-size(2), ch-get-space(xs));
  $icon-button-width: calc(#{$button-box-height} + 2 * #{$ch-border-width});
  $nav-max-width: calc(3 * #{$icon-button-width} + 2 * #{ch-get-space(xxs)});

  // 1. Base
  @include ch-transition(unquote('box-shadow, margin-left, transform'));

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: #{ch-get-dimension(1)};
  padding-right: #{ch-get-space(l)};
  padding-left: #{ch-get-space(l)};
  background: #{ch-get-color(neutral, 1)};

  &,
  > * {
    position: relative;
  }

  // 2. Secondary

  > *:not(.ch-template-header-nav) {
    @include ch-media(from, desktop) {
      max-width: 50%;
    }

    order: 1;

    max-width: calc(100% - #{$nav-max-width});
    padding-right: #{ch-get-space(s)};

    // 2.1. Breadcrumbs item

    .ch-breadcrumbs-item:last-child {
      @include ch-truncate;
    }
  }

  // 3. Nav

  > .ch-template-header-nav {
    @include ch-media(from, desktop) {
      max-width: 50%;

      > .ch-template-header-nav-toggle {
        display: none;
      }
    }

    @include ch-space-inline-group(left, xxs);

    order: 2;
    flex-wrap: nowrap;
    align-items: center;

    overflow-x: initial;
    max-width: #{$nav-max-width};
    margin-left: auto;

    > .ch-template-header-nav-toggle {
      @include ch-icon-only(xs);

      width: $icon-button-width;
      height: $icon-button-width;

      > .ch-icon {
        @include ch-mask-icon($ch-icon-angle-double-left);

        height: #{ch-get-icon-size()};
        background-color: #{ch-get-color(text, 2)};
      }

      &:hover:focus,
      &:hover,
      &:focus,
      &:active {
        > .ch-icon {
          background-color: #{ch-get-color(text, 1)};
        }
      }
    }

    &:not(.is-expanded) {
      @include ch-media(to, tablet) {
        > .ch-button--icon:nth-child(n+4),
        > *:not(.ch-button--icon):not(.ch-template-header-nav-toggle) {
          display: none;
        }
      }
    }

    // 3.2. Expanded state

    &.is-expanded {
      @include ch-media(to, tablet) {
        overflow-x: auto;
        max-width: 100%;
        margin-left: calc(#{$icon-button-width} + #{ch-get-space(xxs)});

        > .ch-template-header-nav-toggle {
          position: fixed;
          margin-left: calc(-1 * (#{$icon-button-width} + #{ch-get-space(xxs)}));

          > .ch-icon {
            @include ch-mask-icon($ch-icon-angle-double-right, 'only-mask');
          }
        }

        + * {
          display: none;
        }
      }
    }
  }

  // 3.3. Sticky state

  &.is-sticky {
    @include ch-shadow(2, top-bottom);

    position: sticky;
    top: 0;
    z-index: #{ch-get-z-index(2)};
  }

  // 3.4. Hidden state

  &.is-hidden {
    @include ch-media(to, mobile) {
      transform: translateY(-100%);
    }
  }
}
