.ch-template-nav {
  > .ch-brand {

    // 1. Base

    position: absolute;
    opacity: 0;
    visibility: hidden;

    height: #{ch-get-dimension(1)};
    padding-left: #{ch-get-dimension(1)};

    // 2. Icon

    img,
    .ch-brand-icon {
      top: 50%;
      left: calc(#{ch-get-dimension(1)} / 2);
      transform: translate(-50%, -50%);
    }

    // 3. Name

    .ch-brand-name {
      @include ch-transition(opacity, $ch-transition-duration-fast);

      color: #{ch-get-color(neutral, 1)};
      line-height: #{ch-get-dimension(1)};
      opacity: 0;
    }
  }

  // 4. Open state

  &.is-open {
    > .ch-brand {
      position: relative;
      opacity: 1;
      visibility: visible;

      .ch-brand-name {
        opacity: 1;
      }
    }
  }

  // 5. From tablet

  @include ch-media(from, tablet) {
    > .ch-brand {
      position: relative;
      opacity: 1;
      visibility: visible;

      .ch-brand-name {
        overflow: hidden;
        opacity: 1;
      }
    }

    &:not(:hover):not(.is-expanded) {
      > .ch-brand .ch-brand-name {
        opacity: 0;
      }
    }

    &:focus:hover,
    &:focus,
    &:hover {
      &:not(.is-expanded) {
        > .ch-brand .ch-brand-name {
          opacity: 1;
        }
      }
    }
  }
}
