// @use '../../foundation/borders' as borders;
@use '../../foundation/breakpoints' as breakpoints;
@use '../../foundation/colors' as colors;
// @use '../../foundation/depth' as depth;
// @use '../../foundation/motion' as motion;
@use '../../foundation/sizes' as sizes;
// @use '../../foundation/spaces' as spaces;
// @use '../../foundation/thypography' as thypography;
// @use '../../foundation/utils' as utils;
@use '../icon' as icon;

.ch-template-nav {

  // 1. Mobile toggle

  > .ch-template-nav-toggle {
    @include breakpoints.media(from, tablet) {
      display: none;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;
    height: sizes.get-size(1);

    > .ch-icon {
      @include icon.mask-icon(icon.$icon-ellipsis);

      height: #{icon.get-icon-size(m)};
      background-color: #{colors.get-color(text, 2, inverse)};
    }

    // 1.1. Focus interaction

    &:hover:focus,
    &:hover,
    &:focus {
      > .ch-icon {
        background-color: #{colors.get-color(text, 1, inverse)};
      }
    }

    // 2. Tablet toggle

    & + .ch-template-nav-toggle {
      @include breakpoints.media(from, tablet) {
        display: flex;

        width: #{sizes.get-size(1)};
      }

      display: none;

      > .ch-icon {
        @include icon.mask-icon(icon.$icon-nav-expand, 'only-mask');
      }
    }
  }

  // 3. Open state

  &.is-open > .ch-template-nav-toggle {
    @include breakpoints.media(only, mobile) {
      margin-left: 80%;

      > .ch-icon {
        @include icon.mask-icon(icon.$icon-times, 'only-mask');
      }
    }
  }

  // 4. Expanded state

  &.is-expanded > .ch-template-nav-toggle + .ch-template-nav-toggle > .ch-icon,
  &.is-open.is-expanded > .ch-template-nav-toggle + .ch-template-nav-toggle > .ch-icon {
    @include icon.mask-icon(icon.$icon-nav-retract, 'only-mask');
  }
}
