@use '../../foundation/breakpoints' as breakpoints;
@use '../../foundation/colors' as colors;
@use '../../foundation/motion' as motion;
@use '../../foundation/sizes' as sizes;
@use '../../foundation/spaces' as spaces;
@use '../../foundation/thypography' as thypography;
// @use '../../foundation/borders' as borders;
// @use '../../foundation/depth' as depth;
// @use '../../foundation/utils' as utils;
@use '../icon' as icon;

@use 'mixins' as *;


// sass-lint:disable no-important

.ch-template-nav {

  // 1. Base

  > .ch-menu {

    flex: 1;
    overflow-y: overlay;
    overflow-x: hidden;

    // 1.1. Item

    .ch-menu-item {
      color: colors.get-color(menu-text, 1);

      // 1.1.1. Label

      &-label {
        @include motion.transition(opacity, motion.$transition-duration-fast);
        font-weight: thypography.get-font-weight(bold);
      }

      // 1.1.2. Focus interaction

      &:hover:focus,
      &:focus,
      &:hover {
        background: transparent;

        &,
        > .ch-icon {
          color: colors.get-color(text, 1, inverse);
        }
      }

      // 1.1.3. Active state

      &.is-active {

        // 1.1.3.1. Label

        > .ch-menu-item-label {
          color: colors.get-color(text, 1, inverse);
        }

        // 1.1.3.2. Icon

        > .ch-icon:first-child {
          color: colors.get-color(brand);
        }
      }
    }
  }

  // 2. Is not open state

  &:not(.is-open) > .ch-menu {
    @include breakpoints.media(only, mobile) {
      // 2.1. Base

      @include menu-horizontal;

      width: 80%;
      justify-content: space-around;

      // 2.2. Menu item

      > * {
        flex-basis: 100%;

        &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)) {
          display: none;
        }
      }

      > .ch-menu-item,
      > .ch-menu-submenu > .ch-menu-item {
        @include spaces.paddingless(true, horizontal);

        height: sizes.get-size(1);

        // 2.2.1. Icon

        &.has-leadingIcon > .ch-icon {
          left: 50%;
        }

        // 2.2.2. Arrow and label

        > .ch-menu-item-arrow,
        > .ch-menu-item-label {
          position: absolute;
          opacity: 0;
          visibility: hidden;
        }

        // 2.2.3. Bottom bar

        &.is-active:before {
          width: icon.get-icon-size(m);
          height: spaces.get-space(xxs);
          top: auto;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  // 3. Open state

  &.is-open > .ch-menu {
    @include breakpoints.media(only, mobile) {
      // 3.1. Base

      overflow-y: auto;

      // 3.2. Item

      > .ch-menu-item {
        padding-left: spaces.get-space(l);
      }

      .ch-menu-item {
        padding-top: spaces.get-space(m);
        padding-right: spaces.get-space(l);
        padding-bottom: spaces.get-space(m);
      }
    }
  }

  // 4. From tablet

  @include breakpoints.media(from, tablet) {
    .ch-menu-item-label {
      min-width: calc(#{sizes.get-size(2)} - #{sizes.get-size(1)} - #{spaces.get-space()});
    }

    &:not(:hover):not(:focus):not(.is-expanded):not(.is-hovered) {
      > .ch-menu {
        width: sizes.get-size(2);

        > .ch-menu-submenu {
          > .ch-menu-item.is-active:before {
            opacity: 1;
          }

          > .ch-menu {
            display: none;
            position: absolute;
            visibility: hidden;
            opacity: 0;

            > .ch-menu-item.is-active:before {
              opacity: 0;
            }
          }
        }
      }

      .ch-menu-item-label {
        opacity: 0;
      }
    }

    &.is-expanded {
      > .ch-menu {
        > .ch-menu-submenu.is-open > .ch-menu {
          display: block;
          position: static;
          visibility: visible;
          opacity: 1;
        }
      }

      .ch-menu-item-label {
        opacity: 1;
      }
    }
  }
}
