@import '../../abstracts/space';
@import '../../abstracts/colors';
@import '../../abstracts/typography';

.ch-field {
  @include ch-space-stack();

  &:not(&--inline) {
    @include ch-space-stack-group(xxs);

    .ch-input,
    .ch-textarea,
    .ch-select,
    .ch-file {
      width: 100%;
    }
  }

  > * {
    display: block;
  }

  &-label {
    @include ch-text-label();
    display: inline-block;

    &--inline {
      @include ch-space-inline-group(left, s);
      align-items: center;

      > * {
        display: inline-block;
      }
    }
  }

  &-message {
    @include ch-text-caption();
  }

  &--inline {
    @include ch-space-inline-group(left, s, center);

    > * {
      display: inline-block;
    }
  }
}
