.ch-fileUpload {
  // 1. Base

  @include ch-space-stack-group(s);
  @include ch-box-model(s, default, box, ch-get-color(neutral, 2));
  @include ch-border-radius(1);

  display: block;

  cursor: pointer;
  text-align: center;
  background: #{ch-get-color(neutral, 2)};

  // 2. Icon

  &-icon {
    color: inherit;
  }

  // 3. Input

  &-input {
    display: none
  }

  // 4. Negative variation

  &--negative {
    &,
    *,
    * > .ch-title-sub,
    .ch-title,
    .ch-title > .ch-title-sub {
      color: #{ch-get-color(negative)};
    }
  }
}
