@mixin ch-input {
  $inset-type: squish;
  $size: s;
  $border-rule: box;
  $border-color: ch-get-color(border);

  @include ch-space-inset($inset-type, $size);
  @include ch-border($border-rule, $border-color);
  @include ch-border-radius(1);

  background-color: #{ch-get-color(neutral, 1)};

  &:active {
    border-color: #{ch-get-color(primary, active)};
  }

  &:focus {
    border-color: #{ch-get-color(primary, focus)};
  }

  &:disabled,
  &.is-disabled,
  &[readonly] {
    background-color: ch-get-color(neutral, 2);
  }

  &::placeholder {
    color: #{ch-get-color(text, 2)};
    opacity: .75;
  }
}
