@mixin ch-input-negative {
  border-color: #{ch-get-color(negative)};

  // 4.1. Focus interaction

  &:hover:focus,
  &:hover,
  &:focus {
    border-color: #{ch-get-color(negative, focus)};
  }

  // 4.2. Active interaction

  &:active {
    border-color: #{ch-get-color(negative, active)};
  }
}
