%ch-input {
  @include ch-input;
}

%ch-input-small {
  $inset-type: squish;
  $size: xs;
  $border-rule: box;
  $border-color: ch-get-color(border);

  @include ch-space-inset($inset-type, $size);
  @include ch-border($border-rule, $border-color);
}
