@use '../../foundation/colors' as colors;

// sass-lint:disable no-important

.ch-bg {

  // 1. Base

  position: relative;

  background-color: colors.get-color(brand);

  // 2. Image

  > img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // 3. Color variations

  @each $color in (brand, primary, info, positive, warning, negative) {
    @at-root &--#{$color} {
      background-color: colors.get-color($color) !important;
    }
  }
}
