.ch-breadcrumb {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: $fontColor;
  overflow-x: hidden;

  &-section {
    position: relative;
    padding: 5px;
    font-weight: 300;
    color: inherit;
    border-radius: 3px;
    @extend %overflow-ellipsis;

    &:hover {
      color: $fontColor;
      background-color: $lightBgColor;
    }

    a {
      color: currentColor;
    }

    &.active {
      font-weight: 600;
    }
  }

  .divider {
    opacity: .5;
  }

  @include respond-to($tablet-portrait) {

    &-section, .divider {
      display: none;
      white-space: nowrap;
    }

    &-section.active {
      display: block;
    }

    .dropdown-toggle {
      pointer-events: none;
    }
  }
}
