.ch-dropdown {
  position: relative;

  ul, li {
    list-style: none;
  }

  &-content {
    display: none;
    position: absolute;
    top: 0;
    left: 84px;
    font-size: 11px;
    font-weight: 400;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(#000, 0.15);
    outline: 0;
    z-index:1;
    animation: fadeIn 0.3s;

    &:before {
      content: "";
      width: 10px;
      height: 10px;
      display: block;
      background-color: #fff;
      position: absolute;
      top: 25px;
      left: -5px;
      transform: rotate(45deg);
      box-shadow: -2px 2px 2px rgba(#000, 0.15);
      z-index: -1;
    }

    &.visible {
      display: block;
    }

    &.bottom {
      top: 100%;

      &:before {
        content: none;
      }

      &.right {
        left: auto;
        right: 0;
      }

      &.left {
        right: auto;
        left: 0;
      }
    }
  }

  &-header, &-menu-item a {
    display: block;
    padding: 15px 25px;
    font-size: inherit;
    text-transform: uppercase;
    white-space: nowrap;
    color: $fontColor;
  }

  &-header {
    font-weight: bold;
    color: rgba(#000, 0.5);
    background-color: #f7f6f6;
  }

  &-menu-item {
    border-top: 1px solid #f7f6f6;

    &:first-child {
      border-top: 0;
    }

    a:hover, &.active {
      background-color: rgba(#000, 0.02);
    }
  }

  @media screen and (max-width: 768px) {

    &-content {
      position: fixed;
      width: 100%;
      top: auto;
      bottom: 50px;
      left: 0;
      background-color: $mainColorDark;
      border-radius: 0;

      &:before {
        content: none;
      }

      &.collapse {
        position: static;
        box-shadow: none;
        z-index: 1;

        .ch-dropdown-header {
          display: none;
        }
      }
    }

    &-header {
      border-bottom: 1px solid rgba(#fff, 0.2);
    }

    &-header, &-menu-item a {
      color: #fff;
    }

  }
}
