@import 'helpers/mixins';

.ch-content-message {
  position: fixed;
  right: 0;
  bottom: 10px;
  background: #232323;
  padding: 1.875em 0em 1.875em 1.250em;
  min-width: 28.125em;
  max-width: 37.500em;
  margin-right: 0.625em;
  @include border-radius(5px);
  animation: ch-AnimationMessage 1s ease-in-out 0s 1 alternate-reverse;
  @keyframes ch-AnimationMessage {
    0% { right: 0px; }
    100% { right: 200px; }
  }

  &.ch-hide--message {
    opacity: 0;
    @include transition(all .75s ease);
  }
  
  .ch-message--text {
    font-weight:bold;
    text-align:center;
    font-variant:normal;
    display: inline-block;
    vertical-align: top;
    padding: 0 0.938em;
    color: #fffffF;
  }  

  .ch-message-icon {
    font-weight: bold;
    font-size: 1.563em;
    display: inline-block;
    vertical-align: top
  }

  .ch-close-message {
    color: #cccccc;
    font-weight: bold;
    float: right;
    cursor: pointer;
    margin: -14px 12px;
  }

  &.ch-message-icon--info {
    color: #00529B;
  }

  &.ch-message-icon--success {
    color: #21ba4d;
  }

  &.ch-message-icon--error {
    color: #db2828;
  }
}
