@import 'helpers/mixins';

.ch-message {
  position: fixed;
  display: flex;
  align-items: center;
  right: 2.375em;
  bottom: 2.375em;
  z-index: 10;
  background: #232323;
  padding: 1.25em;
  padding-left: 1.5em;
  padding-right: 3.25em;
  min-width: 28.125em;
  max-width: 37.500em;
  @include border-radius(5px);
  @include animation-duration(2s);
  @include animation-fill-mode(both);
  @include animation-name(bounceInUp);
  @include keyframes(bounceInUp){
    0% {
       opacity: 0;
       transform: translateY(2000px);
       -webkit-transform: translateY(2000px);
    }
    60% {
       opacity: 1;
       transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
    }
    80% {
       transform: translateY(10px);
       -webkit-transform: translateY(10px);
    }
    100% {
       transform: translateY(0);
       -webkit-transform: translateY(0);
    }
  }

  &.ch-hide--message {
    @include animation-duration(2s);
    @include animation-fill-mode(both);
    @include animation-name(bounceOutDown);
    @include keyframes(bounceOutDown){
      0% {
         transform: translateY(0);
         -webkit-transform: translateY(0);
      }
      20% {
         opacity: 1;
         transform: translateY(-20px);
         -webkit-transform: translateY(-20px);
      }
      100% {
         opacity: 0;
         transform: translateY(2000px);
         -webkit-transform: translateY(2000px);
      }
    }
  }

  &-text {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    font-variant: normal;
    margin-bottom: auto;
    padding: 0;
    color: #fffffF;
  }

  &-icon {
    font-weight: bold;
    margin-right: .5em;
    font-size: 1.250em;
    float: left;

    &--info {
      color: #00529B;
    }

    &--success {
      color: #21ba4d;
    }

    &--error {
      color: #db2828;
    }
  }

  &-close {
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    color: #cccccc;
    font-size: 1.25em;
    text-align: right;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

}

@media only screen and(max-width: 767px) {
  .ch-message {
    min-width: 100%;
    margin-bottom: 3em;
    right: 0px;

    .ch-message-icon,
    .ch-message-close {
      font-size: 0.938em;
    }

    .ch-message-text {
      font-size: 0.938em;
    }
  }
}
