.ch-loader {
  &-progress {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: transparent;
    z-index: 2;

    &.is-active {
      display: block;
    }

    &:before, &:after {
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      height: 5px;
      opacity: 0;
    }

    &:before {
      @include animation(progress-active 2s ease infinite);
    }

    &:after {
      background: #fff;
      @include animation(progress-overlay 2s ease infinite);
    }
  }
}
