.ch-message {
  &--fixed {
    position: fixed;
    top: 65px;
    left: 50%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    transform: translateX(-50%);

    .ui.message {
      width: 600px;
    }

    @media screen and (max-width: 768px) {
      top: 20px;

      .ui.message {
        width: auto;
        min-width: 300px;
      }
    }
  }
}
