.ch-message {
  &-container {
    position: fixed;
    top: 65px;
    left: 50%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    transform: translateX(-50%);
  }

  &.ui.icon.message {
    max-width: 600px;

    > .icon:not(.close) {
      font-size: 2em;
    }
  }

  @media screen and (max-width: 768px) {

    &-container {
      top: 20px;
    }

    &.ui.icon.message {
      width: auto;
      max-width: 300px;
    }
  }
}

$successColor: #2b4;
$dangerColor: #db2828;
$infoColor: #2185d0;
$warningColor: #fbbd08;

.ch-notification {
  display: flex;
  align-items: center;
  min-width: 350px;
  max-width: 450px;
  margin: 20px 0;
  padding: 25px;
  background: #fff;
  box-shadow: 0 0 25px rgba(#000, 0.15);

  &-container {
    position: fixed;
    z-index: 2;

    &.top {
      top: 85px;
    }

    &.right {
      right: 25px;
    }

    &.left {
      left: calc(85px + 25px);
    }

    &.bottom {
      bottom: 35px;
    }
  }

  &-icon {
    margin-right: 20px;
  }

  &-title {
    display: block;
    @include title(16px);
    margin-bottom: 5px;

  }

  &--success {
    .ch-notification-title, .circular.icon {
      color: $successColor;
    }

    .circular.icon {
      box-shadow: 0 0 0 0.1em $successColor inset;
    }
  }

  &--danger {
    .ch-notification-title, .circular.icon{
      color: $dangerColor;
    }

    .circular.icon {
      box-shadow: 0 0 0 0.1em $dangerColor inset;
    }
  }

  &--info {
    .ch-notification-title, .circular.icon {
      color: $infoColor;
    }

    .circular.icon {
      box-shadow: 0 0 0 0.1em $infoColor inset;
    }
  }

  &--warning {
    .ch-notification-title, .circular.icon {
      color:  $warningColor;
    }

    .circular.icon {
      box-shadow: 0 0 0 0.1em $warningColor inset;
    }
  }

  .ch-notification-button--close {
    cursor: pointer;
    background: none;
    border: none;
    outline: 0;

    .icon.close {
      color: #d6d6d6;
    }
  }
}
