.ch-segment-header {
  display: flex;
  justify-content: space-between;

  &.center.aligned {
    justify-content: center;
  }

  &-title {
    font-size: 14px;
    text-transform: uppercase;
    color: lighten($fontColor, 10%);
  }

  &-button {
    color: $fontColor;
    font-size: 12px;
    text-transform: uppercase;

    &:hover {
      color: lighten($fontColor, 20%);
    }
  }
}
