.noUi {
  &-target, &-target * {
    touch-action: none;
    user-select: none;
    box-sizing: border-box;
  }

  &-target {
    position: relative;
    direction: ltr;
  }

  &-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
  }

  &-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }

  &-handle {
    position: relative;
    z-index: 1;
    border: none;
    box-shadow: none;

    &:before, &:after {
      content: none;
    }
  }

  &-stacking &-handle {
    z-index: 10;
  }

  &-state-tap &-origin {
    transition: left 0.3s,top .3s;
  }

  &-state-drag * {
    cursor: inherit !important;
  }

  &-base, &-handle {
    @include transform(translate3d(0,0,0));
  }

  &-horizontal {
    height: 4px;
  }

  &-horizontal &-handle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: -7px;
    top: -7px;
    background-color: var(--main-color-dark);
  }

  &-background {
    background: #D6D7D9;
  }

  &-connect {
    background: var(--main-color-dark);
    @include transition(background 450ms);
  }

  &-origin {
    border-radius: 2px;
  }

  &-target {
    background-color: #e4e4e4;
    border: none;
    border-radius: 2px;
    box-shadow: none;
  }

  &-draggable {
    cursor: w-resize;
  }

  &-vertical &-draggable {
    cursor: n-resize;
  }

  &-handle {
    cursor: default;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;

    &:focus, &:active {
      outline: 0;
    }

    &:active {
      border: 8px solid var(--main-color-dark);
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      left: -14px;
      top: -14px;
    }
  }
}

[disabled].noUi-connect,[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-origin,[disabled] .noUi-handle {
  cursor: not-allowed;
}

.slider-container {
  margin: 0 5px;
}


