.ch-tabs {
  width: 100%;
  overflow: hidden;

  > .ui.secondary.pointing.menu {
    border-bottom-color: transparent;
  }

  @media screen and (max-width: 768px) {
    position: relative;
    height: 40px;
    overflow: hidden;

    .ui.menu {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      padding-bottom: 10px;
      overflow-x: scroll;
    }
  }

}
