.ch-tag {
  &--new {
    &.ui.label {
      margin-left: 5px;
      padding: .3em .55em;
      color: color(navy, tone-70);
      background-color: #FFA719;
      border: 2px solid color(navy, tone-70);
      border-radius: 500em;
      text-transform: uppercase;
    }

    &:before {
      content: attr(data-label);
    }
  }

  .ch-nav.collapsed:not(:hover) & {
    &--new {
      &.ui.label {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        font-size: 0;
        border-radius: 100%;
        transform: translate(0, -75%);

        &:before {
          content: '';
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .ch-nav:not(.active) & {
      &--new {
        &.ui.label {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 12px;
          height: 12px;
          font-size: 0;
          border-radius: 100%;
          transform: translate(0, -75%);

          &:before {
            content: '';
          }
        }
      }
    }

    .ch-nav.active & {
      &--new {
        &.ui.label {
          font-size: .75em;
        }
      }
    }
  }
}
