.ch-timeline {
  &-container {
    > .info {

    }

    > .info > .header {
      width: 100%;
      display: flex;
      align-items: center;

      .symbol {
        width: 1.2em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        margin-right: .75em;

        [data-theme="emites"] & {
          color: #089f69
        }
      }

      .date {
        margin-left: auto;

        .text-uppercase {
          text-transform: uppercase;
        }
      }
    }

    > .info > .content {
      padding: 1em 1.5em;
      margin-left: .75em;
      border-left: 1px solid #ddd;

      [data-theme="emites"] & {
        border-left-color: rgba(#089f69, .25);
      }
    }

    > .info:last-child > .content {
      border: none;
    }
  }
}
