.ch-timeline {
  &-container {
    > .info {

    }

    > .info > .header {
      width: 100%;
      display: flex;
      align-items: center;

      .symbol {
        margin-right: .75em;
      }

      .date {
        margin-left: auto;

        .text-uppercase {
          text-transform: uppercase;
        }
      }
    }

    > .info > .content {
      padding: 1em 1.5em;
      margin-left: .43em;
      border-left: 1px solid #ddd;
    }

    > .info:last-child > .content {
      border: none;
    }
  }
}
