.ch-timeline-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  min-height: 100%;
  margin-left: auto;
  padding: 25px;
  padding-top: calc(65px + 30px);
  background-color: #fff;
  border-left: 1px solid #ddd;
  overflow-y: auto;
  z-index: 0;
  transition: all .3s;

  &.inactive {
    transform: translateX(320px);
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    top: 50%;
    min-height: 50%;
    padding-top: 20px;
    border: none;
  }
}

.ch-timeline {
  list-style: none;
  padding-bottom: 20px;
  border-left: 3px solid #e5e5e5;

  li {
    position: relative;
    left: -9px;
    display: flex;
    padding: 15px 0;
    z-index: 1;

    &:before {
      content: '';
      display: block;
      margin-right: 15px;
      min-width: 15px;
      height: 15px;
      background: #fff;
      border: 3px solid #e5e5e5;
      border-radius: 100%;
    }

    &.date {
      align-items: center;
    }

    &.event {
      .header {
        margin-bottom: 5px;
      }

      &:before {
        border-color: $mainColor;
      }
    }
  }
}

.btn-collapse {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(-312px, -50%);

  &.inactive {
    transform: translate(2px, -50%);
  }

  &.ui.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: {
      top: 20px;
      right: 0;
      bottom: 20px;
      left: 5px;
    }
    background-color: #fff;
    border: none;
    border-radius: 5px 0 0 5px;
    box-shadow: -2px 0px 1px 0px rgba(#000, .05);
    transition: all .3s;
  }
}
