%step {
  counter-increment: steps;
  content: counter(steps);
  min-width: 35px;
  height: 35px;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: 800;
  color: #d6d6d6;
  background-color: #fff;
  border: 2px solid #d6d6d6;
  border-radius: 100%;
}

%step--done {
  content: "\f00c";
  font-family: "Icons";
  color: #fff;
  background-color: #2b4;
  border-color: #2b4;
}

%step--current {
  color: #fff;
  background-color: #838383;
  border-color: #838383;
}

.ch-wizard {
  counter-reset: steps;

  &-container {
    position: relative;
    z-index: 0;
  }

  &--vertical {

    > .ch-wizard-step {
      opacity: .3;

      > .header {
        position: relative;
        display: flex;

        &:before {
          @extend %step;
        }
      }

      > .content {
        padding: 2em;
        margin: 0.5em 1.2em;
        visibility: hidden;
      }

      &.current, &.done {
        opacity: 1;

        > .content {
          border-left: 2px dashed #d6d6d6;
          visibility: visible;
        }
      }

      &.current {
        > .header:before {
          @extend %step--current;
        }
      }

      &.done {
        color: #2b4;

        > .header:before {
          @extend %step--done;
        }
      }
    }

    @media screen and (max-width: 768px) {
      > .ch-wizard-step.done,
      > .ch-wizard-step.current
      {
        > .step-content {
          border: none;
        }
      }
    }
  }

  &--horizontal {
    display: flex;
    align-items: flex-start;

    > .ch-wizard-step {
      position: relative;
      margin: 5px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: {
        direction: column;
        basis: 0;
        grow: 1;
      }
      text-align: center;
      font-weight: 700;
      font-size: 12px;
      line-height: normal;
      opacity: .5;

      a {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        color: inherit;
      }

      a:before {
        @extend %step;
        margin-right: 0;
        margin-bottom: 5px;
      }

      &:after {
        content: "";
        position: absolute;
        top: 17px;
        left: 50%;
        width: calc(100% + 25px);
        height: 2px;
        background-color: #d6d6d6;
        z-index: -1;
      }

      &:last-child {
        margin-right: 0;

        &:after {
         content: none;
        }
      }

      &.current a {
        color: $fontColor;

        &:before {
          @extend %step--current;
        }
      }

      &.done a {
        color: #2b4;

        &:before {
          @extend %step--done;
        }
      }
    }

    @media screen and (max-width: 1120px) {
      width: 100%;
      margin-top: 30px;
    }
  }

  &-step {
    &.current, &.done {
      opacity: 1;
    }

    .options {
      min-width: 120px;
      padding: 0.6rem 1rem;
      background-color: #e8e8e8;
      border: 1px solid #ccc;
      border-radius: 5px;

      &.checked {
        background-color: #fff;
        border-color: #ccc;
      }
    }
  }
}

