mixin list(items)
  .ui.items.unstackable
    each item in items
      .item
        img.ui.avatar.image(src="http://i.pravatar.cc/50?img=" + item.photo_id)
        .middle.aligned.content
          span= item.name

mixin list_salary(items)
  .ui.relaxed.list.unstackable
    each item in items
      .item
        .middle.aligned.content
          div Salário #{item.name}
          small= item.date
