$ch-color-blue-extra-light: #E6F7FF;
$ch-color-blue-light: #69C0FF;
$ch-color-blue: #1890FF;
$ch-color-blue-dark: #096DD9;
$ch-color-blue-extra-dark: #002766;

$ch-color-cyan-extra-light: #E6FFFF;
$ch-color-cyan-light: #7AF8FF;
$ch-color-cyan: #00BBDA;
$ch-color-cyan-dark: #006E8C;
$ch-color-cyan-extra-dark: #004D66;

$ch-color-green-extra-light: #F2FFF0;
$ch-color-green-light: #95DE90;
$ch-color-green: #40C441;
$ch-color-green-dark: #1C7822;
$ch-color-green-extra-dark: #072B0C;

$ch-color-yellow-extra-light: #FFFBF0;
$ch-color-yellow-light: #FFDA8F;
$ch-color-yellow: #FDB03D;
$ch-color-yellow-dark: #B06919;
$ch-color-yellow-extra-dark: #633308;

$ch-color-red-extra-light: #FFEAE8;
$ch-color-red-light: #FF6E72;
$ch-color-red: #FB1C33;
$ch-color-red-dark: #AD021E;
$ch-color-red-extra-dark: #610017;

$ch-color-purple-extra-light: #F8E6FF;
$ch-color-purple-light: #BD52FF;
$ch-color-purple: #7E00E5;
$ch-color-purple-dark: #4A0099;
$ch-color-purple-extra-dark: #340073;

$ch-color-navy-extra-light: #ECF0F9;
$ch-color-navy-light: #ACB9D2;
$ch-color-navy: #506795;
$ch-color-navy-dark: #2E426B;
$ch-color-navy-extra-dark: #172136;

$ch-color-neutral-extra-light: #F8F8F8;
$ch-color-neutral-light: #CCCCCC;
$ch-color-neutral: #898989;
$ch-color-neutral-dark: #6D6D6D;
$ch-color-neutral-extra-dark: #454646;

$ch-color-white: #FFFFFF;
$ch-color-black: #000000;
