$ch-color-grey-0:    #fff;
$ch-color-grey-5:    #f0f2f4;
$ch-color-grey-10:   #e3e5e8;
$ch-color-grey-20:   #c9cbcf;
$ch-color-grey-30:   #afb2b6;
$ch-color-grey-40:   #95989d;
$ch-color-grey-50:   #7b7f84;
$ch-color-grey-60:   #636569;
$ch-color-grey-70:   #47494c;
$ch-color-grey-80:   #313335;
$ch-color-grey-90:   #19191a;
$ch-color-grey-100:  #000;

$ch-color-navy-0:    #fafcff;
$ch-color-navy-5:    #edf1f7;
$ch-color-navy-10:   #dee3ed;
$ch-color-navy-20:   #c2c9d6;
$ch-color-navy-30:   #a5aec0;
$ch-color-navy-40:   #8994a9;
$ch-color-navy-50:   #707a8f;
$ch-color-navy-60:   #596273;
$ch-color-navy-70:   #414958;
$ch-color-navy-80:   #252c38;
$ch-color-navy-90:   #002031;

$ch-color-blue-5:    #ccebff;
$ch-color-blue-10:   #99d8ff;
$ch-color-blue-20:   #5eb6ed;
$ch-color-blue-30:   #1a97e6;
$ch-color-blue-40:   #057cc7;
$ch-color-blue-50:   #016aac;
$ch-color-blue-60:   #064d79;
$ch-color-blue-70:   #0a3d5c;

$ch-color-cyan-5:    #ccfbff;
$ch-color-cyan-10:   #80f4ff;
$ch-color-cyan-20:   #33eeff;
$ch-color-cyan-30:   #00d8f5;
$ch-color-cyan-40:   #00bbda;
$ch-color-cyan-50:   #009cb8;
$ch-color-cyan-60:   #006d80;
$ch-color-cyan-70:   #004d5c;

$ch-color-green-5:   #ccffed;
$ch-color-green-10:  #99ffdb;
$ch-color-green-20:  #33ffb8;
$ch-color-green-30:  #13eca0;
$ch-color-green-40:  #0ac282;
$ch-color-green-50:  #019b66;
$ch-color-green-60:  #067951;
$ch-color-green-70:  #095339;

$ch-color-lime-5:    #f0ffcc;
$ch-color-lime-10:   #d9ff80;
$ch-color-lime-20:   #c2ff33;
$ch-color-lime-30:   #abec13;
$ch-color-lime-40:   #8bc20a;
$ch-color-lime-50:   #6b9900;
$ch-color-lime-60:   #577906;
$ch-color-lime-70:   #41570f;

$ch-color-yellow-5:  #ffffb3;
$ch-color-yellow-10: #fff480;
$ch-color-yellow-20: #ffea4c;
$ch-color-yellow-30: #fcd203;
$ch-color-yellow-40: #e6c000;
$ch-color-yellow-50: #a88600;
$ch-color-yellow-60: #796206;
$ch-color-yellow-70: #4e410e;

$ch-color-orange-5:  #fff0e6;
$ch-color-orange-10: #ffd1b3;
$ch-color-orange-20: #ffb380;
$ch-color-orange-30: #ff8533;
$ch-color-orange-40: #ed6e17;
$ch-color-orange-50: #bd530a;
$ch-color-orange-60: #793406;
$ch-color-orange-70: #572c0f;

$ch-color-red-5:     #ffe6e6;
$ch-color-red-10:    #ffb3b3;
$ch-color-red-20:    #ff7575;
$ch-color-red-30:    #ff3333;
$ch-color-red-40:    #cb0404;
$ch-color-red-50:    #990000;
$ch-color-red-60:    #790606;
$ch-color-red-70:    #570f0f;

$ch-color-pink-5:    #ffdbe8;
$ch-color-pink-10:   #ffb3cf;
$ch-color-pink-20:   #ff80af;
$ch-color-pink-30:   #f74a89;
$ch-color-pink-40:   #da0b57;
$ch-color-pink-50:   #a8003e;
$ch-color-pink-60:   #790630;
$ch-color-pink-70:   #570f29;

$ch-color-purple-5:  #efdbff;
$ch-color-purple-10: #ddb3ff;
$ch-color-purple-20: #c680ff;
$ch-color-purple-30: #a94af7;
$ch-color-purple-40: #7d0bda;
$ch-color-purple-50: #5d00a8;
$ch-color-purple-60: #450679;
$ch-color-purple-70: #370a5c;
