$ch-color-grey-0:    #FFF;
$ch-color-grey-5:    #F0F2F4;
$ch-color-grey-10:   #E3E5E8;
$ch-color-grey-20:   #C9CBCF;
$ch-color-grey-30:   #AFB2B6;
$ch-color-grey-40:   #95989D;
$ch-color-grey-50:   #7B7F84;
$ch-color-grey-60:   #636569;
$ch-color-grey-70:   #47494C;
$ch-color-grey-80:   #313335;
$ch-color-grey-90:   #19191A;
$ch-color-grey-100:  #000;

$ch-color-navy-0:    #FAFCFF;
$ch-color-navy-5:    #EDF1F7;
$ch-color-navy-10:   #DEE3ED;
$ch-color-navy-20:   #C2C9D6;
$ch-color-navy-30:   #A5AEC0;
$ch-color-navy-40:   #8994A9;
$ch-color-navy-50:   #707A8F;
$ch-color-navy-60:   #596273;
$ch-color-navy-70:   #414958;
$ch-color-navy-80:   #252C38;
$ch-color-navy-90:   #002031;

$ch-color-blue-5:    #CCEBFF;
$ch-color-blue-10:   #99D8FF;
$ch-color-blue-20:   #5EB6ED;
$ch-color-blue-30:   #1A97E6;
$ch-color-blue-40:   #057CC7;
$ch-color-blue-50:   #016AAC;
$ch-color-blue-60:   #064D79;
$ch-color-blue-70:   #0A3D5C;

$ch-color-cyan-5:    #CCFBFF;
$ch-color-cyan-10:   #80F4FF;
$ch-color-cyan-20:   #33EEFF;
$ch-color-cyan-30:   #00D8F5;
$ch-color-cyan-40:   #00BBDA;
$ch-color-cyan-50:   #009CB8;
$ch-color-cyan-60:   #006D80;
$ch-color-cyan-70:   #004D5C;

$ch-color-green-5:   #CCFFED;
$ch-color-green-10:  #99FFDB;
$ch-color-green-20:  #33FFB8;
$ch-color-green-30:  #13ECA0;
$ch-color-green-40:  #0AC282;
$ch-color-green-50:  #019B66;
$ch-color-green-60:  #067951;
$ch-color-green-70:  #095339;

$ch-color-lime-5:    #F0FFCC;
$ch-color-lime-10:   #D9FF80;
$ch-color-lime-20:   #C2FF33;
$ch-color-lime-30:   #ABEC13;
$ch-color-lime-40:   #8BC20A;
$ch-color-lime-50:   #6B9900;
$ch-color-lime-60:   #577906;
$ch-color-lime-70:   #41570F;

$ch-color-yellow-5:  #FFFFB3;
$ch-color-yellow-10: #FFF480;
$ch-color-yellow-20: #FFEA4C;
$ch-color-yellow-30: #FCD203;
$ch-color-yellow-40: #E6C000;
$ch-color-yellow-50: #A88600;
$ch-color-yellow-60: #796206;
$ch-color-yellow-70: #4E410E;

$ch-color-orange-5:  #FFF0E6;
$ch-color-orange-10: #FFD1B3;
$ch-color-orange-20: #FFB380;
$ch-color-orange-30: #FF8533;
$ch-color-orange-40: #ED6E17;
$ch-color-orange-50: #BD530A;
$ch-color-orange-60: #793406;
$ch-color-orange-70: #572C0F;

$ch-color-red-5:     #FFE6E6;
$ch-color-red-10:    #FFB3B3;
$ch-color-red-20:    #FF7575;
$ch-color-red-30:    #FF3333;
$ch-color-red-40:    #CB0404;
$ch-color-red-50:    #990000;
$ch-color-red-60:    #790606;
$ch-color-red-70:    #570F0F;

$ch-color-pink-5:    #FFDBE8;
$ch-color-pink-10:   #FFB3CF;
$ch-color-pink-20:   #FF80AF;
$ch-color-pink-30:   #F74A89;
$ch-color-pink-40:   #DA0B57;
$ch-color-pink-50:   #A8003E;
$ch-color-pink-60:   #790630;
$ch-color-pink-70:   #570F29;

$ch-color-purple-5:  #EFDBFF;
$ch-color-purple-10: #DDB3FF;
$ch-color-purple-20: #C680FF;
$ch-color-purple-30: #A94AF7;
$ch-color-purple-40: #7D0BDA;
$ch-color-purple-50: #5D00A8;
$ch-color-purple-60: #450679;
$ch-color-purple-70: #370A5C;
