// 1. Base

.ch-title {
  $margin-top-for-big-titles: -0.5em;
  $margin-top-for-other-titles: -0.25em;

  @include ch-text-title(3);

  > .ch-title-sub {
    @include ch-text-subtitle(3);

    display: block;

    margin-top: $margin-top-for-big-titles;
  }

  @for $i from 1 through 6 {
    @at-root #{&}--#{$i}, h#{$i} {
      @include ch-text-title($i);

      > .ch-title-sub {
        @include ch-text-subtitle($i);

        display: block;

        margin-top: if($i < 4, $margin-top-for-big-titles, $margin-top-for-other-titles);
      }
    } // @at-root #{&}#{$sufix}, h#{$i}
  } // @for $i from 1 to 6
}
