@import '../../abstracts/space';

.ch-select {

  // 1. Base

  @extend %ch-input;

  position: relative;
  display: inline-block;

  background-color: #{ch-get-color(neutral, 1)};

  // 2. Small variation

  &--small {
    @extend %ch-input-small;
  }

  // 3. Fluid variation

  &--fluid {
    width: 100%;
  }

  // 4. Support variations

  @each $type in (info, warning, negative, positive) {
    &--#{$type} {
      border-color: #{ch-get-color($type)};

      // 4.1. Focus interaction

      &:hover:focus,
      &:hover,
      &:focus {
        border-color: #{ch-get-color($type, focus)};
      }

      // 4.2. Active interaction

      &:active {
        border-color: #{ch-get-color($type, active)};
      }
    }
  }
}
