select.ch-select {

  // 1. Base

  @include ch-input;

  $icon-right: calc((#{ch-calc-box-height()} / 2) - #{ch-get-icon-size()} / 2);
  $background: #{ch-get-color(neutral, 1)} url('#{$ch-icon-angle-down}') no-repeat right #{$icon-right} center;

  position: relative;
  display: inline-block;

  padding-right: #{ch-calc-box-height()};
  background: $background;
  background-size: #{ch-get-icon-size()} #{ch-get-icon-size()};

  // 2. Small variation

  &--small {
    $inset-type: squish;
    $size: xs;
    $border-rule: box;
    $border-color: ch-get-color(border);

    @include ch-space-inset($inset-type, $size);
    @include ch-border($border-rule, $border-color);
  }

  // 3. Fluid variation

  &--fluid {
    width: 100%;
  }

  // 4. Support variations

  @each $type in (info, warning, negative, positive) {
    &--#{$type} {
      border-color: #{ch-get-color($type)};

      // 4.1. Focus interaction

      &:hover:focus,
      &:hover,
      &:focus {
        border-color: #{ch-get-color($type, focus)};
      }

      // 4.2. Active interaction

      &:active {
        border-color: #{ch-get-color($type, active)};
      }
    }
  }

  // 5. Multiple variation

  &[multiple] {
    @include ch-paddingless;

    background-image: none;

    > option {
      @include ch-space-inset(s, squish);
    }
  }
}
