select.ch-select {

  // 1. Base

  position: relative;
  display: inline-block;

  // 2. Small variation

  &--small {
    $inset-type: squish;
    $size: xs;
    $border-rule: box;
    $border-color: ch-get-color(border);

    @include ch-space-inset($inset-type, $size);
    @include ch-border($border-rule, $border-color);
  }

  // 3. Fluid variation

  &--fluid {
    width: 100%;
  }

  // 4. Support variations

  @each $type in (info, warning, negative, positive) {
    &--#{$type} {
      border-color: #{ch-get-color($type)};

      // 4.1. Focus interaction

      &:hover:focus,
      &:hover,
      &:focus {
        border-color: #{ch-get-color($type, focus)};
      }

      // 4.2. Active interaction

      &:active {
        border-color: #{ch-get-color($type, active)};
      }
    }
  }

  // 5. Multiple variation

  &[multiple] {
    @include ch-paddingless;

    background-image: none;

    > option {
      @include ch-space-inset(squish, s);
    }
  }
}
