@function get-color ($name, $variants...) {
  $scale:       unquote('');
  $interaction: unquote('');
  $inverse:     unquote('');

  @if ($name == transparent) {
    @return transparent;
  }

  @each $variant in $variants {
    @if (type-of($variant) == 'number') {
      $scale: unquote("-#{$variant}");

    } @else if ($variant == focus or $variant == active) {
      $interaction: unquote("-#{$variant}");

    } @else if $variant == inverse {
      $inverse: unquote("-#{$variant}");
    }
  }

  @return unquote("var(--ch-color-#{$name}#{$scale}#{$interaction}#{$inverse})");
}
