@use 'variables' as *;

:root {
  // 1. Brand

  --ch-color-brand:                    #{$color-cyan};
  --ch-color-brand-focus:              #{$color-cyan-dark};
  --ch-color-brand-active:             #{$color-cyan-extra-dark};

  // 2. Neutral

  --ch-color-neutral-1:                #{$color-white};
  --ch-color-neutral-2:                #{$color-grey-extra-light};

  // 3. Support

  // 3.1. Default

  --ch-color-default:          #{$color-grey};
  --ch-color-default-focus:    #{$color-grey-dark};
  --ch-color-default-active:   #{$color-grey-extra-dark};

  // 3.2. Primary

  --ch-color-primary:          #{$color-blue};
  --ch-color-primary-focus:    #{$color-blue-dark};
  --ch-color-primary-active:   #{$color-blue-extra-dark};

  // 3.4. Info

  --ch-color-info:             #{$color-cyan};
  --ch-color-info-focus:       #{$color-cyan-dark};
  --ch-color-info-active:      #{$color-cyan-extra-dark};

  // 3.5. Warning

  --ch-color-warning:          #{$color-yellow};
  --ch-color-warning-focus:    #{$color-yellow-dark};
  --ch-color-warning-active:   #{$color-yellow-extra-dark};

  // 3.6. Negative

  --ch-color-negative:         #{$color-red};
  --ch-color-negative-focus:   #{$color-red-dark};
  --ch-color-negative-active:  #{$color-red-extra-dark};

  // 3.7. Positive

  --ch-color-positive:         #{$color-green};
  --ch-color-positive-focus:   #{$color-green-dark};
  --ch-color-positive-active:  #{$color-green-extra-dark};

  // 4. Text

  --ch-color-text-1:           #{$color-grey-dark};
  --ch-color-text-2:           #{$color-grey};

  // 4.1. Link

  --ch-color-text-link:        #{$color-blue};
  --ch-color-text-link-focus:  #{$color-blue-light};
  --ch-color-text-link-active: #{$color-blue-light};

  // 5. Highlight

  --ch-color-highlight:        #{$color-yellow-light};

  // 6. Border

  --ch-color-border:           #{lighten($color-grey-light, 7%)};
  --ch-color-border-focus:     #{ch-get-color-focus($color-grey-light)};
  --ch-color-border-active:    #{ch-get-color-active($color-grey-light)};

  // 7. Menu

  --ch-color-menu-text-1:      #{$color-navy-light};

  // 8. Overlay

  --ch-color-overlay:          #{rgba($color-black, 0.55)};
}
