$color-blue-extra-light: #E6F7FF;
$color-blue-light: #69C0FF;
$color-blue: #1890FF;
$color-blue-dark: #096DD9;
$color-blue-extra-dark: #002766;

$color-cyan-extra-light: #E6FFFF;
$color-cyan-light: #7AF8FF;
$color-cyan: #00BBDA;
$color-cyan-dark: #006E8C;
$color-cyan-extra-dark: #004D66;

$color-green-extra-light: #F2FFF0;
$color-green-light: #95DE90;
$color-green: #40C441;
$color-green-dark: #1C7822;
$color-green-extra-dark: #072B0C;

$color-yellow-extra-light: #FFFBF0;
$color-yellow-light: #FFDA8F;
$color-yellow: #FDB03D;
$color-yellow-dark: #B06919;
$color-yellow-extra-dark: #633308;

$color-red-extra-light: #FFEAE8;
$color-red-light: #FF6E72;
$color-red: #FB1C33;
$color-red-dark: #AD021E;
$color-red-extra-dark: #610017;

$color-purple-extra-light: #F8E6FF;
$color-purple-light: #BD52FF;
$color-purple: #7E00E5;
$color-purple-dark: #4A0099;
$color-purple-extra-dark: #340073;

$color-navy-extra-light: #ECF0F9;
$color-navy-light: #ACB9D2;
$color-navy: #506795;
$color-navy-dark: #2E426B;
$color-navy-extra-dark: #172136;

$color-neutrals-extra-light: #F8F8F8;
$color-neutrals-light: #CCCCCC;
$color-neutrals: #898989;
$color-neutrals-dark: #6D6D6D;
$color-neutrals-extra-dark: #454646;

$color-white: #FFFFFF;
$color-black: #000000;
