.ch-header {
  padding: 20px 8px 20px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background-color: #fff;

  .ch-dropdown {
    min-width: 200px;
  }
  @media screen and (min-width: 769px) {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 85px);
    box-shadow: 0px 1px 3px rgba(#aaa, 0.2);
    z-index: 2;
  }
}

.ch-header-nav {
  display: flex;
  justify-content: center;
  align-items: center;

  &-buttons {
    display: block;
    padding: 5px;
    color: #666;

    &:hover, &.active {
      color: $fontColor;
      background-color: #f0f0f0;
      border-radius: 3px;
    }

    .avatar {
      background-color: #EF6C00;
      padding: 4px;
      width: 20px;
      height: 20px;
      color: #fff;
      border-radius: 100%;
    }
  }
}

.ch-notification-label {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 4px;
    display: block;
    width: 7px;
    height: 7px;
    background-color: #bb0c0c;
    border-radius: 100%;
  }
}

.ch-content {

  &-hgroup {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 20px;
    align-items: center;
    justify-content: space-between;

    &.colored {

      background-color: white;
      box-shadow: 0 1px 3px rgba(170,170,170,.2);

      &.padded {
        padding: 25px 40px;
      }

      @media screen and (max-width: 768px) {
        border-top: 1px solid #eee;
      }
    }

    ~ .ui.padded.grid>.row {
      padding-top: 0;
    }

    > .ui.button.right.aligned {
      margin-left: auto;
    }

    .ui.header {
      margin: {
        right: 5px;
        bottom: 0;
      }
    }
  }

  @media screen and (min-width: 769px) {
    padding-top: 65px;
  }

  @media screen and (max-width: 768px) {
    &-hgroup {
      .ui.button {
        width: 100%;
        margin: 10px 0 0;
      }
    }
  }
}
