@import '../../abstracts/box-model';
@import '../../abstracts/border';
@import '../../abstracts/colors';
@import '../../components/card';

@import './placeholder-flex-and-fluid.scss';
@import './placeholder-background-neutral-2.scss';
@import './placeholder-cursor-pointer.scss';

// 1. Base

.ch-tview-row,
.ch-tview tr {
  @extend %ch-flex-and-fluid;

  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.ch-tview:not(.ch-tview--card) {
  .ch-tview-row,
  tr {
    @include ch-box-model(box, bottom);
  }
}

// 1.1. The last row should not have border bottom

.ch-tview:not(.ch-tview--card) {
  *:not(.ch-tview-header) .ch-tview-row,
  *:not(thead) tr {
    &:last-child {
      border-bottom: 0;
    }
  }

  .ch-tview-footer .ch-tview-row,
  tfoot tr {
    @include ch-box-model(box, top);
  }
}

// 2. Hover

.ch-tview:not(.ch-tview--card) .ch-tview-row--hover,
.ch-tview--hover tr {
  &:hover:focus,
  &:hover,
  &:focus {
    @extend %ch-background-neutral-2;
  }
}

// 3. Interactive

// 3.1. Base

.ch-tview-row--interactive .ch-tview-row,
.ch-tview--interactive tr {
  &:hover:focus,
  &:hover,
  &:focus {
    @extend %ch-cursor-pointer;
  }
}

.ch-tview:not(.ch-tview--card) {
  .ch-tview-row--interactive .ch-tview-row,
  .ch-tview--interactive tr {
    &:hover:focus,
    &:hover,
    &:focus {
      @extend %ch-background-neutral-2;
    }
  }
}

// 3.2. Card

.ch-tview--card .ch-tview-row--interactive,
.ch-tview--card.ch-tview--interactive tr {
  &:hover:focus,
  &:hover,
  &:focus {
    border-color: #{ch-get-color(border, focus)};
  }

  &:active {
    border-color: #{ch-get-color(border, active)};
  }

  // 3.2.1. Active state

  &.is-active {
    &:hover:focus,
    &:hover,
    &:focus {
      border-color: #{ch-get-color(primary, focus)};
    }

    &:active {
      border-color: #{ch-get-color(primary, active)};
    }
  }
}

// 4. Active state

.ch-tview--card .ch-tview-row.is-active,
.ch-tview--card tr.is-active {
  border-color: #{ch-get-color(primary)};
}

// 5. Card

.ch-tview--card .ch-tview-row,
.ch-tview--card tr {
  @extend .ch-card;

  @include ch-space-stack(s);

  padding: 0 #{ch-get-space(s)};

}

