.ui.segment.grow {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.ui.modal.ch-modal>.close {
  top: 1rem;
  right: 0.5rem;
  color: $fontColor;
}

.ui.horizontal.label,
.ui.horizontal.labels .label {
  width: 8rem;
}

.ui.grid>.white.column,
.ui.grid>.white.row,
.ui.grid>.row>.white.column {
  background-color: #fff;
}

.ui.floated.header,
.ui[class*="left floated"].header {
  margin-top: .3rem;
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .ui.form .fields .field {
    margin: 0 0 1em;
  }
}
