@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Roboto:300,400,500,700');
@import url('https://s3-us-west-2.amazonaws.com/nexaas-chameleon/fontawesome/v5.3.1/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $fontColor;
  font-family: $fontFamily;
}

a {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
}
