[data-theme="emites"] {
  .ch-menu-item.active a {
    &:before {
      border-right-color: #089f69;
    }

    > .fa-icon:first-child {
      color: #089f69;
    }
  }

  .ch-pagination.ui.pagination.menu .item.active {
    border-bottom-color: #089f69;
  }

  @media screen and (max-width: 767px) {
    border-bottom-color: #089f69;
  }
}

[data-theme="myfinance"] {
  .ch-menu-item.active a {
    &:before {
      border-right-color: #2483c4;
    }

    > .fa-icon:first-child {
      color: #2483c4;
    }
  }

  .ch-pagination.ui.pagination.menu .item.active {
    border-bottom-color: #2483c4;
  }

  @media screen and (max-width: 767px) {
    border-bottom-color: #2483c4;
  }
}

[data-theme="estoka"] {
  .ch-menu-item.active a {
    &:before {
      border-right-color: #FF0159;
    }

    > .fa-icon:first-child {
      color: #FF0159;
    }
  }

  .ch-pagination.ui.pagination.menu .item.active {
    border-bottom-color: #FF0159;
  }

  @media screen and (max-width: 767px) {
    .ch-nav:not(.active) .ch-menu-item.active a:before {
      border-bottom-color: #FF0159;
    }
  }
}
