@import '../space';
@import '../breakpoints';

@mixin ch-grid($columns-number: 12, $columns-gap: m) {
  display: grid;
  grid-template-columns: repeat($columns-number, 1fr);
  grid-column-gap: ch-get-space($columns-gap);
  grid-row-gap: ch-get-space($columns-gap);
}
