@import '../space';
@import '../breakpoints';

@mixin ch-grid-column($columns-number: 1, $start: 0) {
  @if $start == 0 {
    grid-column-end: span $columns-number;
  }
  
  @else {
    grid-column-start: $start;
    grid-column-end: span $columns-number;
  }
}
